[2020-04-30 10:01] astrojuanlu commented on #946
I confirm this is the case: https://dev.azure.com/poliastro/poliastro/_build/results?buildId=290&view=results

[2020-04-30 10:02] astrojuanlu commented on #946
Closed in #947.

[2020-04-30 10:02] #946 closed

[2020-04-30 11:12] priyanshurohilla commented on #938
@astrojuanlu  This can be closed now:)

[2020-04-30 11:55] #938 closed

[2020-04-30 21:00] astrojuanlu commented on #906
Before tackling this, it would be better to add some extra tests for "3D maneuvers" https://github.com/poliastro/poliastro/issues/905

[2020-05-01 07:13] jorgepiloto commented on #905
Sorry for this late answer,

I found a paper that holds different examples on Lambert's algorithms, there is the [link](https://www.amostech.com/TechnicalPapers/2011/Poster/DER.pdf). We might make use of those ECI vectors to solve for this problem.

[2020-05-01 19:18] Syed-Osama-Hussain commented on #905
So the ECI position vectors would have to normalized?

[2020-05-02 06:48] jorgepiloto commented on #905
Hi @Syed-Osama-Hussain, let me develop this a little:

Many books explain orbital maneuvers from a 2D perspective. They are always referred to the PQW plane, which remember is the plane defined by the orbit itself. Therefore, if you want to apply a maneuver you must first convert your state vector into the pqw one, apply the whatever maneuver and finally re-convert to original state vector in 3D c

[2020-05-02 11:31] astrojuanlu opened #949 "Review condescending language in docs"
* "just"
* "simply"
* "obviously"
* "of course"
* "easy"

Inspired by https://twitter.com/AdamChainz/status/1256202405311655938

[2020-05-02 11:52] priyanshurohilla commented on #949
Well its interesting to see this , that the documentation with these words leave a impact on the readers... I went through the docs and we don't have obviously or of course, but yeah some changes needs to be done! Do you want me to do it ?

[2020-05-02 12:49] Syed-Osama-Hussain commented on #905
Thanks for the detail! I'll follow these steps and notify when done.

[2020-05-02 16:19] astrojuanlu opened #950 "Publish packages from CI"
See https://openastronomy-azure-pipelines.readthedocs.io/en/latest/publish.html#usage-and-options.

[2020-05-02 16:48] astrojuanlu opened #951 "Exclude docs from source distributions?"
Notebooks are quite heavy.

[2020-05-02 17:02] priyanshurohilla commented on #950
For this do you want me to add just the template or the template along with the tests on the generated packages?

[2020-05-02 17:09] astrojuanlu commented on #931
poliastro 0.14b1 released :tada:

[2020-05-04 11:12] astrojuanlu commented on #707
Words of wisdom:

https://twitter.com/RocketStefy/status/1257265351647166465

![numerical-integrators](https://user-images.githubusercontent.com/316517/80960306-e6209900-8e08-11ea-84fa-09ff9790cccc.jpeg)

[2020-05-05 13:07] jorgepiloto commented on #514
Just found an interesting explanation on geostationary and geosynchronous orbits from Celestrack web page, here is the [link to the post](https://www.celestrak.com/columns/v04n07/).

[2020-05-07 21:51] astrojuanlu commented on #931
Backports:

* https://github.com/poliastro/poliastro/pull/954

[2020-05-08 09:07] astrojuanlu commented on #931
poliastro 0.14.0 is available :rocket: sending announcement soon

[2020-05-08 09:10] astrojuanlu opened #956 "Auto generated BibTeX export has incorrect grouping for last names"
I fixed it manually for the previous release, but now it's wrong again:

https://zenodo.org/record/3816771/export/hx

Can this be fixed at all?

[2020-05-08 09:11] astrojuanlu opened #957 "poliastro description on PyPI is wrong"
See https://pypi.org/search/?q=poliastro

![Screenshot_2020-05-08 Search results](https://user-images.githubusercontent.com/316517/81390986-aadddd00-911c-11ea-933d-d655c858e98c.png)

[2020-05-11 15:37] Tarlan0001 commented on #914
What about 3D plots?

[2020-05-11 15:40] astrojuanlu commented on #914
@Tarlan0001 does `from poliastro.plotting import OrbitPlotter3D` work for you?

[2020-05-11 15:46] Tarlan0001 commented on #914
Is something wrong here? Sorry, i didn't find an explanation in the documentation.

[code]

[2020-05-11 17:18] Tarlan0001 commented on #914
@astrojuanlu Indeed, there is no working example for OrbitPlotter3D for a custom orbit...

[2020-05-11 18:46] astrojuanlu commented on #914
@Tarlan0001 please try these :) https://docs.poliastro.space/en/stable/examples/Plotting in 3D.html

[2020-05-11 18:46] astrojuanlu commented on #914
Your code above won't work, because `plt.show()` is for matplotlib, but `OrbitPlotter3D` is based on Plotly

[2020-05-12 07:36] astrojuanlu commented on #931
Announcements done, milestone closed. See you in the next release :wave:

[2020-05-12 07:36] #931 closed

[2020-05-13 09:07] astrojuanlu opened #959 "Intermittent CI failures on Windows"
* [Small numerical differences](https://dev.azure.com/poliastro/poliastro/_build/results?buildId=325&view=logs&j=f32fc568-3d58-5c2f-5c7e-c01e8366ccfc&t=4340fcf2-110e-5f6e-b978-eb43f9f7ccae&l=1059)
* [Tcl installation issues](https://dev.azure.com/poliastro/poliastro/_build/results?buildId=324&view=logs&j=60a3625c-55b6-532a-bb2b-3a6a478dd649&t=36931b45-8a73-5a08-d711-6c01b0fd09e2&l=1121)

[2020-05-16 10:14] astrojuanlu commented on #935
Hi @wumpus! What do you think of [this solution](https://github.com/poliastro/poliastro/issues/935#issuecomment-621669780)?

[2020-05-17 11:53] Tarlan0001 commented on #914
Thank you. Using Plotly, even for the examples in the link, the plot isn't opened automatically. I set up the pio.renderers.default = "browser". I can't see the plot.

Can you, please, share a working example for my code?

[2020-05-17 14:04] astrojuanlu commented on #914
Your code works for me:

![Screenshot_2020-05-17 Untitled - Jupyter Notebook](https://user-images.githubusercontent.com/316517/82150032-ed5b9400-9857-11ea-9dc7-eb098870efab.png)

Perhaps you have some outdated versions of notebook, ipywidgets or plotly. Please try upgrading your dependencies, displaying a simple Plotly plot (without poliastro) and then running your code again.

[2020-05-17 17:00] wumpus commented on #935
I don't see how that addresses the problem that the named parameters to `propagate()` currently have to be in a particular order. Doesn't seem like I'm successfully communicating the problem!

[2020-05-17 17:00] wumpus commented on #935
I can put in a PR with a failing test, if that will help.

[2020-05-17 20:31] Tarlan0001 commented on #914
Dear @astrojuanlu ,

Plotly works well, checked this code:
[code]

But my code above doesn't show the plot. I've even reinstalled Python, tried to run the code from cmd, from Pyzo. **No errors are shown**, but it doesn't work as expected.

What would you suggest?

[2020-05-18 00:09] astrojuanlu commented on #914
I didn't expect the basic Plotly plot to work from cmd or Pyzo to be honest, I though this would only work on Jupyter notebook. Can you share a screenshot with a jupyter notebook containing these two cells?

Cell 1:

[code]

Cell 2:

[code]

And also please share the versions of all the dependencies installed in your environment (for example using `pip freeze`).

[2020-05-19 08:24] astrojuanlu opened #960 "Replace all Riot/Matrix links with chat.poliastro.space"
[Cool idea coming from the GNU Radio folks](https://www.gnuradio.org/blog/2020-04-27-moving-to-the-matrix/)

[2020-05-19 13:27] olebole opened #961 "[0.14.0] test_raan_from_ltan_metopb fails in CI test"
🐞 **Problem**

When running the CI test during the build, I get the following `IERSRangeError`:
[code]
The same actually happens with the `test_raan_from_ltan_sentinel5p` test.

🖥 **Please paste the output of following commands**

Since this is not pip or conda, here is just the output of the top of the test output:
[code]
Versions:
 * astropy 4.0.1+post1
 * astroquery 0.4
 * scipy 1.4.1
 * numpy

[2020-05-19 13:33] olebole opened #962 "[0.14.0] test_sample_closed_starts_at_min_anomaly_if_in_range fails in CI test"
🐞 **Problem**

When running the CI test during the build, I get the following failure:

[code]
and
[code]

🖥 **Please paste the output of following commands**

Since this is not pip or conda, here is just the output of the top of the test output:
[code]
Versions:
 * astropy 4.0.1+post1
 * astroquery 0.4
 * scipy 1.4.1
 * numpy 1.18.4
 * no numba installed

[2020-05-19 22:06] DaveTheDepraved opened #964 "twobody.propagation.cowell issue with cross track constant accelerations"
Hi Everyone,

I'm trying to use Cowell's method to propagate a low-thrust inclination change maneuver.  Basically all I did was modify the constant_accel_factory closure in the exemplar code to produce a unit vector in the direction of the angular momentum vector, cross track, direction instead of the along-track direction shown in the example.  Even with large timescales and very small step size,

[2020-05-19 22:21] astrojuanlu commented on #961
Weird @olebole, I also noticed those errors sometimes, but they seemed to go away without doing anything... We'll take a closer look.

[2020-05-19 22:23] astrojuanlu commented on #962
I'm so happy we're using Hypothesis now :) These are genuine bugs.

[2020-05-19 22:26] astrojuanlu commented on #964
Hi @DaveTheDepraved, thanks for your interest in poliastro! One question: how do you know the expected shape of the orbit? Do you have some other code you're comparing against?

Also, pasting your code here for easier reference:

[code]

[2020-05-20 16:14] eric-wieser commented on #141
Passing `--prefer-binary` to `pip` might help prevent it compiling an old version

[2020-05-20 18:50] DaveTheDepraved commented on #964
Hi Juan,

I really like Poliastro so far!  And to be honest I'm not sure that's how the inclination change trajectory is supposed to look.  I've been using a few papers and my old Astro textbook for reference, but there's not much in the way of propagated trajectory plots in anything I've been reading for low thrust inclination change.

However, looking through the 'positions' vector generated by

[2020-05-21 09:42] astrojuanlu opened #966 "Thrust functions are undocumented"
These two modules are entirely undocumented:

- https://github.com/poliastro/poliastro/tree/master/src/poliastro/twobody/thrust/
- https://github.com/poliastro/poliastro/tree/master/src/poliastro/core/thrust/

How could I not notice this? It's my Master thesis work after all :cry:

(coming from #964)

[2020-05-21 09:46] astrojuanlu opened #967 "Autogenerate docs"
It has happened a few times in the recent past that we discovered functions or even entire modules that were undocumented (see #966 for the last instance of this). Even after the rewrite that @jorgepiloto did, I think we should switch to something more automatic, for example:

- https://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html#sphinx-autogen-generate-autodoc-stub-pages
- http

[2020-05-21 09:50] astrojuanlu commented on #964
J. E. Pollard, my old friend :) I devoted my Master thesis to perturbations and this is one of the references I used. You can read it here:

https://github.com/astrojuanlu/pfc-uc3m/

(Python 3.6 and poliastro 0.6, time flies!)

In fact, we already have the simultaneous change in eccentricity and inclination proposed by Pollard implemented in poliastro:

https://github.com/poliastro/poliastro/blob/

[2020-05-21 09:51] astrojuanlu commented on #964
By the way, thanks to you I discovered that these thrust guidance laws do not appear in the documentation #966 so thanks a lot! :grin:

[2020-05-21 19:33] DaveTheDepraved commented on #964
Hi Juan,

You're right about the guidance law, man I feel a bit dim!  Thanks very much for the catch.

Cheers,
-Dave

[2020-05-21 19:33] #964 closed

[2020-05-21 19:38] astrojuanlu commented on #964
Haha no worries! There's not much information online about perturbations and low thrust, or people to ask. Feel free to join our chat and to open further issues! 🚀

[2020-05-23 07:56] astrojuanlu opened #968 "Tests against Horizons still too fragile"
Despite the work done in #867, tests against Horizons still give occasional numerical differences. See for example:

https://dev.azure.com/poliastro/poliastro/_build/results?buildId=337&view=logs&j=538a0c56-c006-575f-81ef-6a7057413c77&t=b32c51f5-9aff-5da6-8e1a-744748933fbc&l=79
https://dev.azure.com/poliastro/poliastro/_build/results?buildId=337&view=logs&j=538a0c56-c006-575f-81ef-6a7057413c77&t=b

[2020-05-26 15:12] astrojuanlu commented on #497
Going back to this, I think Plotly would be a compelling alternative to Cartopy in terms of ease of installation: https://plotly.com/python/lines-on-maps/

[2020-05-26 15:44] priyanshurohilla commented on #497
Hi @astrojuanlu , I am done with my exams now i can start working again on #953. Also this is based on plotly only ;).

[2020-05-27 07:25] astrojuanlu commented on #968
Closed in #969

[2020-05-27 07:25] #968 closed

[2020-05-27 16:17] antoinetavant commented on #791
Other Earth related aspects :
* geomagnetic field (the IGRF propose a python implementation [here](https://www.ngdc.noaa.gov/IAGA/vmod/igrf.html) and by several packages as [igrf12](https://github.com/space-physics/igrf12) (that wraps the fortran code) and [pyIGRF](https://pypi.org/project/pyIGRF/) that uses numpy (it may be the best solution)
* Specific Reference Frames such as:
   - local East N

[2020-05-28 06:50] astrojuanlu commented on #666
Windows 10 version 2004 was released yesterday https://docs.microsoft.com/en-us/windows/whats-new/whats-new-windows-10-version-2004#windows-virtual-desktop-wvd

[2020-05-28 10:04] s-m-e commented on #666
Be careful with relying on WSL 2 - it's built on Hyper V, i.e. virtualization. If you want to run a WSL-2-enabled Windows system inside another virtualization software, it wont work in all cases ("nested virtualization"), also see [here](https://docs.microsoft.com/en-us/windows/wsl/wsl2-faq#will-i-be-able-to-run-wsl-2-and-other-3rd-party-virtualization-tools-such-as-vmware-or-virtualbox).

[2020-05-28 13:45] astrojuanlu commented on #514
The last step for this was closed in #965 :tada: Thanks all!

[2020-05-28 13:45] #514 closed

[2020-06-08 22:17] erush91 commented on #141
This resolved a related issue I was having. I couldn't install "pip install torch-geometric" (https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html) and was getting this error:
![llvmlite_error](https://user-images.githubusercontent.com/33467025/84085757-48465e00-a9b4-11ea-8c4e-32aa08b2ee0a.png)

[2020-06-12 09:52] astrojuanlu commented on #866
I came to this issue to post a link to a related article and realized that I never answered :cry: Thanks @iMurfyD for opening it! I personally won't have time in 2020 to implement this but perhaps some brave soul will step up :)

[2020-06-12 09:52] astrojuanlu commented on #866
Article I wanted to share: "Hybrid multi-objective orbit-raising optimization with operational constraints" https://doi.org/10.1016/j.actaastro.2020.05.022

[2020-06-13 11:51] astrojuanlu commented on #962
Fixing the first bug as part of #972. The second one was fixed in d147832e3, after the release.

[2020-06-13 12:00] astrojuanlu commented on #960
My domain provider won't allow me to input `https://chat.openastronomy.org/#/room/#poliastro:matrix.org` as the redirection URL, but they will look into it soon.

[2020-06-13 12:29] #962 closed

[2020-06-15 13:18] cpbridges opened #974 "OrbitPlotter1D (Vector magnitude)"
Hi folks, I'm using poliastro as a propagator to compare two satellite position paths and compare angles. How does one plot time vs vector magnitude?

Or remove the 'type' so I can use regular plotting tools?

[2020-06-15 13:27] astrojuanlu opened #975 "Review documentation classification"
According to [Divio classification for documentation](https://documentation.divio.com/), there are four types of it:

- Tutorials
- How-to Guides
- Explanations
- References

We should review our docs to separate these categories, and we will probably find some gaps :)

[2020-06-15 19:36] MarcoCasanovaAlvarez opened #976 "Going to Jupiter with Python using Jupyter and poliastro - problem with flyby"
Hi all! I'm getting started with poliastro and one of the examples I tried is "Going to Jupiter with Python using Jupyter and poliastro

[https://docs.poliastro.space/en/stable/examples/Going%20to%20Jupiter%20with%20Python%20using%20Jupyter%20and%20poliastro.html](url)

🐞 **Problem**

Everything was perfect until the 10th block, where Juno is supossed to reach the Earth in a flyby (as it's seen in

[2020-06-15 20:11] jorgepiloto commented on #976
Hi @MarcoCasanovaAlvarez and congratulations on opening your first issue! :rocket:

I ran again this notebook in my local machine and **can reproduce this behavior** but not sure what could be causing this...

We recently implemented the `Ephem` objects for working with planets and non-keplerian bodies. They are drawn by plotters when calling the `plotter.plot_body()` method but **Earth seems to b

[2020-06-15 20:44] MarcoCasanovaAlvarez commented on #976
Hi @jorgepiloto , thanks for the help!

I tried your quick-fix and the problem is solved for this plot

![2](https://user-images.githubusercontent.com/66970167/84704019-73532380-af59-11ea-9c14-a2f31ff5456c.png)

But for the next one, I did the same correction and that's what I found:
![3](https://user-images.githubusercontent.com/66970167/84704103-98e02d00-af59-11ea-8973-1ef6304bb551.png)

Perhaps

[2020-06-15 21:36] astrojuanlu opened #977 "Evaluate MyST (reST-like Markdown flavor) for docs"
https://twitter.com/choldgraf/status/1272633413132943360

https://myst-parser.readthedocs.io/en/latest/index.html

I've been observing the development of MyST over the past few months and I think it's very promising. A real alternative to ditch reST (a markdown language used *only* in the Python community) while keep most of its interesting features _and_ fixing some of most obvious reST shortcomi

[2020-06-15 22:02] astrojuanlu commented on #791
@Meuge started addressing this in gh-970, more progress soon!

[2020-06-15 22:19] astrojuanlu commented on #974
Hi @cpbridges, thanks for your interest in poliastro!

I guess you don't need an `OrbitPlotter` for this. The challenge would be extracting the time history, which you could do writing something like this:

[code]

Please let us know if this is what you had in mind.

[2020-06-15 22:27] astrojuanlu commented on #977
Relevant issues:

- https://github.com/executablebooks/MyST-Parser/issues/164
- https://github.com/executablebooks/MyST-Parser/issues/163

[2020-06-16 08:28] cpbridges commented on #974
Hi @astrojuanlu - this is it!

I was doing something like:
for i in range(1, 90):
state = sat.propagate(i * u.min)

But clearly I need to rearrange this.
Thank you! Best wishes, Chris

[2020-06-16 10:30] astrojuanlu commented on #974
Awesome! Let us know if you have any other questions 🚀

[2020-06-16 10:30] #974 closed

[2020-06-16 10:41] cpbridges commented on #974
I do actually! I'm SURE I've seen the vector magnitude somewhere in poliastro.

I'm trying to do:

[code]

But get:

`TypeError: only dimensionless scalar quantities can be converted to Python scalars`

[2020-06-16 10:50] cpbridges commented on #974
Actually @astrojuanlu - I'm trying to do the vector magnitudes like:
[code]
But am getting:

`TypeError: only dimensionless scalar quantities can be converted to Python scalars`

I'm sure I've seen a poliastro vector mag function...

[2020-06-16 13:15] astrojuanlu commented on #974
Perhaps you mean `poliastro.util.norm`?

[2020-06-16 13:33] cpbridges commented on #974
I did this:
satrange_mag = []
for i in range(0, 1000):
    satrange_mag.append( np.linalg.norm(satrange[:,i]) )

There's def something more elegant in python I should be doing. Now I'm just trying to resolve frames - going from J2000 to LME2000 around the Moon.

[2020-06-16 14:13] astrojuanlu commented on #974
I see `LME2000` is Moon Mean (Earth?) Equator of J2000. I don't think that this frame is defined in Astropy, _but_ I think it should be equivalent to `poliastro.frames.equatorial.MoonICRS`. And I suppose `J2000` means either `GCRS`, so you should be able to transform between one and the other: https://docs.astropy.org/en/stable/coordinates/

[2020-06-16 18:08] astrojuanlu commented on #788
Perhaps relevant:

https://doi.org/10.1016/j.asr.2020.05.048

[2020-06-17 07:01] jorgepiloto commented on #976
Hi @MarcoCasanovaAlvarez and sorry for the delay in my reply. For the second figure you can also apply the same "hack": playing with the `max_anomaly` value to fit the trajectory line within desired points.

What drives me crazy is why this behavior is not shown in the notebooks. The `html` output in Read the Docs is supposed to be built each time a new branch is merged into the master one. Also,

[2020-06-17 07:19] jorgepiloto commented on #976
Even with a `make clean && make html` the notebook does not show any bug: **it needs to be run manually again in order to shown this behavior.** Is there some kind of `cache` file out there? :thinking:

[2020-06-17 08:09] jorgepiloto commented on #727
When implementing #828 and after #976 it is clear that some notebooks do not seem to be updated even if a `make clean && make html` is executed. In ddition to that, reviewing modifications is difficult when it comes to `*.ipynb` as @astrojuanlu claimed.

I did a small ship locally from `*.ipynb` to `*.py` using Jupytext and found these advantages apart from previously ones:

* Notebooks are forced

[2020-06-17 10:05] astrojuanlu commented on #976
Beware!

https://github.com/poliastro/poliastro/blob/2b121299fba8e3abf6b893d67f82f86e44c862c2/docs/source/conf.py#L143-L144

What's shown in Read the Docs is the cached version of the notebooks, unfortunately. This was done, I suppose, for performance reasons, and also because some notebooks need the network and might fail for reasons that have nothing to do with poliastro.

Therefore, the version

[2020-06-17 10:46] astrojuanlu commented on #727
...and it works on Binder :scream:

![Screenshot from 2020-06-17 12-43-42](https://user-images.githubusercontent.com/316517/84889023-79035300-b098-11ea-8e52-5150d44ad88d.png)

(from [this demo](https://github.com/mwouts/PythonDataScienceHandbook/tree/jupytext_no_ipynb#python-data-science-handbook))

what kind of sorcery is this??

[2020-06-17 10:48] astrojuanlu commented on #727
Full-steam with Jupytext @jorgepiloto :rocket:

[2020-06-19 10:42] astrojuanlu commented on #727
Fixed in #978, we switched to Jupytext. This, along with #977, means that we are full steam on Markdown over `.ipynb` and reST :rocket:

[2020-06-19 10:43] astrojuanlu commented on #727
@GorgiAstro if you notice weird things with the TOC extension, please let us know!

[2020-06-19 10:43] #727 closed

[2020-06-19 14:28] jorgepiloto commented on #951
Before #978 was merged, notebooks directory where `14MB` but now, after moving to Jupytext they have reduced half that size, around `7.4MB`. Are we still interested in excluding docs from source?

[2020-06-20 19:19] astrojuanlu opened #981 "Halo Orbits"
- https://space.stackexchange.com/a/24025
- https://doi.org/10.2514/3.21614
- https://core.ac.uk/download/pdf/36695384.pdf
- https://doi.org/10.1016/j.cja.2018.03.006

[2020-06-20 19:53] astrojuanlu commented on #951
Yeah, even `7.4 MB` is quite a lot. The only consumer of those source distributions is `pip`, I bet the rest of the users check out the documentation or the repository.

[2020-06-21 07:34] astrojuanlu commented on #959
The doctest failure happens also on Linux: https://dev.azure.com/poliastro/poliastro/_build/results?buildId=387&view=logs&j=1117f030-3e3a-5822-cfd7-97e776c1f4cb&t=af77bb0c-2bf7-50ca-9891-2682490c119e&l=81

[code]

[2020-06-21 20:02] jorgepiloto commented on #951
Sorry, I took into account some cache files since the actual disk usage of `docs/source` seems to be around `4.3MB`. However, I agree with you about excluding this from source :+1:

[2020-06-22 14:16] niels56 opened #982 "3d body perturbation defined from orbit"
I am trying to simulate the perturbation of the orbit of a satellite orbiting around an object I defined that has a diameter of 780m that is being orbited by another object with a diameter of 160m.

In the 3d perturbation example the data for the propagation of the third_body is done using an interpolation from ephemeris as such:

body_r =build_ephem_interpolant(....
rr = propagate(initial, tofs,

[2020-06-24 08:31] astrojuanlu commented on #982
Hi @niels56, thanks for your interest in poliastro and sorry for the slight delay!

This one is a very good question. The underlying code expects a function that can be called at arbitrary points in time, so providing a callable is a good solution.

If you already have an `Orbit`, I suppose you could do something like this:

[code]

I didn't test this code, but the only tricky thing I anticipate m

[2020-06-24 08:32] astrojuanlu commented on #982
(Edit: clarified instance of `Orbit` vs actual class)

[2020-06-25 13:23] niels56 commented on #982
Dear Juan! Thank you very much for your quick response.

I tried to implement your suggestion in the code that I will share with you here:

Determining the main body:
`density = 1700 # kg/m`
`diameter_didymos = 780 # m`
`didymos_mass = (4/3)*math.pi*((diameter_didymos/2)**3)*density`
`didymos_volume = (4/3)*math.pi*((diameter_didymos/2)**3)`
`a = ((4/3)*math.pi*((diameter_didymos/2)**3))**(1./3.0)

[2020-06-25 13:45] cpbridges opened #983 "SPICE Guidance (NRHO)"
Hi @astrojuanlu, Everyone,

I was looking to see how I would use the poliastro SPICE interface to make a Near-Rectilinear Halo Orbit (NRHO) at southern L2 of the moon. Essentially, I want to use this tool rather than GMAT for analysis.

I have initial state-vector conditions that can be propagated from if that helps.

Does someone know how to do this? Would be a good example!

Best, Chris

[2020-06-25 17:59] astrojuanlu commented on #983
Hi @cpbridges, thanks for your interest in poliastro!

What a coincidence, we started considering this just a few days ago #981 :)

At the moment, poliastro is focused on the 2 body problem, with some small utilities regarding the circular restricted 3 body problem (spheres of influence, Lagrange points). I see in the NASA white paper that you share that "the force model used in propagating the re

[2020-06-26 08:43] cpbridges commented on #983
I had a feeling this was the case. So - in GMAT or Matlab in fact, there are 1) pretty decent SPICE interfaces to pull in various astronomical / gravitational systems - and 2) they allow n-bodies to be added to models (like you say).

The NAIF models are all here: https://naif.jpl.nasa.gov/pub/naif/generic_kernels/
Tutorials: https://naif.jpl.nasa.gov/naif/tutorials.html

For python, I would start

[2020-06-26 10:23] niels56 commented on #982
Dear Juan! Thank you very much for your quick response.

I tried to implement your suggestion in the code that I will share with you here:

Determining the main body:
`density = 1700 # kg/m`
`diameter_didymos = 780 # m`
`didymos_mass = (4/3)*math.pi*((diameter_didymos/2)**3)*density`
`didymos_volume = (4/3)*math.pi*((diameter_didymos/2)**3)`
`a = ((4/3)*math.pi*((diameter_didymos/2)**3))**(1./3.0)

[2020-06-26 10:38] astrojuanlu commented on #982
I edited your comment for formatting (use triple backquotes for long blobs of formatted text :rocket:). Let me see if I can fix the issue!

[2020-06-27 18:54] astrojuanlu opened #985 "Add section in documentation with glossary of terms"
Great idea by @Meuge!

[2020-06-30 10:14] astrojuanlu opened #986 "Add fancy links in docs"
Idea taken from SfePy new website:

![Screenshot_2020-06-30 SfePy Simple Finite Elements in Python — SfePy version 2020 2 documentation](https://user-images.githubusercontent.com/316517/86114760-47907b80-bacb-11ea-9199-218f0a523249.png)

[2020-07-02 11:50] astrojuanlu commented on #925
Closed in #927 :tada:

[2020-07-02 11:50] #925 closed

[2020-07-02 13:10] jorgepiloto commented on #975
I would like to solve for this issue. Several questions:

* Do you think we should also separate internal directories according to this classification?
* I came up with the following layout. However, I am not sure how to include the `Explanations` section or if some of the topics presented here might be included in that category...

[code]

[2020-07-03 10:13] astrojuanlu commented on #975
I don't think we have a large number of files, so perhaps we can live with a flat hierarchy for now? However I don't have a strong opinion on this.

I like it very much!

Theoretical knowledge + Understanding-oriented = https://github.com/astrobook/astrobook ? :slightly_smiling_face:

In other words: I think the "explanations" here refers to what textbooks and manuals usually cover. So, until you

[2020-07-03 11:39] jorgepiloto commented on #975
I agree with your last comment! Pull request coming soon... :rocket:

[2020-07-03 13:02] astrojuanlu commented on #951
Closed in #988

[2020-07-03 13:02] #951 closed

[2020-07-06 10:10] jorgepiloto commented on #501
We might consider closing this after #973 was merged :+1:

[2020-07-06 10:12] astrojuanlu commented on #501
Yay! Closing!

[2020-07-06 10:12] #501 closed

[2020-07-06 12:18] astrojuanlu commented on #791
As a summary of our recent advances: we are experimenting with a new `poliastro.earth` module, adding a class `EarthSatellite` that composes an `Orbit` and a new object `Spacecraft`. This class has one convenience method now, `propagate`, that takes the configuration of the perturbation directly, like this:

[code]

The idea is that this `Spacecraft` can have properties like geometry, mass, and wh

[2020-07-06 12:18] #791 closed

[2020-07-08 03:54] cadojo commented on #866
This might (will) take me a while, but I'm interested! If no one else has picked this up, I'm gonna try to [implement](https://github.com/cadojo/poliastro/tree/866-QLaw-Solver) this in 2020.

[2020-07-08 10:16] astrojuanlu commented on #866
"We choose to go to the Moon in this decade and do the other things, not because they are easy, but because they are hard" :rocket:

Feel free to join [our chat](https://chat.openastronomy.org/#/room/#poliastro:matrix.org) to share your progress or reach out for questions!

[2020-07-08 21:47] Tarlan0001 opened #991 "Low-thrust optimization"
Is there a low-thrust optimization method in poliastro?

[2020-07-08 22:44] astrojuanlu commented on #991
Hi @Tarlan0001! We do have some optimal guidance laws (see #966) although we don't have a complete optimization suite. For that, at the moment you might want to look into https://github.com/esa/pykep/ or https://github.com/uc3m-aerospace/MOLTO-IT.

[2020-07-08 23:07] #991 closed

[2020-07-11 11:02] astrojuanlu commented on #98
Revisiting this when cpyext has been replaced, or we have a brand new Python C API, or in general when PyPy takes off.

[2020-07-11 11:02] #98 closed

[2020-07-11 11:03] astrojuanlu commented on #364
@shreyasbapat still willing to finish https://github.com/NASA-Planetary-Science/sbpy/pull/115? @anhiga offered to help

[2020-07-11 11:05] astrojuanlu commented on #486
For 3rd body perturbations, let's better create an interpolator or similar, instead of using `with.objmode`.

[2020-07-11 11:05] #486 closed

[2020-07-11 11:12] astrojuanlu commented on #666
True that @s-m-e, however I guess that users running a virtualized Windows should be able to run Linux somehow? (I might be wrong on this)

[2020-07-11 11:16] astrojuanlu commented on #666
By the way, status updates in https://docs.microsoft.com/en-us/windows/release-information/status-windows-10-2004. From what I understand, the rollout is being slow but steady.

There were some interesting changes in June https://devblogs.microsoft.com/commandline/gpu-compute-wsl-install-and-wsl-update-arrive-in-the-windows-insiders-fast-ring-for-the-windows-subsystem-for-linux/ namely, WSL2 by de

[2020-07-11 11:24] astrojuanlu commented on #703
The radiuses are already in https://github.com/poliastro/poliastro/blob/master/src/poliastro/constants/general.py and we already have the rotational periods in https://github.com/poliastro/poliastro/blob/master/src/poliastro/constants/rotational_elements.py.

Regarding the reference meridians, as it can be seen in https://github.com/poliastro/poliastro/blob/master/src/poliastro/frames/fixed.py and

[2020-07-11 11:24] #703 closed

[2020-07-11 11:25] astrojuanlu commented on #847
poliastro 0.14.0 was released a couple of months ago, closing this issue.

[2020-07-11 11:25] #847 closed

[2020-07-11 11:29] astrojuanlu commented on #914
Closing this issue as inactive, feel free to open new ones!

[2020-07-11 11:29] #914 closed

[2020-07-11 11:31] astrojuanlu commented on #961
@olebole is this still happening?

[2020-07-11 11:32] astrojuanlu commented on #975
Addressed in #989 :rocket:

[2020-07-11 11:32] #975 closed

[2020-07-11 11:40] astrojuanlu commented on #950
Not sure if we want to do this through Azure Pipelines (the CI we are using now for everything else) or setup GitHub actions. Whoever wants to do the research and cast some light on the matter is more than welcome to do so :)

[2020-07-11 11:43] shreyasbapat commented on #364
I will graduate tomorrow. So a lot of free time on my schedule. I am planning to finalize it, but if it's possible for @anhiga , I can definitely use some help. Because it's already been a year😅

[2020-07-11 11:48] astrojuanlu commented on #364
Haha, perfect timing! Enjoy your graduation 🎓

We are not in a hurry, so let us know when you want to pick this up again. @anhiga what's your availability?

[2020-07-11 11:56] jorgepiloto opened #992 "Units error in COESA amtospheric models"
🐞 **Problem**

I just noticed that the universal gas constant defined in both `coesa62.py` and `coesa76.py` hold wrong units: they make use of `u.J / u.kg / u.K` while proper units should be `u.J / u.kmol / u.K`. **Though defined with wrong units, no errors were raised since code does not make use of those variables.**

https://github.com/poliastro/poliastro/blob/817fac96365e3848348052d159f6258e50

[2020-07-11 13:03] olebole commented on #961
I have set them to xfail, but currently they seem to pass.

[2020-07-11 13:13] astrojuanlu commented on #961
Thanks! I will close this issue then, feel free to comment here if the problem appears again.

[2020-07-11 13:13] #961 closed

[2020-07-11 15:08] astrojuanlu commented on #698
pyerfa was splitted! https://github.com/liberfa/pyerfa

[2020-07-11 17:54] astrojuanlu commented on #982
Hi @niels56, sorry for the long delay - getting back to this as part of the SciPy 2020 sprints. I'll try to rerun your code and see what's happening.

[2020-07-11 18:19] astrojuanlu commented on #982
It turns out that I was wrong, but fortunately the needed change is not that difficult.

The actual code for the propagation is:

[code]

The relevant part of the `TypeError` traceback is:

[code]

which shows that `poliastro.core.perturbations.third_body` was actually expecting that to be a function, not a precomputed array.

Also, with only this change I was still getting a `ValueError: operands

[2020-07-11 20:20] rafaellehmkuhl commented on #992
I will send a PR for this one.

[2020-07-11 20:30] astrojuanlu commented on #957
Oops, I found it! flit is using `__init__.py` docstring to complete the description:

https://github.com/poliastro/poliastro/blob/817fac96365e3848348052d159f6258e502357b1/src/poliastro/__init__.py#L1-L10

Therefore, we should replace all those extra lines with just the one-line sentence at the end.

[2020-07-11 21:00] #992 closed

[2020-07-11 21:14] astrojuanlu commented on #957
Fixed in #994!

[2020-07-11 21:14] #957 closed

[2020-07-12 15:20] rafaellehmkuhl commented on #698
Juan, I can take this one as I think it was left.

We currently don't have PyERFA as a dependency, since it split from Astropy. Do you think it is ok to add it?

[2020-07-12 16:01] astrojuanlu commented on #698
@vmos1 noticed that, for `a != b`, the results are not the same!

[code]

[2020-07-12 16:57] astrojuanlu commented on #365
Good catch @rafaellehmkuhl!

Yeah, that's because LaTeX is also needed locally. Take a look at what the CI does:

https://github.com/poliastro/poliastro/blob/fd623c2c2d18c0225031ef0897da6830938bc7be/azure-pipelines.yml#L42-L44

Totally. There used to be a trick that @jorgepiloto commented out:

https://github.com/poliastro/poliastro/blob/fd623c2c2d18c0225031ef0897da6830938bc7be/docs/source/conf.py

[2020-07-12 17:59] rafaellehmkuhl commented on #365
Ok , once all of those are installed, we don't have any compiling errors (with just pandoc and the tex packages the errors continue). I will add a line on the contributing section stating that all of those are needed to compile the docs.

Sounds good. It would be something like below?

[code]
If so, the contributing section can also have a line stating this possibility (instructions to add POLIAST

[2020-07-12 18:15] astrojuanlu commented on #365
Without the `READTHEDOCS` part, we are now running notebooks in RTD as well.

Hmm interesting, which notebook is it processing? Some of the perturbation ones are quite slow.

[2020-07-12 18:23] astrojuanlu commented on #935
Hi @wumpus, sorry it took so much to answer, the end of the pandemic was a bit stressful. Yes, having a PR with a failing test would be perfect, thanks!

[2020-07-12 19:01] astrojuanlu commented on #698
This turned out to be not so trivial, since our code assumed geocentric coordinates. A fix is in progress in #995.

[2020-07-13 13:01] rafaellehmkuhl commented on #365
Perfect, I will propose the PR.

About the notebook, I'm almost sure it was the "Using NEOS package".

[2020-07-13 13:13] astrojuanlu commented on #365
Oh, right! It needs to download the DASTCOM5 database the first time it's used... :sweat_smile:

[2020-07-13 13:16] rafaellehmkuhl commented on #365
Oh, this was probably it. I'm struggling with my internet provider those last days :sweat_smile:

[2020-07-15 08:19] jorgepiloto commented on #949
The `Contribute` section within documentation might be an example of this, in particular de [Code writing](https://docs.poliastro.space/en/latest/contributing.html#code-writing) subsection. Many lines start with `If`, leading to a tedious reading while first person sentences can be found in some paragraphs.

[2020-07-15 09:02] astrojuanlu commented on #949
I hope we can participate on Google Season of Docs some day, so a technical writer reviews all of this :)

[2020-07-15 09:49] astrojuanlu commented on #960
Oops, this URL does not exist anymore, it's `https://openastronomy.riot.im/#/room/#poliastro:matrix.org`. We have to fix the README as well.

[2020-07-15 10:05] astrojuanlu commented on #960
My provider is working on a fix :heart_eyes:

[2020-07-15 12:29] danlub commented on #666
This is great news! WSL is not as good as a full linux 😉 but it a nice thing to have when stuck with Windows

[2020-07-17 09:56] astrojuanlu commented on #960
It's working :tada:

[2020-07-21 07:38] jorgepiloto commented on #967
I have checked for `sphinx-autoapi` and it is awesome! With this tool properly configured, we might even get rid of the whole `docs/source/api/*.rst` files. It simplifies API documentation process a lot, moving all the workload to each class, function or module docstring.

[2020-07-21 10:08] danlub commented on #967
`sphinx-autoapi` works very well! I truly recommend it

[2020-07-22 14:20] Rocknpools commented on #960
I'm not sure i understand so just to be clear, this is just about replacing all the "https://riot.im/app/#/room/#poliastro:matrix.org" with "https://chat.poliastro.space"?

Or given the recent transition from riot to element should i replace with "https://openastronomy.element.io/#/room/#poliastro:matrix.org" ?

[2020-07-22 15:10] astrojuanlu commented on #960
@Rocknpools as a matter of fact, users can join the poliastro chat from both `https://riot.im/app/#/room/#poliastro:matrix.org` and `https://openastronomy.element.io/#/room/#poliastro:matrix.org` (formerly `https://openastronomy.riot.im/#/room/#poliastro:matrix.org`), being Matrix a decentralized system :)

Therefore, to (1) minimize confusion, (2) give a shorter URL that can be shared everywhere

[2020-07-22 15:14] Rocknpools commented on #960
Ok! this is what i got at first but then i tried to click on https://chat.poliastro.space and it doesn't work. Is it my problem or something is not right?

[2020-07-22 18:04] astrojuanlu commented on #960
Hmmm weird! The redirection does seem to work for me. What happens in your case? Does it give an error, hang, just shows a blank page?

[2020-07-22 18:04] jorgepiloto commented on #977
People from [executablebooks](https://github.com/executablebooks) also offer converter from `*.rst` file into `*.md` ones in their project [rst2myst](https://github.com/executablebooks/rst2myst/blob/master/rst_to_md.sh). Might be interesting!

[2020-07-23 07:37] Rocknpools commented on #960
I get connection Timeout. Not only on my laptop(in my home network) but also on my phone using my data plan.
Anyway i can open a pull request with all the links replaced with https://chat.poliastro.space/ but i think it's better to investigate this before merging

[2020-07-23 11:55] astrojuanlu commented on #960
You're right, I'm getting problems now as well. Let me investigate, thanks for bringing this up!

[2020-07-24 07:21] astrojuanlu commented on #960
Oh, I see what's happening - it's http://chat.poliastro.space (no HTTPS!), which then 301 redirects to the appropriate place. I will edit my comment above.

[2020-07-25 07:12] #960 closed

[2020-07-28 22:54] tomaszmrugalski commented on #682
The installation instructions are indeed outdated. For me the trickiest part was to figure out how to install jupyterlab extensions. In particular, @jupyterlab/plotly-extension has been replaced with jupyterlab-plotly. Details [here](https://github.com/jupyterlab/jupyter-renderers#looking-for-plotly-extension).

Here's my (successful) experience with poliastro 0.14 with jupyter on Ubuntu 20.04. I'

[2020-07-30 04:41] astrojuanlu commented on #682
Hi @tomaszmrugalski, thanks for your detailed comment! Feel free to send a PR with updates, Plotly is one component that has been evolving quite fast.

[2020-07-30 19:51] jorgepiloto commented on #497
As discussed in official poliastro-earth chat, this feature might be placed under `poliastro.earth.plotting` sub-package since it is clearly focused on Earth capabilities.

[2020-08-02 08:58] astrojuanlu commented on #966
Closed in #1000

[2020-08-02 08:58] #966 closed

[2020-08-02 09:42] jorgepiloto commented on #967
Finally closing this! :rocket:

[2020-08-02 09:42] #967 closed

[2020-08-05 20:22] void4 opened #1003 "Collision detection"
It'd be great if there was a function that, given an orbit, would tell if, when and where it intersected with the body being orbited.

I'd like to use this to create a plot of the orbits of many objects with slightly different starting conditions.

[2020-08-06 17:07] astrojuanlu commented on #1003
@void4 hi, thanks for your interest in poliastro!

There you have it :) https://docs.poliastro.space/en/stable/api/safe/twobody/events.html#poliastro.twobody.events.LithobrakeEvent

Here is how to use it:

https://github.com/poliastro/poliastro/blob/master/docs/source/examples/Natural%20and%20artificial%20perturbations.md#orbital-decay

Can you confirm if this suits your needs?

[2020-08-06 19:38] void4 commented on #1003
Yes, I think that might be it. I tried to reduce the acceptable error in the propagate() function but that seemed to make it too inaccurate, using methods other than cowell didn't seem to return a valid Lithobrake value. Even without an atmosphere the propagate() function seemed to take about 10 seconds per orbit.

So it might not be fast enough for my purposes, plotting thousands of orbits, but I

[2020-08-06 19:54] astrojuanlu commented on #1003
:heart_eyes: Best compliment ever!!

Depending on how are you modelling your system, `cowell` might be the only option - although in principle poliastro is meant for the two body problem (with some specialized functions for the circular restricted three body problem)

That's really weird, would you like to share a small part of that code so I can try to reproduce? 10 seconds per orbit is a bit too

[2020-08-06 20:01] void4 commented on #1003
Oh, I see, I used a huge TimeDelta (the 100 days from the example). I'm also running on an already hot laptop ^^
But then again, for the longer periods I need and because

and

I will continue to use my own solver.

Nonetheless, it was great to come into contact with this library and you. Have a great day!

[2020-08-06 20:01] #1003 closed

[2020-08-08 21:33] void4 commented on #1003
@astrojuanlu Just in case this stuff is of interest to you, someone pointed me to this paper, where these apparently called "orbit type diagrams" are more closely described: https://pdfs.semanticscholar.org/2d2f/ea1fcccf769193b0a6c75adbac54d9aec76c.pdf

What this paper seems to confirm is that when inserting a light third mass into a two-body system, there are regions in space where the ultimate f

[2020-08-09 18:49] astrojuanlu commented on #1003
This is fascinating! (DOI [10.1103/PhysRevE.71.026227](https://doi.org/10.1103/PhysRevE.71.026227) for future reference). Thanks for the reference!

I just remembered this open source N-body integrator that you might find useful https://github.com/hannorein/rebound

[2020-08-27 19:40] Turakar opened #1006 "Orbit.classical() is slow in comparision to `elements.rv2coe`"
🐞 **Problem**

The `Orbit.classical()` method is slow in comparision to `elements.rv2coe`, the function it is based on. The performance difference is in the order of 40x. According to `snakeviz`, 53% of the time is spent on `units.to` from `astropy`.
[code]
*(note that rv2coe returns semi-latus rectum instead of semi-major-axis, but this is not the reason for the performance)*

[Jupyter Notebook](

[2020-08-27 20:23] jorgepiloto commented on #497
After two years, this feature has been implemented. I think this was one of my first issues at poliastro. Please, if you find any king of bug or would like to extend its functionalities, open an issue or contact developers through official channels :rocket:

[2020-08-27 20:23] #497 closed

[2020-08-27 20:42] priyanshurohilla commented on #497
I am soo glad this has been implemented. 😃

[2020-08-28 14:05] jorgepiloto commented on #1006
Hi @Turakar, thank you for opening this although it is not something new. We already knew about low performance caused by the `astropy.units` module as discussed in #856. However, I had no idea about `snakeviz` project, seems very interesting. Also, the fact that 53% routine time is spent on just units conversion is crazy! Again, thanks for pointing this out.

[2020-08-29 13:11] Phillip-M-Feldman opened #1007 "error when attempting `from poliastro.twobody import Orbit`"
When I issue the command `from poliastro.twobody import Orbit`, poliastro in turn attempts to import from astropy, and that import fails.  For reasons that are unclear, poliastro or astropy is reaching out to some network path to which I don't have access.  (I did have access to that path at one time, but no longer).  There must be some configuration file that has this path in it, but i haven't be

[2020-08-29 13:15] Phillip-M-Feldman commented on #1007
Output from `conda list` follows:

# packages in environment at C:\ProgramData\Anaconda3\envs\py38:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2020.07                  py38_0
alabaster                 0.7.12                     py_0
anaconda                  custom                   py38_1
anaconda-client           1.7.2                    py38_0

[2020-08-29 13:21] Phillip-M-Feldman commented on #1007
(py38) >conda info -a

     active environment : base
    active env location : C:\ProgramData\Anaconda3\envs\py38
            shell level : 1
       user config file : C:\Users\UserID\.condarc
 populated config files : C:\Users\UserID\.condarc
          conda version : 4.8.4
    conda-build version : 3.18.11
         python version : 3.8.5.final.0
       virtual packages : __cuda=8.0
       base

[2020-08-29 21:46] astrojuanlu commented on #1007
Hi @Phillip-M-Feldman! I edited your comments to have better formatting.

It seems that your error has to do with some weird configuration from Astropy, which is unable to find this directory:

[code]

I'm 99 % sure this is not related to poliastro (I can lend a hand anyway). Could you try this?

[code]

[2020-09-01 18:52] s-m-e opened #1008 "Computing ephemerides from orbits"
I am trying to compute ephemerides from orbits with poliastro. Bluntly put, I need Cartesian coordinates in fixed time intervals for longer periods of times. poliastro can generate `Orbit` objects from ephemerides objects, but - as far as I can see - there is no direct method for going the opposite direction (in some optimized form).

What I came up with simply looks as follows ... I am not entire

[2020-09-01 22:00] astrojuanlu commented on #1008
Hi @s-m-e :smiley:

Two options, depending on what exactly you want to do:

- Use `Ephem` objects, like described in the [User Guide](https://docs.poliastro.space/en/latest/user_guide.html#where-are-the-planets-computing-ephemerides) ([reference](https://docs.poliastro.space/en/latest/autoapi/poliastro/ephem/index.html#poliastro.ephem.Ephem))
- Instead of a `for` loop to call `Orbit.propagate`, us

[2020-09-01 22:01] astrojuanlu commented on #1008
Most likely, it's a combination of excessive unit conversion (see #1006) and excessive cartesian - classical roundtripping (see #921).

[2020-09-02 11:27] s-m-e commented on #1008
Thanks @astrojuanlu. I am working with "classical" orbital elements. I am looking into ways of scaling the process up to the currently known ~1M asteroids. JPL's Horizons computes ephemerides "on demand". I.e. using their system would result in an insane load at their end plus some serious internet traffic, so I can rule `Ephem.from_horizons` more or less out (although I'd love to have a "dump" of

[2020-09-02 18:43] astrojuanlu commented on #1008
Glad it worked! Curious to know about the "two hours of experimentation" in case there's something we can improve or fix in our docs :)

We have not benchmarked our propagators (noted! https://github.com/poliastro/benchmarks/issues/21) but I would say that `farnocchia` is the simplest.

Potentially, there's more performance gain that could be achieved because, if you already have classical orbital

[2020-09-02 19:28] s-m-e commented on #1008
Your docs are good. I was simply "missing" some design concepts, i.e. how certain classes / objects work and interact. It's sort of intuitive, but what you guys implemented was still beyond my imagination. I ended up reading the source code.

Actually there is one thing "missing" from my perspective, but not in the docs: A clean, fast and out-of-the-box way of computing an `Ephem` object from an `

[2020-09-03 10:10] s-m-e commented on #1008
Ok, the implementation looks straight forward, but `numba` (0.51.1) keeps throwing errors at me. Maybe you understand what is going on:

[code]

[2020-09-03 10:36] astrojuanlu commented on #1008
Yes, I think you skipped some steps: `farnocchia_coe` being a numba-accelerated function cannot be called with astropy `Quantity` objects, nor with an array of times of flight. There's an intermediate function missing:

[code]

And also, it should be `orbit.attractor.k` in your `propagate_fast`.

With those two changes, it works!

[code]

[2020-09-03 12:00] s-m-e commented on #1008
I totally missed the wrapper function around `farnocchia` in `src/poliastro/twobody/propagation.py`, yes. I also expected that quantities were transparently handled as numpy arrays / scalars. Thanks for the explanation.

Ok, this approach works, but it runs two times longer than the [original "fast" approach](https://github.com/poliastro/poliastro/issues/1008#issuecomment-685662136), so it's actua

[2020-09-03 12:13] astrojuanlu commented on #1008
Oh wow, that's... surprising. If you share a self-contained script where both approaches are implemented, I can give a hand with some profiling.

[2020-09-03 13:29] s-m-e commented on #1008
Ok, this was a numba issue if I understand this correctly. I uploaded a [self contained notebook here](https://gist.github.com/s-m-e/c7a5e5a09df54ffdb77003d423cf603b). I "fixed" it by separating the contents of cells 6 and 12. If this stuff is on one single cell, it probably re-compiles my `farnocchia_coe_fast` function probably on every run.

It's actually faster, from 530 ms down to 390 ms, so r

[2020-09-03 15:12] astrojuanlu commented on #1008
Amazing! I think any other improvement will be smaller than that, although I could be surprised. Do you plan to keep optimizing this code?

[2020-09-03 16:27] s-m-e commented on #1008
I am wondering if I can gain anything by scaling "horizontally": Propagating multiple orbits simultaneously, without iteration. I have another problem where I do not need lots of coordinates per orbit, just one, but from 1M orbits in one go. Any ideas?

[2020-09-03 17:34] astrojuanlu commented on #1008
I think plain `multiprocessing` should work well in this case, all the orbits are independent to one another and the propagation itself is serial so it runs on a single core. Haven't tried it personally, but the relevant objects are pickleable and it should be feasible.

[2020-09-04 09:35] s-m-e commented on #1008
I am already running my code with `multiprocessing` on high-core-count machines, but this is more like a brute-force way of improving the performance - and it still could be much better. Calling `orb.propagate(some_time).r.to(u.AU)` once per 1M orbits is just as slow as calling `orb.propagate(time_step).r.to(u.AU)` for one million points on a single orbit (via `for` loops). I'd also expect some si

[2020-09-05 13:20] FrancescoColombi commented on #497
Hi everyone,
First of all I would say that I love these plots.

I have an idea to generalize the reference attractor:
Giving as input the orientation of the Prime Meridian (e.g. the Prime Meridian Sidereal Time, PMST) at a desired reference epoch (e.g. reference JD) and the rotation rate of the attractor (e.g. omega_attractor), you can get the ground track of a given set of position in time.

[2020-09-05 14:22] astrojuanlu commented on #1008
You're right, the `for` loop happens in the list comprehension of `farnocchia_coe_safe` (as happens with all the propagators), so by rewriting that part in numba we could potentially save some milliseconds. This is the subject of #922.

On the other hand:

Yes, that's a very good question indeed. Perhaps we could introduce a new function, `propagate_many` or something like that, taking care of it.

[2020-09-05 14:28] astrojuanlu opened #1009 "Create `Ephem` object from an `Orbit`"
_Originally posted by @s-m-e in https://github.com/poliastro/poliastro/issues/1008#issuecomment-685949410_

[2020-09-05 14:32] astrojuanlu commented on #698
Fixed in #995.

[2020-09-05 14:32] #698 closed

[2020-09-05 14:33] astrojuanlu commented on #854
Too generic, we have other issues to track specific problems. Closing.

[2020-09-05 14:33] #854 closed

[2020-09-05 14:33] astrojuanlu commented on #854
Also, no response from the original author in 6 months.

[2020-09-05 14:42] astrojuanlu commented on #1007
I think this issue you reported upstream is the culprit https://github.com/astropy/astropy/issues/10661 let's follow up there :)

[2020-09-05 14:42] #1007 closed

[2020-09-05 15:00] astrojuanlu commented on #497
Hi @FrancescoColombi, glad you like this new feature! Using the orientation of the prime meridian and the rotation rate of the attractor sounds like a good idea for generalizing this, I'll open a new issue.

[2020-09-05 15:00] astrojuanlu opened #1010 "Generalize GroundtrackPlotter for other attractors"
_Originally posted by @FrancescoColombi in https://github.com/poliastro/poliastro/issues/497#issuecomment-687610550_

[2020-09-05 15:00] astrojuanlu commented on #1010
Notice that all the logic for the position of the reference meridians is written here:

https://github.com/poliastro/poliastro/blob/master/src/poliastro/frames/fixed.py

[2020-09-05 15:02] astrojuanlu commented on #1010
...the fact that these are `@staticmethod`s of classes deriving from an Astropy frame is probably something that could be improved. Perhaps we need a new `core` module that contains these functions separately, accelerated with numba.

[2020-09-05 19:14] astrojuanlu commented on #302
Look at these *beautiful* LH-VH plots from https://digitalcommons.usu.edu/smallsat/2020/all2020/150/!

![lh-vh](https://user-images.githubusercontent.com/316517/92311976-90c5e580-efbc-11ea-93e1-af9ef5676d55.png)

It was @sammmlow who recommended this article to me by the way... and I'm bummed to see I never replied to your comment! However, the answer is simple: there's nothing of this sort implem

[2020-09-05 19:34] astrojuanlu commented on #302
More keywords: Hill-Clohessy-Wiltshire (HCW) equations. There are a couple of Python implementations on GitHub but they don't have a license and don't seem very well maintained, therefore I think it would be nice to have a "canonical" implementation in poliastro, even if it's in the `core` module and doesn't have direct application (in the same way [some people, like AGI](https://github.com/Analyt

[2020-09-07 11:25] s-m-e opened #1011 "(Un-)expected inaccuracies when propagating heliocentric orbits (?)"
I am exploring poliastro's propagators with Minor Planet Center "classical" orbital elements and poliastro's bodies vs. JPL Horizons' ephemerides data. I am not entirely sure if the results are within the expected accuracy limits *or* if there is a problem in poliastro *or* if I have not read the manual properly. If I had to guess I'd says it's the first given poliastro's focus on two-body propaga

[2020-09-07 11:33] astrojuanlu opened #1012 "Remove mention to `poliastro.testing` from issue template"
We no longer ship tests as part of poliastro.

(Noticed in #1011)

[2020-09-07 11:36] astrojuanlu commented on #1011
Hi @s-m-e! Just a quick question while I find some spare time to closely look at this: the blue and green line in your first plot overlap, correct?

[2020-09-07 11:39] s-m-e commented on #1011
Correct, they do - at least at this zoom level.

[2020-09-07 12:37] s-m-e commented on #1011
Take your time ... whenever I end up writing bug reports, I find (at least part of) the problem at my end. MPC provides mean anomalies, `Orbit.from_classical` expects true anomalies. At least this part of the result looks much better now.

[2020-09-07 18:09] s-m-e opened #1013 "Converting mean anomaly to true anomaly"
`Orbit.from_classical` "only" accepts a true anomaly. It lacks support for a mean anomaly as an alternative. poliastro also lacks a method for converting from mean anomaly to true anomaly in its [`angle` module](https://github.com/poliastro/poliastro/blob/0.14.x/src/poliastro/core/angles.py).

💡 **Feature request**

A good, working and MIT-licenced implementation for converting from mean to true a

[2020-09-07 18:23] astrojuanlu commented on #1013
This confinement, mean anomalies have become a favourite topic of mine :smiling_imp: Take a look at this comment:

https://github.com/poliastro/poliastro/pull/908#issuecomment-615889854

In short: the "mean anomaly" is by no means (pun intended) a well defined quantity with a clear geometrical or physical meaning (no pun intended) _for all possible eccentricity values_, and therefore generic conve

[2020-09-07 18:24] astrojuanlu commented on #1013
I also observed that, and none of those databases cares to define what's the mean anomaly for the non elliptic case for them, or how near-parabolic cases should be handled (there's a singularity in the vicinity of ecc = 1).

[2020-09-07 19:09] s-m-e commented on #1013
Wt.. Interesting, literally. I dived into this topic a couple of years ago and thought it was me not understanding the literature.

Will try and report back, thanks. If this code-snipped exists twice in poliastro already, why not put it into a function (i.e. reinstate one of the old conversion functions) and let the function throw a *big fat red warning*? I get it, it sucks, but there are a few se

[2020-09-08 03:57] Meuge opened #1014 "Docstring error in max_and_min_ground_range method"
🐞 **Problem**

We’ve just noticed a minor error in the doctstring from ```max_and_min_ground_range``` method in the ```sensors.py``` file which is in ```Earth``` module. So after given some thought, we realised that it would be better if we rename the method ```min_and_max_ground_range ``` just to clarify that we are returning an interval.

https://github.com/poliastro/poliastro/blob/c4d0f80c98fb2

[2020-09-08 10:25] s-m-e commented on #1013
Works. Tested against `orbital` and 1M orbital elements from MPC:

[code]

Absolute differences in results vary from `0.0` to `4.45e-12`, mean `3.89e-16`, median `3.33e-16`.

Notably, `orbital`'s pure Python (no numba) implementation is roughly 10 times faster than what I wrote based on `poliastro`. I guess if I strip away a ton of unit conversions and go for the methods in `poliastro.core.angles`

[2020-09-08 10:40] s-m-e commented on #1013
Jep, about twice as fast as `orbital` (i.e. 20 times as fast as my above implementation):

[code]

Statistics (compared to `orbital`) changed a little. Differences from 0.0 to 4.76e-12, mean 3.57e-16, median 2.22e-16.

[2020-09-08 10:52] astrojuanlu commented on #1013
Yeah, it's crazy how slow unit conversions are. But that's why we have two layers :)

Regarding the option of providing a function with a big warning... I prefer not to, as a way of telling the user "if it's difficult, it's a signal you're doing something wrong". Conversely, that forces us making correct operations easy. Also, people never read the warnings :D

[2020-09-10 07:50] #1014 closed

[2020-09-11 12:57] s-m-e commented on #1008
I have this idea in the back of my head ... and your code looks like it could work: Would you consider a pull request based on [numba's integration of CUDA](https://numba.pydata.org/numba-doc/dev/cuda/index.html)?

[2020-09-11 14:25] astrojuanlu commented on #1008
Aw yeah, absolutely! :grinning:

[2020-09-12 20:50] priyanshurohilla commented on #1012
Hey @astrojuanlu what i have understood from this issue, if i am rigth is that you want `poliastro.testing`l abel to be removed from issue templates. But this is only possible who has the write access to this repository

[2020-09-15 09:17] s-m-e opened #1018 "Accelerating Lambert solver(s) for a single orbit and many departure/arrival date permutations (and/or many orbits)"
The title says it all (almost). Closely related to #1008.

Once numba's jit has done its job, a single solution with default parameters and izzo's algorithm runs for about 0.8 to 2.0 ms on contemporary hardware (based on the [Going to Mars example](https://docs.poliastro.space/en/stable/examples/Going%20to%20Mars%20with%20Python%20using%20poliastro.html) from the documentation). I have been going

[2020-09-17 11:54] jorgepiloto commented on #1018
Hi @s-m-e, sorry for this late answer.

Porkchop plotter resolution strongly depends on the amount of solutions you compute for desired time intervals. I was a big fan of `vectorize` function because its `code readability aid` but it `does not provide any kind of performance`, see [official vectorize docs](https://numpy.org/doc/stable/reference/generated/numpy.vectorize.html) notes section. I wond

[2020-09-17 13:05] s-m-e commented on #1018
@jorgepiloto Thanks for the reply.

I guess that using `vectorize` just leads to better code, which is why I am getting mildly better performance.

I do not want to boost the plotter (primarily). I am more interested in boosting the Lambert solvers themselves - for running them against "large" datasets. I'd store the end result and evaluate the resulting data separately - not visually but in an au

[2020-09-20 19:54] astrojuanlu opened #1020 "Allow changing the number of revolutions for Porkchop plots"
💡 **Feature request**

Allow changing the number of revolutions for Porkchop plots, and perhaps other parameters like long/short transfer.

🎯 **Goal**

At the moment, `porkchop` uses the direct, 0 revolution transfer to compute the Delta-V and C3:

https://github.com/poliastro/poliastro/blob/4a17bb309ac6e0a95a90a460312de61f71749cb3/src/poliastro/plotting/porkchop.py#L74

It would be nice to visual

[2020-09-20 20:09] astrojuanlu opened #1021 "Uncaught error in plotting"
This code:

[code]

Causes this error:

[code]

[2020-09-22 15:05] jorgepiloto commented on #798
I just saw this issue is in the 0.15 milestone so got interested on solving this. After reading previous comments, just found that @iamabhishek0 found the solution. However, I also saw the following line

https://github.com/poliastro/poliastro/blob/bf9cfa6b9485d54fd4dec98ebf53ce9cdccbf906/src/poliastro/twobody/orbit.py#L511-L516

applies a conversion to current orbit's position vector in correspon

[2020-09-23 19:03] astrojuanlu opened #1022 "Ditch transparent logo for good"
https://twitter.com/icymi_py/status/1308843120382140419

![Screenshot_2020-09-23 Python posts you might have missed on Twitter](https://user-images.githubusercontent.com/316517/94057723-52179400-fde0-11ea-836d-eec7cb78fa6d.png)

Let's face it, we need a white background.

[2020-09-27 21:31] s-m-e commented on #1018
With some refactoring, it's possible to push the time down to around 4.5 µs per solution, which is a speedup of a factor of ~430 (relative to 1 ms before). I tested with Earth to Mars transfers, running the solver 126990 rounds at a time. [A test implementation can be found here](https://github.com/pleiszenburg/bulk_lambert/blob/158bfb49f285d534d8196b4476432b1693d60f2f/bulk_lambert/bulk.py). I add

[2020-09-28 10:48] s-m-e commented on #1018
![export2](https://user-images.githubusercontent.com/16851110/94421875-85627600-0186-11eb-8859-0740253e8e2a.png)

Just validated the numbers - they're identical to your original implementation.

[2020-09-28 17:49] s-m-e commented on #1008
I experimented with `numba`'s implementation of CUDA ... Well, writing bare C CUDA kernels is almost equally frustrating.

- `numba.cuda.jit` does not support memory allocations in functions, see [here](https://numba.pydata.org/numba-doc/dev/cuda/cudapysupported.html#numpy-support), which **drastically** limits `numpy` support. `poliastro` allocates memory through `numpy.array` virtually all over

[2020-09-29 18:29] s-m-e commented on #1008
I also looked into this, i.e. "horizontal scaling". A "naive" [test implementation can be found here](https://github.com/pleiszenburg/bulk_lambert/blob/3a1df9f19ab47076400b176c0c685ebb40fe3f47/bulk_lambert/bulk_many.py#L26). It's based on a "list of Orbit objects" as you suggested. Playing with 20k orbits at a time, this approach causes an increase in performance of about 10 times (relative to pol

[2020-10-01 11:23] ibLeDy commented on #986
Hi, i would love to work on this issue.

[2020-10-01 11:53] astrojuanlu commented on #986
Hola @ibLeDy, welcome to poliastro! Feel free to send a pull request, and if you have questions please join our chat http://chat.poliastro.space and maybe see you on Sunday? ;)

[2020-10-01 12:35] ibLeDy commented on #986
Thanks! The only questions i have atm are about the formatting and info which will be added, like:
- Section title (`Connections` in the screenshot)
- Links which will be included
- If linking to a document that doesn't exist, it will need to be created (not sure if i would be the one to do it as i'm not really familiar with the codebase, although the ones that appear on the screenshot are doable)

[2020-10-01 15:36] astrojuanlu commented on #986
Fair enough, excellent questions:

- Let's put "Links" instead
- Let's have
  - Blog https://blog.poliastro.space/
  - Source code https://github.com/poliastro/poliastro/
  - Issue tracker https://github.com/poliastro/poliastro/issues/
  - Mailing list https://groups.io/g/poliastro-dev/
  - Chat http://chat.poliastro.space
  - Citation https://doi.org/10.5281/zenodo.593610

[2020-10-01 18:22] ibLeDy commented on #986
Alright, seems like i'm almost ready to sumbit the PR.

I tried including the "Links" section as another toctree in `index.rst`, the urls were working but could'n find a way of displaying the icons, so i followed what SfePy did to achieve it:

- Added a [`html_context` dictionary](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_context) to `conf.py`, which holds the text

[2020-10-01 18:24] astrojuanlu commented on #986
Great job! Sure thing, go ahead @ibLeDy :muscle:

[2020-10-01 19:49] #986 closed

[2020-10-02 09:21] astrojuanlu commented on #1012
Sorry for the delay, the template is on `.github/` directory, see #1024

[2020-10-04 08:20] astrojuanlu commented on #1021
Prospective contributors: `StaticOrbitPlotter` avoids this uncaught error by doing this:

https://github.com/poliastro/poliastro/blob/6ee8e9386a27d4d241cd0e9cb22f6fb6fbf2cf45/src/poliastro/plotting/static.py#L106-L110

We should do the same in `OrbitPlotter2D`, and add a test.

[2020-10-04 08:24] astrojuanlu commented on #950
Prospective contributors: as we are already using OpenAstronomy template for Azure Pipelines, I think it would be simpler to leverage that. I prefer to (1) use only one Continuous Integration system and (2) not be coupled with GitHub, in case it becomes evil some day :wink:

[2020-10-04 08:35] astrojuanlu commented on #921
Prospective contributors: notice that most of the propagators in https://github.com/poliastro/poliastro/tree/master/src/poliastro/core/propagation do something like this:

[code]

for all of them, create new functions that do

[code]

so we can replace the current ones with

[code]

Also, notice that https://github.com/poliastro/poliastro/blob/master/src/poliastro/core/propagation/farnocchia.py, b

[2020-10-04 08:36] astrojuanlu commented on #922
Prospective contributors: consider looking at #921 first, then we can work on this.

[2020-10-04 08:39] astrojuanlu commented on #158
Prospective contributors: now that we are using OpenAstronomy template for Azure Pipelines, we would have to figure out how to add a new job to test this against prereleases of, at least, Astropy. Notice that, to avoid long installation times, we might want to add [`--only-binary :all:`](https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-only-binary) to `pip install` so we only use pre

[2020-10-04 10:27] clacri commented on #1021
I would like to take care of this issue :)

[2020-10-04 10:29] astrojuanlu commented on #1021
Awesome! All yours @clacri :)

[2020-10-04 15:52] Ibnmardanis24 commented on #1009
Hi, I am new to poliastro but I have had some interest on python and mission analysis for a while now. Getting interested on your repository is only natural. I was wondering if I could solve this issue and get to know your project a bit more in the process.

I'm not a huge advocate for OOP so I'm having a bit of a hard time grasping the exact change that you are proposing here. I get from my own f

[2020-10-04 16:14] astrojuanlu commented on #1009
Hello @Ibnmardanis24 , welcome! Let me answer your questions inline.

You could say that... if you knew what the attractor is :) But in reality `Ephem` objects are a list of coordinates without any attractor attached. Given an attractor, you can assume that it's a collection of **osculating** orbits.

Exactly, and this would be equivalent to `propagate`-ing the `Orbit`, sampling it for the specifi

[2020-10-04 16:34] astrojuanlu commented on #921
@andrea-carballo expressed interest on working on this! :rocket: let's start with `farnocchia` first

[2020-10-04 19:25] jorgepiloto commented on #1022
I labeled this with good first issue and the hacktoberfest so people get encouraged to solve this.

[2020-10-04 19:29] jorgepiloto commented on #1022
If generated from scratch with vectorial drawing software, PNG files usually ship with no background. However, if those same images are converted to JPEG a white background is included, then:

* Should we add the same image converted to JPEG file or just add white background to actual PNG file located in `docs/source/_static/logo_text.png`?

[2020-10-04 20:23] zupeiza commented on #1022
I propose modifying current logo_text.png, adding a white background. The former one would be kept and renamed as logo_text_transp.png, in case it is needed for the future.

[2020-10-04 21:13] astrojuanlu commented on #1022
Closed!

[2020-10-04 21:13] #1022 closed

[2020-10-05 08:05] Ibnmardanis24 commented on #1009
Thank you for the very quick response! Yes, that was very instructive, I will get everything set up and reach you out with a PR for next weekend. Then we shall discuss further.

[2020-10-06 02:13] davidmikolas commented on #405
ping! I'll have another look soon.

[2020-10-06 06:35] astrojuanlu commented on #405
Wow, I didn't remember about this mess. Let me know if it works better now!

[2020-10-06 21:49] epassaro commented on #950
hi @astrojuanlu I have some experience with Azure Pipelines, but this seems oddly specific to OpenAstronomy. I can try if you want.

[2020-10-07 09:34] astrojuanlu commented on #950
Hi @epassaro, thanks for your interest! If you want to take a look at the template, that would be super helpful :+1: Let me know if I can lend a hand with anything!

[2020-10-07 09:57] elseifthen commented on #405
All references to this problem in SE were re earlier, now all comments are gone completely.

[2020-10-08 13:52] epassaro commented on #950
sorry for the delay @astrojuanlu I have a question: do you want to use the OA template in the current `azure-pipelines.yml` file, right?

Also, I'm on Telegram and Discord with the same username (I don't use Discord so much but I've joined the PyEs Hacktoberfest event).

[2020-10-08 14:05] astrojuanlu commented on #950
Yes, we are already using the template so I'd like to continue using it, for simplicity.

I don't see you on Discord, feel free to ping me there :)

[2020-10-08 16:56] epassaro commented on #950
It's required to set an endpoint for PyPI following these short steps: https://openastronomy-azure-pipelines.readthedocs.io/en/latest/publish.html#configuring-the-pypi-service-connection

[2020-10-08 17:01] janstruzinski opened #1029 "peturbation_body and star arguments in third_body and radiation_pressure peturbations"
Hi!
I am Aerospace student working on systems engineering project - the subject is spacecraft orbiting Ceres. I wanted to calculate the magnitudes of third body and pressure radiation perturbations. However, it is not clear what peturbation_body and star arguments should be. Would You mind elaborating on it?

PS The tool is great!

[2020-10-09 12:37] jorgepiloto opened #1031 "Void poliastro/integrators.py module"
🐞 **Problem**

I just noticed that [integrators.py](https://github.com/poliastro/poliastro/blob/master/src/poliastro/integrators.py) is completely empty! This file used to hold DOP853 differential equation solver till it was implemented in Scipy. After that, the solver was no longer required to be hard-coded in poliastro.

💡 **Possible solutions**

We might discuss about keeping this module for fu

[2020-10-09 17:23] epassaro commented on #950
Any news about this? @astrojuanlu

[2020-10-09 19:29] astrojuanlu commented on #1031
Wow, how could we forget about this 😅

[2020-10-10 18:23] #1021 closed

[2020-10-10 18:35] astrojuanlu commented on #1031
Closed in #1033

[2020-10-10 18:35] #1031 closed

[2020-10-12 16:54] astrojuanlu commented on #950
Hi @epassaro , sorry for the delay! I just created a connection with the instructions you linked (thanks!) with the name `pypi_upload`. For the moment, it's using the test PyPI, so we can see how it works.

[2020-10-13 19:33] astrojuanlu commented on #1008
Catching up with notifications, and writing publicly some things @s-m-e and I discussed in private.

So, first things first: it's **awesome** that we can leverage GPUs for this :rocket: Let's slowly move towards a roadmap where this is both possible and maintainable.

A few ideas:

As part of #921 we also wanted to get deeper into numba and vectorize the loops themselves. After having a glimpse at

[2020-10-13 20:32] #950 closed

[2020-10-13 20:41] astrojuanlu commented on #922
@andrea-carballo expressed interest in working on this! The steps should be:

1. Move `test_propagate_with_coe` to a newly created `tests/tests_core/test_propagation.py`
2. Move the functions in `core/propagation/__init__.py` to `core/propagation/vallado.py`, `core/propagation/mikkola.py`... as done with `core/propagation/farnocchia.py` and adapt tests and imports accordingly
3. Write `farnocchia_

[2020-10-13 20:56] astrojuanlu commented on #921
In #1026, we added `{farnocchia,mikkola,markley,pimienta,gooding,danby}_coe` functions, therefore laid the first blocks towards simplifying `Orbit.propagate`. However, we will need to make `poliastro.twobody.propagation.propagate` smarter now, by adding some sort of mapping that tells whether the function expects classical elements or cartesian elements.

[2020-10-15 17:19] astrojuanlu commented on #1012
Closed in #1024!

[2020-10-15 17:19] #1012 closed

[2020-10-16 19:48] astrojuanlu opened #1036 "Wheel test broken"
Seems Azure (the OA template to be precise) is installing and running Python 3.9 but poliastro is set <3.9. See [this line](https://dev.azure.com/poliastro/poliastro/_build/results?buildId=549&view=logs&j=05361be5-3d16-5149-5133-60d95c410e79&t=14ba121e-1fd8-5056-ef2a-bfb13bd77529&l=9).

_Originally posted by @epassaro in https://github.com/poliastro/poliastro/pull/1034#issuecomment-710503295_

[2020-10-16 19:48] astrojuanlu commented on #1036
In principle there is nothing making poliastro incompatible with Python 3.9... but we didn't test it yet, so I wanted to make sure. I am especially worried about numba support.

[2020-10-16 19:58] epassaro commented on #1036
I don't know why OA template tries to install latest Python, maybe it's configurable (I don't remember).

[2020-10-17 10:29] astrojuanlu commented on #682
With JupyterLab 3.0, which is around the corner, we won't need node.js to install JupyterLab anymore. For me, this is the tipping point where I will actually start using Lab more than the classic notebook, start recommending it everywhere, detect problems that happen especifically in Lab (especially with extensions)... Can't wait!!

[2020-10-22 05:33] CosmicTiger commented on #1009
Could you assign this issue to me? Noticing that the other person didn't make any progress or update about the issue @astrojuanlu

[2020-10-26 21:12] autumnsault opened #1038 "Basic example fails during plotting"
🐞 In jupyter, the following
[code]
gives an error, which seems to occur regardless of whether jupyter has the plotly extension installed or not.

The traceback is:
[code]

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

<details>

[code]
</details>

<details>

[code

[2020-10-27 02:01] ascended121 commented on #1038
In case it makes a difference, also seeing the same error (from the example code above) when not using jupyter:
[code]

[2020-10-28 00:08] autumnsault commented on #1038
Oddly, it appears to work for me in the console, though I did have to do an

[code]
as well.

[2020-10-28 00:14] autumnsault commented on #983
Is there some reason you're using jplephem instead of spiceypy currently?

And is there an issue open somewhere for an n-body propagator?

[2020-11-06 15:29] fsmunoz commented on #1038
I'm seeing the same error both in the console and in Jupyter. The following appears to be the problem, maybe tied with some change in astropy?

[code]

... and `plot` tries to use `out_subfmt` which apparently doesn't work with time objects with `jyear_str` fomat:

`orb.epoch.out_subfmt = "date_hm"
`

(Python 3.7, lastest available packages through pip install, i.e. 0.14.0 )

[2020-11-07 18:26] astrojuanlu commented on #1038
Thanks all for the quick responses and for adding information to this issue! I think this was fixed in `master`, but for the stable version of poliastro you might need to downgrade Astropy to `4.0`. could you please try?

[2020-11-08 21:24] astrojuanlu commented on #983
Hi @autumnsault, sorry for the long delay! To add a bit on what @jorgepiloto answered on the mailing list, there are two reasons why we use jplephem in poliastro:

1. because it's a transitive dependency of Astropy:

https://docs.astropy.org/en/stable/coordinates/solarsystem.html#solar-system-ephemerides

2. despite having helped making the conda recipes of spiceypy, I have only used SPICE for ver

[2020-11-09 18:35] jorgepiloto opened #1041 "Discuss about refactoring porkchops as a class"
**Introduction to the issue** :memo:

I was asked to solve for a porkchop map map at university and decided to use the plotting utility provided by poliastro. At the moment, this utility is located under the `poliastro.plotting.porkchop` module, which holds a public function
under the name `porkchop`:

https://github.com/poliastro/poliastro/blob/61c6caadb00a34aec6dfb5027a8a0a5307c5c6bb/src/poliast

[2020-11-11 06:23] apollokit commented on #1038
I'm having a similar problem. With Astropy 4.0, I don't get an explicit error, but I get no effect at all from calling `orb.plot()`.... No render comes up or anything

[2020-11-11 21:55] astrojuanlu commented on #1038
Good news! It was fixed on https://github.com/poliastro/poliastro/pull/1019 then. We'll have a new poliastro release before the end of the year, make sure you subscribe to the project releases to get notified! I'm closing this issue, since it's not present on `master`.

Try `import matplotlib.pyplot as plt` and `plt.show()` after `orb.plot()`, and if that doesn't work please open a new issue :)

[2020-11-11 21:55] #1038 closed

[2020-11-12 05:03] apollokit commented on #1038
Ah, right, forgot the `plt.show()`, good call.

Thanks, works for me now!

[2020-11-13 10:23] astrojuanlu opened #1042 "Replace SciPy DOP853 with numbakit-ode"
https://github.com/hgrecco/numbakit-ode/blob/main/nbkode/dop853.py

[2020-11-13 16:09] Martinviv commented on #1042
Hello, I discovered your project, and I find it very interesting. It would be my pleasure to contribute to this project. I am therefore interested in this issue.

[2020-11-13 16:29] astrojuanlu commented on #1042
Hi @Martinviv, welcome! Take your time to read the code, especially the `cowell` function in poliastro, which is the one using `DOP853`, and don't hesitate to ask questions.

[2020-11-13 17:30] Martinviv commented on #1042
That's what I'm already doing and I think I already have something that works (it passes the tests "test_propagation.py" on my computer). But I prefer to be sure and take the time to better understand the code before sending the PR

[2020-11-13 17:40] astrojuanlu commented on #1042
Great to know! :)

[2020-11-13 22:15] Martinviv commented on #1042
In fact I was mistaken the tests were working on the library and not on my code. But I'm sorry, I'm blocking pretty hard, so I'm going to **abort**  this issue and take time to better understand this project

[2020-11-13 22:49] astrojuanlu commented on #1042
No rush! :)

[2020-11-20 20:38] saintaardvark commented on #1036
Hey good poliastro folks -- just wanted to let you know that we've seen this issue in [Polaris as well](https://gitlab.com/librespacefoundation/polaris/polaris/-/issues/124), where we have poliastro as one of our upstream dependencies.  If there is anything we can do to help test poliastro on 3.9, please let me know -- I'd be more than happy to help!

[2020-11-20 21:06] astrojuanlu commented on #1036
Hi @saintaardvark !

In principle, if you get Numba to install on Python 3.9, poliastro should work without problems. We were waiting for the project to provide manylinux wheels (that way we avoid having to compile llvmlite against LLVM), which should happen around mid-December as per https://github.com/numba/numba/issues/6345#issuecomment-721738251.

The other reason why we set poliastro to requi

[2020-11-22 15:21] hgrecco commented on #1042
I am really happy to see `numbakit-ode` being adopted. I am really interested to know how it works for other people in other domains. Have you try to benchmark it? If you do, I usually split the benchmark in 3 parts

1. Solver instantiation
2. First step
3. Rest of the steps

The first two are still slow due to numba's inability at the moment to cache LLVM code and have function points. But you sh

[2020-11-22 17:47] astrojuanlu commented on #1042
We haven't tried to benchmark it yet, but we'll keep your tips in mind :) Thanks!

[2020-11-23 12:24] astrojuanlu commented on #257
I keep silently coming to this issue over and over again, so I want to leave a comment for my future self:

There is no way we can have a `ClassicalElementsRepresentation` at the same level of abstraction as `{Cartesian,Cylindrical,*}Representation`, and the reason is that classical elements already constrain the motion: they describe a very specific conic section, as well as the period (if applic

[2020-11-25 12:04] astrojuanlu opened #1043 "Explore the use of RST substitutions or shortcuts"
https://github.com/astropy/astropy/issues/11063

Perhaps we could use for `poliastro.twobody.orbit.Orbit` and other classes that are referenced many times throughout the codebase.

[2020-11-30 10:33] astrojuanlu opened #1045 "Leverage importlib to avoid hardcoding version in Sphinx"
See for example:

https://github.com/astropy/astropy/pull/11091/files#diff-85933aa74a2d66c3e4dcdf7a9ad8397f5a7971080d34ef1108296a7c6b69e7e3

[2020-11-30 10:37] astrojuanlu commented on #1045
More info: https://docs.python.org/3/library/importlib.metadata.html

[2020-12-22 21:12] jorgepiloto commented on #1042
For newcomers who want to try this labeled good first issue, here is more information about it:

* In order to propagate an orbit inside an environment where natural or artificial perturbations exist (air drag, J2, solar radiation pressure...) the Cowell method is applied. This integrates the equations of motion using some numerical method, in this case DOP853, which is a Runge-Kutta based one.
*

[2020-12-24 10:20] DhruvSondhi commented on #1042
Upon Implementing `numbakit-ode` library in the same ... I am facing some issues regarding the fact that the method `nbkode.DOP853` need a function as an input parameter but previous implementation of a partial class as in the case with  `functools.partial`, the object thus returned is a class object so can't passed on as a parameter... Also the `events` parameter becomes null & void as it can't b

[2020-12-24 10:39] astrojuanlu commented on #1042
@DhruvSondhi I think it would be easier to discuss over a draft PR :)

[2020-12-29 21:03] astrojuanlu commented on #1042
This proved not to be a "good first issue" at all :)

[2020-12-29 21:19] hgrecco commented on #1042
`numbakit-ode` dev here. It is great to see this, we will be happy to help. I am moving the more techincal discussion to hgrecco/numbakit-ode#11

[2020-12-29 21:28] astrojuanlu commented on #1042
Thanks @hgrecco ! Absolutely, hgrecco/numbakit-ode#11 is the place to ask for the stuff we need. In the meanwhile, we are trying to figure out how far we can go with the current state of affairs in #1049.

[2020-12-29 21:41] astrojuanlu opened #1052 "Proposal for cowell refactor"
_(Motivated by #1042 and #1049, and copy-pasting from https://github.com/poliastro/poliastro/pull/1049#discussion_r549859041)_

Perhaps we should explore a whole different approach than the current one of passing `ad` and `ad_kwargs` to `func_twobody`. For example, we could change the signature of `cowell` to be something like this:

[code]

(let's ignore the `events` for a moment)

In this scenar

[2020-12-30 18:31] astrojuanlu opened #1054 "Review Lambert API"
Some concerns were raised months ago in the mailing list about the solution pairs, as well as the prograde/retrograde nature of the solutions.

When I implemented the Izzo algorithm I used a generator, and that makes me think that I was probably misunderstanding the paper. This affected how the API is used.

https://github.com/poliastro/poliastro/blob/333a2f77f5c4fa1c652bcdd9bea72ce42531b566/src/p

[2020-12-30 21:01] astrojuanlu commented on #1009
Hi @CosmicTiger, sorry for the long delay! I acknowledge that Hacktoberfest is over (at least until next year) but, for you and future readers: no need to ask for permission, feel free to open a pull request.

[2020-12-31 07:10] wumpus commented on #935
The last part of this bug is obsolete, #1052 will fix it.

[2020-12-31 07:10] #935 closed

[2020-12-31 09:33] astrojuanlu commented on #935
I had forgotten about this, thanks for following up @wumpus! I do think that the new API is simpler and better, and besides it makes maintenance easier.

[2020-12-31 14:36] Yash-10 commented on #1009
Hello, I am currently working on this issue. Will get back to you for discussion or with a PR soon.

Thank you!

[2020-12-31 16:29] DhruvSondhi opened #1055 "Discussion on missing description for __init__.py in thrust sub-package"
The `__init__.py` file in the `thrust` subpackage doesn't have code or description.
The required file can be found here `src/poliastro/core/thrust/__init__.py`
A `docstring` description of the file will help out a lot.

[2021-01-01 22:28] astrojuanlu commented on #1052
Done in gh-1053.

[2021-01-01 22:28] #1052 closed

[2021-01-02 18:50] astrojuanlu commented on #1042
I tried with this diff:

[code]

However, I found several problems:

- Running with `NBKODE_NONUMBA=1 NUMBA_DISABLE_JIT=1` makes most tests pass, but many of them fail because of small numerical errors. I am not sure if the root cause of such errors is https://github.com/hgrecco/numbakit-ode/issues/11 or something else.
- Running normally makes most tests fail because of this error:

[code]

which

[2021-01-03 22:48] lubeskih opened #1058 "Cannot import module poliastro.earth"
I am trying to test the [sample code](https://docs.poliastro.space/en/latest/examples/Generating%20orbit%20groundtracks.html) provided by the docs for visualizing a ground-track of a satellite, but after installing poliastro and it's dependencies, I have trouble importing the module `earth`.

_Please let me know if some info is missing, I'll be happy to provide it._

🐞 **Problem**

### Sample Code

[2021-01-04 08:24] jorgepiloto commented on #1058
Hi @lubeskih,

I see you are using `poliastro==0.14.0` which does not include the `poliastro.earth` module. You were probably reading the `latest` documentation, which is built on top of the `0.15.dev0`.

If you want to make use of previous sub-package and its utilities, you will need to install poliastro in "dev mode". A detailed description of the installation process can be found [here](https:/

[2021-01-04 10:55] astrojuanlu commented on #1036
@epassaro ... I think we were only missing this! https://github.com/OpenAstronomy/azure-pipelines-templates/commit/0ba9adf763 (we were still using your fork, I amended this in gh-1060)

[2021-01-04 10:59] #1036 closed

[2021-01-04 11:11] epassaro commented on #1036
Great! Didn't see that before @astrojuanlu

[2021-01-04 12:39] astrojuanlu commented on #1029
Hi @janstruzinski, and sorry for the delay! I totally missed this notification.

Take a look at these:

https://github.com/poliastro/poliastro/blob/c3836dcee6cbda034d8cf6390b386d0a9f455d8c/tests/tests_twobody/test_perturbations.py#L613-L655

https://github.com/poliastro/poliastro/blob/a41c141bbc3013209a4418df22ef311aa7f30f53/docs/source/examples/Natural%20and%20artificial%20perturbations.md#3rd-bo

[2021-01-04 16:43] lubeskih commented on #1058
@jorgepiloto, thank you very much! That did the trick for me. Closing this issue. :)

[2021-01-04 16:43] #1058 closed

[2021-01-05 07:55] DhruvSondhi opened #1062 "Hyperlinks in index Jupyter Notebook are not working"
Hello,
I was going through the tutorial notebook present [here](https://mybinder.org/v2/gh/poliastro/poliastro/master?filepath=index.ipynb.). But to my dismay, whichever link I clicked on was showing a **404 Error could not find the requested page.**
Please do confirm the same & Hence, we can work on it to fix this unexpected behaviour :smile:

[2021-01-05 07:55] astrojuanlu commented on #1009
Closed in gh-1056

[2021-01-05 07:55] #1009 closed

[2021-01-05 10:18] astrojuanlu commented on #1013
I think we can close this, feel free to complain here otherwise @s-m-e !

[2021-01-05 10:37] s-m-e commented on #1013
@astrojuanlu I'd suggest to at least put a dedicated section into your documentation, explaining your rational of not having such a function, the state of the art in astrodynamics and possible "workarounds". Otherwise people have to collect this information from the issue tracker ...

I am also still thinking that this could be an excellent topic for a fun & controversial, short two to three pages

[2021-01-05 10:39] astrojuanlu commented on #1013
Good point, reopening and tagging accordingly.

Hmmm tell me more... 😃

[2021-01-05 10:45] s-m-e commented on #1013
I can primarily speak for the small body science crowd ... how about something along the lines of "There is no mean anomaly!" ... submitted to [Icarus](https://www.journals.elsevier.com/icarus) or some place similar ... The audience will be cheering, I guarantee ;)

[2021-01-05 14:47] s-m-e commented on #1013
@astrojuanlu If your following statement is actually true, ...

... can mathematically be proven, geometrically shown and cemented by a few possibly contradictory literature references, this may have at least a bit of an impact (in this field and others). I bet that there aren't many people who are catching those "[inconsistencies](https://github.com/poliastro/poliastro/pull/908#issuecomment-61588

[2021-01-05 19:11] astrojuanlu commented on #1041
Closed in gh-1059

[2021-01-05 19:11] #1041 closed

[2021-01-05 20:20] astrojuanlu commented on #1020
This is blocked on gh-1054.

[2021-01-06 10:07] astrojuanlu opened #1063 "Mention Libre Space Manifesto in docs and README"
https://manifesto.libre.space/

[2021-01-06 10:16] astrojuanlu opened #1064 "Write up process for new committers and project members"
We should probably write this up somewhere and make it visible.

[2021-01-06 18:52] #1062 closed

[2021-01-07 17:19] DhruvSondhi commented on #1045
Hello,
After reading the source link thus mentioned, I think we need to have to update the version automatically through the required library by calling the relevant function `version`. Can you please shed some more light on the same?

[2021-01-07 19:31] astrojuanlu opened #1066 "Documentation builds take too long and sometimes die"
https://readthedocs.org/projects/poliastro/builds/12697560/

[code]

[2021-01-07 19:40] DhruvSondhi commented on #1066
This also fails whenever we try to build the docs locally. Could be something related to any particular file generation or `sphinx` in general.:thinking:

[2021-01-08 14:59] astrojuanlu opened #1068 "Remove poliastro.neos"
After some discussion, we removed `poliastro.neos.neows` in gh-641 because it was overlapping with Astroquery. In the meantime, we were in the process of moving `poliastro.neos.dastcom5` to sbpy https://github.com/NASA-Planetary-Science/sbpy/pull/115 because it was the only package willing to adopt it. However, @shreyasbapat PR stalled, both because he probably lacked the time or motivation and al

[2021-01-08 18:56] astrojuanlu commented on #1066
I could not reproduce the failure locally.

According to my observations, RAM stayed mostly constant. The only notebook that required more RAM was the NEOS one. However, note that I already have DASTCOM5 downloaded to my computer, so perhaps that played a role.

[2021-01-08 19:07] astrojuanlu commented on #1066
In this other case: https://readthedocs.org/projects/poliastro/builds/12714055/

[code]

[2021-01-08 19:23] astrojuanlu commented on #1066
And I launched another build: https://readthedocs.org/projects/poliastro/builds/12722086/

[code]

However, interestingly, @DhruvSondhi PR https://github.com/poliastro/poliastro/pull/1067 succeeded by changing something totally unrelated.

[2021-01-08 21:32] astrojuanlu commented on #1066
PR succeeded: https://github.com/poliastro/poliastro/pull/1069, https://readthedocs.org/projects/poliastro/builds/12722362/
But `master` after merging the PR, failed https://readthedocs.org/projects/poliastro/builds/12722868/

https://github.com/readthedocs/readthedocs.org/issues/7815

[2021-01-11 09:30] AngelMamba opened #1071 "Add keplerian element in IOD"
Is it possible to add keplerian element result for Initial Orbit Determination (IOD) module?
Now, there is only the velocity solution of Lambert problem.
I think since it is orbit determination, keplerian element seems better.

[2021-01-11 10:09] DhruvSondhi commented on #1066
Found out that it was a Local Machine configuration error rather than CI `ReadTheDocs` issue. Sorry for this confusion :disappointed_relieved:
Closed the #1067 :)

[2021-01-11 10:56] astrojuanlu commented on #1045
Fixed in gh-1070

[2021-01-11 10:56] #1045 closed

[2021-01-11 11:17] DhruvSondhi commented on #1063
Should we just mention the link there or have some description of the same as well?

[2021-01-11 12:02] astrojuanlu commented on #1066
Grr `master` builds keep failing but pull request builds keep passing. We'll have to wait for RTD folks to lend us a hand.

[2021-01-11 15:47] astrojuanlu commented on #1066
Looks like lots of RAM is needed to build our docs from scratch (~3 GB are not enough). RTD increased the capacity of our builders. The issue is closed!

[2021-01-11 15:47] #1066 closed

[2021-01-11 16:20] astrojuanlu opened #1072 "Make it possible to render docs without LaTeX installed?"
Of course it's beautiful and nice to have LaTeX inside matplotlib figures. But:

- Installing LaTeX is an extra step that takes a bit of time in CI and also for newcomers
- Requires us to install it on Binder as well, which at the moment is not being done with this result:

[code]

Is it worth the effort?

[2021-01-11 16:25] DhruvSondhi commented on #1072
For this, first of all, we must evaluate the points here :
- How many files use **LaTex** along with Matplotlib to plot the graphs?
- Removing LaTex will have what kind of effect on the rendering of the graph?
- Instead of removing it can we have any alternative which is easier to use & implement without losing similar functionality?
- And If we do opt of LaTex with Matplotlib, do we have a plan o

[2021-01-11 17:22] astrojuanlu commented on #1071
Hi @AngelMamba , thanks for your interest in poliastro!

Perhaps you can try https://docs.poliastro.space/en/latest/autoapi/poliastro/maneuver/index.html#poliastro.maneuver.Maneuver.lambert, which returns a `Maneuver` object and therefore can be applied to a existing `Orbit` using https://docs.poliastro.space/en/latest/autoapi/poliastro/twobody/orbit/index.html#poliastro.twobody.orbit.Orbit.apply_

[2021-01-11 18:26] astrojuanlu commented on #977
Worth checking too https://github.com/executablebooks/MyST-Parser/pull/156

[2021-01-12 16:45] astrojuanlu opened #1074 "Reduce number of warnings in tests"
The number of warnings at the end of our tests is very large. We should either:

- Address them. For example, there are a few legitimate Astropy deprecation warnings that will bite us soon.
- Rework our tests so they don't incur in warnings.
- Ignore them explicitly, if they are not important.

And then we could turn warnings into errors.

[2021-01-12 18:11] astrojuanlu opened #1075 "Test all notebooks with JupyterLab 3"
JupyterLab 3 has been released, and all the widgets and extensions relevant to us support it too, in particular Plotly. This is very cool because JupyterLab does not require NodeJS anymore.

[2021-01-13 09:39] AngelMamba commented on #1071
Hi @astrojuanlu Thank you for the reply. It helps a lot.
But I just need to calculate keplerian elements from postion and velocity vector, not a orbit maneuver case. So I think Orbit object from twobody module works.
Anyway, I kind of figure this out. thank you.

[2021-01-13 09:39] #1071 closed

[2021-01-13 11:48] astrojuanlu commented on #1071
Excellent! Don't hesitate to ask if you have any further questions by opening a new issue or joining http://chat.poliastro.space

[2021-01-14 14:06] Yash-10 opened #1076 "`test_perturbations.py` takes a lot of time"
While testing using `pytest`, the test hangs for a sufficiently long time while `test_perturbations.py` runs.

Running the following shows that it takes ~140s to run `test_solar_pressure` in `test_perturbations.py` which when combined with other durations, gives a significant test time as a whole.
[code]

**Output:**
[code]
Specifically, the problem seems to be in the [`test_solar_pressure`](https

[2021-01-14 14:16] Yash-10 commented on #1076
It got closed by mistake, I am sorry for that. I suppose the `support` label was added automatically?

[2021-01-14 19:44] DhruvSondhi commented on #1076
Hello @Yash-10, I would like to add somethings that I had found to this issue. Actually, it is meant to be this way because of the following reasons :
- `pytest.mark.slow` marker is a custom marker set in the test suite signifying that the `test is slow` to run like this
[code]
- `pytest.mark.parameterize` is used for testing different parameters set for different values of `t_days`
- The test als

[2021-01-17 10:42] astrojuanlu opened #1077 "Investigate sphinx-autoapi warning"
We keep getting this warning:

[code]

[2021-01-18 14:39] Tim024 opened #1078 "Default plotting example raises ValueError"
I tried plotting the default example as follows:
[code]

I get the following error:

[code]

I found that commenting out the line `epoch.out_subfmt = "date_hm"` in plotting/util.py line 20 makes everything work correctly but it is not convenient.

[2021-01-18 16:04] Tim024 commented on #1078
Actually, this issue has been solved already in commit dd81e8a7fa1f44b38d7ffd1b6c2c83bd2d65ea51, I will close it.

[2021-01-18 16:04] #1078 closed

[2021-01-18 18:54] Yash-10 commented on #1076
Thanks for you reply! But I think that there are other tests which are marked as `slow` but take significantly less time to compute than the `test_solar_pressure` function stated above. Majority of the tests take under 1s to compute. So according to me, there might be a place to investigate here.

I am currently finding out the reason but after preliminary findings, it seems that

[code]
is the on

[2021-01-18 19:06] DhruvSondhi commented on #1077
This warning is evident as the **Search** functionality of the documentation doesn't work. I am trying to find out how we can overcome this & will update the same :smile:

[2021-01-18 19:12] DhruvSondhi commented on #1076
Actually, this function is a piece of discussion with the current implementation. This has been modified to incorporate a bigger change that will be evident in PR #1049.
Thus, until the discussion about the change fruits a result & the changes are made, I don't think the run time for the tests on the same function may lead to some improvement :thinking:

[2021-01-18 22:16] astrojuanlu commented on #1076
Yes, it depends on the issue template

[2021-01-18 22:18] astrojuanlu commented on #1076
And yes, unfortunately these tests take a lot of time because we validate against long propagations found in the literature. They are sort of "integration tests" and there's not much we can do about them, except perhaps give them another pass and see if we can rewrite absolutely everything in numba.

[2021-01-19 12:02] astrojuanlu opened #1079 "Docs search is broken"
We are getting this error and empty search results:

https://github.com/sphinx-doc/sphinx/issues/5460

It looks like this solution works: https://github.com/agentos-project/agentos/pull/17/files

[2021-01-19 14:34] Yash-10 commented on #1076
@astrojuanlu Thanks for your reply! It's just that a particular function taking about 1000 times the time taken by other functions stood out to me. Yes, I think we should try to speedup such integration tests using numba or using some other functionalities that would be suitable.

I shall surely give them a look!

Thanks.

[2021-01-19 14:38] Yash-10 commented on #1079
Hello,

The above solution obviously works as I tested it locally. Previously the search results hanged and didn't render any results after searching but adding that line made it work.

Could you please tell me as to what are we looking for here exactly @astrojuanlu ?

Thanks!!

[2021-01-19 14:40] astrojuanlu commented on #1079
Hello @Yash-10 ! What I'm looking for is for a first-time contributor to send a PR implementing that solution :) Please leave this one for newcomers, because it's a perfect good first issue. Thanks!

[2021-01-19 14:50] Yash-10 commented on #1079
Ok, no problem. I'll leave this :)

Thanks!!

[2021-01-19 18:06] astrojuanlu commented on #977
Closed in #1073 🎉

[2021-01-19 18:37] #977 closed

[2021-01-20 09:53] DhruvSondhi opened #1081 "Notebooks don't open in Binder"
Binder integration of the new modified notebooks(format `.mystnb`) in `index` file returns a `404` page not found error whenever accessing the notebooks. Need to investigate in more detail where the problem is arising from. Can be confirmed from #1080 🤔

[2021-01-20 09:55] astrojuanlu commented on #1081
Not only the links: the notebooks do not open _as notebooks_. I suspect jupytext is not being properly installed.

[2021-01-20 19:58] SolSysMiner opened #1083 "Poliastro won't install for Python=3.9 (due to llvmlite)"
Poliastro does not install under **Python 3.9**

🐞 **Problem**

Any attempt to install ends up with an error when trying to install the dependency **llvmlite**.

[2021-01-20 20:08] #1081 closed

[2021-01-20 20:18] jorgepiloto commented on #1083
Hi @SolSysMiner, thank you your interest in poliastro. At the moment, only Python 3.7 and 3.8 version are supported to install poliastro. This is because Numba (one of the project dependencies) still does not support version 3.9 in its last stable release.

Once https://github.com/poliastro/poliastro/pull/1027 will be merged, this issue should be fixed :+1:

[2021-01-20 20:20] SolSysMiner commented on #1083
Thanks a lot for a quick reply. Waiting for the update then.

On Wed, Jan 20, 2021 at 9:18 PM Jorge M.G. <notifications@github.com> wrote:

[2021-01-22 01:45] fanxinxing opened #1086 "ValueError"
code:
from poliastro.examples import molniya

molniya.plot()

Error:
ValueError: subformat not allowed for format jyear_str

another question:
Can this sample code run in PyCharm? Why not display graphics?

Thanks!

[2021-01-22 07:39] astrojuanlu commented on #1086
Hi @fanxinxing! This is a known issue with poliastro 0.14 and latest Astropy. Please downgrade your Astropy version to 4.1 or 4.0 to make it work, and let us know if it fixed the issue.

[2021-01-22 09:31] astrojuanlu commented on #1078
That's it @Tim024! If you are using the stable poliastro version you can as well downgrade Astropy.

[2021-01-22 13:51] astrojuanlu commented on #792
We should do this first https://github.com/poliastro/poliastro/issues/1075

[2021-01-22 16:31] fanxinxing commented on #1086
Thanks,  Astropy version 4.0 does work.

[2021-01-22 16:37] astrojuanlu commented on #1086
Thanks! Closing then

[2021-01-22 16:37] #1086 closed

[2021-01-24 04:46] zkl2 commented on #1079
@astrojuanlu I can help with this one! I'll submit a PR per the poliastro contributing guidelines.

[2021-01-25 17:54] astrojuanlu commented on #1075
Notice that Plotly does not provide prebuilt extensions just yet: https://github.com/plotly/plotly.py/issues/3036

[2021-01-25 19:58] astrojuanlu commented on #1079
Fixed in gh-1090!

[2021-01-25 19:58] #1079 closed

[2021-01-26 15:24] X52p opened #1091 "ValueError: subformat not allowed for format jyear_str in Example"
When running this code:
[code]
I get this error:
[code]

(I replaced my Username with ####)

(I dont use conda for this project)
* `pip freeze`:

<details>

[code]

[2021-01-26 15:43] Yash-10 commented on #1091
Hello @X52p, this was a similar [issue](https://github.com/poliastro/poliastro/issues/1086) which was closed very recently. As answered there,

I think this might help you.

Thanks!!

[2021-01-27 04:13] DhruvSondhi commented on #1091
Hello @X52p! Consolidating & briefing up the issue as  #1086, the problem here is an error with `Astropy` library version 4.2. Please downgrade your **Astropy** version to 4.0 or 4.1 &  let us know if this fixes the problems 😄

[2021-01-27 05:32] DhruvSondhi commented on #1043
Hello,
I was trying to work on this issue & this is the progress that I want to share, discuss & implement if tangible :
- I had checked out the main discussion from [this](https://github.com/astropy/astropy/issues/11063#issue-746991111) issue & have checked out [`rst_epilog`](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-rst_epilog) & [`rst_prolog`](https://www.sphinx-doc.

[2021-01-27 05:57] DhruvSondhi commented on #1077
This has been fixed via #1090

[2021-01-27 07:30] astrojuanlu commented on #1077
Indeed!

[2021-01-27 07:30] #1077 closed

[2021-01-27 13:54] X52p commented on #1091
Thanks! Downgrading to 4.0 fixed it.

[2021-01-27 15:20] DhruvSondhi commented on #1091
Please do let us know if you need any other assistance from our side 😄
Else we can close this issue I suppose 🤔

[2021-01-27 15:21] astrojuanlu commented on #1091
Thanks all! This has been reported a few times lately, which means that we should rush a release ASAP :) Luckily, numba on Python 3.9 is around the corner. Closing!

[2021-01-27 15:21] #1091 closed

[2021-01-28 10:37] astrojuanlu commented on #1013
Coming back to this (the docs part, not the scholar article part)

According to the documentation classification we reviewed in #975, I think this would qualify as a "Discussion/Explanation". So we just have to find a good name for them (I am not quite sold on these) and write the first one. The idea is that these Explanations should focus more on the theoretical aspects, and use the code as a sup

[2021-01-28 11:15] DhruvSondhi opened #1093 "Wrong Equations in API Documentation"
Hello,
While I was traversing the documentation, I found that equations stated here [1](https://docs.poliastro.space/en/latest/autoapi/poliastro/core/angles/index.html#poliastro.core.angles.E_to_nu) & [2](https://docs.poliastro.space/en/latest/autoapi/poliastro/core/angles/index.html#poliastro.core.angles.F_to_nu) are wrong (discussed with @astrojuanlu)

🐞 **Problem**

The equation here is not cor

[2021-01-28 11:37] astrojuanlu commented on #1093
Good catch @DhruvSondhi !

[2021-01-28 14:41] #1093 closed

[2021-01-28 14:47] astrojuanlu opened #1095 "Remove internal uses of deprecated Orbit.from_body_ephem"
Doing a quick search, the only place where we are using `Orbit.from_body_ephem` is this one:

https://github.com/poliastro/poliastro/blob/6ee8e9386a27d4d241cd0e9cb22f6fb6fbf2cf45/src/poliastro/plotting/_base.py#L372-L374

Instead, we should instead be doing this:

[code]

And, after that, tests covering `Orbit.from_body_ephem` can be removed.

[2021-01-28 14:52] astrojuanlu commented on #1074
This was partially addressed in #1092, but there are more warnings left.

[2021-01-28 15:24] Yash-10 commented on #1095
And I think, [this](https://github.com/poliastro/poliastro/blob/6ee8e9386a27d4d241cd0e9cb22f6fb6fbf2cf45/src/poliastro/twobody/orbit.py#L76) line comments that it was only needed for `from_body_ephem`. So an equivalent fix for that might be needed?

[2021-01-28 16:36] DhruvSondhi commented on #1055
I was thinking of addressing this issue as this has been open for quite some time ... Kind of `docstring` description that is needed may include why this file is important for the functioning of the module (basic `__init__.py` structure explanation may be a way to proceed) or something on the similar lines 🤔

[2021-01-28 16:47] DhruvSondhi commented on #1029
Hello,
After checking through the issue I was thinking what is needed here is a better explanation of the `third_body` & `radiation_pressure` through the docs so that it's easier for anyone to get the correct sense of the way the function tends to behave 🤔 ... What is the outcome that we are aiming for?

[2021-01-28 17:14] DhruvSondhi commented on #1074
I had checked out a thread regarding the same (would link it in an edit) ... I do think so the remaining warning (all relating to the ERFA `utctai` & `taiutc`) can be suppressed as the time is in the future so it doesn't account for the leap second addition or deletion that may happen ( this year we may have a negative leap second 😉)

[2021-01-28 17:28] astrojuanlu commented on #1074
Indeed! We need to stop using UTC timescale for times in the distant future.

[2021-01-28 17:29] astrojuanlu commented on #1095
Good catch @Yash-10 !

[2021-01-28 17:29] astrojuanlu commented on #1095
In any case, let's leave this one for a newcomer as well :)

[2021-01-28 17:37] astrojuanlu commented on #1029
We are referring to these two functions:

- https://docs.poliastro.space/en/latest/autoapi/poliastro/core/perturbations/index.html?highlight=perturbation_body#poliastro.core.perturbations.third_body
- https://docs.poliastro.space/en/latest/autoapi/poliastro/core/perturbations/index.html?highlight=star#poliastro.core.perturbations.radiation_pressure

We need one (or both!) of the following:

- A wa

[2021-01-28 17:39] Yash-10 commented on #1095
Yes, sure!

[2021-01-28 18:14] DhruvSondhi commented on #1029
The following comes into my mind (please do suggest alternates)
- To tackle the latter point, we can extend the same functionality in the here in this [notebook](https://docs.poliastro.space/en/latest/examples/Natural%20and%20artificial%20perturbations.html#3rd-body).
- And, for the former point, I think its better that we keep a simple _**Note**_ for the exact meaning of function in consideration

[2021-01-29 05:35] DhruvSondhi commented on #1029
After looking into the working that is being expected, I have run into some problems which are as follows:
- Because we are using `napolean` for parsing the `docstrings`, the native `reST` is not being parsed in between the syntax & hence, is not being displayed as intended 😞
- I have found this https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html#confval-napoleon_custom_sections &

[2021-01-29 08:54] astrojuanlu commented on #1029
If the special syntax is a pain to implement, perhaps we can just add an explanation, like it's done in https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.solve_ivp.html for example.

[2021-01-29 09:23] DhruvSondhi commented on #1029
After going through the above alternative ways to keep the intended result, I have some points to take into consideration before proceeding forward with this :
- native python rst syntax is a viable solution but the placement of the result will be trivial & hence may not be intuitive for the user to take into consideration
- `Napoleon` does support the same result but I haven't found anything conc

[2021-01-29 12:37] Yash-10 commented on #1074
Also, one quick fix to solve this warning which I realized afterwards:
[code]
is to change
[code]
in [`extract_czml.py`](https://github.com/poliastro/poliastro/blob/master/src/poliastro/czml/extract_czml.py#L80) since performing logical operations on `Quantity` objects gives that warning.

Thanks!

[2021-01-29 13:04] astrojuanlu commented on #1074
Or rather, to check that they're non None or non zero 👍🏽

[2021-01-29 13:31] Yash-10 commented on #1074
Oh yes, sorry. Thank you for correcting!

[2021-01-29 14:40] DhruvSondhi commented on #1029
I have made some progress. A progress update: made this implementation work 😄

[2021-02-01 04:43] manweichan opened #1097 "OrbitPlotter3D not rendering in Jupyter notebook"
🐞 **Problem**
OrbitPlotter3D is not rendering in my notebook. I've been using the [Plotting in 3D](https://docs.poliastro.space/en/stable/examples/Plotting%20in%203D.html) example:

    import numpy as np

    from poliastro.constants import J2000
    from poliastro.examples import *
    from poliastro.plotting import *

    import plotly.io as pio
    pio.renderers.default = "notebook_connected"

[2021-02-02 13:24] DhruvSondhi commented on #1097
Hello @manweichan, Thanks for using Poliastro :)
Can you please specify the browser you are using? It does seem so that the browser is the fault as I am able to run it without any problems (having same versions of Jupyter Notebook & Plotly installed) 🤔 ... There could be 2 things that could be done:
1. You can search online for **WebGL** activation as in some browsers this is an experimental featu

[2021-02-03 00:30] manweichan commented on #1097
Hi @DhruvSondhi, thanks for the advice! It was the browser. I am using Chrome and updated the version to: 88.0.4324.96 (Official Build) (x86_64).

The newest Chrome version now allows the 3D plots to render within the Jupyter Notebook.

Thanks!

[2021-02-03 00:30] #1097 closed

[2021-02-03 19:13] s-m-e commented on #1013
Informal way of saying "discussion", is not it ;) ? Sounds good.

[2021-02-08 12:09] astrojuanlu opened #1099 "Add GSOC 2021 ideas"
https://gitlab.com/librespacefoundation/soc-org/-/wikis/Google-Summer-of-Code-2021#ideas-template

[2021-02-08 16:12] ishanSrt commented on #1095
Hey! I am a newcomer to this org and I would like to be assigned to this issue.

[2021-02-09 22:54] astrojuanlu opened #1100 "CI broken on master"
See https://github.com/poliastro/poliastro/pull/1027, https://github.com/poliastro/poliastro/pull/1098.

- Several `mypy` errors due to the latest NumPy version actually shipping types:

[code]

- A weird `build` error:

[code]

[2021-02-10 03:42] DhruvSondhi commented on #1100
Hello, According to my understanding ...
- The latter issue is related to this command being run & removing the `setuptools` library
[code]
I tried reproducing the errors locally but it doesn't seem to be the case :(
![image](https://user-images.githubusercontent.com/66117751/107461116-4fdf8780-6b7f-11eb-83c1-5e9d88898641.png)

- For the former bug, Found out that the version being installed is `n

[2021-02-11 11:10] jorgepiloto commented on #1099
I was thinking about adding the following topic: `Expand event detectors`, in addition to previous year ones. It has the advantage of working with "raw algorithms implementations", avoiding the needs of working with the high-level API.

[2021-02-12 13:58] Yash-10 commented on #1100
For the `mypy` error, there are issues with `numpy==1.20.*` but runs successfully with `numpy==1.19.5`, for instance.

For the `build` error, it seems that
[code]
does uninstall already existing `setuptools` but doesn't install it after uninstalling, isn't it?

[2021-02-12 14:22] DhruvSondhi commented on #1100
Check my previous comment 🙄

[2021-02-12 17:20] astrojuanlu commented on #1100
The build failure seems to be an upstream bug: https://github.com/pypa/build/issues/231

The NumPy thing should be easy to fix I think, making some adjustments to our code or adding `# type: ignore` where necessary. But I am not sure if other things can appear.

[2021-02-12 18:31] Yash-10 commented on #1100
Oh I see, as you have suggested, the `numpy` errors do get resolved by either using `# type: ignore` or by making changes to the code whenever necessary. But yes, it seems that two additional deprecation warnings pop up when using the recent numpy versions (`1.20.*`) but those deprecations also seem to be concerned with upstreams.

[2021-02-13 08:42] astrojuanlu commented on #1100
This was partly addressed in #1101

[2021-02-13 09:03] astrojuanlu commented on #1100
And the second part was fixed in #1102

[2021-02-13 09:04] #1100 closed

[2021-02-13 10:21] DhruvSondhi commented on #1043
@astrojuanlu Any update on the same?

[2021-02-13 15:07] astrojuanlu commented on #1083
We just merged support for Python 3.9! The next release will work with it without problems :):

[2021-02-13 15:08] #1083 closed

[2021-02-13 15:12] astrojuanlu commented on #1095
Hi @ishanSrt , all yours!

[2021-02-13 15:34] astrojuanlu commented on #364
At the moment of writing this, the last commit of sbdb was on July 2020 https://github.com/NASA-Planetary-Science/sbpy/commit/614b717d4ff6a0df5787e43923fa50e04e84f3e1.

I do not think it makes sense to migrate the code there anymore. We arrived too late, but also I wonder whether it makes sense to donate code to a project that goes unmaintained.

Thanks @shreyasbapat for your effort anyways! Closi

[2021-02-13 15:34] #364 closed

[2021-02-13 15:42] astrojuanlu commented on #1068
We'll defer to the community to extract the code and do its maintenance, if somebody has the will to do so. Unfortunately, it requires time and effort to do so in a way that it preserves the authorship of the code, and on the other hand, it became a maintenance burden. And finally, we tried time ago to move it to astroquery, but the developers didn't want it because it was a subset of already exis

[2021-02-13 15:55] SolSysMiner commented on #1083
Many thanks, I'll check it out.

On Sat, Feb 13, 2021 at 4:08 PM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

--
R. de la Fuente Marcos, PhD
AEGORA Research Group
*WSO-UV Spanish team*
Universidad Complutense de Madrid
phone: +34-91-3944063
rdelafue@ucm.es

[2021-02-13 16:18] astrojuanlu commented on #644
@jorgepiloto started working on this as part of our NumFOCUS Small Development grant, see latest activity on https://github.com/poliastro/validation/. Thanks @GorgiAstro for pioneering this work! Closing

[2021-02-13 16:18] #644 closed

[2021-02-13 16:23] astrojuanlu commented on #666
https://devblogs.microsoft.com/commandline/wsl-2-support-is-coming-to-windows-10-versions-1903-and-1909/

(arrived from https://www.omgubuntu.co.uk/how-to-install-wsl2-on-windows-10)

[2021-02-13 16:26] astrojuanlu commented on #784
We fixed the original issue, and also stopped shipping our tests. Therefore, I'm closing this.

[2021-02-13 16:26] #784 closed

[2021-02-13 16:27] astrojuanlu commented on #905
Let's follow the conversation in https://github.com/poliastro/validation/issues/10!

[2021-02-13 16:27] #905 closed

[2021-02-13 16:28] astrojuanlu commented on #959
Looks like this one was fixed!

[2021-02-13 16:29] astrojuanlu commented on #1075
I prefer not to wait for Plotly to release their prebuilt extension. Will address this when they do their part :)

[2021-02-13 16:31] astrojuanlu commented on #982
Closing this support issue, let me know if we can help in any other way!

[2021-02-13 16:31] #982 closed

[2021-02-13 16:34] #1068 closed

[2021-02-13 16:45] astrojuanlu opened #1104 "Release 0.15.0 checklist"
## Preparing the release

* [x] Rerun all notebooks (pay special attention to new features)
* [x] Review documentation, optionally improving the user guide or adding new notebooks showcasing new functionality
* [x] Write the changelog and list of contributors
  - Commits since last release branch https://github.com/poliastro/poliastro/compare/0.14.0...master
  - Issues closed in this milestone htt

[2021-02-13 17:00] astrojuanlu opened #1105 "Activate Open Collective"
1. Fill https://opencollective.com/poliastro with description, goals, and everything needed to make it attractive and beautiful
2. Promote it in the README and the documentation
3. Declare it official!

(Continuation of gh-489)

[2021-02-13 17:46] astrojuanlu opened #1106 "Apply for Google Season of Docs"
https://developers.google.com/season-of-docs/docs/timeline

[2021-02-13 18:37] astrojuanlu commented on #1099
Draft: https://github.com/poliastro/czml3/issues/81

[2021-02-13 19:18] astrojuanlu commented on #1099
- https://gitlab.com/librespacefoundation/soc-org/-/issues/19
- https://gitlab.com/librespacefoundation/soc-org/-/issues/20
- https://gitlab.com/librespacefoundation/soc-org/-/issues/21
- https://gitlab.com/librespacefoundation/soc-org/-/issues/22

[2021-02-13 19:20] astrojuanlu commented on #1099
Done!

[2021-02-13 19:20] #1099 closed

[2021-02-14 10:14] jorgepiloto opened #1108 "Outdated Makefile examples rule"
🐞 **Problem**

After switching to MyST format, the Makefile rule `make examples` became outdated, as it tries to find for `*.md` format notebooks, instead of `*.mystnb` ones.

💡 **Possible solutions**

A simple solution is to change previous file extension.

📋  **Steps to solve the problem**

Change the `*.md` from the following line:

https://github.com/poliastro/poliastro/blob/b1ea3ede8672da782c

[2021-02-14 11:29] OBITORASU commented on #1108
Can I pick this one up? Seems like a quick fix.

[2021-02-14 11:31] jorgepiloto commented on #1108
Sure @OBITORASU!

[2021-02-14 12:16] ishanSrt commented on #1095
Only the internal use cases of `Orbit.from_body_ephem` and tests need to be removed for this issue? Or does the function definition and the docs need to be changed too?

[2021-02-14 12:39] astrojuanlu commented on #1095
@ishanSrt The function has already been deprecated, there are no more changes needed to its function definition and docs.

[2021-02-14 13:01] jorgepiloto commented on #1108
Closing this!

[2021-02-14 13:01] #1108 closed

[2021-02-15 06:56] jorgepiloto commented on #906
After https://github.com/poliastro/validation/pull/20 has been merged, poliastro's 3D impulsive maneuvers are now validated against Orekit. Hence, this issue is no longer blocked.

I saw you append this issue to the `Use of canonical units` project board, @astrojuanlu. May people still address this?

[2021-02-15 11:02] astrojuanlu commented on #906
True @jorgepiloto ! Despite having this in the board, the issue is no longer blocked.

[2021-02-17 10:21] DhruvSondhi commented on #1055
If we need we can go with something describing the `Thrust` sub-package? 🤔

[2021-02-17 15:03] astrojuanlu commented on #1055
This still stands, we should not close this issue.

[2021-02-18 18:18] Yash-10 opened #1111 "Customizing Docs Favicon"
Right now there is a default favicon rendered on the [docs](https://docs.poliastro.space/en/stable/) page. We could consider rendering a customized one, similar to (or same) as displayed on the poliastro [website](https://blog.poliastro.space/).

[2021-02-21 19:10] ana-cp opened #1112 "Error in natural and artificial perturbations"
Hello, I am a aeropace engineering master student and I was trying to use the poliastro environment to perform a project for one of my classes.

I was trying to use the code to implement the J2 perturbation (the code I found [here](https://docs.poliastro.space/en/stable/examples/Natural%20and%20artificial%20perturbations.html)) when I encountered the following error:

[code]

This happened not onl

[2021-02-22 02:58] DhruvSondhi commented on #1112
Hello @ana-cp, Thank you for using Poliastro. I would like to bring to your notice that the `cowell()` function defined [here](https://github.com/poliastro/poliastro/blob/master/src/poliastro/twobody/propagation.py#L42-L118) is undergoing some changes to incorporate a faster implementation. The current implementation doesn't take into account the argument `ad`.
I would suggest that you install, th

[2021-02-22 11:13] astrojuanlu commented on #1112
Welcome @ana-cp , and thanks @DhruvSondhi for chiming in! The documentation you linked is the `stable` version, which works with poliastro `0.14.0`:

https://docs.poliastro.space/en/stable/examples/Natural%20and%20artificial%20perturbations.html

But, if you want to use the development version (`master` branch on GitHub), you will need to check out this instead:

https://docs.poliastro.space/en/la

[2021-02-22 17:02] ana-cp commented on #1112
Hello @astrojuanlu and @DhruvSondhi, thank you for your assistance and for your fast answer!

I tried using the development version for my problem but it did not work as I got a different error; so I downloaded the previous version of poliastro (`0.14.0`) as you suggested and then it worked. Thank you a lot and sorry for any inconvenience! :)

[2021-02-22 17:02] #1112 closed

[2021-02-23 17:10] Chainesh commented on #1064
@astrojuanlu Do we need to write a complete documentation and then add this to it(a new walkthrough for new commiters)?

[2021-02-23 20:54] astrojuanlu commented on #1064
Hi @Chainesh ! Rather than a walk-through for new committers, this is more like the rules of the project to become "core members". It's something that @jorgepiloto and I have to write and present to the community.

[2021-02-24 09:20] Chainesh commented on #1064
@astrojuanlu excited!! Waiting to see what's in it :)

[2021-02-24 11:12] jorgepiloto commented on #1064
Should we add this within the contributing documentation section? @astrojuanlu

[2021-02-24 11:14] jorgepiloto commented on #1064
I just saw there exists a `CONTRIBUTING` and `docs/source/contributing.md` files, which are indeed the same. I guess this is due to the way documentation builds up, but it is kind of weird to have the same file twice... :thinking:

[2021-03-03 01:25] jorgepiloto commented on #1054
I am finally able to properly answer original question raised by Irina Kovalenko and also introduce some ideas about how we could improve the current Lambert's API and associate routines.

**Amount of solutions**

Even if considering non-degenerate, degenerate and multi-revolutions ones, the solution to the Lambert's problem is an elliptic orbit most of the times. Of course, multi-revolution solut

[2021-03-05 10:11] astrojuanlu commented on #666
I've been told on social media that WSL2 is working quite well and it's easy to install :) See replies to https://twitter.com/poliastro_py/status/1367768123022180353

[2021-03-05 15:06] Chainesh commented on #666
@astrojuanlu Yes it is working quite well, I am using Ubuntu in WSL2 since a month.

[2021-03-11 09:18] astrojuanlu opened #1115 "Default branch was renamed to main"
For more info: https://github.com/github/renaming

I know this is controversial, and nobody asked for it (yet). Still, I went ahead and unilaterally made the change, to avoid more pain in the future.

This issue is just to notify everyone, please adjust your local environments accordingly:

[code]

Regardless of whether I like this or not, (1) it's a debate that is not going away, and it will hit

[2021-03-11 09:18] #1115 closed

[2021-03-11 09:23] DhruvSondhi commented on #1115
This was also made official by GitHub ... all newer repositories will be by default be named as Main rather than Master as it used to be the case 😄 [Shared just in case anyone wants some info]

[2021-03-11 09:27] DhruvSondhi commented on #1115
A small correction @astrojuanlu ... the command should be `git branch -u origin/master main` than `git branch -u origin/main main` ... Checked it right now as it throws some unexpected errors ... Please check & confirm :)

[2021-03-11 21:55] ishanSrt commented on #1074
I'd like to work upon this 😉

[2021-03-14 19:00] jorgepiloto opened #1117 "molniya plot not being shown in README.md"
🐞 **Problem**

After renaming main repository branch, the link to the `molniya` figure got broken. In addition, remember that #610 is still open, so we could take advantage from this situation and solve both issues at the same time. Let us discuss that option in the comments below :thinking:

:bulb: **Solution**

Change old line:

[code]

 to

[code]

[2021-03-15 05:07] 96RadhikaJadhav commented on #1117
@jorgepiloto Can I work on it?

[2021-03-15 06:30] cosmocaos commented on #1091
I'm having the message 'ValueError: subformat not allowed for format jyear_str', but I'm using the google colab jupyter notebook, and try to downgrade astropy with not success. Coul you give me some advise.

[2021-03-15 06:48] DhruvSondhi commented on #1091
Hello @cosmocaos, Can you please share the output of the following command:
`pip freeze'
_PS: If you are in Google Collab, just do `!pip freeze`_

[2021-03-15 07:05] Yash-10 commented on #1091
Hi @cosmocaos. It seems that with `astropy==4.0` the plot shows up but not with `astropy==4.1`. Also, just ensure that you restart your runtime after downgrading `astropy`. And yes, output of `!pip freeze` would help.

Thanks!

[2021-03-15 07:14] jorgepiloto commented on #1117
Sure @96RadhikaJadhav! :rocket:

[2021-03-15 07:21] cosmocaos commented on #1091
This is the output:

absl-py==0.10.0
alabaster==0.7.12
albumentations==0.1.12
altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astor==0.8.1
astropy==4.2
astunparse==1.6.3
async-generator==1.10
atari-py==0.2.6
atomicwrites==1.4.0
attrs==20.3.0
audioread==2.1.9
autograd==1.3
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.6.3
bleach==3.3.0
blis==0.4.1
bokeh==2.1.1
Bottleneck==1.3.2
bra

[2021-03-15 07:24] DhruvSondhi commented on #1091
Ohk @cosmocaos you do have the `astropy 4.2` installed ... What you can do is to follow the following commands:
[code]
Also, I am not able to see **Poliastro** installed in your virtual environment 🤔

[2021-03-15 07:34] Yash-10 commented on #1091
Yes, 😅

You can `!pip install poliastro` and run again.

Thanks!

[2021-03-15 07:37] cosmocaos commented on #1091
True, poliastro is missing doing !pip freeze. I'm mounting my google drive to install packages permanently, doing:
`import os, sys
from google.colab import drive
drive.mount('/content/mnt')
nb_path = '/content/notebooks'
os.symlink('/content/mnt/My Drive/RESEARCH/Exoplanetas/library', nb_path)
sys.path.insert(0, nb_path)  # or append(nb_path)`

I'm installing astropy with: !pip install --target=$n

[2021-03-15 07:41] DhruvSondhi commented on #1091
Ohk @cosmocaos you will need to install `numpy` for a specific version, do this:
[code]

[2021-03-15 07:44] cosmocaos commented on #1091
Thanks, I'll try that. :)

[2021-03-15 15:11] jorgepiloto commented on #1117
Closing!

[2021-03-15 15:11] #1117 closed

[2021-03-15 18:36] DhruvSondhi opened #1119 "Discussion on Broken Links & References related to renaming of Master to Main Branch"
🐞 **Problem**
The current renaming of the `master` branch to the `main` branch lead to different integrated services not working as intended. These have broken some links & services which needs fixing. An example may include Issue #1117.
Current the following things according to me have been affected:
- [x] Binder Repository
- [x] License on README
- [x] `index.ipynb` file givings unknown type err

[2021-03-15 18:43] DhruvSondhi commented on #1119
@astrojuanlu Please check this out & add/remove if anything is out of the blue 😄

[2021-03-16 05:26] cosmocaos commented on #1091
Thanks for yesterday's help @DhruvSondhi and @Yash-10. It seems that if poliastro is imported first, then astropy version 4.0 is imported, otherwisem astropy 4.2 is imported and it is necessesary to reset the virtualenv.
<img width="764" alt="Captura de Pantalla 2021-03-15 a la(s) 11 22 59 p  m" src="https://user-images.githubusercontent.com/16109293/111259984-035bf180-85ee-11eb-9983-63310440f85c.

[2021-03-16 08:18] dark00infinity commented on #299
Hi ,
i would like to take this as a GSOC project and i have done some work if this meets the expectation.
currently i have implemented animation as a function within the Orbit class similar to plot function under the same.
(currently implemented for only one orbit at a time)
![trialrun](https://user-images.githubusercontent.com/47387653/111276787-ba438600-865d-11eb-96fc-7b919fabe7ad.gif)

[2021-03-16 08:28] jorgepiloto commented on #299
Hi @dark00infinity, this looks promising! However, I do not see a change in the velocity of the orbiting body as it gets closer to orbit periapsis (this might be casued because of the gif you shared, I guess...).

If you want, you can open a pull-request in "draft mode" so we can discuss about your implementation. Ping @astrojuanlu :rocket:

[2021-03-16 08:39] dark00infinity commented on #299
thanks @jorgepiloto i will do as you said

[2021-03-18 13:03] DhruvSondhi commented on #1119
Thanks, @xlxs4 for fixing `COPYING` file link 😄

[2021-03-18 17:26] xlxs4 opened #1124 "(Tutorials) documentation revamp"
💡 **Feature request**

Hello, the [Tutorials](https://docs.poliastro.space/en/latest/gallery.html) documentation is a great idea to ease in newcomers to the library! As I was working through the examples, I noticed that, while the texts are well-written and to the point, there's some (maybe inherent/inevitable) inconsistency between different tutorials, as well as small (mostly grammatical) errors

[2021-03-18 17:40] xlxs4 commented on #906
Would you guys think this could be a ![](https://img.shields.io/github/labels/poliastro/poliastro/good%20first%20issue)? If so, any pointers?

[2021-03-18 18:56] Yash-10 commented on #1124
Hello @xlxs4, it's really true that there are small inconsistencies in some parts of the documentation and I totally agree with your thoughts. I have been making some small grammatical changes throughout the documentation locally, that I felt could be incorporated.

As you have suggested, other minor inconsistencies apart from some grammatical errors might also need further discussion.

So probabl

[2021-03-18 22:19] jorgepiloto commented on #1124
Thank you for this review on project's documentation, @xlxs4.

Let me start by discussing about the inconsistencies before doing so about tutorials. I share your opinion about having a uniform syntax in those documentation imports. The problem is that no tools are available (as far as I know) to format the code from the notebooks, as they are stored in `*.mystnb` files. Hence, we must select the a

[2021-03-19 09:32] xlxs4 commented on #1124
Agreed, there should be a way to automatically run something (e.g. `black`) against the code in the mystnb cells, if someone wants to play around with that.

The Explanations/Introduction/Footnote section is another great idea. For example, I saw an answer in an old issue referencing "Orbital Mechanics for Engineering Students" from Curtis as good introductory material, which is already linked [he

[2021-03-19 11:56] xlxs4 commented on #1124
Using a [regexp](https://regex101.com/r/4NRt2q/1) to extract the code and run it against checkers, for an example.

[2021-03-19 18:38] astrojuanlu commented on #1124
Look!

<pre><code>
(.venv) juanlu@voyager:~/Development/poliastro/poliastro/docs/source/examples$ jupytext --pipe black Plotting\ in\ 3D.mystnb
[jupytext] Reading Plotting in 3D.mystnb in format mystnb
[jupytext] Executing black -
reformatted -
All done! ✨ 🍰 ✨
1 file reformatted.
[jupytext] Writing 'Plotting in 3D.mystnb' in format mystnb:myst (destination file replaced [use --update to preserve c

[2021-03-19 18:40] astrojuanlu commented on #1124
It's a very good observation @xlxs4. I propose we:

- Do some review of code and import inconsistencies, as you suggested
- Do some small typo and grammar correction,
- Leave large text changes to a technical writer when we apply to Google Season of Docs (hopefully next year)

@xlxs4 Do you want to take care about the first or two first points?

Also, congratulations on this excellent analysis of

[2021-03-20 07:26] Nirav-Madhani commented on #1091
This does solve the issue.
One more thing I noticed is
when I write
` from poliastro.examples import molniya ` in console
It gives output:
`Downloading https://www.ietf.org/timezones/data/leap-seconds.list [Done] `
Same was not the case with Astropy 4.1

[2021-03-20 11:10] xlxs4 commented on #666
@astrojuanlu:
I think what you must mainly factor in is the user base poliastro has, or the one you want it to have. I'm guessing you'd like it to be easily accessible for all, if possible. With that in mind:
1. WSL2 is in a great state right now, and very easy to set up/work with; There's a significant portion of Windows devs that use VSCode, and things like https://code.visualstudio.com/docs/rem

[2021-03-20 11:19] xlxs4 commented on #1124
Haha, I didn't know `jupytext` was a thing 😄
Sure, can do @astrojuanlu! sounds good 🛰️

[2021-03-20 12:20] astrojuanlu commented on #666
Thanks a lot for your thorough response @xlxs4 !

[2021-03-20 13:49] amanem1 opened #1128 "bug in the alternative installation method of poliastro ."
While trying the pip method to load poliastro on your desktop which is an alternative to the conda setup to do the installation process , the command provided there is to be reconsidered as it shows an error while running on the desktop .

the pip command  on this page https://docs.poliastro.space/en/latest/getting_started.html#alternative-installation-methods
here you find an  command written as

[2021-03-20 18:55] Yash-10 commented on #906
I think the functions having numerically intensive calculations (for eg: in `hohmann`, `bielliptic`, `lambert`, and `correct_pericenter`) can be better implemented in the core module and also potentially `@njit`-ing those to speed up the calculations.

Once we do that, the corresponding high-level API can be configured to use the core implementations.

Please correct me if I am wrong in interpreti

[2021-03-20 20:08] astrojuanlu commented on #1128
Closed in #1129

[2021-03-20 20:08] #1128 closed

[2021-03-20 20:16] astrojuanlu commented on #1064
It's a good observation @jorgepiloto. The top-level `CONTRIBUTING.md` is easier to discover for people that browse the repository, and also encouraged by GitHub Community Standards (see https://github.com/poliastro/poliastro/community)

I propose something: let's have `docs/source/contributing.md` have a simple sentence saying "there are several ways you can contribute to poliastro, check out [LIN

[2021-03-20 20:35] astrojuanlu commented on #1054
A million thanks for this thorough review @jorgepiloto! Some more extra ideas:

- I imagine that prograde orbits are preferred over retrograde orbits in most cases. For short vs long, I am not that sure. In any case, I agree that `short=True` and `prograde=True` are good defaults. I am not worried about "losing the ability to return all kind of solutions at the same time" from the core API.
- ...U

[2021-03-20 20:38] #1095 closed

[2021-03-20 20:46] astrojuanlu commented on #1074
@ishanSrt Any doubts? :)

[2021-03-20 20:52] astrojuanlu commented on #1119
What's missing here after #1122 and #1123 were merged?

[2021-03-20 20:58] astrojuanlu commented on #906
@xlxs4 Hmmm not sure, it might be a bit delicate to get right. I prefer to have more experienced contributors tackle this.

@Yash-10 your assessment is correct!

[2021-03-20 23:24] DhruvSondhi commented on #1119
Now, according to me, only `License` tag in `README` & changing the build triggers to `main` branch for Azure Pipelines is left ... Everything else has been fixed ... Though I will tinker around a bit to find any unnoticed bug(s) & will update the list ... will wait for a couple of days & then close accordingly :)

[2021-03-21 14:01] Yash-10 opened #1132 "Sampling error in tests"
🐞 **Problem**

I have recently started to get a weird error after running `pytest`.

**Traceback**
[code]

**Ouput of `pip freeze`:**

<details>

[code]
[code]
</details>

📋  **Steps to solve the problem**
Investigate tests, specifically focusing on what eccentricities are being used to test them.

**Notes**
- The error traceback clearly states that we use falsifying examples for testing. Specific

[2021-03-22 08:11] #1111 closed

[2021-03-22 18:29] abdulmoiz37 commented on #1119
Hi @jorgepiloto @DhruvSondhi I am looking to contribute to this issue in License in Readme to Understand more about the ecosystem and improve my chances for Selection.Can i Work on this issue or someone else is working on this issue currently?

[2021-03-22 23:12] astrojuanlu commented on #1119
@abdulmoiz37 Nobody else is working on it, feel free to fix the remaining `master` references :)

[2021-03-23 08:39] astrojuanlu commented on #1064
Or we can do an `include` like this: https://github.com/scikit-image/scikit-image/blob/main/doc/source/install.rst

[2021-03-23 11:17] xlxs4 commented on #314
Status? 😄

[2021-03-23 11:25] xlxs4 commented on #444
@astrojuanlu (ignore if you've seen this :D )

[2021-03-23 21:44] xlxs4 opened #1134 "Editorconfig support"
Hello, would you think there should be [Editorconfig](https://editorconfig.org/) integration?

💡 **Feature request**

From Editorconfig's homepage:

From [StackOverflow](https://stackoverflow.com/a/48471763/10772985):

Adding Editorconfig should be very easy, if it is decided upon.

[2021-03-23 22:12] xlxs4 commented on #985
Something like these?
* https://www.sphinx-doc.org/en/master/glossary.html
* https://sublime-and-sphinx-guide.readthedocs.io/en/latest/glossary.html

I can take this up

[2021-03-24 12:04] xlxs4 opened #1135 "(Continuous) Localization"
According to the [index](https://docs.poliastro.space/en/latest/index.html):

Provided that all integration is seamless, it would be great if there was a way to include translated versions of the documentation. It can be strictly a community-based effort, requiring no effort from the development team.

💡 **Feature request**

A good idea would be something like [Weblate](https://weblate.org/en/), w

[2021-03-24 16:46] astrojuanlu commented on #985
All yours @xlxs4 ! 😃

[2021-03-24 16:57] astrojuanlu commented on #444
@xlxs4 A few thoughts on this:

Every year we get a lot of GSOC candidates that want to work on this project. And many of them send us proofs-of-concept that work! I've collected a few of them over the years.

However, there are some challenges to make poliastro-as-a-service a real thing:

- When I opened this issue https://github.com/poliastro/poliastro/issues/444#issue-356911663 there were probl

[2021-03-24 16:58] astrojuanlu commented on #314
Stalled :) But I must take care of this.

[2021-03-24 19:28] ZachDischner commented on #444
Sorry I haven’t been very involved in this, I still think it is a cool
idea.

There indeed have been improvements to Lambda at the very least. The
original issue was that code size was too large (mostly due to
SciPy/Astropy). That may not be the case anymore. You can publish a docker
image for your lambda function, up to 10G in size. That might be the
cleanest tack to take here. Poliastro containe

[2021-03-26 01:49] ishanSrt opened #1138 "add .DS_Store to .gitignore"

[2021-03-26 05:15] Yash-10 commented on #1138
Hello @ishanSrt, That seems to be a good option since macOS users have this annoying file generated. Would you like to make  PR?

[2021-03-26 05:16] ishanSrt commented on #1138
Sure

[2021-03-26 14:56] xlxs4 commented on #1138
Might be useful:
* https://github.com/snielsen/DeathToDSStore
* from https://www.aorensoftware.com/blog/2011/12/24/death-to-ds_store/

[2021-03-27 16:49] superx458 opened #1139 "Sun-Synch orbits not working as expected"
Hi,

I ran into a couple issues with using the helio-synchronous method. Since I'm new to orbit modeling, it may be my fault, so happy to hear any clarifications!

1. When using the helio-synchronous orbit method, the results give invalid solutions or solutions that don't make physical sense (instead or say, throwing an error and saying no such orbit exists that fulfills the formulas). For instanc

[2021-03-27 17:22] xlxs4 commented on #1139
Hey @superx458! Regarding RAAN being a weird string, does `orb_heli_test.raan.to(u.deg).value` cover you?

[2021-03-27 18:32] xlxs4 commented on #1139
I am sorry, but I can't quite understand what you mean in point `2`. With that in mind:
* Have you checked the [documentation on `Orbit.heliosynchronous`](https://docs.poliastro.space/en/latest/autoapi/poliastro/twobody/orbit/index.html#poliastro.twobody.orbit.Orbit.heliosynchronous)?
  * The equations here I believe are derived by Vallado [1]:
     ![image](https://user-images.githubusercontent.c

[2021-03-27 19:47] superx458 commented on #1139
Hi @xlxs4 ! Thanks for the quick reply!!

The RAAN thing you suggested did work- thanks (although unsure why it gives a value above 360 degrees).

As for the 2 of 3 parameters, I cannot supply 2/3 (as in, after trying about 15 or so combinations of semi-major axis and inclination, it kept giving me "No SSO orbit with given parameters can be found."  - but when I give it three variables semi_major,

[2021-03-27 20:00] xlxs4 commented on #1139
from the `Orbit.heliosynchronous()` code:
[code]
If I understand this correctly, if you give it all three parameters, there's no way the `ValueError` can be raised

[2021-03-27 20:02] superx458 commented on #1139
![image](https://user-images.githubusercontent.com/66441215/112733158-a416af00-8f14-11eb-814f-7acf422e8b8d.png)

This image was particularly useful, from the GitHub article you mentioned. I now see why it's giving me "No SSO", because one doesn't exist (if you can confirm this is the case that would be educationally useful haha).

Ah, interesting. Might be something to just add in the next iterati

[2021-03-27 21:18] xlxs4 commented on #1139
It's great that the figure helped! It's also from Vallado, btw. Here's the caption, too:
![image](https://user-images.githubusercontent.com/54778816/112734652-c4b02a80-8f4f-11eb-9d7b-ad98ec2533eb.png)
I think a input validation could happen for this as well :)
Also, I'd like it if the docstrings containing the 3 formulae also referenced Vallado as a source, to avoid people getting confused and sav

[2021-03-27 21:31] xlxs4 commented on #1139
(@astrojuanlu: I've plotted the [test example from `test_orbit`]() and this is the resulting plot:
![image](https://user-images.githubusercontent.com/54778816/112735430-8a955780-8f54-11eb-81da-2fd4f7a9eae2.png)

is this related to https://github.com/poliastro/poliastro/issues/278?)

[2021-03-27 21:37] xlxs4 commented on #1139
@superx458 sorry, forgot to reply to:

You can try [`wrap_at()`](https://docs.astropy.org/en/stable/api/astropy.coordinates.Angle.html#astropy.coordinates.Angle.wrap_at), as per the [`Angle` documentation](https://docs.astropy.org/en/stable/coordinates/angles.html#wrapping-and-bounds):

![image](https://user-images.githubusercontent.com/54778816/112735532-5c644780-8f55-11eb-88f1-6ad681d5e0b2.png)

[2021-03-28 05:42] OrbitalMechanic opened #1140 "Cannot display plot in Cowell's formulation example"
OrbitPlotter3D is not displaying pots running Jupyter notebook in Firefox Browser (ver. 87.0).

🐞 **Problem**

[Cowell's formulation](https://docs.poliastro.space/en/v0.14.0/examples/Propagation%20using%20Cowells%20formulation.html) contains uses OrbitPlotter3D() to display a plot of the propagated trajectory. The code generates the trajectory but does not display the plot. Furthermore, I get a wa

[2021-03-28 07:23] DhruvSondhi commented on #1140
Hello @OrbitalMechanic, Thanks for using **Poliastro** ... Can you please share a screenshot of the same error? It is a little difficult to check out the error from the logs you have provided 😅

[2021-03-28 07:40] DhruvSondhi commented on #1140
@OrbitalMechanic, I am able to produce the plot without any errors 🤔 ... Have you activated your **python** `virtual environment`?

![image](https://user-images.githubusercontent.com/66117751/112745534-cb2db900-8fc6-11eb-91e2-022a414ddfcb.png)

[2021-03-28 10:00] xlxs4 commented on #1140
Hey @OrbitalMechanic!

This is expected, see https://github.com/poliastro/poliastro/issues/1074

[2021-03-28 11:34] Yash-10 commented on #1140
Hello @OrbitalMechanic I can think of trying either of the two approaches:

1. Since you are following the [guide](https://docs.poliastro.space/en/v0.14.0/examples/Propagation%20using%20Cowells%20formulation.html), can you restart your kernel and run all the cells except this one:

[code]

2. A more cleaner approach might be to use a different renderer than what `plotly` uses. This is just because

[2021-03-28 11:59] DhruvSondhi commented on #1140
I think this is not the problem ... I created the graph on `FireFox` with the same code on `Poliastro 0.14` 🙄 ...

[2021-03-28 20:48] abdulmoiz37 commented on #1119
#1141

[2021-03-28 20:52] abdulmoiz37 commented on #1119
Hey @astrojuanlu Can u merge this #1141 to the main branch?...Now,I think Changing Building Triggers to main Branch for Azure Pipeline is Left

[2021-03-28 21:05] jorgepiloto commented on #1132
Hi @Yash-10, I tested locally and was not able to get any kind of error, all unit tests were passing... The CI do not show any error neither. Could you please try to update your local repository to main one and check if this still happens to you?

[2021-03-28 21:12] jorgepiloto commented on #1134
Hi @xlxs4! Thanks for the suggestion on this. From my point of view, I think this introduces some redundancy as we already provide developers with all necessary tools to reformat any changes applied to the source code, like the `tox -e reformat` command.

[2021-03-28 21:20] jorgepiloto commented on #1135
Hi @xlxs4! As far as I now, you can configure Read The Docs to point to project's translated documentation, so there is no need to use additional hosting providers or similar.

However, I am not sure if we have ever discussed about translated documentation. It is a very interesting topic, although it would require us to double our efforts on docs maintenance. Let us for other users and developers

[2021-03-28 21:31] jorgepiloto commented on #1139
Thanks for your support @xlxs4 🚀

I see the original code posted by @superx458 provides an inclination of zero degrees, which is a not valid parameter for a heliosynchronous oribt and thus, the code properly raised an exception. We could raise some additional information suggesting the reader to check SSO docs, I guess... 🤔

[2021-03-28 21:34] xlxs4 commented on #1139
Do you think there should be some added input checks?

[2021-03-28 21:37] xlxs4 commented on #1135
Hi @jorgepiloto! Well, I didn't suggest it that much for the actual hosting, but rather for the other integration features services such as Weblate provide, which facilitate writing/adding/reviewing translations significantly. I don't know whether additional maintenance effort would be required, maybe we can depend on the community to enhance/cross-check; same thing happens with the official EN do

[2021-03-28 21:39] xlxs4 commented on #1134
Hey @jorgepiloto!

That is 100% correct, I think Editorconfig achieves a different thing however. I think my reply on this can be summarized pretty nicely with this snippet from the issue text:

[2021-03-29 03:56] OrbitalMechanic commented on #1140
I've been able to generate the plot in Jupyter Lab (executed in Anaconda
Navigator) by setting pio.renderers.default = "firefox". The plot was
generated in different Firefox tab. The plot is downloaded from
cdnjs.cloudflare.com and took about 4^m 25^s to fully render. During
this time, Firefox issues prompts as to what I wanted to do because the
page was slow in downloading. I responded "wait" unt

[2021-03-29 04:00] DhruvSondhi commented on #1140
Can you please confirm that `pio.renderers.default = "notebook_connected"` doesn't generate the plot? Also, Can you try running the code in Chrome or Safari? { Same Code, everything same }

[2021-03-29 04:19] Yash-10 commented on #1140
Hello @OrbitalMechanic I am happy that atleast the plots are rendering.

- `firefox`, `browser`, `chrome` or `chromium`, all generate the plot in a different tab as per the [documentation](https://plotly.com/python/renderers/). The significant amount of time it takes to render a plot might probably due to something on their side or due to browser configurations, althought I am not sure of that.

F

[2021-03-29 06:22] superx458 commented on #1139
Good to know about the 3 inputs! I'll leave the added input checks stuff up to yall, yall are the code geniuses here; wrap_at worked as well!

I guess I need to go back to the drawing board and learn some more astrodynamics then, sorry! my PI told me a sun-synched orbit in the equatorial plane (i.e i=0) was possible, hence why I put it in; does the Vallado diagram I sent earlier imply that only so

[2021-03-29 07:22] jorgepiloto commented on #1139
Is it possible that you were actually interested in computing a `geosynchronous` orbit instead than a `heliosynchronous` one, @superx458? These kind of orbits are feasible for null inclination values.

Regarding the radial velocity component, it must be zero at both perigee and apogee. We do not provide any auxiliary function or method to compute those, how are you computing them? If you make use

[2021-03-29 14:47] astrojuanlu commented on #1119
Done! :) Last one missing: Azure pipelines badges

[2021-03-29 14:50] DhruvSondhi commented on #1119
@astrojuanlu if no one wants to complete it should I go ahead?

[2021-03-29 14:58] astrojuanlu commented on #1119
@DhruvSondhi our general policy is that regular contributors should leave "good first issues" to newcomers

[2021-03-29 15:08] DhruvSondhi opened #1142 "`py38_images` tests failing after recent merge in Main"
🐞 **Problem**

The `Main` branch & subsequently all rebased branches on the current `main` are failing the `py38_images` test. The problem seems to be that the images from `test_porkchop_plotting` in `test_porkchop.py` are different from those in the assertion ... The can be seen in the code snippet below as well as this [link](https://dev.azure.com/poliastro/c2409219-95a2-4e20-b99c-187990571f10/_

[2021-03-29 15:14] xlxs4 commented on #1142
May be related: https://github.com/matplotlib/pytest-mpl/issues/91

[2021-03-29 15:20] astrojuanlu commented on #1142
We need to find out whether this was caused by our commit or by a new version of a dependency.

[2021-03-29 15:49] DhruvSondhi commented on #1142
The test also fails in the local virtual environment run ... Seems to be something related to the libraries 🤔
[code]

[2021-03-29 18:34] jorgepiloto commented on #1054
In response to @astrojuanlu,

The "short" or "long" paths are referred by some authors as "low" or "high" paths, so they are not misunderstood with the prograde and retrograde transfers. These parameters can only be selected when there are two solutions to the problem, that is only for M>=1 revolutions. The "low" paths correspond to negative values of "x" (independent variable), while "high" paths

[2021-03-29 20:37] OrbitalMechanic commented on #1140
Per your question concerning whether or not jupyterlab-plotly was
installed, the answer is no, for the runs I've made, I did not have it
installed. After installing it The plot will render in Jupyter, Jupyter
Lab and nteract. For both the Jupyter and Jupyter Lab cases, setting
pio.renderers.default = "notebook_connected" works.

I would lie to ask, what is the role of cdnjs.cloudflare.com? It appe

[2021-03-29 22:49] abdulmoiz37 commented on #1119
I am Little Confused. Do i need to Change the the Link to Redirect of the Pipeline or Should I change the Badge to main Branch @astrojuanlu?

[2021-03-30 04:06] Yash-10 commented on #1140
Hello @OrbitalMechanic Glad to hear that it's working now!

that the rendered plot is sent from that site to Jupyter and/or Jupyter Lab.

Yes, you are right. Even though `plotly` versions starting from `4` uses offline mode only (see [here](https://medium.com/plotly/plotly-py-4-0-is-here-offline-only-express-first-displayable-anywhere-fc444e5659ee)), you could explicitly use the offline mode of pl

[2021-03-30 04:13] DhruvSondhi commented on #1142
I have created the images after running the invocation commands ... The images are as follows:
_**BASELINE**_
![baseline](https://user-images.githubusercontent.com/66117751/112932610-d35b3500-913b-11eb-8ad1-0686a76ed724.png)
_**RESULT**_
![result](https://user-images.githubusercontent.com/66117751/112932615-d6562580-913b-11eb-96ef-c6dbbaaca77e.png)
_**RESULT_FAILED_DIFF**_
![result-failed-diff](ht

[2021-03-30 06:56] superx458 commented on #1139
I may have been interpreting the documentation on PoliAstro regarding what orbit.v returns. Your code shown made me realize that, so my bad. Thank you for all the help!

[2021-03-30 07:47] astrojuanlu commented on #1142
matplotlib 3.4.0 was released four days ago https://pypi.org/project/matplotlib/3.4.0/ please check whether the correct builds were using 3.3.*

[2021-03-30 08:20] xlxs4 commented on #1142
From the issue I linked (and `mpl-compare`'s docs):

different images. When testing on multiple platforms or as part of a
pipeline, it is important to ensure that the versions of these
packages match the versions used to generate the images used for
comparison. It can be useful to pin versions of Matplotlib and FreeType
so as to avoid automatic updates that fail tests.

regardless of what this tur

[2021-03-30 08:26] astrojuanlu commented on #1142
Fair enough, but first we ought to understand what is the root cause. If we loosen up the tolerance, we might miss legitimate bugs.

[2021-03-30 10:01] DhruvSondhi commented on #1142
Tests are failing again after downgrading `Matplotlib` to 3.3.4 😢

[2021-03-30 10:20] DhruvSondhi commented on #1142
@astrojuanlu ... Yes the Build passes without any errors with `Matplotlib==3.3.4` ... I have pinned the library version to 3.3.4 for the time being ... I will be confirming soon what the root cause may be :) & @xlxs4 is absolutely correct that for current builds, we can pin the library version of `Matplotlib` & `FreeType`
[code]

[2021-03-30 10:26] astrojuanlu commented on #1142
These tests are just a way to check internal consistency. I propose that we regenerate the images with latest matplotlib so we can make the tests pass without changing anything else.

To regenerate the images: https://github.com/matplotlib/pytest-mpl/#with-baseline-images

[2021-03-30 12:28] astrojuanlu commented on #1142
Closed in #1144

[2021-03-30 12:28] #1142 closed

[2021-03-30 23:48] OrbitalMechanic commented on #1140
Thank you for the links. I'm in the process of digesting them at present.

I was pleasantly surprised to discover that plots generated by Plotly
can be rendered from within the Spyder IDE. This causes me to ask the
question is there a way to get poliastro to render plots using Plotly
but from Spyder as opposed to Jupyter Lab, Jupyter and nteract? Is this
captured in the on-line documentation, and

[2021-03-31 00:03] OrbitalMechanic opened #1145 "Can't get the example Plotting in 3D to work"
Below is a copy of the example [Plotting in 3D](https://docs.poliastro.space/en/latest/examples/Plotting%20in%203D.html). I can run the just fine in Firefox. However, when I copy the code to Jupyter Notebook and attempt to run the same code (shown below), I get the errors below.

Have I missed something? Please advise.

Sam Dupree.

'''
#!/Users/user/opt/anaconda3/bin/python

import numpy as np

f

[2021-03-31 01:23] DhruvSondhi commented on #1145
Hello @OrbitalMechanic, Please check my reply [here](https://github.com/poliastro/poliastro/issues/1091#issuecomment-768012756) and check issue #1091 ... This has been reported previously as well

[2021-03-31 04:18] Yash-10 commented on #1140
Hello @OrbitalMechanic I didn't had much opportunity to use Spyder in the past but I have tried to search online for a plausible answer to your question

You could try running the same code in Spyder and check whether the plots appear or not. If they do appear, then there's no problem. But if it doesn't, I have some links that might help you :)

- See [this](https://stackoverflow.com/a/62784110) a

[2021-03-31 04:22] Yash-10 commented on #1145
Hello @OrbitalMechanic To summarize:

Based on your`pip freeze` output from an earlier issue, you have `astropy==4.2` installed. Just downgrade to `astropy==4.0` and it should work.

This is the most common issue we had in recent times :)

[2021-03-31 07:45] xlxs4 commented on #1140
Also check https://github.com/poliastro/poliastro/issues/710 and https://github.com/poliastro/poliastro/issues/792

[2021-03-31 19:06] Yash-10 opened #1146 "Remove numba as being optional in README?"
Just a quick glance at the [requirements](https://github.com/poliastro/poliastro#requirements) section of README.md made me realize that `numba` is still written to be optional where infact it was made mandatory in #1061 some time ago.

We should remove optional from there, isn't it?

Thanks!

[2021-04-01 14:02] AlphaVictorDelta commented on #1119
Hey, I am new to open source. But I want to get the hang of it to participate in GSoC ( under libre Space Foundation). Where can I start?

[2021-04-01 15:10] xlxs4 commented on #1119
Hey @AlphaVictorDelta!
[This](https://summerofcode.withgoogle.com/organizations/4651833357762560/) is a good start. Consider dropping a [hi](https://libre.space/community/) ✨

[2021-04-01 15:13] AlphaVictorDelta commented on #1146
Done!
I have made a pull request! waiting for it to get accepted

[2021-04-03 16:12] astrojuanlu commented on #1138
Thanks @ishanSrt for opening this issue! It is indeed very annoying. I labeled this as a good first issue, therefore it should only be tackled by new contributors.

[2021-04-03 16:17] astrojuanlu commented on #1124
CLosed in #1133

[2021-04-03 16:17] #1124 closed

[2021-04-03 16:22] astrojuanlu commented on #1135
It would be very cool to have translated documentation! 🚀 As @jorgepiloto says, I think all of this should be possible inside Read the Docs: @xlxs4 can you have a look at https://docs.readthedocs.io/en/stable/localization.html and let us know what you find?

[2021-04-03 16:23] astrojuanlu commented on #1134
First time I hear about EditorConfig - if this is something that might benefit lots of users using different editors with little maintenance effort, let's do it :)

[2021-04-03 16:58] astrojuanlu commented on #1139
Hi all! Reading this after a few days, thanks @superx458 for the report and @xlxs4 and @jorgepiloto for the replies!

@superx458 To summarize: what would you suggest we could do, on the code or the documentation, to improve poliastro in this case?

[2021-04-03 17:05] astrojuanlu commented on #1132
Note that hypothesis tests a random combination of parameters every time, intelligently using this combination. And if it finds 1 combination that makes the test fail, it will save it to reproduce in the future. So, this test failure that you reported my be legitimate, but you will need to add it as an `example`: https://hypothesis.readthedocs.io/en/latest/reproducing.html?highlight=example#hypoth

[2021-04-03 17:07] astrojuanlu commented on #1145
Hi @OrbitalMechanic , thanks for another diligent report! Indeed, as @Yash-10 has pointed out downgrading astropy should fix the issue, until we make a new release. We will do it in the coming weeks hopefully.

[2021-04-03 17:11] astrojuanlu commented on #1140
Hi @OrbitalMechanic, thanks again for reporting and to @DhruvSondhi , @Yash-10 and @xlxs4 for giving detailed answers.

can be rendered from within the Spyder IDE. This causes me to ask the
question is there a way to get poliastro to render plots using Plotly
but from Spyder as opposed to Jupyter Lab, Jupyter and nteract? Is this
captured in the on-line documentation, and where?

It's a really goo

[2021-04-03 17:18] astrojuanlu commented on #1146
Closed in #1149.

[2021-04-03 17:18] #1146 closed

[2021-04-03 18:49] astrojuanlu opened #1150 "Improve front documentation page to highlight documentation classification"
In #975 we reviewed our documentation classification according to The Documentation System, and now I think we should highlight it in our documentation more prominently, like the pandas people do:

![Screenshot_2021-04-03 pandas documentation — pandas 1 2 3 documentation](https://user-images.githubusercontent.com/316517/113488363-d9e00880-94bd-11eb-83ef-29f3c4462c5c.png)

One idea is to use someth

[2021-04-03 19:07] superx458 commented on #1139
Yeah , thank you guys for all the help! My PI is very happy with the results of my sims after you guys helped me debug the initial code, so thank you!

If I can offer my two cents on what could be improved (just coming from someone who is using the package for the first time and doesn't know much about orbits):
1. Throwing an error when you input three parameters (a,inc,ecc), such that new users d

[2021-04-03 21:36] astrojuanlu commented on #1139
These are all great suggestions! Will leave the issue open so we can implement them in the near future 🙌🏼

[2021-04-04 03:42] DhruvSondhi commented on #1150
I would also suggest that we also have a custom CSS or Custom Theming scheme for the documentation as it will be more tailored towards _poliastro_.

[2021-04-04 03:59] Yash-10 commented on #1132
Thanks @astrojuanlu adding it as an `@example` does solve the error. Although I was able to resolve the error by adding it as an example earlier, I was not sure if this error had some bigger implications.

So the learning is that: If we get an `AssertionError` for hypothesis due to a falsifying example, add it as an example so that `hypothesis` would not go on to check other examples not listed in

[2021-04-04 06:20] astrojuanlu commented on #1132
So, adding it as example fixed it? That's... Not what I expected 🤔 I thought that it would keep failing until we addressed it. Will try it locally in case I can reproduce it.

[2021-04-04 14:16] AlphaVictorDelta commented on #1150
I am learning Advanced CSS (FlexBox and CSS_Grid) and BootStrap. I guess I can take this as an assignment. I'll get to apply my knowledge in realtime.

[2021-04-04 21:01] astrojuanlu commented on #1150
Hi @AlphaVictorDelta! I don't think we need much CSS knowledge here, have a look at the extension I linked

[2021-04-05 08:18] Yash-10 opened #1152 "Fix links in tutorial"
In [this](https://docs.poliastro.space/en/latest/examples/Propagation%20using%20Cowells%20formulation.html#Cowell's-formulation) tutorial, two links are not rendered correctly.

![Screenshot from 2021-04-05 13-46-45](https://user-images.githubusercontent.com/68844397/113553449-6e10b380-9615-11eb-89b9-306ef804fc6c.png)

Converting those `<a href ...` tags to markdown style links would fix the issue

[2021-04-05 20:04] Yash-10 commented on #1132
Sorry for late reply @astrojuanlu I was too fast to come to a conclusion. Adding `@example` still gives the error, as expected, it had solved the error by adding a slightly different set of combinations as an `example`, not the one that currently gives the error.

**Some preliminary analysis:**
- Changing the `atol` argument solves the error locally:
[code]
[code]
but there probably needs to be a

[2021-04-05 20:24] niharsalunke commented on #1152
Hi @Yash-10

![image](https://user-images.githubusercontent.com/65081055/113622665-ecec0780-967a-11eb-8135-cf05fe765f97.png)
![image](https://user-images.githubusercontent.com/65081055/113622675-eeb5cb00-967a-11eb-9d00-6c6fd5074f21.png)

I think the changes have been made already.

[2021-04-06 07:25] astrojuanlu opened #1155 "Documentation builds failing because of new docutils release"
We should pin `docutils<0.17` while Sphinx figures out a solution.

[2021-04-06 07:30] astrojuanlu commented on #1152
Please share links to actual code instead of screenshots:

https://github.com/poliastro/poliastro/blob/eedc5f1c810b748b7b0bbc719c2147371b0abba3/docs/source/examples/Propagation%20using%20Cowells%20formulation.mystnb#L24

It's interesting that nested HTML got badly translated. Perhaps this is a bug in myst-parser? What do you think @DhruvSondhi ?

[2021-04-06 07:32] astrojuanlu opened #1156 "Add `codemeta.json`"
Background: https://codemeta.github.io/

(https://github.com/codemeta/codemeta/issues/213)

To validate it: https://github.com/caltechlibrary/convert_codemeta

Zenodo has support for it in its roadmap: https://github.com/zenodo/zenodo/issues/1504 but we can add it to our repository already.

Good starting point: https://zenodo.org/record/3816771/export/schemaorg_jsonld

Example: https://github.com

[2021-04-06 07:35] DhruvSondhi commented on #1152
Hello @astrojuanlu, Yes this seems to be off ... Though if we check [here](https://myst-parser.readthedocs.io/en/latest/using/syntax.html#commonmark-inline-tokens), it needs to work as intended ... I will test it out a little bit before I can comment on it as a _**Bug**_ 🤔 ... I will be sharing my findings here as well 😄

[2021-04-06 07:43] astrojuanlu opened #1157 "Update software citations in documentation"
The SciPy and Astropy citations in https://github.com/poliastro/poliastro/blob/main/docs/source/bibliography.md are outdated, we should use the most recent ones:

- https://www.nature.com/articles/s41592-019-0686-2
- https://iopscience.iop.org/article/10.3847/1538-3881/aabc4f

[2021-04-06 07:56] itsabhianant commented on #1157
Hi @astrojuanlu ,

I got what your issue is and I think that I can resolve the issue.
Please assign me this issue so that I can start working on it as soon as possible.

Best,
Abhishek

[2021-04-06 08:00] astrojuanlu opened #1158 "Review documentation classification, take 2"
Now that I work at a documentation company 🤓 I have been thinking more and more about poliastro docs, and in particular within the Diátaxis framework https://diataxis.fr/ (formerly known as "The Documentation System").

![diataxis](https://user-images.githubusercontent.com/316517/113677223-a10e8200-96bd-11eb-9993-4ac6319aea66.png)

Even though we did restructure the documentation as part of #975,

[2021-04-06 08:02] DhruvSondhi commented on #1158
I would love to contribute to the same 😄🚀

[2021-04-06 08:08] DhruvSondhi commented on #1152
Yes, @astrojuanlu, You are absolutely correct ... It seems to be a bug with `MyST-Parser` ... The notebook is working correctly with all the nested HTML tags (can be seen [here](https://mybinder.org/v2/gh/poliastro/poliastro/eedc5f1c810b748b7b0bbc719c2147371b0abba3) ... It seems to be some issue with the parser for the same 🤔

[2021-04-06 08:21] Yash-10 commented on #1152
Thanks @DhruvSondhi for confirming. I think we should create an issue in the upstream repository or wait to investigate more?

[2021-04-06 08:30] DhruvSondhi commented on #1152
I am trying to find the cause of the issue, so I would suggest that we wait a little bit before making the required conclusions & hence the issue. I am trying to create a case for the same in another notebook and share my findings for the same here ... After that, we can create an Issue in the Upstream Repository

[2021-04-06 08:32] Yash-10 commented on #1152
Yeah, sure!!

[2021-04-06 08:53] DhruvSondhi opened #1160 "Fix Link Redirection to NEO's Notebook in Binder"
🐞 **Problem**
The Binder repository is giving a `404` error when trying to redirect to the `Using NEO Package` notebook.

💡 **Possible solutions**
Change the redirection link to the point to the correct notebook path in the `index.ipynb` notebook 😄

[2021-04-06 12:11] astrojuanlu commented on #1138
Fixed in #1151

[2021-04-06 12:15] astrojuanlu commented on #1152
Thanks for confirming @DhruvSondhi ! No rush, let us know when you are done with your investigation

[2021-04-06 12:16] astrojuanlu commented on #1158
It's true that these two are related, but #1150 is not necessarily a blocker for this one. In fact, I think it's the other way around :)

[2021-04-06 12:16] astrojuanlu commented on #1157
Hi @itsabhianant ! Sure, all yours :)

[2021-04-06 12:43] niharsalunke commented on #1152
@DhruvSondhi based on the link you have shared, I have seen the following markdown syntax for external tags being used:

![image](https://user-images.githubusercontent.com/65081055/113711798-05076980-9703-11eb-90aa-f7f9af490ee0.png)

which is then rendered as:
![image](https://user-images.githubusercontent.com/65081055/113711836-0d5fa480-9703-11eb-808a-be0513442cae.png)

This is the same format wh

[2021-04-06 13:17] DhruvSondhi commented on #1138
@astrojuanlu This issue can be closed as it has been fixed !!

[2021-04-06 13:20] #1138 closed

[2021-04-06 13:51] Yash-10 commented on #1132
As can be seen from the merging of a recent PR, such unrelated sampling errors do occur sometimes. For example, see [here](https://dev.azure.com/poliastro/c2409219-95a2-4e20-b99c-187990571f10/_apis/build/builds/934/logs/123).

This issue probably needs some investigation.

@astrojuanlu Does the above analysis support the process of fixing such errors. If not, I will dive deep into understanding `h

[2021-04-06 14:42] #1152 closed

[2021-04-06 14:53] DhruvSondhi commented on #1152
Yes, it seems to be an issue ... The `MyST` parser is not able to parse the nested `HTML` Tags. Using anything else other than the `HTML` or native `Markdown` is breaking the building procedure ... I have tried a lot of combinations with `{note}`, `{admonition}` , etc but these first of all don't render correctly in the _Jupyter Notebook_, second of all, it doesn't' all the parser to continue the

[2021-04-06 16:10] astrojuanlu commented on #1132
@Yash-10 it's great analysis indeed! I think we have enough information at least to start. Perhaps, as you say, having a slightly larger `atol` is enough. But the plots are greatly appreciated anyway 😍

[2021-04-06 16:54] abdulmoiz37 commented on #1160
I will Try to Work on this issue :)

[2021-04-06 19:14] abdulmoiz37 commented on #1160
@DhruvSondhi @astrojuanlu I Found that Using NEO Package Notebook was Replaced Hence Binder Repo is Showing 404 Error🤒.
So I will Update The Redirection Link with Correct Notebook and I will Surely Resolve this Issue

[2021-04-07 04:01] satyamroy001 commented on #1156
Hello, @astrojuanlu I randomly selected this issue for working before GSOC, I will send the updates soon !!

[2021-04-07 04:16] satyamroy001 commented on #1156
@astrojuanlu  I will work on all these Issues left, but in this mean time I will work on this issue please assign this to me!!
I have started working please share the details of poliastro foe developing code meta

my work till now________________

"@context": "https://doi.org/10.5063/schema/codemeta-2.0",
    "@type": "SoftwareSourceCode",
    "datePublished": "2015-05-09",
    "name": "poliastro"

[2021-04-07 06:21] nrishabh opened #1164 "Fix mention of 'easy' issues in CONTRIBUTING.md"
🐞 **Problem**
The `easy` tag for issues (mentioned in the [code writing](https://github.com/poliastro/poliastro/blob/main) section) does not exist anymore and the link for it in the doc appears broken.

💡 **Possible solutions**
Change the phrase and the link such that it redirects to the "good first issue" tag.

[2021-04-07 06:54] astrojuanlu commented on #1164
Closed in #1165

[2021-04-07 06:54] #1164 closed

[2021-04-07 13:19] #1157 closed

[2021-04-07 13:21] xlxs4 commented on #1134
Some examples:
* https://github.com/NLeSC/python-template/blob/master/.editorconfig
* https://github.com/django/django/blob/main/.editorconfig

I think this can be marked as a good first issue

[2021-04-07 13:26] xlxs4 commented on #1135
Sure, will do!

[2021-04-07 15:46] Yash-10 commented on #1132
Hello @astrojuanlu I have further analyzed the problem:

The mismatch between `min_nu` before and after sampling the orbit seems to increase rapidly as the eccentricity of the orbit reaches closer to 1. To confirm this, I tried to plot the variation of the absolute difference of the `min_nu`'s.

![Screenshot from 2021-04-07 20-57-35](https://user-images.githubusercontent.com/68844397/113892721-ecb

[2021-04-07 16:05] astrojuanlu commented on #1132
Oh wow, near-parabolic orbits there we go again... 😱

This is an excellent investigation, thanks for taking the time to dig into this. I'm so happy that we are using hypothesis to surface these sort of problems. Will give this some thought over the weekend, if anyone has more ideas feel free to share here.

[2021-04-08 01:00] abdulmoiz37 commented on #1156
Can I Contribute to this Isssue?

[2021-04-08 01:16] satyamroy001 commented on #1156
@abdulmoiz37 but I am working on it !!!

[2021-04-08 01:19] satyamroy001 commented on #1156
And I have solved 50% in the comment sections @abdulmoiz37

[2021-04-08 06:34] astrojuanlu commented on #1119
Closing this finally, thanks everyone!

[2021-04-08 06:34] #1119 closed

[2021-04-08 06:39] astrojuanlu commented on #1156
1. @satyamroy001 calling this 50 % is a bit optimistic in my opinion 😉
2. The way you solve this issue is by doing a pull request, not by leaving comments here.
3. @abdulmoiz37 asked about contributing, so you could have proposed doing it together.
4. @satyamroy001 You asked twice about the details of poliastro, but in my initial commit I wrote everything you need, so I think you didn't pay enough

[2021-04-08 07:09] abdulmoiz37 commented on #1119
Your Welcome @astrojuanlu :)

[2021-04-09 09:33] astrojuanlu commented on #1155
Closed in #1161

[2021-04-09 09:33] #1155 closed

[2021-04-09 18:54] Yash-10 opened #1168 "CI builds for PR's get hung indefinitely."
Probably due to a recent PR (#1167) merge, it seems that CI builds for PR's get hanged indefinitely and never complete.

**Suspected reason**

The line here: https://github.com/poliastro/poliastro/blob/main/azure-pipelines.yml#L16 line uses `main` as a reference but checking upstream, the default branch is still kept as `master`.

**Possible Solution**

Till the default branch is not set as `main`

[2021-04-10 13:38] Yash-10 commented on #1132
I was looking at this note: https://arc.aiaa.org/doi/10.2514/3.49468, although I am skeptical of the relevance here, but there's a line which says:

**Plot**

Eccentricities used: `[0.3, 0.5, 0.8, 0.9, 0.99, 0.999, 0.9999, 0.999999, 0.99999999, 0.999999999]`
![Screenshot from 2021-04-10 18-41-55](https://user-images.githubusercontent.com/68844397/114270922-92f99200-9a2c-11eb-80ed-1feb32f6f510.png)

[2021-04-10 20:26] abdulmoiz37 commented on #1156
Its okay @astrojuanlu.It will be great if @satyamroy001 Completes It.

[2021-04-11 03:17] jonpsy commented on #1054
@jorgepiloto  @astrojuanlu Glad to see this up and running  again. I recall the confusion we had when dealing with retrograde vs prograde and short vs long (very bad choice of param names, I might add).

I agree with jorges idea here; and I suppose we would need to refactor both izzo and vallado? I also beleive both the orbital paths are necessary along with their direction of motion(prograde, ret

[2021-04-11 08:22] #1168 closed

[2021-04-11 08:40] #1160 closed

[2021-04-11 16:26] astrojuanlu commented on #921
Postponing this to the next release.

[2021-04-11 16:27] astrojuanlu commented on #922
Postponing this to the next release.

[2021-04-11 17:02] astrojuanlu commented on #906
Closed in #1136!

[2021-04-11 17:02] #906 closed

[2021-04-11 18:19] DhruvSondhi opened #1170 "Functional Description For `from_orbit` Method Not Rendered Correctly"
🐞 **Problem**

The class method `from_orbit` description inside `Ephem` class is not being rendered correct & can be seen [here](https://docs.poliastro.space/en/latest/autoapi/poliastro/ephem/index.html#poliastro.ephem.Ephem.from_orbit) in the latest documentation build.

💡 **Possible solutions**

Formatting the `docstring` for the `from_orbit` class method may fix the rendering issue. Care must b

[2021-04-11 20:14] astrojuanlu commented on #1170
https://github.com/poliastro/poliastro/blob/48bf2c6b64f3d35b005d0a60abe8bcd483adbced/src/poliastro/ephem.py#L313-L331

Unclear what's failing 🤔 But we should investigate and fix it.

[2021-04-11 20:25] Yash-10 commented on #1170
Yes, locally testing does render that part correctly but maybe something happened that causes the latest docs to not render it as expected...

[2021-04-12 08:14] DhruvSondhi commented on #1170
Hello @astrojuanlu... This seems to be something weird going on ... I recently rebased the #1107 PR & then tried checking for the documentation of the `from_orbit` function ... and it fixes the documentation as seen [here](https://poliastro--1107.org.readthedocs.build/en/1107/autoapi/poliastro/ephem/index.html#poliastro.ephem.Ephem.from_orbit)

[2021-04-12 08:16] astrojuanlu commented on #1170
Perhaps a transient version problem. I'll try to rebuild `main` and see what happens.

[2021-04-12 08:32] abdulmoiz37 commented on #1170
The Description in the from_orbit seems to render Correctly as per [https://docs.poliastro.space/en/latest/autoapi/poliastro/ephem/index.html#poliastro.ephem.Ephem.from_orbit](url).So it Doesn't Look Unclear @DhruvSondhi :)

[2021-04-12 08:49] astrojuanlu commented on #1170
It got fixed after rebuilding the docs. Closing!

[2021-04-12 08:49] #1170 closed

[2021-04-12 09:22] astrojuanlu commented on #1150
I'm blocking this issue on #1158.

[2021-04-12 14:38] Yash-10 commented on #1132
I noticed some related logic that was probably introduced in #908 ([here](https://github.com/poliastro/poliastro/blob/main/src/poliastro/core/propagation/farnocchia.py#L247-L251)) where the mean anomaly is recalculated if the orbit is near-parabolic and then `nu` is calculated. So I would need to take a look at the discussion there, to understand why this was done. Looks interesting!

[code]
@astr

[2021-04-12 14:49] astrojuanlu commented on #1132
Nice! I didn't know about this paper.

Our treatment of near-parabolic orbits is based on Farnocchia et al "Robust resolution of Kepler’s equation in all eccentricity regimes" https://doi.org/10.1007/s10569-013-9476-9 . If you want to understand what's happening there, it's very important that you read that paper carefully. After a lot of effort we managed to get this right in #908 and its follow-

[2021-04-12 14:50] astrojuanlu commented on #1132
Bear in mind that the dangerous combination is `ecc -> 1` and `E -> pi`, because `ecc = 1` and `E = pi` is mathematically impossible.

[2021-04-12 15:27] Yash-10 commented on #1132
Thank you so much @astrojuanlu I will surely read that paper.

Yes, it was indeed a long PR and great effort!!

Thanks, I will keep that in mind. It was interesting to see the heavy dependence of `E` on `ecc` in near-parabolic regions!

[2021-04-16 21:06] cajunlyceum opened #1177 "error running example molniya plot"
from a fresh install of poliastro:

(base) jasonb@tookville:~/PycharmProjects/udluploads/venv$ python
Python 3.7.6 (default, Jan  8 2020, 19:59:22)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/jasonb/anaconda3/lib/python3.7/site-packages/poliastro

[2021-04-17 04:39] DhruvSondhi commented on #1177
Hello @cajunlyceum ... Welcome to _**poliastro**_ 🚀 ... There are some things that I would like to inquire before suggesting any solutions for the problem
1. Can you please attach the output of `conda list` (looks like you are on a Conda Environment 👀)?

From the error you have been presented with, it seems so that `Numpy` is the problem.

I would suggest that you install `Numpy version 0.19.5` wh

[2021-04-17 04:43] Yash-10 commented on #1177
Hello @cajunlyceum thank you for the issue!

From the `TypeError` it seems that the problem is the `numba` version.

I strongly suspect you might have an older `numba` version but a newer `numpy` version, as a result of which this error might have occured.

Could you please install the latest `numba` version (any version `>= 0.52` would work) and try running the `molniya` example again?

If this d

[2021-04-17 09:19] astrojuanlu opened #1178 "Add `contrib/` directory"
[TBC

[2021-04-17 09:30] astrojuanlu commented on #1105
Ideas we discussed in our community call:

  - Visible name in main documentation page
  - Mention in release notes
  - "Thank you!" email
  - Fast-track support chat
  - poliastro stickers with a physical "Thank you!" note

We need to make clear that "fast support" doesn't mean "feature development".

[2021-04-17 09:46] astrojuanlu commented on #712
Missing:

- Switch to `http://www.poliastro.space` and `https://www.poliastro.space`
- Add redirect from `http://poliastro.space` and `https://poliastro.space`
- Redirect old links?

[2021-04-17 14:31] astrojuanlu commented on #1150
Redirected everything to https://www.poliastro.space, working on having the apex domain (`https://poliastro.space`) working as well. Closing!

[2021-04-17 14:31] astrojuanlu commented on #1150
Sorry, I closed the wrong issue 🤦🏽

[2021-04-17 14:32] astrojuanlu commented on #712
Redirected everything to https://www.poliastro.space, enforced HTTPS, working on having the apex domain (https://poliastro.space) working as well. If you see links to `blog.poliastro.space`, please open issues or fix them directly. Closing!

[2021-04-17 14:33] #712 closed

[2021-04-19 12:13] astrojuanlu opened #1180 "Do not trigger validation for pull requests"
After #1179 the validation trigger will always fail for pull requests. I think we should modify the definition so it's skipped instead of failing. cc @jorgepiloto

[2021-04-21 08:14] astrojuanlu commented on #1158
pytest also bit the bullet :) https://github.com/pytest-dev/pytest/pull/8455

[2021-04-23 07:37] jorgepiloto commented on #1180
Sure! Working on this... 🚀

[2021-04-23 09:47] #1180 closed

[2021-04-23 10:05] astrojuanlu commented on #1105
While we figure out this properly, a simple thing we can do is to just have a "one-time donation" button and that's it. This way we don't block the activation.

[2021-04-23 10:17] astrojuanlu commented on #1156
Closed in #1172

[2021-04-23 10:17] #1156 closed

[2021-04-23 14:18] #1158 closed

[2021-04-23 14:19] astrojuanlu opened #1183 "Split API documentation into "safe" and "core""
- Split API reference in two, like it was before: https://docs.poliastro.space/en/v0.14.0/api/safe/safe_index.html and https://docs.poliastro.space/en/v0.14.0/api/core/core_index.html
- Put redirects in place: some pages changed their name, and I would like to avoid broken links. Read the Docs allows this easily 🤓

[2021-04-24 03:53] AlphaVictorDelta commented on #1178
Could you give some more information about this issue?

[2021-04-24 09:03] astrojuanlu commented on #1178
Sure @AlphaVictorDelta , will clarify today - but I assigned it to myself :)

[2021-04-29 10:40] jtegedor opened #1185 "State vector differences between poliastro.twobody.Orbit and spg4"
I am trying to compare various `poliastro` orbit propagation methods vs the `spg4` propagator. However, the resulting state vectors are significantly different between both.

🐞 **Problem**

Essentially, we generate a `poliastro.twobody.Orbit` and use it to initialise the `spg4` orbit. However, when converting back from `spg4` to `Orbit` (for the same epoch, without actual propagation), the state v

[2021-04-29 11:21] astrojuanlu opened #1186 "Cannot build documentation and skip notebooks"
If I try `POLIASTRO_SKIP_NOTEBOOKS=True tox -e docs -v`, I get errors like

[code]

So we should either:

- Find out if we are misusing nbsphinx,
- Or whether this is a bug upstream,
- Or wether we should remove the option to skip the notebooks.

[2021-04-29 11:46] astrojuanlu commented on #1185
Hello @jtegedor, thanks again for your interest in poliastro!

Yeah, exactly. We will have a look at this shortly.

[2021-04-29 17:10] astrojuanlu commented on #1183
- I forgot to actually rename "Getting started" to "Installation"

[2021-05-01 07:16] DhruvSondhi commented on #1186
Hello @astrojuanlu, I think I may have a lead for the same ... What actually is happening is that because we are using `:tags: [nbsphinx-thumbnail]` for generating the the `nbsphinx` thumbnail for the gallery, if we don't consider the notebooks this cell doesn't get executed & hence no thumbnail is being generated 😥  ... This will also render the gallery without any thumbnails for the notebooks 🤔

[2021-05-01 07:41] astrojuanlu commented on #1186
Thanks for investigating this @DhruvSondhi ! Maybe we should see if we can temporarily disable the thumbnail generation when notebooks are disabled, or fill them with a dummy thumbnail, allow warnings if not running the notebooks (probably the easiest one), or just remove the possibility of not running the notebooks.

[2021-05-01 08:15] DhruvSondhi commented on #1186
@astrojuanlu I ran the build without the _warnings turning into errors_ for docs & Yes, I was correct
![image](https://user-images.githubusercontent.com/66117751/116775875-1d10a580-aa83-11eb-9a0b-69211b58a75f.png)
Now, what I was thinking is that I can generate the `.png` graphs for these notebooks & hence link them to the gallery via the `nbsphinx thumbnail` (as already been done in some notebook

[2021-05-01 09:35] #1178 closed

[2021-05-01 09:58] jorgepiloto opened #1192 "Wrong W angle for Moon IAU pole"
🐞 **Problem**

The current W angle defined in [MoonFixed](https://github.com/poliastro/poliastro/blob/571a31d4f0c87db5f7492b8d408ef4f79949d52e/src/poliastro/frames/fixed.py#L315) frame comes from the [WGCCRE 2009 report](https://astropedia.astrogeology.usgs.gov/download/Docs/WGCCRE/WGCCRE2009reprint.pdf). While working with [frames validation](https://github.com/poliastro/validation/pull/24) I fou

[2021-05-01 10:01] jorgepiloto commented on #1192
Let mi fix this quickly!  🚀

[2021-05-01 10:02] astrojuanlu commented on #1185
After giving this a closer inspection, I can conclude that this is "not a bug", but a very common confusion arising with TLEs. Let me explain without getting into much detail.

This line:

[code]

creates a TLE using _osculating_ orbital elements, which are the ones that `Orbit` objects in poliastro handle. As poliastro is mostly concerned with the purely Keplerian two body problem, this is everyt

[2021-05-01 11:02] #1192 closed

[2021-05-01 12:00] #1105 closed

[2021-05-01 13:48] sammmlow commented on #302
I am back three years late on this topic, so I must apologise, and hope it is not to late to make a contribution in this area :)

I have created a rough sample of a basic relative orbit object class, do you think this structure is OK?

![poliastro_relative_orbit_framework](https://user-images.githubusercontent.com/17903127/116784471-f2484080-aac6-11eb-99a1-690ac668cfd4.png)

The propagation is bas

[2021-05-01 16:30] astrojuanlu commented on #302
Sometimes the pace of open source is slow :) But I'm so happy that you still want to contribute!

Now that we have our `contrib/` directory, what do you think about adding there `relative_eccentricity_vector(...)` and `relative_inclination_vector` first, before we go any further? This way we can also identify which parts could be moved to `poliastro.core` at the same time we review it. I am not so

[2021-05-02 13:29] jtegedor commented on #1185
Hi @astrojuanlu , thanks for the feedback!

After a deeper look, it looks like `spg4init` is expecting mean orbital elements indeed, not the osculating ones from `poliastro`.

However, I had a look at [https://github.com/cbassa/twoline](https://github.com/cbassa/twoline), and looks to me that is it also computing osculating elements, actually the results are similar to those of `poliastro`, see st

[2021-05-03 09:22] astrojuanlu opened #1196 "Some docstrings are messed up"
See for example https://docs.poliastro.space/en/latest/autoapi/poliastro/earth/sensors/index.html from `poliastro.earth.sensors`:

![Screenshot_2021-05-03 poliastro earth sensors — poliastro 0 15 dev0 documentation](https://user-images.githubusercontent.com/316517/116860414-d4cbc180-ac01-11eb-9cd9-46a7180d1038.png)

[2021-05-03 09:24] astrojuanlu opened #1197 "Progressively get rid of `{eval-rst}` blocks"
We have several `{eval-rst}` blocks here and there, which are a way to keep reST features that are unsupported in MyST. We should progressively get rid of them, and if there are any remaining features that are unsupported, link to the corresponding https://github.com/executablebooks/MyST-Parser/ issue.

[2021-05-03 09:35] astrojuanlu opened #1198 "`py:mod` roles do not link to corresponding summary page"
And they have never worked, apparently. See for example https://docs.poliastro.space/en/v0.13.1/changelog.html#backwards-incompatible-changes

I wonder if this is a limitation of autodoc or if we're misusing it.

[2021-05-03 10:11] astrojuanlu opened #1199 "Use of non-ASCII characters in variable names"
Last year, @Meuge used the original Greek names in her contributions to the `poliastro.earth` package, and I was ambivalent about it but I agreed to go forward. But then @Yash-10 opened #1191, in which he initially brought the variable names back to ASCII-only.

This is something that has been irking me for some time, and I would like to read other opinions. I think there are basically 3 options:

[2021-05-03 10:47] DhruvSondhi commented on #1197
This would be nice to migrate as it will remove all dependence on `.rst`

[2021-05-03 12:37] #1196 closed

[2021-05-03 13:25] DhruvSondhi commented on #1198
Hello @astrojuanlu, I did some digging around ... Though I haven't found any example where I can see the actual working of this `py:mod` tag, I have made some changes as shown
![image](https://user-images.githubusercontent.com/66117751/116881437-e1bbd580-ac40-11eb-9c30-93e8c37ec8c3.png)
I don't understand this but this looks better :) ... It doesn't link to the summary page though 😥

[2021-05-03 13:41] astrojuanlu commented on #1198
Then it's not what we want... If `py:class` and `py:meth` work, I would be very interested in knowing why `py:mod` doesn't.

[2021-05-03 13:46] DhruvSondhi commented on #1198
I may have understood why it is not working ... It is not working because the current file is not present in the updated codebase ... what I mean by this is that when we are referencing the module with the `py:mod` directive, due to the newer codebase not having the file, it is not linking it ... similar case would be when we link to a function or a class which doesn't exist in the codebase 🤔

[2021-05-03 13:55] astrojuanlu commented on #1198
You're right that the example I linked is a bad one. But I tried with other modules that do exist, with identical result.

[2021-05-03 15:10] DhruvSondhi commented on #1198
@astrojuanlu I found the answer, we were looking for ... it is on their docs page 🤦🏼
![image](https://user-images.githubusercontent.com/66117751/116894413-a4127900-ac4f-11eb-935f-a44abfcee871.png)
We can do nothing in this context ... I think this closes this issue as well 😞 {[Link](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directive-py-module) here as well, check th

[2021-05-03 15:17] astrojuanlu commented on #1198
Hahaha oh dear, I didn't know this! Thanks for actually _reading the docs_... I think it's safe to close this issue then.

[2021-05-03 15:17] #1198 closed

[2021-05-03 20:56] Phillip-M-Feldman opened #1203 "successive periods of orbit track should not fall on top of one another"
![STK2](https://user-images.githubusercontent.com/1065412/116932537-3ea29600-ac17-11eb-98f5-0d37812f4700.png)
I'm generating an orbit and plotting the ground track on a map.  Because the orbit period is an unusual number, I would expect successive periods of the orbit track to fall at different positions on the map.  But, this isn't the behavior that I'm seeing.  Is this a problem with poliastro o

[2021-05-03 21:40] jorgepiloto commented on #1203
Hi @Phillip-M-Feldman, thanks for using poliastro. Let me explain what you obtained those results...

The orbit you created around Earth is making use of `GCRF` frame, who's origin is at Earth's center. This frame is an inertial one, meaning that it does not rotate with the Earth. Therefore, no shift in orbit's groundtrack is seen, which is what you obtained in your figure.

If you want to conside