[2019-04-07 21:16] Juanlu001 commented on #514
(Fixed link)

[2019-04-07 21:21] Juanlu001 commented on #514
Reconsidered: this issue is not at all easy.

[2019-04-07 21:43] GorgiAstro commented on #109
Orekit supports frame translation, rotation or both, and has inertial and body-fixed frames for all planets + the Moon. Using the Python wrapper would enable to integrate Orekit in the test cases without having to rely on hard-coded data from GMAT/STK/etc. If it is of interest, I can start working on it.

This could be used for #451 as well.

[2019-04-07 21:48] Juanlu001 commented on #109
Hi @GorgiAstro, thanks for chiming in! In fact I didn't consider Orekit but that was an oversight on my part - it would be great to validate poliastro against it. The great @petrushy maintains the Orekit Python bindings https://gitlab.orekit.org/orekit-labs/python-wrapper, so this is definitely feasible! Could you please add Orekit here https://github.com/poliastro/poliastro/wiki/Validation?

Ther

[2019-04-08 19:47] GorgiAstro opened #644 "Test cases based on Orekit"
From https://github.com/poliastro/poliastro/wiki/Validation :
Orekit is an open-source space dynamics library written in Java. A Python wrapper is maintained by @petrushy (https://gitlab.orekit.org/orekit-labs/python-wrapper), which allows to include Orekit in the test cases.

🎯 **Goal**

Validate poliastro against Orekit

📋  **Steps**

* Include Orekit as a dependency in [options.extras_require]

[2019-04-08 19:48] GorgiAstro commented on #109
Done.

Okay, I will get started on test cases using Orekit-Python then. Besides, it is a good way for me to get used to working with poliastro. I created a separate ticket #644

[2019-04-08 19:51] GorgiAstro commented on #644
WIP :)

[2019-04-08 21:37] Ivan9528 commented on #609
What about raising an error a bit more elaborated/understandable for the user about the different bodies found and then giving the user the chance to chose one of them by entering the complete name or the code number associated with it?

[2019-04-08 21:45] GorgiAstro commented on #644
The following commit shows an example for Kepler propagation: https://github.com/GorgiAstro/poliastro/commit/512735191f1eba4fcdc1b31056b08eecba76461b

In particular, the `orekit.initVM()` call is necessary to start the JVM prior to any other Orekit imports

[2019-04-08 21:49] Juanlu001 commented on #644
Thanks a lot for putting together this issue @GorgiAstro! Also, the example with the Python wrappers looks pretty neat.

I think installing Orekit is complex enough that it deserves some care. Definitely it can't be included in `extras_require` because pip won't handle it. Perhaps we can set up a separate repository with recipes to install Orekit, GMAT, SPICE and others, and leave `poliastro/src/t

[2019-04-08 22:04] GorgiAstro commented on #644
You're right, it makes sense to set up a separate repository for testing with external tools.
How to include the up-to-date version of the main repo in the test repo? Via a subtree?
(Let's open a separate ticket I guess? :smile: )

[2019-04-08 22:08] Juanlu001 commented on #644
No need to open a separate ticket, we can continue the discussion here :)

Perhaps we don't even need to do such a thing, see for example: http://www.astropy.org/coordinates-benchmark/summary.html (repository: https://github.com/astropy/coordinates-benchmark)

[2019-04-08 22:13] Juanlu001 commented on #609
@Ivan9528 thanks for chiming in! The problem with that is that it requires interactivity, and in a script that runs unattended it can block the program. #611 is unfinished, so perhaps you want to take care of this one?

[2019-04-08 22:23] GorgiAstro commented on #644
If I understand correctly, the `.travis.yml` file clones the main git and installs the dependencies?

* How can a normal user (and not Travis CI) install the same environment? By typing manually the same commands?
* Does it support switching branches on the main git? It would be good to be able to test multiple branches of the main git.

[2019-04-16 00:21] celinew1221 opened #647 "Behaviour of numpy.linalg.cond"
[code]
I want to check if a matrix is singular or not because I can't try and catch the singular error in numba. However, np.linalg.cond is now giving my **division by zero** error. I used error_model='numpy', but it still gives me a python semantic error.

[2019-04-16 02:52] celinew1221 commented on #647
Nvm problem solved, I need to go into targets/linalg/cond_impl to change s[0] / s[-1] division to np.true_divide(s[0], s[-1]) for p=None. Same to the other options too.

[2019-04-16 06:43] Juanlu001 commented on #647
Hi @celinew1221, how is this related to poliastro?

[2019-04-17 17:24] michiboo commented on #609
Hi!  is this issue still unsolved? if not I will try tackle it!

[2019-04-17 17:51] Ivan9528 commented on #609
Hi @michiboo!! It is already solved actually, I just have to make the pull request but the coding is done, I will do it tonight if time allows me to :D Thanks!!

[2019-04-17 18:05] Ivan9528 commented on #609
@michiboo I am sorry, I am not working on this issue but on #611. Anyway, @Juanlu001, please confirm that this issue is unsolved because I have run the code I have got a value error instead of a key one which I presume it was the purpose of the issue...

[2019-04-17 21:25] shreyasbapat commented on #609
There was an effort to tackle this in #611 . But the PR author hasn't replied since.

Did you run it after making changes for #611 ? Because #611 is solution for this issue :)

[2019-04-17 22:01] Ivan9528 commented on #609
Yes, I run it and it raises the error as the previous coder already did but changing slightly the coding. I am going to try to make the pull request so that you any can review it :D

[2019-04-17 22:10] jorgepiloto commented on #609
Great @Ivan9528! :smile:

[2019-04-18 06:50] azlkiniue commented on #608
I am interested to try this.
From this [comment](https://github.com/poliastro/poliastro/pull/640#discussion_r27183904) I know that we need to use `black` and `isort`. Is it enough?

[2019-04-18 07:41] michiboo commented on #638
Hi can I take this?

[2019-04-18 08:28] Juanlu001 commented on #608
First `isort`, then `black` :) Correct!

[2019-04-18 08:29] Juanlu001 commented on #638
@michiboo, this was closed in #640!

[2019-04-18 08:29] #638 closed

[2019-04-18 08:30] Juanlu001 commented on #647
Closing this.

[2019-04-18 08:30] #647 closed

[2019-04-18 14:13] celinew1221 commented on #647
Sorry that was an accident posting here lol.

[2019-04-19 19:48] Juanlu001 commented on #550
Fixed!

[2019-04-19 19:48] #550 closed

[2019-04-19 20:05] Juanlu001 opened #649 "Cannot sample orbits around the Moon"
Code to reproduce:

[code]

Perhaps instead of being so strict, we could raise a warning and "just" return the `CartesianCoordinates`. And in that case, perhaps `poliastro.twobody.propagation.propagate` should ignore the frame, and just produce coordinates:

https://github.com/poliastro/poliastro/blob/1d366845e13d7bac59cdd11a3178fe2126d46827/src/poliastro/twobody/propagation.py#L225-L240

[2019-04-19 21:12] Juanlu001 commented on #380
#257 was not fixed, but we still need an alternative, so reopening this with the original intent.

[2019-04-20 20:28] Juanlu001 commented on #335
Closed in #562

[2019-04-20 20:28] #335 closed

[2019-04-21 19:25] BrandonEscamilla commented on #299
Hi,

I am working in a personal project, and I realize that there is not feature yet in order to get a gif or animation in poliastro, I was going to add an open issue and I got here. So how can I help to improve this problem?

[2019-04-22 21:43] Juanlu001 commented on #299
Hi @BrandonEscamilla, thanks for your interest! I think the best thing to kick this off is to propose an API. No implementation, just how would someone _use_ it. You can use the project wiki for that, a notebook, or any other format :)

[2019-04-23 15:57] BrandonEscamilla commented on #299
Ok, so I can write something related about how to create animations. I already created this one using plotly API.
![image](https://user-images.githubusercontent.com/21966716/56596536-57066180-65b6-11e9-93e1-015cf2804915.png)

Althougth, I think that we can make it easier. If we change some configurations in the plot options. :)

[2019-04-25 07:33] Juanlu001 commented on #299
I only see a static image, did you intend to attach a GIF?

Looking forward to it :)

[2019-04-25 10:09] Juanlu001 opened #652 "Fix editable installs with modern pip"
From #650:

We need to specify that we are still using setuptools as the build backend in https://github.com/poliastro/poliastro/blob/master/pyproject.toml.

[2019-04-25 10:15] Juanlu001 commented on #652
Rather: `--no-use-pep517`

see: https://github.com/pypa/pip/issues/6314#issuecomment-469176276

[2019-04-25 10:18] Juanlu001 commented on #652
Alternative: https://github.com/jaraco/skeleton/commit/32b254dee01b5ef2b695ae04889af482c6cb28c3

Which... is not documented anywhere?

[2019-04-25 11:00] #649 closed

[2019-04-25 11:00] #652 closed

[2019-04-25 13:20] BrandonEscamilla commented on #299
I am very sorry, I did attach a gif, I don't know what happened. Anyway, let me share with you a link to my drive, I created a directory in order to upload these gifs since they are bigger than 10MB.

https://drive.google.com/drive/folders/18QjiZCRaMNEVpDu2TfEZLJIdd_QuxtR0?usp=sharing

Please let me know what you think of this plots, and if you think is what you were looking for.

[2019-04-25 13:29] Juanlu001 commented on #299
These animations look very cool :)

The problem has always been _how_ to provide an easy API for the user. To do a plot, now it's as easy as:

[code]

(maybe `orbit.plot(static=True)`). Plotting two orbits in the same figure is three lines of code, and the defaults just work.

Therefore, how are we supposed to create animations? Again, I don't care about the implementation right now. You proved it

[2019-04-26 16:50] BrandonEscamilla commented on #299
Hi @Juanlu001,

I think it should be a function within orbit class, called animation(), and it should have two parameters. (init_epoch, end_epoch), and inside the function we make all the process to create the gif using plotly API.

[2019-04-29 09:48] Juanlu001 opened #654 "Cannot propagate orbits around custom bodies"
Even after fixing the case of sampling #649, orbits around custom bodies still can't be propagated:

[code]

To fix this, we should:

1. Add a test, similar to #650, but using `.propagate` instead of `.sample`
2. Try a similar logic to propagate orbits without frames

[2019-04-29 12:25] Juanlu001 commented on #299
Hi @BrandonEscamilla, sorry for the delay!

Starting with animating one orbit is nice, although bringing animation capabilities to `OrbitPlotter` objects and being able to animate several orbits, or even a sequence of them, would be great. In any case, let's start doing `Orbit.animate` then!

[2019-04-30 12:50] Juanlu001 commented on #609
Closed in #651.

[2019-04-30 12:50] #609 closed

[2019-04-30 12:53] Juanlu001 commented on #509
Partially addressed in #648. However:

* The Circle CI configuration has to be updated accordingly
* The documentation has to reflect the new commands

[2019-04-30 12:53] Juanlu001 commented on #608
@azlkiniue still thinking about working on this?

[2019-05-01 07:24] azlkiniue commented on #608
Oh, I'm sorry.. almost forget this one..
Are these commands correct?
[code]

[2019-05-01 08:59] Juanlu001 commented on #608
The isort one would be `isort --recursive --project poliastro --section-default THIRDPARTY src setup.py`. If you have poliastro installed in development mode it would be just `isort --recursive src setup.py`, but I prefer the safe version.

[2019-05-01 10:41] Juanlu001 commented on #608
Closed in #655

[2019-05-01 10:41] #608 closed

[2019-05-01 18:04] hrishikeshgoyal commented on #514
Would we need eccentricity as well in the parameters?

[2019-05-02 05:00] azlkiniue commented on #610
Is this the picture you mean?
![image](https://user-images.githubusercontent.com/24465401/57056734-90ce1b00-6cce-11e9-8093-14e44bd17f32.png)

[2019-05-02 09:04] Juanlu001 commented on #610
Yes.

However, the problem is not just replacing the picture. It is a big issue involving how to properly display Plotly plots on the Read the Docs documentation and also in notebooks.

See the long thread in https://github.com/rtfd/readthedocs.org/issues/4367. This issue is still present in poliastro.

[2019-05-02 12:09] shreyasbapat commented on #610
@Juanlu001 I totally agree that this problem must be solved in RTD. But as we did earlier, changing the sphinx theme for our docs seems to fix this issue for us. Do you think we should consider that?

[2019-05-02 12:45] Juanlu001 commented on #610
I think we shouldn't. Of course it's going to fix the problem for us but we have to be good open source citizens and try to figure out what's going on to advance the ecosystem. It's in our best interest that Plotly works great on HTML and notebooks.

[2019-05-03 12:39] aerophile commented on #654
Hi, can I try this resolving this one ?

[2019-05-03 12:53] Juanlu001 commented on #654
@aerophile all yours :)

[2019-05-04 09:49] jorgepiloto commented on #497
Now that I feel more comfortable working with `astropy.coordinates` I decided to go back to this. I was able to make the ground-track in GCRS and ITRS. However the plot is not showing the shift in ITRS curve and it should appear...

![track](https://user-images.githubusercontent.com/28702884/57177105-f520e400-6e60-11e9-9f6e-6fea77e08667.png)

[2019-05-04 09:57] Juanlu001 commented on #497
True! I got it in https://github.com/poliastro/poliastro/issues/497#issuecomment-471910884, can you share a gist.github.com?

[2019-05-04 12:33] jorgepiloto commented on #497
Sure! There it goes:

https://gist.github.com/jorgepiloto/acb36f0b995bf7f9619ca605bef1581d

[2019-05-04 14:10] Juanlu001 commented on #401
Finally closed in #657.

[2019-05-04 14:10] #401 closed

[2019-05-04 17:59] Juanlu001 commented on #497
I can reproduce this plot, but not exactly sure what changed. Investigating.

[2019-05-04 18:03] Juanlu001 commented on #497
Aha! You are missing the `obstime` :) The `ITRS` evolves with time! You have to do this:

[code]

[2019-05-04 18:18] jorgepiloto commented on #497
Oh! I thought the conversion between GCRS and ITRS did not need any extra parameters, that everything has done by itself :thinking: Thank you so much!

Still working on this... :rocket:

[2019-05-04 21:34] jorgepiloto commented on #497
Finally working! I also added the option for the user to plot the ground track for a given time of flight. Before making the corresponding pull request I would like to add more features related to plotting options. For example:

[code]

And it would show the ground-track with beautiful labels as other plotting utilities available in poliastro. What do you think about it?

Some images for the iss b

[2019-05-05 08:26] Juanlu001 commented on #654
Sorry, assigning this to myself as it's critical for our "customers" :)

[2019-05-05 09:04] Juanlu001 commented on #557
Notice that all the functionality is already there (I clarified that in the wiki) and this is ready to be implemented now.

[2019-05-05 09:12] Juanlu001 opened #659 "Split frameless Orbit class"
The `Orbit` class now has a lot of methods, and there is one point of tension that is irking me: the `frame` attribute.

poliastro used to be agnostic about frames and, while that was somewhat confusing for precise applications, it was great for experimentation. There were users simulating other planetary systems, like the one around TRAPPIST-1.

Recently we implemented frames after a lot of effor

[2019-05-05 09:19] #654 closed

[2019-05-05 13:23] Juanlu001 commented on #497
I would call it `GroundtrackPlotter` for consistency :)

Some questions:

* Cartopy, Plotly or both? The former is static (works everywhere) and has very beautiful output, but it's also difficult to install with pip (there's always Anaconda of course)
* What happens if the user tries to plot orbits from different attractors?
* Should we plot only coordinates, like `OrbitPlotter.plot_trajectory` do

[2019-05-05 17:41] jorgepiloto commented on #497
Sure, `GroundtrackPlotter` sounds better!

Related with different attractors, it is something I still have to deal with. I thought about imposing for the moment that the only valid attractor was Earth till I found a better solution.

When talking about plot only coordinates, you mean that user should do the propagation for sampling the orbit positions and then pass them to the `GroundtrackPlotter`

[2019-05-05 17:54] Juanlu001 commented on #497
Regarding the attractors: sounds fair!

Regarding the API: yes, that was my thinking!

[2019-05-05 21:29] shreyasbapat commented on #534
I think we have done everything here?

[2019-05-05 21:32] shreyasbapat commented on #557
Do we still give an option to pass pqw ? Or we directly pass the frame?

[2019-05-05 22:18] Juanlu001 commented on #557
We should remove this pqw stuff, it's just a hack. Too inconsistent and fragile to be generally useful.

[2019-05-05 22:20] Juanlu001 commented on #534
Yes! Closing! :tada:

[2019-05-05 22:20] #534 closed

[2019-05-09 06:23] Juanlu001 commented on #150
I'm closing this issue which is a bit long and open-ended, and opening new ones.

[2019-05-09 06:23] #150 closed

[2019-05-09 06:23] Juanlu001 opened #662 "Add plotting utility for flybys"
See https://github.com/poliastro/poliastro/issues/150#issuecomment-412295996

[TODO: Complete description here]

[2019-05-09 06:26] Juanlu001 opened #663 "Consider adding new APIs for flybys"
See https://github.com/poliastro/poliastro/issues/150#issuecomment-284216368

[TODO: Expand]

[2019-05-09 06:27] astrojuanlu opened #664 "Restore OS X CI"
Since we dropped Travis, we need some service to test in OS X. For example, Azure Pipelines.

[2019-05-09 06:33] Juanlu001 commented on #501
Another option to consider is jupytext https://towardsdatascience.com/jupytext-1-0-highlights-a49dca9baa7b

cc @jorgepiloto

[2019-05-09 06:38] Juanlu001 commented on #530
Back in black:

* The Cowell notebook has a JS syntax error because of an apostrophe https://docs.poliastro.space/en/stable/examples/Propagation%20using%20Cowell's%20formulation.html
* The notebooks in `latest` do not show any plots, see for instance https://docs.poliastro.space/en/latest/examples/Plotting%20in%203D.html

[2019-05-09 12:28] BrandonEscamilla commented on #299
Hi @Juanlu001,

sorry for the delay, but I was really busy.  btw, Since I will be working in GSoC during this summer maybe this fix will take me more time that I expected. But rest assure that I will be working on this.

[2019-05-09 15:12] Juanlu001 commented on #299
@BrandonEscamilla best luck during GSoC! :tada:

[2019-05-09 23:21] Juanlu001 opened #665 "One failing test in Astropy 3.2"
One test from the new `GeocentricSolarEcliptic` frame is failing, probably "just" because we hardcoded the values?

[code]

[2019-05-09 23:31] astrojuanlu opened #666 "Stop testing on Windows, recommend WSL2"
As per title.

https://devblogs.microsoft.com/commandline/announcing-wsl-2/

[2019-05-09 23:34] Juanlu001 commented on #666
https://youtu.be/7-iRf9AWoyE

[2019-05-11 19:22] ritzvik commented on #636
@Juanlu001 Should I go for it?

[2019-05-13 08:57] Juanlu001 opened #667 "Test poliastro with upcoming DOP853 in SciPy"
There is finally a high order Runge-Kutta method with the new integrators API about to land in SciPy, and it's our beloved `DOP853`:

https://github.com/scipy/scipy/pull/10173

We should test it ASAP with poliastro to give feedback and as a first step to remove our own implementation.

[2019-05-13 08:58] Juanlu001 commented on #537
See also #667

[2019-05-13 08:58] Juanlu001 commented on #636
@ritiek before you go for it, can you describe your plans here? :)

[2019-05-13 09:50] ritzvik commented on #636
I've implemented a function to normalize:
[code]
The steps are :
  - Making the angle positive
  - normalize it within [0, 2pi]
  - subtract 2pi from the resultant angle if it is greater than pi

To test:
  - we compare the sin and cos of the original and new angle

[2019-05-13 09:51] ritzvik commented on #636
Is the normalization expected to be implemented in `rv_pqw()` in `core/elements.py` if I'm correct?

[2019-05-13 14:35] Juanlu001 opened #668 "Evaluate matrix transformation for pqw2ijk"

[2019-05-13 15:27] wselwood commented on #668
When converting orbital elements to vectors at
https://github.com/poliastro/poliastro/blob/master/src/poliastro/core/elements.py#L145
`poliastro/core/elements.pqw2ijk` is called twice which then performs three rotate operations.

It might be worth investigating creating a single rotation matrix and then applying it to both vectors.
Found a significant speed improvement with the following change: h

[2019-05-14 09:57] wselwood commented on #668
Did a quick test. Some improvement with out using a horrible quick rotation matrix creation.

Master:
wselwood@XXXXXXXXX:/git/poliastro$ python -m timeit "from poliastro.core.elements import coe2rv; coe2rv(132712442099.00002, 6, 0.6, 0.8, 1.4, 6.4, 4)"
10 loops, best of 3: 5.68 usec per loop

Test:
(venv) wselwood@XXXXXXXXX:/git/poliastro$ python -m timeit "from poliastro.core.elements import coe2

[2019-05-14 10:17] Juanlu001 commented on #668
Sure, that would be great!

[2019-05-14 15:41] wselwood commented on #668
https://github.com/poliastro/poliastro/pull/669 should mostly resolve this.

[2019-05-14 16:44] Juanlu001 opened #670 "AppVeyor is broken: tox interpreter cannot find dependencies"
See for example https://ci.appveyor.com/project/Juanlu001/poliastro/builds/24536636/job/yqfcdgd99fvc2wm7

[2019-05-14 22:53] Juanlu001 commented on #670
Closed in #671.

[2019-05-14 22:54] #670 closed

[2019-05-15 08:52] Juanlu001 commented on #668
Closed in #669.

[2019-05-15 08:52] #668 closed

[2019-05-15 10:42] Juanlu001 commented on #509
This is fully implemented now!

[2019-05-15 10:42] #509 closed

[2019-05-15 10:44] Juanlu001 commented on #455
The `scipy.integrate` contributors took care of this in https://github.com/scipy/scipy/pull/10173. Closing!

[2019-05-15 10:44] #455 closed

[2019-05-15 10:45] Juanlu001 commented on #455
Tracking the testing in #667

[2019-05-18 12:09] Juanlu001 commented on #667
Tested in #675.

[2019-05-18 12:09] #667 closed

[2019-05-19 15:45] Juanlu001 opened #676 "Provide a way to change orbit attractor"
See for example https://gist.github.com/Juanlu001/0a730a29c6aadf69638f909b2895a006

[2019-05-21 10:45] Tarlan0001 opened #677 "izzo.lambert function with custom gravity"
I need to solve the lambert problem, however, I have a custom gravity model.

`izzo.lambert(Earth.k, r0, r, tof)` needs `Earth.k` parameter. May I change it, adding own ODE of motion?

My ODE of motion:
[code]

[2019-05-21 10:57] Juanlu001 commented on #677
Hi @Tarlan0001, thanks for your interest in poliastro!

What you describe is very interesting, but requires a bit of work. In the Vallado algorithm, the `k` parameter is used to compute the time of flight:

https://github.com/poliastro/poliastro/blob/ec2dc04ad23ebdebf4345630c93eb628365c4002/src/poliastro/core/iod.py#L138

The Izzo algorithm is a bit more complicated because it uses a dimensionless

[2019-05-21 11:05] Tarlan0001 commented on #677
Well, ODE of motion arount the Earth is (if we consider only central gravitational force):
[code]
Isn't it?

In my case, `myu=1/(r^3+r^2+r)`
How may I change?

P.S I know, that this is not your problem, however, I need to solve this asap :)

[2019-05-21 13:02] Juanlu001 commented on #677
Do you need the Izzo method? (The other one does not support multi revolution but it's simpler)

I don't know the details but somehow you have to derive the **time of flight** from your equations. For the normal gravity there is an analytical solution (the Kepler's equation), for yours you will probably need to iteratively solve the differential equation. Bear in mind that the normal solving proce

[2019-05-21 13:10] helgee commented on #677
x-ref: https://github.com/JuliaSpace/SatelliteToolbox.jl/issues/29

[2019-05-21 14:46] Tarlan0001 commented on #677
I chose the Izzo method due to its accuracy and performance. The BVP solver works too long and not very accurate.

May create a new body in poliastro.bodies, like Earth and Sun, and write the custom equation of motion?

[2019-05-22 08:45] Juanlu001 commented on #677
You already have the equations of motion (mostly translating your first code snippet to Python). As I said, the key here is to derive the time of flight from them.

[2019-05-22 08:46] Juanlu001 commented on #677
xref https://space.stackexchange.com/q/36315/10716

[2019-05-22 10:01] Tarlan0001 commented on #677
I mean, may I create another object, different from Earth, with a custom gravity, using the mentioned ODE?

BTW, time of flight (tof) is an input parameter to the izzo.lambert function. Is it different from what you mean?

[2019-05-22 10:03] Juanlu001 commented on #677
I don't think you need it

Yes, the _target_ time of flight it's an input, but also it's a value it's iterated on inside the algorithm.

[2019-05-22 11:25] Tarlan0001 commented on #677
Could you please explain, why I don't need to create another object?
My equation of motion is different from the objects of the Solar system...

[2019-05-22 11:38] helgee commented on #677
@Tarlan0001 I think it would be really helpful if you could give us a little context. What high-level problem are you actually trying to solve? Is this about the perturbed Lambert problem? What are your inputs and what are the expected outputs?

[2019-05-22 12:36] Juanlu001 commented on #677
The `Body` objects only carry metadata about the planets: their mass, radius, gravitational constant... The equations of motion are not involved.

The only place in poliastro where the equations of motion are explicitly used is in the Cowell propagation method:

https://github.com/poliastro/poliastro/blob/ec2dc04ad23ebdebf4345630c93eb628365c4002/src/poliastro/core/propagation.py#L10-L35
https://gi

[2019-05-22 14:37] helgee commented on #677
See here for example: http://epubs.surrey.ac.uk/844973/1/main%20%28002%29.pdf

[2019-05-22 16:41] Tarlan0001 commented on #677
@helgee @Juanlu001
Well, in my research I'm studying the problem of rotation of the Sun around the center of Milky Way. For the beginning, I got the mentioned ODE of motion. It's a little bit different from the simple Newtonian gravity.

I understand that this is impossible currently by means of poliastro. But, probably, you would give me a clue to the quick and accurate solution of BVP?

For exam

[2019-05-24 07:53] Juanlu001 opened #678 "Make static plots the default again"
Reasons:

* Users do not read the instructions (in general)
* Users do not read the instructions to setup Plotly in Jupyter notebook and JupyterLab, and sometimes they don't even know which one are they using
* Static plots work out of the box in Jupyter notebook, JupyterLab, and Spyder, and with a `plt.show()` (that users are not doing anyway) it works from any terminal as well.

[2019-05-24 08:08] Juanlu001 commented on #678
This issue is so critical I am thinking of advance the release to June.

[2019-05-27 14:16] jorgepiloto commented on #445
By creating the attractor `SSB` (as said in possible solutions' section) and automatically assigning it when using `from_body_ephem()`, it would be possible to use it as a `flag` when calling the method `propagate`. Something like:

[code]

Do you think this implementation is a good approach to the problem?

[2019-05-27 18:40] Sedictious commented on #445
@jorgepiloto Couldn't we define a more generic system barycenter which could default to ``SSB``, but allow for alternatives (e.g. Earth-Moon barycenter)

[2019-05-27 19:58] jorgepiloto commented on #445
We could have something like `_Barycenter` class and follow the same idea `_Body` does.  The problem comes when defining `k = 0. * u.m ** 3 / u.s ** 2`. Since many internal methods make use of this value, different errors arise. How could we deal with this? What about adding all solar system bodies masses for the SSB case? Is it a 'brute force' solution? :rofl:

[2019-05-31 08:05] leonardoghizoni opened #681 "Poliastro Test goes with errors; cannot call libraries after"
🐞 **Tested Poliastro with Python 3.6.7. Cannot call libraries later**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps

[2019-05-31 08:25] Juanlu001 commented on #681
Hi @leonardoghizoni, thanks for your interest in poliastro! Your test results look fine to me:

[code]

"xfailed" means "it was expected to fail", and the rest is good. Did you have more problems?

[2019-06-01 08:33] leonardoghizoni commented on #681
Dear Juan,

Many thanks for the clarifications! I'm glad to know that it's working properly, and really happy to see that now it works with python3!

I wonder if there's place to being part of the development?

[2019-06-01 08:33] #681 closed

[2019-06-01 13:42] jorgepiloto commented on #681
Hi @leonardoghizoni! There is a Riot-Matrix poliastro group, you can join it [here](https://chat.openastronomy.org/#/room/#poliastro:matrix.org). Furthermore, there is also a [contributor's guide](https://github.com/poliastro/poliastro/blob/master/CONTRIBUTING.rst) :smile:

[2019-06-01 15:45] Juanlu001 commented on #642
Doing this anyway. A bug when plotting an orbit should not be answered with "use another method". The propagation should work, period!

[2019-06-01 15:46] Juanlu001 commented on #642
Also this is consistent with `OrbitPlotter2D` and `OrbitPlotter3D`.

[2019-06-01 16:27] Juanlu001 commented on #676
As I wrote in #679:

However, there is one place where we would benefit from a way to change the attractor:

https://docs.poliastro.space/en/stable/examples/Catch%20that%20asteroid!.html

We changed from an heliocentric orbit to a geocentric orbit **to study the osculating orbit with respect to the Earth**. The important thing to note here is that, while the object of study is within the sphere of

[2019-06-01 16:37] Juanlu001 commented on #676
Let's imagine the Sun and any planet, and some body in the Solar System.

* If the body is in a **closed** orbit around the planet, it **always** make sense to have the planet as the attractor.
  - Propagating around the planet ignores the influence of any other body of the Solar System unless explicitly accounted through perturbations, and therefore gives almost perfect results.
  - Propagating a

[2019-06-01 17:24] Juanlu001 opened #682 "Review poliastro installation"
The Jupyter ecosystem is moving forward very fast, and it is not always clear what are the minimum versions required for certain things to work.

On the other hand, **lots** of our users use poliastro as their first experience with Python and even GitHub. This is easy to see browsing the GH profiles of the people that report issues.

With this in mind, it's very likely that our users have messed u

[2019-06-01 17:37] shreyasbapat commented on #682
I will volunteer for Arch-like!😀

On Sat, Jun 1, 2019, 10:54 PM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2019-06-01 18:19] Juanlu001 commented on #424
I don't think there are satisfying tools that support trunk-based development at the moment, so we will have to keep manually bumping the version number. Closing.

[2019-06-01 18:19] #424 closed

[2019-06-01 18:32] dpshelio commented on #682
@Juanlu001 - which tests you are planning to run? You are not asking just to run the unit-tests, right? How would you test Spyder or Jupyter?

[2019-06-01 18:37] Juanlu001 commented on #682
@dpshelio rather than running the unit tests (the CI already takes care of that) I was thinking of plotting orbits with matplotlib and Plotly (`StaticOrbitPlotter` and `OrbitPlotter*` respectively), which are the most common source of frustration as it seems.

[2019-06-01 18:45] dpshelio commented on #682
I'm happy to volunteer with some of that matrix (like trying it out on a clamped down windows machine like the one in the university) if a list of steps with its expected solution is provided.

[2019-06-01 18:51] Juanlu001 commented on #682
Thanks a lot @dpshelio! Sure, we will outline the steps with detail, I think it will benefit everybody!

[2019-06-02 10:22] Juanlu001 commented on #681
Of course! You are more than welcome to contribute :rocket:

[2019-06-02 11:29] #642 closed

[2019-06-02 11:29] #678 closed

[2019-06-03 06:39] Juanlu001 commented on #530
It seems that the plots are back, and without weird CSS issues... I really don't know what happened in between. Anyway, I will fix the apostrophe, and in the meanwhile close this issue... Until next time.

[2019-06-03 06:39] #530 closed

[2019-06-03 07:16] BrandonEscamilla commented on #299
Thank you @Juanlu001. I started working on this issue. I was wondering if the animation would be only for 2D or also for 3D situation?

[2019-06-03 07:43] Juanlu001 commented on #299
@BrandonEscamilla I don't think there's a huge difference, but if doing only one is easier for you, then start with 2D and we'll see from there :)

[2019-06-03 08:21] Juanlu001 commented on #666
To clarify: WSL2 will be publicly available at the end of the year.

[2019-06-03 08:44] danlub commented on #666
I think that could leave users without access to poliastro.
For example, I know of an undetermined number of private companies (not going to provide names) that getting access to WSL right now is only provided if strictly necessary (very senior personnel, admin access, etc) for security reasons.
Those are my two cents

[2019-06-03 08:55] Juanlu001 commented on #666
I get your point @danlub, and I have worked in companies with such "situations" in the past :)

However, this would only affect our Continuous Integration efforts - poliastro is a pure Python package and it's supposed to work everywhere, anyway. In fact, we provide `noarch` conda packages and universal wheels on PyPI, and we will continue to do so. We would not, in any way, remove the possibility

[2019-06-03 10:34] Juanlu001 commented on #445
Every time I get back to this I have to carefully think about it again :innocent: My favourite explanation on barycenters and orbits is this [Space.SE answer](https://space.stackexchange.com/a/14370/10716).

First, from a physical point of view, if you experiment a bit with things like https://hermann.is/gravity/, you will notice that a small object very close to one attractor in a binary system d

[2019-06-03 10:39] Juanlu001 commented on #445
One other thing I forgot after rereading the above:

I think `from_horizons` is a very good example of the dangers of putting real-world data in an `Orbit` object: think of comets whose orbits get deflected by nearby passes around the planets, or even deep space exploration spacecraft that perform trajectory correction maneuvers and flybys! If we naïvely `.propagate` an object coming from `Orbit.f

[2019-06-03 17:29] danlub commented on #666
Got it! Thanks for the clarification!
I've misunderstood the title then

[2019-06-03 17:30] Juanlu001 commented on #666
Fair enough, changed the title as well!

[2019-06-05 21:25] shreyasbapat opened #687 "tox is not in poliastro/[dev]"
🐞 **Problem**

The tox should be one of the dependencies in poliastro setup in dev.

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions*

[2019-06-05 21:50] Juanlu001 commented on #687
Good catch @shreyasbapat!

[2019-06-06 08:44] WolfsSky opened #689 "small errata in orbit documentation"
I found a small msitake in the orbit documentation at https://docs.poliastro.space/en/stable/api/safe/twobody/orbit.html#poliastro.twobody.orbit.Orbit where

**a**
Semilatus rectum.

**p**
Semimajor axis.

Of course it should be **the other way around**. I see that this mistake has been reported before, but it seems to be still there in the documentation. The code is correct though.

[2019-06-06 08:47] Juanlu001 commented on #689
Hi @WolfsSky, thanks for reporting! If you look at the `latest` documentation this has already been fixed, so it will become stable next month, with poliastro 0.13 https://docs.poliastro.space/en/latest/api/safe/twobody/orbit.html#poliastro.twobody.orbit.Orbit we probably won't release a 0.12.1, so I'm closing. If you find anything else, please open a new issue!

[2019-06-06 08:47] #689 closed

[2019-06-06 10:03] Juanlu001 commented on #348
This has been like that at least for two years https://docs.poliastro.space/en/v0.7.0/examples/Revisiting%20Lambert's%20problem%20in%20Python.html perhaps it was never quite right?

[2019-06-06 10:05] WolfsSky opened #690 "Question: multiple perturbations in propagation"
Is it possible to add for example both atmopsheric drag and the J2 effect into the perturbations for the orbit propagation?

Maybe it is documented somewhere, but I can not find it.

[2019-06-06 10:05] Juanlu001 commented on #348
The plot is taken from the Izzo paper:

![Screenshot_2019-06-06 1403 2705 pdf](https://user-images.githubusercontent.com/316517/59024962-5dddf080-8853-11e9-91ec-df2409a32501.png)

https://arxiv.org/abs/1403.2705

[2019-06-06 10:07] jorgepiloto commented on #348
I also saw that the labels `Elliptic` and `Hyperbolic` are switched, I was uploading this image but you were faster than me :smile:

[2019-06-06 14:14] Juanlu001 commented on #690
Hi @WolfsSky, for that you can create a custom perturbation function that adds both effects:

[code]

can you confirm it works?

[2019-06-06 14:37] WolfsSky commented on #690
Can confirm that the RAAN and altitude are changing! Thanks a lot.

Would be handy to add this functionality I think. I am fairly new to poliastro and haven't worked a lot with Python lately, so I would not reccommend to let me do it though.

[2019-06-06 15:45] WolfsSky commented on #690
I really would like to add it to https://docs.poliastro.space/en/stable/examples/Natural%20and%20artificial%20perturbations.html, but I have no clue how to do this.

[2019-06-06 15:51] Juanlu001 commented on #690
If you have experience with Jupyter notebooks, it corresponds to this one https://github.com/poliastro/poliastro/blob/master/docs/source/examples/Natural%20and%20artificial%20perturbations.ipynb

[2019-06-08 09:53] Juanlu001 commented on #690
Addressing this in #691

[2019-06-10 06:38] Juanlu001 commented on #114
Addressed in #680! It would be great to update [the User Guide](https://docs.poliastro.space/en/latest/user_guide.html#traveling-through-space-solving-the-lambert-problem) accordingly

[2019-06-10 07:09] Juanlu001 commented on #687
I am working in fixing some stuff in tox, so I will close this myself.

[2019-06-10 08:01] #629 closed

[2019-06-10 08:01] #687 closed

[2019-06-10 09:59] #690 closed

[2019-06-10 11:27] WolfsSky opened #694 "Issue: Air Drag possibly inconsistent and tolerance problems"
WILL EDIT ISSUE LATER
Comparison of poliastro Cowell, Python sgp4 and TLE from Tiangong 1.

What can be seen is that for a torelance of 1e-5 the orbit decays, but for 1e-7 the orbit does not. Of course one needs to take into account the less accurate SGP4 than Cowell, however, based on the TLE's Cowell seems to be inaccurate.

Relative Tolerance = 1e-5
![Test1Drag1e5](https://user-images.githubuse

[2019-06-10 12:26] Juanlu001 commented on #694
Hmmm interesting. Please keep us posted when you're done with the analysis, this is important.

[2019-06-10 14:26] astrojuanlu opened #698 "Replace `ellipsoidal_to_cartesian` with ERFA function"
Our `ellipsoidal_to_cartesian` is exactly equal to `gd2gce` from SOFA/ERFA in one simple test I did:

[code]

[2019-06-10 17:04] jorgepiloto commented on #114
Should we also update the notebooks [Going to Mars with Python using poliastro](https://docs.poliastro.space/en/latest/examples/Going%20to%20Mars%20with%20Python%20using%20poliastro.html) and [Going to Jupiter with Python using Jupyter and poliastro](https://docs.poliastro.space/en/latest/examples/Going%20to%20Jupiter%20with%20Python%20using%20Jupyter%20and%20poliastro.html)?

[2019-06-11 05:39] Juanlu001 commented on #114
Definitely!

[2019-06-11 17:15] WolfsSky commented on #694
**Finding 1**
What I find the most peculiar is the too long **Linear decay**, compared to TLE and SGP4. The atmospheric model uses a scale height of 8 km with a rho_0=1.3 kg/m^3. This is true for an atmosphere till 100 km, but above that it is enormous erroneous compared to for example the data found in Space Mission Analysis and Design by Wertz for higher altitudes:
For example, at 300 km the cur

[2019-06-11 17:24] Juanlu001 commented on #694
Labeling this as a bug, we have to investigate it further.

The Cowell method is described in many places, for example Vallado "Fundamentals of Astrodynamics and Applications". We use a high order Runge-Kutta method to integrate the equations of motion, specifically Dormand-Prince 8(5,3) (`DOP853`). We did not do a formal validation of our implementation, although you might be interested in trying

[2019-06-12 06:46] WolfsSky commented on #694
**More on finding 1**
I don't think the tolerance is the problem anymore, I just got more similar results with low tolerance because of the wrong atmospheric model. Do not have the Howard Curtis book myself, but it would be inconsistent if they use the normal exponential atmosphere above 100km.
Now I get under and over estimations of the decay with a rtol of 1e-9, depending on what atmosphere I us

[2019-06-13 14:46] Juanlu001 commented on #665
Closed in #700.

[2019-06-13 14:46] #665 closed

[2019-06-13 14:49] astrojuanlu opened #702 "Add better atmosphere model for the Earth"
(Coming from #694)

See for example:

* https://github.com/DeepHorizons/Python-NRLMSISE-00
* https://github.com/space-physics/msise00

(and probably others)

[2019-06-13 14:50] Juanlu001 commented on #694
Oh, you're right! This atmospheric model that poliastro has is a simple, exponential one. It is more appropriate for "generic" stuff, perhaps for other planets (and especially big ones). I opened a new issue to implement a better model: https://github.com/poliastro/poliastro/issues/702

[2019-06-13 16:02] WolfsSky commented on #694
It works for a lot of simulations, for example for steeper re-entries (did my master thesis on that, written in octave though), but this all takes part at about maximum 100 km. But yes, for now the atmospheric drag is off by a lot. Changing it now manually to other values close to the ones in SMAD:
![PredicLine_300TLEs_10days](https://user-images.githubusercontent.com/6907283/59448309-25b35080-8e0

[2019-06-17 10:45] astrojuanlu opened #703 "Include more IAU-WGCCRE constants"
Follow-up from https://github.com/poliastro/poliastro/pull/674#discussion_r290166801

The constants from The IAU Working Group on Cartographic Coordinates and Rotational Elements to Astropy. They contain things like ellipsoidal and mean radiuses, reference meridians, rotational velocities for planets and some minor bodies... The IAU-WGCCRE publishes reports that contain updated values of these con

[2019-06-17 11:06] Juanlu001 commented on #114
More than three years later, this is in :)

[2019-06-17 11:06] #114 closed

[2019-06-17 11:19] Juanlu001 commented on #495
@jorgepiloto now that we understand the algorithm a bit better, perhaps we can keep the "low level Lambert API" in this notebook https://docs.poliastro.space/en/latest/examples/Revisiting%20Lamberts%20problem%20in%20Python.html#Multiple-revolutions but decide whether we still want to use a generator, or at least change the `(_, v_l), (_, v_r) = izzo.lambert(k, r0, r, tof, M=1)`?

[2019-06-20 06:56] Juanlu001 commented on #445
sbpy solved this by having an `Orbit` object and an `Ephem` object:

https://sbpy.readthedocs.io/en/latest/sbpy/data.html#what-are-ephem-orbit-and-phys-and-how-to-use-them

(this came up when I reviewed their submission to the Journal of Open Source Software https://github.com/openjournals/joss-reviews/issues/1426)

[2019-06-20 07:25] Juanlu001 opened #704 "Compute Laplace/Hill radius of the Sun?"
When we call `laplace_radius(Earth)`, it computes the Laplace radius of the Earth with respect to its parent, the Sun. Same goes with `laplace_radius(Moon)`, which computes the Laplace radius of the Moon with respect to its parent, Earth:

https://github.com/poliastro/poliastro/blob/2cca5457203ab0342cb40a79e81f250a23ac8aba/src/poliastro/threebody/soi.py#L57

https://github.com/poliastro/poliastro/

[2019-06-20 08:12] Juanlu001 opened #705 "Improve ephemerides error appearance"
[code]

[2019-06-21 05:27] jorgepiloto commented on #445
Interesting, I think that `Ephem` class could be a good option. We may have something like:

[code]

The principle behind this propagate would be the one defined at the very beginning of the issue: *use the `build_ephem_interpolant` or `get_body_barycentric_posvel`.*

Should this `Ephem` be inherited from the `Orbit` class and the `propagate` method overridden?

[2019-06-21 07:21] Juanlu001 commented on #676
Almost there in #679. We should simplify the Florence notebook accordingly.

[2019-06-21 07:46] Juanlu001 commented on #109
After a long silence, I plan to get back to the work @amsuhane and @GorgiAstro did during the (Northern) summer for poliastro 0.14. Before that, I would like to make a big refactor of the `bodies` module to remove the rotational elements from there and simplify the class structure, and possibly tackle #703 along the way.

[2019-06-21 07:47] Juanlu001 opened #706 "Add documentation and examples for CZML extractor"

[2019-06-21 08:41] astrojuanlu opened #707 "Evaluate use of canonical units"
I have long been thinking about this, but this bit in the [pykep documentation](https://esa.github.io/pykep/documentation/core.html#pykep.lambert_problem.__init__) triggered the idea again:

In our two-layered architecture, we are already normalizing to kilometers in some places, see for example

https://github.com/poliastro/poliastro/blob/c9afdc9b5fcbd666f8da3d0c231842a13f72d3bb/src/poliastro/iod

[2019-06-21 09:03] Juanlu001 commented on #445
I'm not sure `Ephem.propagate` would make sense (just for consistency, but it would be a bit of a stretch in my view). `Ephem.sample`, however, would make total sense.

Let's talk about this more in detail for the next release. Before talking about inheritance, perhaps we would need to tackle https://github.com/poliastro/poliastro/issues/659 first. Or, in general, the fact that the `Orbit` class i

[2019-06-21 20:06] jorgepiloto commented on #348
The current state of this:

1. After comparing the poliastro Izzo's algorithm against [pykep](https://esa.github.io/pykep/) it got exactly the same results, so algorithm implementation seems to be right.

2. I focused my attention on the `_compute_T_min` private function and realized that wrong results were obtained only for those values of `ll = -1`. If we increase the `y-axis` limit to also see

[2019-06-21 22:06] jorgepiloto commented on #348
Alright, so it seems that the initial condition `x_i` when `ll = -1` tremendously affects the output of the function `_compute_T_min`. By forcing each initial condition `x_i` to each `M`, those red crosses matched the lines. See:

![possible_lambert](https://user-images.githubusercontent.com/28702884/59953552-ef1eab00-9480-11e9-9ce2-f5b0c02ae322.png)

However, this is not a solution, of course. A

[2019-06-22 13:23] Juanlu001 commented on #707
Vallado has a section devoted to canonical units:

![Screenshot from 2019-06-22 15-22-59](https://user-images.githubusercontent.com/316517/59964480-b07d0500-9501-11e9-8980-a138d4962c08.png)

[2019-06-22 17:07] Juanlu001 commented on #348
From the paper:

[2019-06-22 17:59] Juanlu001 commented on #348
Encouraged by @jorgepiloto progress on this issue, I couldn't help but look at it... And I found the problem!

[code]

The value of `y` is being reused with an old value of `x` for the case `ll != 1, M != 0`. For some reason, this seems to affect most the `ll == -1` case.

The reason why the value `y` is computed outside of the time of flight equation is to avoid a repetitive calculation when eval

[2019-06-22 19:58] #348 closed

[2019-06-22 20:46] MichaelRThompson commented on #514
It depends on who you talk do, but yes, generally speaking the term geosynchronous just means a period of 1 sideral day.  Inclination and eccentricity should both be able to vary.

[2019-06-23 12:10] Juanlu001 opened #710 "Review plotly renderers"
See https://github.com/plotly/plotly.py/pull/1474#issuecomment-483843514

[2019-06-24 22:20] astrojuanlu opened #712 "Have nice front page"
Inspired by: https://twitter.com/mrocklin/status/1143276002895966208

![Screenshot_2019-06-25 Twitter Publish](https://user-images.githubusercontent.com/316517/60055778-08bd2e00-96df-11e9-91df-84176f0d38b0.png)

[2019-06-24 22:20] Juanlu001 commented on #712
Bokeh new front page https://bokeh.org/

[2019-06-25 09:04] Juanlu001 opened #714 "Add new two-body propagators"
(Not to be confused with #285)

It's already well known that some of our propagators have issues (see for example #475). Tricky stuff includes:

* Near parabolic orbits
* Very long propagation times
* Very low pericenters
* Others?

It would be nice to have more propagators (and also to benchmark them, see #253).

[2019-06-25 09:06] Juanlu001 commented on #714
@giordano points us to this interesting method: http://dx.doi.org/10.1007/BF00691917

Definitely looks very promising! @jorgepiloto is surely looking into it :wink:

[2019-06-25 14:39] jorgepiloto commented on #714
I have implemented the previous Kepler equation solver in [this gist](https://gist.github.com/jorgepiloto/8d572ea4bb50c9ffed93c56dfaa81160).

However, when trying to solve for the vectors in #474 it seems to get stucked at the function `nu_to_M`. This may be a clue to what is going one with those vectors :rocket:

[2019-06-25 14:43] Juanlu001 commented on #714
If it gets stuck, run the code again after exporting `NUMBA_DISABLE_JIT=1`. In my experience, numba sometimes "get stuck" in infinite loops because exceptions are not properly handled.

[2019-06-25 14:55] Juanlu001 commented on #714
Relevant: https://github.com/poliastro/poliastro/pull/394/

[2019-06-25 15:23] Juanlu001 opened #715 "Review Plotly docs for next nbsphinx release"
See https://github.com/spatialaudio/nbsphinx/pull/302 and https://github.com/spatialaudio/nbsphinx/issues/128.

[2019-06-25 20:58] jorgepiloto commented on #714
Here are some interesting papers that I have collected during the last months in which different methods for solving Kepler's equation are shown:

* [Robust resolution of Kepler’s equation in all eccentricity regimes](https://link.springer.com/article/10.1007/s10569-013-9476-9)

* [Accurate Kepler equation solver without transcendental function evaluations](https://www.researchgate.net/publication

[2019-06-26 06:48] Juanlu001 commented on #714
The first one we already know, look for "Farnocchia" in https://github.com/poliastro/poliastro/blob/ee41c682f/src/poliastro/twobody/angles.py (and https://github.com/poliastro/poliastro/pull/394)

[2019-06-26 06:49] Juanlu001 commented on #714
Also, when linking papers, if you can try to find for the DOI. It will make it easier to download them later :wink:

[2019-06-26 13:31] hpdumm commented on #445
Orekit uses a CelestialBody object and provides a method to retrieve the current position and velocity. That would be less generic than Ephem.

[2019-06-26 13:39] Juanlu001 commented on #445
Thanks @hpdumm for the pointer! This is the relevant documentation:

https://www.orekit.org/site-orekit-9.3.1/apidocs/org/orekit/bodies/CelestialBody.html

And indeed it provides a `getPVCoordinates` method that receives a date and a frame, and not a `propagate` method.

In my view, an `Ephem` object would be a vectorized version of that (i.e. allowing an array of times for simplicity), but the id

[2019-06-26 16:10] dragonlost opened #716 "Prevent Orbit creation with non scalar quantities"
Hello.
I recently use poliastro but i have a bug.
when i use propagate fonction :

[code]

[2019-06-26 16:29] Juanlu001 commented on #716
Hi @dragonlost! Can you display `ss.classical()`?

[2019-06-26 16:30] Juanlu001 commented on #716
This is probably a bug, I'm sure we can prevent the user from doing this.

[2019-06-26 16:31] Juanlu001 commented on #716
Also, we will need your poliastro version, Python version, and operative system.

[2019-06-26 16:41] dragonlost commented on #716
for `ss.classical() : (<Quantity [6878.14] km>, <Quantity [0.]>, <Quantity 20. deg>, <Quantity 0. deg>, <Quantity 0. deg>, <Quantity 0. deg>)

My operative system : Ubuntu Mate 18.04.2
My python version : Python 3.7.2 with Anaconda 3 (gcc 7.3.0)
My poliastro version : 0.12.0 (build : py_0, conda-forge)

and conda 4.7.5 and numba 0.43.1
`

[2019-06-26 16:42] Juanlu001 commented on #716
I see that the first two are arrays with one element, did you notice the brackets?

[2019-06-26 17:02] dragonlost commented on #716
ok is my fault. I had a bad upstream conversion that would create me "a" and "e" as a list

[2019-06-26 17:03] dragonlost commented on #716
Thank for very very fast support !!

[2019-06-26 17:35] Juanlu001 commented on #716
:smile: You're welcome! We'll try to find a way to prevent this in the future, that numba error is impossible to understand :)

[2019-07-08 20:41] jorgepiloto commented on #714
The DOIs for the papers were added and their current status updated regarding if totally, partially or not implemented :+1:

[2019-07-09 07:38] Juanlu001 commented on #475
Now the question is: what propagator among the new ones introduced in #718 work best for this kind of orbits?

[2019-07-09 07:39] Juanlu001 commented on #714
Awesome!

[2019-07-09 07:41] Juanlu001 commented on #714
Improving our shiny new propagators is a non-issue (we can do it gradually over time, and also they are very heterogeneous) and you properly noted with `TODO` marks and `NotImplementedError` the parts we could in theory improve, so I'm closing this.

[2019-07-09 07:41] #714 closed

[2019-07-10 16:50] dragonlost commented on #649
Hello i need your help.
I tried to produce an orbit around the moon but I have the following problem:

Orbit start generate
(<Quantity 1. AU>, <Quantity 0.>, <Quantity 0. deg>, <Quantity 0. deg>, <Quantity 0. deg>, <Quantity 0. deg>)
Propagation :   0%|                                | 0/31535999 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "/home/sdurand/miniconda3/lib/python3.7/sit

[2019-07-10 16:52] dragonlost commented on #649
I also have this problem when I try to propagate an orbit around a custom object

[2019-07-10 16:53] Juanlu001 commented on #649
@dragonlost can you please try again after `https://github.com/poliastro/poliastro/archive/master.zip`?

[2019-07-10 16:54] Juanlu001 commented on #649
(Edit: corrected `pip install` command)

[2019-07-10 17:03] dragonlost commented on #649
nice is fixe !

[2019-07-10 17:27] Juanlu001 commented on #710
Encouraged by [the release notes of the upcoming Plotly 4.0](https://community.plot.ly/t/introducing-plotly-py-4-0-0rc1/25639), I tried Spyder and, unfortunately, an appropriate renderer is not selected automatically. I then tried to install orca, but it was clashing with another binary with the same name in my operative system, so I gave up.

[2019-07-14 08:32] Juanlu001 opened #722 "Drop Python 3.5"
According to [APE 10](https://github.com/astropy/astropy-APEs/blob/master/APE10.rst#roadmap) (Astropy Proposal for Enhancement number 10), Astropy 3.2 is the last release to support Python 3.5. This Python version was already a problem for us because of dictionary order (see #711) so I've decided it's time to drop it.

[2019-07-14 12:53] #722 closed

[2019-07-14 17:03] Juanlu001 commented on #710
I insisted a bit more in installing orca, and manually selecting the renderer worked:

![Screenshot from 2019-07-14 19-01-36](https://user-images.githubusercontent.com/316517/61186810-f2651b00-a669-11e9-864f-8fabd0d51c4f.png)

[2019-07-14 17:06] Juanlu001 commented on #710
I have been exploring this topic a little bit and commented in several issues along the way:

* https://github.com/plotly/plotly.py/issues/1664
* https://github.com/plotly/orca/issues/238
* https://github.com/jupyter/nbconvert/issues/944#issuecomment-511216610

[2019-07-14 17:21] Juanlu001 commented on #710
From [this comment](https://github.com/jupyter/nbconvert/issues/944#issuecomment-511218705) and the evidence I gathered, *if the latest combination of nbconvert, sphinx-rtd-theme and plotly works out of the box*, we should probably switch to using `Figure` instead of `FigureWidget` here:

https://github.com/poliastro/poliastro/blob/1ebe69f133c46c26e4f9d3a6ad1955b0fcb8f4b9/src/poliastro/plotting/_b

[2019-07-14 17:46] Juanlu001 commented on #676
@jorgepiloto said offline that precisely the Florence notebook is an example where the asteroid was _outside_ of the sphere of influence of the Earth, therefore our new APIs will fail. Perhaps we would need an extra parameter, `force=False` or `fail_outside_soi=True`, that the user could override if they really wanted to.

[2019-07-14 17:48] Juanlu001 commented on #364
@shreyasbapat will have a well deserved break, so we can either wait 2-3 months or have someone else pick this up. In either case, I'm removing the milestone.

[2019-07-14 19:20] Juanlu001 commented on #557
I think we probably need some more time to get this in poliastro safely. Release time is approaching and there's nothing to lose by delaying this to the next one, plus we will have more time to think about frames, what to do with the bodies, add planetary constants, improve validation... Therefore, I am changing the milestone.

[2019-07-15 08:47] jorgepiloto opened #726 "Strange behaviour when plotting some orbits"
🐞 **Problem**

After working in the example for `Multirevolutions in Lambert's problem` it was found a strange behavior when plotting one of the orbits. The code to reproduce this issue can be found [here](https://gist.github.com/jorgepiloto/76579262d741ce1b4d88d55f6c912d09).

![issue_figure](https://user-images.githubusercontent.com/28702884/61204231-f4bc8900-a6ec-11e9-910f-c2980fa3e0d3.png)

🎯 *

[2019-07-15 08:53] jorgepiloto commented on #676
Sure! I think the `force=True` key argument is really explicit

[2019-07-15 08:53] Juanlu001 commented on #495
Done!

[2019-07-15 08:53] #495 closed

[2019-07-15 10:16] astrojuanlu opened #727 "Evaluate alternatives to storing executed notebooks in git"
Doing widget state cleanup today:

[code]

This was just the last straw, but storing executed notebooks takes a lot of space and makes code review more difficult. We should evaluate whether things like [jupytext](https://towardsdatascience.com/jupytext-1-0-highlights-a49dca9baa7b) are better suited for this.

[2019-07-16 06:49] Juanlu001 commented on #281
After #728, here we are again!

[2019-07-16 11:36] jonmmease commented on #710
Hi @Juanlu001,

Thanks for trying things out!  After reading your observations, I took another look at Spyder, and it looks like we can use environment variables to auto-detect that plotly.py is running inside Spyder.  Here's the commit where I just added this feature https://github.com/plotly/plotly.py/commit/b39db734cfd8ddfa1f84dd83fe1f5eb59b21904b to the `v4_integration` branch (which will be m

[2019-07-17 13:31] jorgepiloto commented on #383
Could be interesting: https://doi.org/10.2514/1.14760

[2019-07-17 13:50] Sedictious opened #731 "Error when using different units with bielliptic maneuver"
🐞 **Problem**

There seems to be a bug when using different units in bielliptic maneuver.

🖥 **How to reproduce this bug**

* In ``constants.py`` replace the definition of ``Earth`` with:

[code]

After running the tests in ``test_maneuver.py``, ``test_bielliptic_maneuver()`` should fail:
[code]

(Tested with Python 3.6)

💡 **Possible solutions**

If this bug is reproduce-able, it may be the case

[2019-07-17 14:01] jorgepiloto commented on #731
Investigating this... Could it be the fact that you wrote the number in `km` and variable `system='si'` is set to the international system?

[2019-07-17 14:29] Sedictious commented on #731
@jorgepiloto Yes it seems to work when set to meters (this also seems to be the only test that fails).

[2019-07-17 15:17] Juanlu001 commented on #731
I can confirm that the test fails, and also that _it's the only test that fails_, which suggests that the unit definition that @Sedictious proposes is likely correct. This is most likely a bug.

[2019-07-17 16:40] Juanlu001 opened #732 "Write 0.13 release notes"
* Milestone: https://github.com/poliastro/poliastro/milestone/14
* Commits since `0.12.x` was branched off: https://github.com/poliastro/poliastro/compare/45426a8081428bc018e4e437475a8a36ee48900c...master
* Pull requests merge after `0.12.x` was branched off, from older to newer https://github.com/poliastro/poliastro/pulls?q=is%3Apr+is%3Amerged+merged%3A%3E%3D2019-02-09+sort%3Aupdated-asc

[2019-07-17 16:59] #516 closed

[2019-07-17 17:01] Juanlu001 opened #734 "Release 0.13.0 checklist"
## Preparing the release

* [x] Rerun all notebooks (pay special attention to new features)
* [ ] Review documentation, optionally improving the user guide or adding new notebooks showcasing new functionality
* [x] Write the changelog and list of contributors
  - Commits since last release branch https://github.com/poliastro/poliastro/compare/v0.12.0...master
  - Issues closed in this milestone ht

[2019-07-18 08:26] Juanlu001 commented on #703
@Sedictious already updated the radii values, and also added some new ones. Next step: reference meridians and rotational velocities.

[2019-07-19 07:25] Juanlu001 commented on #710
That's awesome, thanks a lot @jonmmease! Still figuring out what did I break with the plots in nbsphinx (a long struggle!), hope I can narrow down the issue this week.

[2019-07-20 13:59] astrojuanlu opened #740 "Incorrect Hohmann maneuver when not at pericenter?"
🐞 **Problem**

I think there is a potential problem here:

https://github.com/poliastro/poliastro/blob/bc4c00887a6263601143366007edb6b7a711be61/src/poliastro/maneuver.py#L100-L101
https://github.com/poliastro/poliastro/blob/bc4c00887a6263601143366007edb6b7a711be61/src/poliastro/maneuver.py#L144

in that the time to get to the pericenter is not being taken into account for the maneuver, and therefo

[2019-07-20 14:21] jorgepiloto commented on #740
Interesting... The same happens in `Bielliptic` ones. Some possible solutions that came to my mind:

* We could raise `ValueError("Not in pericenter...")` so the user is forced to propagate before solving the maneuver.
* In case-solving internally time to pericenter, the set of impulses should be like:

[code]

That propagation impulse always has `deltaV = 0 * u.km / u.s` and time may vary between

[2019-07-20 17:49] Juanlu001 commented on #710
Seems like sphinx-rtd-theme has again some issues with plotly: https://github.com/readthedocs/sphinx_rtd_theme/issues/788

[2019-07-20 17:51] Juanlu001 commented on #710
Also, as can be seen here https://rtd-js-test.readthedocs.io/en/alabaster/ the plot shows with/without `.show()`, and regardless of the renderer chosen (only tried ones that do not need orca installed). I guess `notebook_connected` would be better to save some space in the notebook, but for today I focused on diagnosing the issue.

[2019-07-20 17:51] Juanlu001 commented on #281
https://github.com/readthedocs/sphinx_rtd_theme/issues/788

[2019-07-20 17:52] Juanlu001 commented on #281
Even though @shreyasbapat has suggested several times to change the theme... I'd still would love to work upstream to fix this. Even though it's been two years already...

[2019-07-21 00:42] Juanlu001 commented on #281
This time it was easy: https://github.com/readthedocs/sphinx_rtd_theme/issues/788

With https://github.com/poliastro/poliastro/pull/741, now we are **really** closing this issue, and after almost two years I can say the Plotly + nbsphinx + RTD drama is over!

[2019-07-21 00:42] Juanlu001 commented on #710
The renderers are reviewed and the notebooks are now working with `notebook_connected`, so we can close this!

[2019-07-21 00:42] #710 closed

[2019-07-21 00:52] #281 closed

[2019-07-21 01:10] Juanlu001 commented on #734
I had to manually remove the rtd_sphinx_theme fork URL from the wheel metadata, see https://github.com/pypa/pip/issues/6301

[2019-07-21 01:20] Juanlu001 commented on #168
Removing the milestone.

[2019-07-21 01:21] Juanlu001 commented on #676
We fixed this in #729!

[2019-07-21 01:21] #676 closed

[2019-07-21 01:23] Juanlu001 commented on #706
There's already an small example in the user guide, it would be great to have a notebook with more information!

[2019-07-21 09:07] Juanlu001 commented on #430
Not sure how this is useful with types not known to numba, such as Astropy `Quantity`es. Closing.

[2019-07-21 09:07] #430 closed

[2019-07-21 09:10] Juanlu001 commented on #494
Beautifully crafted example available here https://docs.poliastro.space/en/latest/examples/Multirevolutions%20solution%20in%20Lamberts%20problem.html added in #725!

[2019-07-21 09:10] #494 closed

[2019-07-21 09:11] Juanlu001 commented on #497
@Sedictious is working on a complementary approach using Cesium in https://github.com/poliastro/poliastro/pull/739

[2019-07-21 09:12] Juanlu001 commented on #501
Support for Plotly was added to sphinx-gallery, so this is again open for consideration.

[2019-07-21 09:15] Juanlu001 commented on #610
Notice that

1) Plotly plots finally works in notebooks!
2) We don't need to use widgets anymore

[2019-07-21 09:16] Juanlu001 commented on #694
@jorgepiloto is adding more atmospheric models in #738.

[2019-07-21 09:19] Juanlu001 commented on #705
Fixed in #723.

[2019-07-21 09:19] #705 closed

[2019-07-21 09:20] Juanlu001 commented on #715
The only thing we will need is to remove this part when the next nbsphinx release is out:

https://github.com/poliastro/poliastro/blob/5d710592f33a41065eb22f26aa2ede0b77e1fa0a/docs/source/conf.py#L133-L136

[2019-07-21 09:22] Juanlu001 commented on #740
I would rather do the latter instead of raising the error.

[2019-07-21 09:23] Juanlu001 commented on #380
I think the course of action will become more clear when we work on https://github.com/poliastro/poliastro/issues/445.

[2019-07-22 12:15] paugier opened #742 "Transonic, Numba, Cython, Pythran"
It is not a feature request!

I'm preparing my participation to EuroScipy 2019 and I read your abstract on "Can we make Python fast without sacrificing readability? numba for Astrodynamics".

During EuroScipy, I'm going to present [Transonic](https://transonic.readthedocs.io), a project strongly related to the subject of your presentation.

Transonic was first developed to use very easily Pythran.

[2019-07-25 11:01] Juanlu001 commented on #484
There is this beautiful solution now!

https://github.com/plotly/plotly.py/issues/1664#issuecomment-511773518

[2019-07-30 19:03] Juanlu001 commented on #484
Just tested this solution and works like a charm :heart:

[2019-08-02 08:40] jorgepiloto commented on #514
At least two parameters between `a, ecc and inc` should be selected when solving for a Sun-Synchronous orbit. The non-used one is fixed by the other two according to the following relations:

<img src="https://latex.codecogs.com/gif.latex?a^{\frac{7}{2}}&space;=&space;\frac{-3R_{\bigoplus}^{2}J_{2}\sqrt{\mu}}{2\dot{\Omega}(1&space;-&space;e^{2})^{2}}\cos(i)" title="a^{\frac{7}{2}} = \frac{-3R_{\bi

[2019-08-03 19:21] franzbinder opened #748 "poliastro.testing.test() fails = 504 failed, 244 passed, 3 skipped, 1 xfailed, 4 warnings in 391.53 seconds =="
first up i am new to python and programming in general.

Poliastro installs succsesful, but import poliastro.testing; poliastro.testing.test() fails. i tried deinstalling an reinstalling poliastro but the same issue exisits. i actually used poliastro for a bit , when i noticed that the plots where not showing. i also don't know how to get the full test report in pycharm. around 20 000 lines seems

[2019-08-03 20:48] franzbinder commented on #748
got the errors down
i did update python to 3.7 reisntall poliastro and install  pip install jupyterlab==1.0 "ipywidgets==7.5"

Python 3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 19:29:22) [MSC v.1916 32 bit (Intel)] on win32
In[2]: import poliastro.testing; poliastro.testing.test()
============================= test session starts =============================
platform win32 -- Python 3.7.4, pytes

[2019-08-03 21:38] franzbinder commented on #748
got it further down but still no plots, even tough the 10 testplots are showing but three are empty
`import poliastro.testing; poliastro.testing.test()
============================= test session starts =============================
platform win32 -- Python 3.7.4, pytest-5.0.1, py-1.8.0, pluggy-0.12.0
rootdir: C:\Users\taiko
collected 752 items
..\..\AppData\Local\Programs\Python\Python37-32\lib\si

[2019-08-04 09:42] jorgepiloto commented on #748
Hi @franzbinder, thank you for using `poliastro`. I saw you have `poliastro=0.12.0`. In case you did `pip install poliastro`, please remove `poliastro` and try to install it by making use of `conda install poliastro --channel conda-forge`.

As stated in the [0.12 README](https://github.com/poliastro/poliastro/tree/0.12.x), for running the test we must run the following command in terminal:

[code]

[2019-08-04 13:49] franzbinder commented on #748
the static plot as you posted it works, i also tried the plotly plots in jupyter and there they work without a problem.

i ran the test in the command line and i just got one failed left, as mentioned above.

if i can the plotly code in the python console in pycharm i get soem data back but no plot.

never the less, thank you!

[2019-08-04 20:32] Juanlu001 commented on #748
Hi @franzbinder, thanks for your interest in poliastro! I see you already fixed your first installation issues. Regarding the last failure, it's probably because the latest Astropy version made some changes, it's totally harmless and it will be gone when we release the next poliastro version (soon!). Thanks @jorgepiloto for chiming in!

Plotly will likely not work on PyCharm, it's designed to be u

[2019-08-04 20:32] #748 closed

[2019-08-05 20:56] Juanlu001 commented on #734
All set! Closing :rocket:

[2019-08-05 20:56] #734 closed

[2019-08-06 05:26] OrbitalMechanic opened #749 "When will poliastro ver. 0.13.0 become available from Anaconda?"
When will poliastro ver. 0.13.0 become available from Anaconda? At the time of this note, only ver. 0.12.0 is available.

Lastly, what is the recommended procedure to update poliastro from 0.12.0 to 0.13.0?

[2019-08-06 10:21] aqreed commented on #734
How did you solve this? I mean, in the end, did you add the URL to install the dependency using _git+https_ in _setup.py_ anywhere?

[2019-08-06 12:59] Juanlu001 commented on #749
Hi @OrbitalMechanic! I have to make some tweaks in [the automatic pull request](https://github.com/conda-forge/poliastro-feedstock/pull/29), I hope it's available today. Thanks a lot for the enthusiasm! :smile:

[2019-08-06 13:55] Juanlu001 commented on #734
The URL using PEP 508 external requirements is here:

https://github.com/poliastro/poliastro/blob/0.13.x/setup.cfg#L78

So what I did was, after `python setup.py sdist bdist_wheel`, I opened the `.whl` file (which is in fact a zip or a tgz) and manually changed the `METADATA` file, which originally contains this:

[code]

[2019-08-06 14:54] Juanlu001 commented on #749
poliastro 0.13.0 should be available in conda-forge right now:

https://anaconda.org/conda-forge/poliastro

However, I will likely upload a new build when czml3 is available on conda as well:

https://github.com/conda-forge/staged-recipes/pull/9070

To upgrade poliastro from 0.12.0, assuming you had it in conda, the best way would be:

[code]

[2019-08-06 14:54] #749 closed

[2019-08-07 04:53] OrbitalMechanic opened #750 "Error Encountered Testing poliastro ver. 0.13.0 on iMacPro"
Successfully installed both poliastro ver. 0.13.0 and czml3 on an iMacPro running Mac OS X ver. 10.14.6 (Mojave) under Python 3.7.3. In running the test on poliastro, I get the following results shown in the attached file.

Please advise.

[poliastro-0.13.0-test.txt](https://github.com/poliastro/poliastro/files/3475303/poliastro-0.13.0-test.txt)

[2019-08-07 08:39] jorgepiloto commented on #750
Hi Samuel, thank you for using `poliastro`. It looks that you are getting the errors in the image comparison tests. These tests make use of a `pytest plugin` called [pytest-mpl](https://github.com/matplotlib/pytest-mpl) which you can easily install by running:

[code]

Please, try to install it and comment if your problem was solved :+1:

[2019-08-07 12:20] Juanlu001 commented on #740
Fixed in #744.

[2019-08-07 13:13] Juanlu001 commented on #731
I confirm this was fixed in #744! :tada:

[2019-08-07 13:13] #731 closed

[2019-08-08 03:01] OrbitalMechanic commented on #750
I'm still getting errors. The errors I'm getting are shown below:

(base) Samuels-Mac-Pro:~ user$ python -c "import poliastro.testing;
poliastro.testing.test()"
==========================================================================
test session starts
===========================================================================
platform darwin -- Python 3.7.3, pytest-5.0.1, py-1.8.0, pluggy-0.12

[2019-08-08 09:40] WolfsSky opened #751 "nu_to_M different results for same inputs in degree or radians"
The function `nu_to_M` gives different results when inputting *nu* in degrees or radians.
Doesn't say the input can not be degrees.

nuu=150 (in degrees)
ecc=0.08
np.rad2deg(nu_to_M((np.deg2rad(nuu)*u.rad), (ecc)))%360
OUT: 145.16778101222044

(nu_to_M(((nuu*u.deg)), (ecc)))%360
OUT: 150.10969327328553

💡 **Possible solutions**

- add error message
- add check for degrees or radians within functio

[2019-08-08 10:18] jorgepiloto commented on #751
Hi @WolfsSky,

the `poliastro.angles.nu_to_M` function from the high-level API (the one accepting `astropy.units.Quantity` inputs) works fine. Furthermore, if not passing a `Quantity` instance it raises an error. If you are using the `poliastro.core.angles.nu_to_M` your input should be always in radians.

I wrote a [small gist](https://gist.github.com/jorgepiloto/6383a5b67811befdc64da06aa1b5068d)

[2019-08-08 10:20] WolfsSky commented on #751
Ah! That makes sense, I did indeed use the core, and not the angles version. Thanks for clarifying :)

[2019-08-08 10:22] jorgepiloto commented on #751
Ups, sorry! In fact it is `poliastro.twobody.angles` the one for the high-level API :relaxed:

[2019-08-08 10:29] WolfsSky commented on #751
Yes I tried from `poliastro.angles` but it failed then, but thanks!

[2019-08-08 10:29] #751 closed

[2019-08-08 11:30] Juanlu001 commented on #750
Hi @OrbitalMechanic, I have tried to reproduce the issue with no luck. This seems to be the culprit:

[code]

I understand that the error should not appear because `mpl_image_compare` is, in fact, in `markers`:

https://github.com/poliastro/poliastro/blob/81d9fd71065586191b97542fb2498adec27a7fc8/setup.cfg#L91-L95

You seem to have the same Python, pytest, py, pluggy, matplotlib and pytest-mpl that

[2019-08-09 02:46] OrbitalMechanic commented on #750
For whatever reason I've not been able to uninstall poliastro. Th
attached file contains the error messages.

I've resorted to restoring an anaconda3 backup from TimeMachine from a
point in time where I had poliastro ver. 0.12.0 installed.

Will keep you informed.

Sam Dupree.

On August/08/2019 07:30:23, Juan Luis Cano Rodríguez wrote:

Last login: Thu Aug  8 19:52:55 on console
(base) Samuels-Ma

[2019-08-09 04:02] OrbitalMechanic commented on #750
I found a backup of anaconda3 where poliastro was absent. I installed
this backup and successfully installed poliastro ver. 0.13.0. I ran the
test in a separate terminal window and the test still fails with the

            'mpl_image_compare' not found in `markers` configuration option

error message (see attached file poliastro_reinstall_0.13.0_test.txt.

conda list will show that I have the lat

[2019-08-09 12:09] Juanlu001 commented on #750
Could you please `cat /Users/user/anaconda3/setup.cfg`? If there is no such file, then I don't understand pytest output, and if there is, it's weird but that's probably the cause of all trouble.

[2019-08-09 23:59] OrbitalMechanic commented on #750
Attached is a copy of the setup.cfg file you requested.

Hope this helps.

Sam Dupree.

On August/09/2019 08:09:24, Juan Luis Cano Rodríguez wrote:

[metadata]
license_file = LICENSE.txt

[tool:pytest]
testpaths = statsmodels
addopts = --strict
filterwarnings =
	ignore:pandas.core.common.is_categorical_dtype:DeprecationWarning:patsy
	ignore:Using or importing the ABCs:DeprecationWarning:patsy
	ign

[2019-08-10 07:19] Juanlu001 commented on #750
Oh wow, it's the statsmodels `setup.cfg`!

https://github.com/statsmodels/statsmodels/blob/v0.10.0/setup.cfg

Not sure how it ended up there, but I'd say removing it will fix the poliastro testing problem. Of course you could add the extra markers there, but then it might fail in a different way.

[2019-08-10 08:01] OrbitalMechanic commented on #750
Rather than deleting setup.cfg in
/Users/user/anaconda3/lib/python3.7/site-packages/statsmodels, I renamed
it to dont_use_setup.cfg and it still fails:

(base) Samuels-Mac-Pro:~ user$ python -c "import poliastro.testing;
poliastro.testing.test()"
======================================================================
test session starts
==============================================================

[2019-08-10 10:30] Juanlu001 commented on #750
I think the one you should rename is ` /Users/user/anaconda3/setup.cfg`, which is still being used and that's why the tests are still failing. We're almost there!

[2019-08-12 23:49] OrbitalMechanic commented on #750
I restored the name of the setup.cfg file in
/Users/user/anaconda3/lib/python3.7/site-packages/statsmodels and
renamed the setup.cfg in Users/user/anaconda3, ran the test and it
appears to have worked, see attached file.

If this is indeed the solution, then what will be the effects of having
essentially removed setup.cfg upon other Python functions?

Please advise.

Sam Dupree

On August/10/2019

[2019-08-13 07:38] Juanlu001 commented on #750
/Users/user/anaconda3/lib/python3.7/site-packages/statsmodels and
renamed the setup.cfg in Users/user/anaconda3, ran the test and it
appears to have worked, see attached file.

Excellent! Glad it worked in the end, thanks for your patience :smile:

essentially removed setup.cfg upon other Python functions?

I would say this mostly affects packages that ship the tests with `pip install`. On the one

[2019-08-13 07:38] #750 closed

[2019-08-13 07:40] Juanlu001 commented on #702
This was (partially) addressed in #738. @jorgepiloto would you please leave a comment here stating what needs to be done, or alternatively close the issue?

[2019-08-13 07:41] Juanlu001 commented on #694
Any chance we could test this again with the models @jorgepiloto added in #738?

[2019-08-13 07:42] Juanlu001 commented on #742
Hi @paugier, sorry for the super late reply! I will definitely take a look at Transonic, excited to meet you there :)

[2019-08-13 09:23] jorgepiloto commented on #702
Sure! I will make a brief resume on the current status of this:

After #738 was merged two new atmospheric models were added in `poliastro`:
* COESA62: up to 700km
* COESA76: up to 1000km

However, some difficulties appeared when implementing pressure and density in previous atmospheres above some altitudes. Different `#TODO` comments were left in the code to know what is still required to be done

[2019-08-13 12:52] jorgepiloto commented on #694
The [link]http://www.braeunig.us/space/atmmodel.htm) that @WolfsSky shared is going to be really useful to fully implement pressure and density in `COESA76` up to 1000km. After implementing locally the equation they use to compute previous state variables it seems to work fine. Pull request is coming soon.

On the other hand, they also include the martian atmosphere, really cool :heart_eyes:

[2019-08-17 07:29] jorgepiloto commented on #694
Hi @WolfsSky, could you please share any gist or code to reproduce this issue and check if #756 solves it?

[2019-08-17 10:30] jorgepiloto opened #759 "Small bug in bodies inheritance"
🐞 **Problem**

While working with SSO orbits I discovered a bug 🐞

[code]

Following error is raised:

[code]

This is because `Earth` inherits from `_Earth` and this one from `_Body` instead of `Body`, loosing last attributes introduced in #746 . Same error will be raised with other SS bodies.

📋  **Steps to solve the problem**

Inherit different private Solar System bodies classes from `Body` in

[2019-08-17 19:26] olebole opened #761 "0.13.0: Test failure due to a unit problem"
🐞 **Problem**

When running the tests during build time, I get the following error:
[code]
and similarly
[code]

Any idea here? Astropy version is 3.2.1.

[2019-08-17 20:13] Juanlu001 commented on #761
Interestingly, these are bugs in our doctests and we never noticed them, perhaps because we only run them with numba. The `poliastro.core` functions are not meant to be used with units.

[2019-08-17 20:13] Juanlu001 commented on #761
Thanks @olebole!

[2019-08-18 09:02] Juanlu001 opened #762 "Orbits cannot be fully unpickled"
🐞 **Problem**

When unpickling orbits, they are not exactly the same.

[code]

🖥 **Please paste the output of following commands**

* `pip freeze`

<details>

[code]
</details>

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask fo

[2019-08-18 09:13] Juanlu001 commented on #762
The reason is that bodies should probably be namedtuples, or at least have a sensible `__hash__` method.

[2019-08-19 12:22] #761 closed

[2019-08-26 19:31] mc-allen opened #770 "Ability to pass additional propagation arguments to sample(), such as J2"
Currently it doesn't seem like there is a way to call orbit.sample() with J2 propagation. It would be great to extend the sample() API to allow passing arguments that can be forwarded to the propagator functions.

Right now, I am achieving this by monkey patching, which is certainly not ideal.

[2019-08-28 13:54] Juanlu001 commented on #770
Hi @mc-allen, thanks a lot for your interest in poliastro!

In our last review, we realized that the `Orbit.sample` method was doing too much stuff and in fact we wanted to prevent this sort of catch-all behavior. The way to do what you are thinking involves using a lower level function, `poliastro.twobody.propagation.propagate`, which returns output in the same format as `sample`. Here you can se

[2019-09-11 07:44] noc0lour opened #773 "Fill __all__ variable for packages/subpackages"
Currently the `__all__` variable in the top-level `__init__.py` is not filled and thus autocompletion only works for some submodules.  Adding classes & functions that should be visible from the commandline/autocompletion would be beneficial for development.

💡 **Feature request**

In the top-level `__init__.py` add the subpackages & submodules that are available. For subpackages add functions & cl

[2019-09-14 11:21] Juanlu001 opened #776 "Misteryous test failing"
🐞 **Problem**

One particular test has been bugging us for a while now:

[code]

It supposedly comes from here:

https://github.com/poliastro/poliastro/blob/428db930eee02eff9202b721174edd1b061ab839/src/poliastro/tests/tests_plotting/test_core.py#L140-L142

However, the test doesn't run if any filtering options are applied to pytest, therefore it's a pain in the neck to try to reproduce. I tried:

[2019-09-14 11:26] Juanlu001 commented on #776
* :heavy_check_mark: August 19th https://circleci.com/gh/poliastro/poliastro/5148
* :red: August 26th https://circleci.com/gh/poliastro/poliastro/5152

[2019-09-14 11:33] Juanlu001 commented on #776
Differences in dependencies:

[code]

Most likely offender is pytest-mypy.

[2019-09-14 13:28] Juanlu001 commented on #776
I confirm that with `pytest-mypy` this particular test passes. I will send a PR to pin the version and then try to isolate the failure.

[2019-09-14 14:30] Juanlu001 commented on #776
...I tried to narrow down the example, and I narrowed it down so much that `pytest-mypy` 0.3.3 fails with the same error. Which means that perhaps there is some error not being caught by the earlier version because of some code complexity.

[2019-09-14 14:39] Juanlu001 commented on #776
In fact, the issue seems to be that with `pytest-mypy` 0.3.3, that file gets ignored because of some missing import, but `pytest-mypy` 0.4 is somehow smarter, runs the check on the file, and realizes that there is something wrong. This is something to investigate on the mypy side.

[2019-09-14 14:49] Juanlu001 commented on #776
https://github.com/python/mypy/issues/7513

Luckily, there is a workaround.

[2019-09-14 14:56] Juanlu001 commented on #776
Fixed in https://github.com/poliastro/poliastro/pull/778.

[2019-09-14 14:56] #776 closed

[2019-09-22 18:50] Tarlan0001 opened #779 "propagate Earth orbit to 1 Myr"
Is it possible to propagate the Earth otbit to 1 Myr to the future using poliastro?

[2019-10-04 19:33] mc-allen opened #780 "Documentation error: units for rho0 in atmospheric_drag perturbation"
🐞 In the atmospheric drag function, the rho0 units are indicated as kg/m^3 (https://github.com/poliastro/poliastro/blob/v0.13.0/src/poliastro/core/perturbations.py#L112).

However, I think that the function actually wants kg/km^3, which is consistent with the example in https://docs.poliastro.space/en/stable/examples/Natural%20and%20artificial%20perturbations.html#Atmospheric-drag

[2019-10-06 10:12] jorgepiloto commented on #779
Hi @Tarlan0001 , sorry for this late answer. Before going into code:

Let us get Earth's position at time equals 1e6 years from now:

[code]
This raises the following error:

[code]

This is because `astropy` provides the `ephemerides` for `planets` and obviously they are not valid for years higher than the value raised in the error.

[2019-10-06 10:28] Tarlan0001 commented on #779
Yes, JPL ephemerides are not available for such a long time. What do you think about numerical propagation of the planets and Sun? -------- Original Message --------Subject: Re: [poliastro/poliastro] propagate Earth orbit to 1 Myr (#779)From: Jorge To: poliastro/poliastro CC: Tarlan0001 ,Mention Hi @Tarlan0001 , sorry for this late answer. Before going into code:

If you want to solve for the posi

[2019-10-06 10:38] jorgepiloto commented on #779
You mean the following?

[code]

May I ask you why you want to propagate for such a huge amount of time? Just curiosity, feel free to answer or not :smile:

[2019-10-06 10:41] Tarlan0001 commented on #779
Well, I'm studying the change in Sun-Earth distance with time.
Would it be possible by means of poliastro? Please, show an example.

On Sun, 6 Oct 2019, 14:38 Jorge, <notifications@github.com> wrote:

[2019-10-06 11:02] jorgepiloto commented on #779
You can combine both `poliastro` and `astropy` and get the following:

[code]

![earth_sun](https://user-images.githubusercontent.com/28702884/66268037-3f0b5d00-e839-11e9-9ad8-818d62ccc92c.png)

[2019-10-06 11:06] Tarlan0001 commented on #779
Does this propagation consider the effect of all planets of the Solar
System?

On Sun, 6 Oct 2019, 15:02 Jorge, <notifications@github.com> wrote:

[2019-10-06 16:53] jorgepiloto commented on #779
Check all possible epehemerides data files at [Astropy - Solar System Epehemerides](https://docs.astropy.org/en/stable/coordinates/solarsystem.html). Also, the contruction of the model for the DE430 ones can be checked [here](https://en.wikipedia.org/wiki/Jet_Propulsion_Laboratory_Development_Ephemeris#Construction) :+1:

[2019-10-09 19:47] GorgiAstro commented on #727
At my work we just clear all notebook outputs before committing to git, but it does not solve everything because of Jupyter metadata: Python kernel version, table of content collapsed or not, etc.

Therefore jupytext seems like an excellent solution for making version control easier. I tried it out, it is easy to use and just works :+1:

However, even with jupytext the cell description contains th

[2019-10-09 20:24] GorgiAstro commented on #644
I am starting back to work on this. What is the status with the separate repository for tests & benchmarks?

Reading the new issues, there are a few that can be tested with Orekit:

- https://github.com/poliastro/poliastro/pull/719
- NRLMSISE-00 in https://github.com/poliastro/poliastro/issues/702

[2019-10-10 23:41] mathematicalmichael opened #781 "binder link: embedded hyperlinks broken"
🐞 **Problem**

Clicking on the binder link in the README leads to a page with broken hyperlinks. Cannot navigate to examples.

The cached version that shows up during loading does work, though.

[2019-10-13 09:40] Juanlu001 opened #782 "Use np.cross from numba 0.46"
See https://numba.pydata.org/numba-doc/latest/release-notes.html#version-0-46-0 (thanks @partmor!)

[2019-10-13 09:50] Juanlu001 commented on #644
Hi @GorgiAstro, thanks a lot for staying around! :grin: I started drafting some structure in https://github.com/poliastro/validation/ a while ago.

This week we have OSCW (are you around?) so I will focus on fixing some issues in the codebase (outdated dependencies, CI failing etc) and preparing [my workshop](https://indico.oscw.space/event/3/contributions/78/) so I won't be able to pay a lot of a

[2019-10-13 17:05] #782 closed

[2019-10-13 17:06] Juanlu001 commented on #773
Hi @noc0lour, thanks for your interest in poliastro and sorry for the delay!

We currently don't expose any functions or classes in the top-level `__init__.py`, that's why it's empty. Nowadays the user is expected to import each submodule to access things like `Orbit`. We make one exception to allow `from poliastro.twobody import Orbit` instead of `poliastro.twobody.orbit import Orbit` and therefo

[2019-10-13 17:11] Juanlu001 commented on #780
Thanks @mc-allen, good catch! @jorgepiloto looks like @mc-allen is correct, can you please confirm? And then we can accept pull requests from new contributors for this issue.

[2019-10-13 23:08] Juanlu001 commented on #779
@Tarlan0001 apart from what @jorgepiloto said, poliastro is not an N-body, high-fidelity propagator. Consider using something like https://github.com/hannorein/rebound. I'm closing this issue but feel free to keep the discussion ongoing.

[2019-10-13 23:08] #779 closed

[2019-10-13 23:13] Juanlu001 commented on #776
This should be fixed in mypy 0.740 when it's available.

[2019-10-13 23:17] Juanlu001 commented on #781
Hi @mathematicalmichael, thanks for your interest in poliastro! You are right, now the links are not being rendered:

![Screenshot_2019-10-14 index](https://user-images.githubusercontent.com/316517/66723978-b425f600-ee28-11e9-892c-8f41606a3550.png)

I am sure this used to work at some point, we will have to consider some alternatives.

[2019-10-14 07:35] noc0lour commented on #773
No problem, right now I can't recall why I added these changes locally, but I've kept them in my stash for a while and had to problems without them. Maybe I recall at some point why I thought it's useful, but both, `ipython` and `anaconda` are able to resolve modules in the `poliastro` package now.

[code]

[2019-10-14 17:26] partmor commented on #782
@Juanlu001 You're welcome!!! super glad to see it's useful :)

[2019-10-15 21:27] GorgiAstro commented on #644
Thanks, I took a look at the repo.

I will create an `orekit` folder, similar to the `vallado` folder.

Looks like the `tox` setup in the root folder only does code analysis and does not install nor test anything, so can I just add the instructions to install the `conda` environment in the `orekit` folder? If however we want to install the `conda` environment using `tox`, we need something like ht

[2019-10-15 21:37] GorgiAstro commented on #644
In case anyone tries to run the Orekit test cases (still in a private branch), beware that the Python wrapper does not work with doctest at the moment, the test cases will return errors&warnings. This is probably due to JCC, the issue is being investigated by the kind Petrus: https://issues.apache.org/jira/browse/PYLUCENE-51

[2019-10-17 03:38] OrbitalMechanic opened #784 "Time conversion errors in Poliastro (czml) still remains"
I noticed that poliastro was updated to correct time conversion errors in astropy.  I uninstalled and reinstalled poliastro using pip as opposed to conda because conda at present is not working. Poliastro still fails as before. See attached file.

Please advise.

Sam Dupree

[Latest_poliastro_test.txt](https://github.com/poliastro/poliastro/files/3737311/Latest_poliastro_test.txt)

[2019-10-18 06:03] Juanlu001 commented on #784
Hi Sam! Sorry, I forgot to reply your comment on the other issue - the fix hasn't been released to PyPI yet.

So far our policy has been "close the issues when the fix lands in `master`" (the GitHub workflow encourages that) but I see how this can be confusing. I'll keep this one open until we make a release with the fixes, which should happen within a few weeks. In fact, today I want to make some

[2019-10-19 01:50] OrbitalMechanic commented on #784
Juan,

Thanks for the explanation. I'll be on the lookout when the fixes become
available. :-)

With these fixes, will one still need to rename setup.cfg to run python
-c "import poliastro.testing; poliastro.testing.test()"?

Sam Dupree

On October/18/2019 02:03:47, Juan Luis Cano Rodríguez wrote:

[2019-10-23 09:17] st-phano opened #787 "OrbitPlotter does not plot"
I am new to poliastro and to Python in general. I am using the user guide of poliastro to quickly learn the basis, but I am not able to use the OrbitPlotter2D or 3D.
I am using Anaconda and spyder.

This is the code (taken from the user guida basically):

from astropy import units as u
from poliastro.maneuver import Maneuver
from poliastro.bodies import Earth
from poliastro.twobody import Orbit
ss

[2019-10-23 19:00] Juanlu001 commented on #787
Hi @st-phano, thans for your interest in poliastro!

Unfortunately `OrbitPlotter2D` is a bit complicated to get working in Spyder. Could you please try

[code]

instead?

[2019-10-24 08:10] st-phano commented on #787
Thank you @Juanlu001!
StaticOrbitPlotter works. I guess that OrbitPlotter3D has the same problems with Spyder, do you have any suggestions regarding 3D plotting?

[2019-10-24 11:42] debopambhattacherjee opened #788 "API for inter-object links missing in CZMLExtractor"
Given that mega constellations having laser ISLs are going to be deployed very soon, it would be great to have an API for specifying time-varying ISLs or inter-satellite links to the CZMLExtractor to get displayed in the visualizations.

[2019-10-25 21:32] Juanlu001 commented on #788
Hi @debopambhattacherjee, thanks for your interest in poliastro! It's a good idea, we would need to think about a good API for it. Any suggestions? How are you using the `CZMLExtractor` now?

[2019-10-25 21:48] Juanlu001 commented on #773
Fair enough, let's close this issue them. Thanks anyway!

[2019-10-25 21:48] #773 closed

[2019-10-27 09:26] debopambhattacherjee commented on #788
I do the following now:
`
extractor = CZMLExtractor(start, end, sample_points)
extractor.add_orbit(ss, label_text="A", path_color=[B, C, D, E])
`

The simplest API can be to have something like
`
extractor.add_link(ss_1, ss_2, time_start, time_end)
`
The inter-satellite link `<ss_1,ss_2>` is up between time `time_start` and `time_end`

[2019-10-29 08:17] shreyasbapat commented on #781
I faced this similar problem! For me, replacing all the spaces in the name with an '_' (Underscore) worked!

[2019-10-29 18:29] mathematicalmichael commented on #781
oh yeah, that's definitely it.
not sure if markup takes escape `\` into account, but this is exactly why I err on the side of caution and never use spaces in filenames.

[2019-10-31 11:08] astrojuanlu opened #790 "Reconsider having reference elements for planets"
💡 **Feature request**

To have representative/reference/mean orbital parameters for major bodies.

🎯 **Goal**

The issue of having mean elements for planets instead of relying on the ephemerides has appeared many times in the past.

One of such times was [this pull request by @AunSiro](https://github.com/poliastro/poliastro/pull/153). Even though it made the computation of the radius of the Sphere

[2019-10-31 11:21] astrojuanlu opened #791 "Different namespace for Earth-specific functionality"
💡 **Feature request**

Add a new module `poliastro.earth` or `poliastro.twobody.earth` for Earth-specific functionality, possibly including an `EarthOrbit` object.

🎯 **Goal**

We traditionally wanted poliastro to be as generic as possible and don't include any Earth-specific functionality. As stated in the README:

https://github.com/poliastro/poliastro/blob/5d710592f33a41065eb22f26aa2ede0b77e1fa

[2019-10-31 12:11] Juanlu001 opened #792 "Improve user guide for *all* users"
🐞 **Problem**

There is one particular problem that keeps appearing regularly on this issue tracker, the Matrix chat, and the mailing list:

"The plots do not show".

([1](https://github.com/poliastro/poliastro/issues/787), [2](https://github.com/poliastro/poliastro/issues/142), [3](https://github.com/poliastro/poliastro/issues/122))

There are two reasons for this:

* Our documentation does not i

[2019-10-31 12:55] helgee commented on #790
For reference: https://github.com/JuliaAstro/AstroBase.jl/tree/master/src/ephemerides

[2019-11-02 21:04] shreyasbapat commented on #781
Minor change required to finally close this!

[2019-11-03 22:02] Juanlu001 commented on #252
https://github.com/takluyver/flit/pull/260 has been merged. Reopening!

[2019-11-03 22:12] #781 closed

[2019-11-04 09:29] noc0lour commented on #791
Given poliastro is in a unique position to give non-aerospace people an easy entry into calculating propagation in Python this would come in handy for a lot of applications. Addition of Earth-specifics shouldn't come at cost of losing functionality for other planets though.

[2019-11-04 10:25] Juanlu001 commented on #762
This was fixed in #763.

[2019-11-04 10:25] #762 closed

[2019-11-04 10:26] Juanlu001 commented on #759
This was fixed in #763.

[2019-11-04 10:26] #759 closed

[2019-11-04 10:56] Juanlu001 commented on #784
Hi @OrbitalMechanic! Status update: we plan to release poliastro 0.13.1 this month including a fix to this particular problem (poliastro 0.14.0 will come next January with lots of changes). I'll ping you here when it's ready.

[2019-11-04 10:58] Juanlu001 commented on #715
See also https://github.com/spatialaudio/nbsphinx/pull/345.

[2019-11-04 11:14] Juanlu001 commented on #514
@jorgepiloto late answer to your question: I think we can follow the same logic we applied to Sun-synchronous orbits, and check that exactly 2 out of 3 parameters must be not-`None`.

[2019-11-04 11:18] Juanlu001 commented on #445
I will tackle this and #790 together.

[2019-11-04 11:27] Juanlu001 commented on #790
Notice that having the orbital elements is clearly not enough, even if we assume that they refer to the `.parent`. For example, it's not obvious whether they should refer to the Ecliptic plane or the Earth Equator plane.

[2019-11-04 11:31] Juanlu001 opened #795 "Release 0.13.1 checklist"
## Preparing the release

* [ ] ~Rerun all notebooks (pay special attention to new features)~
* [ ] ~Review documentation, optionally improving the user guide or adding new notebooks showcasing new functionality~
* [x] Write the changelog and list of contributors
  - Commits since last release branch https://github.com/poliastro/poliastro/compare/0.13.0...master
  - Issues closed in this milestone

[2019-11-04 11:37] Juanlu001 commented on #795
@Sedictious @jorgepiloto @shreyasbapat What issues do you think we should backport?

For example:

* https://github.com/poliastro/poliastro/pull/783 (see https://github.com/poliastro/poliastro/issues/784)
* https://github.com/poliastro/poliastro/pull/778 (in case it's still needed, not entirely sure about it)
* https://github.com/poliastro/poliastro/pull/758 (I need to check whether this landed on

[2019-11-04 11:57] olebole commented on #795
My current patches seem to be merged: #758, #761, #767.

[2019-11-05 08:51] Juanlu001 commented on #795
They are in `master` though, and we will make a release in the `0.13.x` branch, so I will backport them.

[2019-11-05 09:21] shreyasbapat commented on #795
A minor one, but might improve readability : #781

I will look at the merged PRs and try to see if I can find something useful

[2019-11-10 14:59] Juanlu001 commented on #790
These are my notes: https://github.com/poliastro/poliastro/wiki/Body-orbits

[2019-11-10 14:59] Juanlu001 commented on #445
These are my notes: https://github.com/poliastro/poliastro/wiki/Body-orbits

[2019-11-13 13:13] astrojuanlu opened #798 "Cannot set ISS attractor to Earth"
[code]

Strange!

[2019-11-13 13:19] Juanlu001 commented on #798
Using `force=True` worked, by the way:

[code]

Note however that the eccentricity is quite high:

[code]

[2019-11-13 13:23] Juanlu001 commented on #798
There are two problems here: some faulty logic in the Sphere of Influence check, and some numerical issue with the frame transformation. @jorgepiloto any idea about the former? I can check the latter.

[2019-11-13 13:28] Juanlu001 opened #799 "Allow attractor change in `Orbit.from_horizons`"
💡 **Feature request**

Allow attractor change in `Orbit.from_horizons`.

🎯 **Goal**

Currently `Orbit.from_horizons` sets the attractor to `Sun`, but it's not clear that it's correct and also it normally requires changing the attractor to a different body afterwards (see #798). It would be nice to be able to set it directly.

[2019-11-15 07:55] noc0lour opened #801 "Fixed planetary frame transformation error"
When creating a coordinate in a planetary fixed frame a transformation is not possible due to
an error in `frames/fixed.py`

🐞 **Problem**

[code]

[code]

💡 **Possible solutions**

Converting to CartesianRepresentation and filling in the CartesianDifferentials. Possibly similar to how it is handled for `EarthLocation` in `earth.py` in astropy.

[2019-11-15 14:11] noc0lour commented on #801
For my current use case actually I only would need a transformation to `MarsICRS` which is even simpler, but in the end it's the same machinery for both.

[2019-11-17 21:35] takluyver commented on #252
I'm [looking for people to test a release candidate](https://discuss.python.org/t/flit-2-release-candidate-user-testing-requested/2677) including support for `src/` directories, if you're interested.

[2019-11-17 22:46] Juanlu001 commented on #252
On it! Figuring out how to move all the metadata elements from `setup.cfg` to `pyproject.toml` :)

[2019-11-17 23:28] Juanlu001 commented on #252
Tracking in #802.

[2019-11-18 14:05] Juanlu001 commented on #801
Thanks @noc0lour! `to_equatorial` should probably convert to `CartesianRepresentation` before trying to get `.xyz`. Do you want to try if that fixes the problem?

[2019-11-18 15:14] astrojuanlu opened #803 "Investigate discrepancies with Stellarium"
🐞 **Problem**

Stellarium and poliastro/astropy give different results.

Code to test:

[code]

💡 **Possible solutions**

No idea, yet :cry:

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comments section of pu

[2019-11-18 15:15] #799 closed

[2019-11-18 15:15] Juanlu001 commented on #798
Part of the problem has been solved in #800.

[2019-11-18 15:24] Juanlu001 commented on #803
I confirm that the source of the discrepancy is not poliastro:

[code]

Result:

[code]

[2019-11-19 22:26] #252 closed

[2019-11-20 20:53] #715 closed

[2019-11-21 09:18] noc0lour opened #806 "Observation time in transformations from/to fixed frames"
Use/goal of obstime for fixed frames is not 100% clear.

🐞 **Problem**

[code]

This piece of code returns:

[code]

Which is incorrect since `get_body_barycentric_posvel` has been performed with `testloc.obstime` and the rotational elements have been evaluated at `testloc.obstime` as well.

💡 **Possible solutions**

Solution 1:
 - In this case the obstime should be copied from `fixed_coo` to `equ

[2019-11-21 09:26] noc0lour commented on #806
Actually, solution 1 is the correct one, even if in inertial frames the obstime does not change the coordinates it may be preserved for future calculations.

[2019-11-21 20:41] #801 closed

[2019-11-21 20:43] Juanlu001 commented on #806
Good report @noc0lour, labeling this as a bug!

[2019-11-23 15:22] techiesoft opened #807 "Plotting Ecliptic orbit"
Hello,
     I am new to poliastro, i would like to know whether it is possible to get the data of ecliptic line for a specific date and time using poliastro and plot it? Please apologise if it is not the right question

[2019-11-26 10:26] Juanlu001 commented on #807
Hi @techiesoft, thanks for your interest in poliastro! By "ecliptic line" for a specific date and time, do you mean the instantaneous line the Sun draws in the Earth sky? If you have an example of what you have in mind maybe we can help you a bit better.

[2019-11-26 10:34] Juanlu001 commented on #803
I realized that Stellarium is using a lower precision ephemerides:

![stellarium-settings](https://user-images.githubusercontent.com/316517/69622123-a5924780-1040-11ea-9413-f7a593718c75.png)

That can probably explain at least part of the discrepancy.

[2019-11-26 18:37] techiesoft commented on #807
Hi @Juanlu001 i would like to get the Sun's orbit data and if possible other planet's orbit data. in ecliptic coordinates

[2019-11-27 09:36] sakethramanujam commented on #682
I'd like to test it out on Debian Like distros! Is there a sample notebook that we can use?

[2019-11-27 10:14] sakethramanujam commented on #444
Has this issue been already taken care of?
If not I'd like to chip in and start building an MVP
1. In my current role, I've been using a lot of services on GCP and found it reliable to host APIs.
2. GCP now has a product(currently in beta) called Cloud Run which is Lambda like service and also the app engine instances on GCP scale from 0 i.e., there's no cost involved when no one is using the serv

[2019-11-27 11:17] Juanlu001 commented on #444
@sakethramanujam from what I understand, there were some limitations to run poliastro on AWS Lambda because of the size of the dependencies. If GCP Cloud Run is similar and has no such limitation, it would be great to see a prototype.

We did not agree on what functionality should be provided, let alone an API. We are open to suggestions :)

[2019-11-28 15:52] Juanlu001 commented on #682
Thanks @sakethramanujam! Not yet but I will keep you posted for the next release, happening at the beginning of next year :)

[2019-11-29 08:51] noc0lour commented on #806
Looking at how this is handled in astropy:
 - Transformations to new frames take the target frame obstime
 - For some frames (taking into account earth nutation etc.) this requires transforming the source coordinates to the required target obstime
 - For the planetary fixed frames this is not a big issue since they are simplified versions.

I will send a PR pulling the fixed frames in line with th

[2019-11-29 23:42] #806 closed

[2019-11-30 15:37] Juanlu001 commented on #444
https://oraas.orekit.space/

We had the idea first :)

[2019-12-02 10:30] Juanlu001 commented on #455
And now we're using it in poliastro! #675

[2019-12-02 16:05] shreyasbapat commented on #791
What functionalities will be in Earth Namespace?
A rough list? So that I don't miss them.

[2019-12-03 19:57] Phillip-M-Feldman opened #812 "wheel files for 64-bit Windows"
I'm not sure if this is the right place to report this, but I'm unable to find wheel files for 64-bit Windows.  I'm specifically looking for wheels for Python 3.6 and Python 3.7.

[2019-12-04 00:42] Juanlu001 commented on #812
Hi @Phillip-M-Feldman! poliastro is a pure Python package and therefore has universal wheels. Did you have any trouble installing it?

[2019-12-04 05:23] Phillip-M-Feldman commented on #812
My main difficulty is that I haven't been able to find any wheel file.

On Tue, Dec 3, 2019 at 4:42 PM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2019-12-04 08:15] Juanlu001 commented on #812
Here you can find the wheel of the latest release: https://pypi.org/project/poliastro/#files (`poliastro-0.13.0-py3-none-any.whl`)

[2019-12-04 13:03] noc0lour opened #814 "czmlExtractor: allow passing custom arguments to propagate"
Currently the propagator call in CZML limits use to only Keplerian orbits without artificial perturbations. For propagation of orbits with e.g. J2 perturbation it would be necessary to pass custom arguments

🎯 **Goal**

Create CZML packets out of different trajectory data.
I could think of a utility function which converts Coordinate data to CZML packets without doing the propagation itself since

[2019-12-04 13:52] Juanlu001 commented on #814
Perhaps we should have a similar API than the `OrbitPlotter`s: `plot(orbit)` and then the Keplerian orbit is plotted, and `plot_trajectory(...)` and then the users chooses how to propagate.

[2019-12-05 09:51] noc0lour opened #815 "Unify propagate and Orbit.propagate API"
Currently to get intermediate sampling positions & the orbit at the end of simulation `propagate()` is essentially called twice and the whole propagation is performed twice.

[code]

💡 **Feature request**

Having either the `propagate()` function from `twobody` optionally return the new propagated orbit.
Or the `Orbit.propagate()` function to return a time-series of coordinates + a new orbit upon

[2019-12-05 10:12] noc0lour commented on #814
Sounds like a good idea. More or less a simple function which converts a coordinate time series to a CZML packet.

[2019-12-07 20:23] Phillip-M-Feldman commented on #812
Thanks very much!

On Wed, Dec 4, 2019 at 12:15 AM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2019-12-08 12:58] Juanlu001 commented on #812
You're welcome! Closing :muscle:

[2019-12-08 12:58] #812 closed

[2019-12-08 13:52] sammmlow commented on #302
Sounds like an interesting project! Phasing and rendezvous. Which part of the code do you think one would best start looking into?

[2019-12-09 11:26] Juanlu001 commented on #780
Closed in #816

[2019-12-09 11:26] #780 closed

[2019-12-12 20:00] kerel-fs opened #817 "CZML extractor: timezone issues (clock.Interval and currentTime not tz-aware)"
🐞 **Problem**

The ISO8601 timestamps in the `clock.interval` and `currentTime` fields by the czml extractor are missing the 'Z' character indicating UTC. As a result, when the users locale is UTC+1 the CZMLWidget will start one hour too early (so that the satellites will only be visible after one hour passed in the simulation.

[Example notebook](https://gist.github.com/kerel-fs/6cdcfe33b933329f8

[2019-12-12 21:10] kerel-fs opened #818 "CZMLExtractor: Provide a 'czml3.Document' directly"
Currently the CZMLExtractor provides a list of packets as output (with the first packet being a `czml3.Preamble`), which has to be wrapped by `Document(extractor.packets)` to be able to view the resulting document with the `czml3.CZMLWidget`.

💡 **Feature request**

Provide a way to get a `czml3.Document` directly from the `CZMLExtractor`. Implementation idea:
Add the method `getDocument()`  (I do

[2019-12-15 08:27] jorgepiloto commented on #702
Just found this [amazing atmospheric models website](http://www.dem.inpe.br/~val/atmod/default.html) which holds source codes written in Fortran and C/C++ for different Jacchia's models and the famous MSIS-86. I will take a closer look in a few days :rocket:

[2019-12-16 18:30] mourasftw commented on #382
For the last release, porkchops for earth-moon gives the same error:
"the Moon's velocity cannot be calculated with the 'builtin' ephemer

I tried to fix by what was said above but the folders in question aren't the same and don't fix.

Any solution?
Thx

[2019-12-17 09:37] Juanlu001 commented on #818
Excellent idea! I propose `get_document()`. Pull requests welcome :) Let's leave this one for first contributors.

[2019-12-17 10:09] Juanlu001 commented on #817
The problem seems to be that we are prematurely converting the dates to strings:

[code]

https://github.com/Juanlu001/poliastro/blob/1ddf2d5a8082b7e7d191b0c3ae8de2839b3f51a8/src/poliastro/czml/extract_czml.py#L80-L81

Which is probably not necessary, because `TimeInterval` has some extra logic to properly render itself using several datetime-like objects:

[code]

(unlike `Clock`, by the way:

[c

[2019-12-19 10:01] Juanlu001 commented on #795
@noc0lour unfortunately I won't be able to backport #804 and #810 because we refactored all the frames code in the middle. Finishing the backports.

[2019-12-19 10:05] noc0lour commented on #795
Alright, isn't really critical for me. Thanks for checking

[2019-12-19 10:32] OrbitalMechanic opened #821 "Encountering errors from test_czml_ground_station and test_czml_add_orbit"
I'm running poliastro ver. 0.13.0 on an iMacPro running Mac OS X ver. 10.14.6 under Python 3.7.3. In running the test,

python -c "import poliastro.testing; poliastro.testing.test()

I get error messages concerning test_czml_add_orbit and test_ground_station. I'm testing poliastro with the setup.cfg file in the anaconda3 directory disabled (i.e., renamed so as not to be used). czml3 was installed.

[2019-12-19 10:32] #821 closed

[2019-12-19 10:39] astrojuanlu opened #822 "Migrate from AppVeyor to Azure Pipelines"
This should make builds faster and also pave the way to migrate all the CI there (see also #664).

[2019-12-19 14:38] Juanlu001 commented on #822
For the moment, we disabled slow tests on AppVeyor.

[2019-12-20 12:02] Juanlu001 commented on #795
I will have to manually tweak again the release before upload because https://github.com/pypa/warehouse/issues/7136 and https://github.com/readthedocs/sphinx_rtd_theme/issues/788 are both still open.

[2019-12-20 12:30] Juanlu001 commented on #795
poliastro 0.13.1 is available! :tada: Merry Christmas :christmas_tree::santa:

[2019-12-20 12:30] #795 closed

[2019-12-20 12:32] Juanlu001 commented on #784
Hi @OrbitalMechanic! We released with 0.13.1 with this fix. Could you please upgrade and confirm that it works? Thanks!

[2019-12-20 13:59] olebole commented on #795
Congratulations! I just uploaded to to Debian unstable...

[2019-12-20 14:43] Juanlu001 commented on #795
Thanks @olebole!

[2019-12-21 05:53] jorgepiloto commented on #726
As I suspected, if using `from poliastro.plotting.core import OrbitPlotter2D` this behavior is not shown

[2019-12-21 13:36] Juanlu001 commented on #382
Hi @mourasftw! It should be fixed by setting the Astropy ephemerides to the JPL ones. Please open a new issue with more information about the code you're running.

[2019-12-21 13:40] Juanlu001 commented on #649
We ended up returning a representation in `sample()` for all cases, so this shouldn't be a problem going forward.

[2019-12-21 13:40] Juanlu001 commented on #649
(See #797)

[2019-12-21 13:50] Juanlu001 commented on #659
On second thought.... what's the point of a frameless orbit anyway? Isn't it better to have defaults for users that don't care (current situation) and provide extensibility for users that want to experiment (margin for improvement?)

The `Plane` enumeration and the `get_frame` function are currently very coupled and perhaps prevent extensibility.

[2019-12-21 13:51] Juanlu001 commented on #790
Or, instead of introducing a new frameless orbit as suggested in #659, I can use an existing object: a `ClassicalState`!

https://github.com/poliastro/poliastro/blob/0c9c545770c1451fcec1bb223dd90eb7b6ceba21/src/poliastro/twobody/_states.py#L58-L70

It doesn't have quick ways of computing other elements (bad) but it can't be propagated (good) and it already exists (great!)

[2019-12-21 14:01] Juanlu001 commented on #790
Not so fast: this is still not enough, since I don't have an explicit reference frame.

Definitely orbits without frames should not exist, but orbits with no `propagate` method should.

[2019-12-21 14:35] Juanlu001 commented on #790
...although it is by no means mandatory to provide the functionality we want. We will still need to restrict what the user can do with a `body.orbit`, but that's decoupled from having it.

[2019-12-21 14:49] Juanlu001 commented on #790
Also, even if we decide to put mean orbits in the bodies, we still want to know the position of the body within this mean orbit at a particular time. In the case of the [approximate elements given by JPL](https://ssd.jpl.nasa.gov/txt/aprx_pos_planets.pdf), this is given by the Mean Longitude (notice its rate of variation):

![Screenshot_2019-12-21 aprx_pos_planets pdf](https://user-images.githubus

[2019-12-21 14:55] Juanlu001 commented on #790
Two options:

* Have a `BodyMeanOrbit` with custom `propagate` and `sample` methods based on the elements above.
* Have a `Body.get_mean_orbit(epoch=J2000)`

[2019-12-21 15:02] Juanlu001 commented on #790
Choosing the second one because it's the simplest.

[2019-12-21 17:21] astrojuanlu opened #824 "No check against plotting orbits in different planes?"
🐞 **Problem**

I suspect that we are not doing any transformation when plotting orbits in different planes.

💡 **Possible solutions**

First, check that this is the case.

If it is, we should implement `change_plane` if appropriate (see for example [this implementation](https://docs.poliastro.space/en/latest/examples/Analyzing%20the%20Parker%20Solar%20Probe%20flybys.html)) and use it in plotting.

[2019-12-26 09:49] Juanlu001 commented on #445
Roadmap:

1. [ ] Make `plane` part of `BaseState` objects because it's where it belongs: we shouldn't have elements sets without a reference.
2. [ ] Use `ClassicalState` to provide a static, referenced, representative (mean) orbit for bodies (see [this comment](https://github.com/poliastro/poliastro/issues/790#issuecomment-568182589)) hence fix #790.
3. [ ] Address #824.
4. [ ] Replace all interna

[2019-12-26 10:42] Juanlu001 commented on #790
Didn't like the approach in #825, going back to the option of adding a `ClassicalState` after merging #827.

[2019-12-30 17:20] Juanlu001 opened #829 "Typo in equinoctial elements documentation"
https://github.com/poliastro/poliastro/blob/d8ff14980ff2b2bd6790aa6eb709a521f2a52daa/src/poliastro/core/elements.py#L390-L391

[2020-01-01 06:11] asalia-1 commented on #829
Hello Juan, I am Abdallah Salia, I am new to the poliastro community and I would like to resolve this issue

[2020-01-01 18:23] #829 closed

[2020-01-01 18:25] Juanlu001 commented on #829
Thanks @asalia-1 for this first contribution! Please don't hesitate to join our chat and ask around if you want to keep working in the project :tada:

[2020-01-02 17:46] abhijeetmanhas commented on #698
@Juanlu001 I would like to work on the issue. Basically gd2gce converts geodetic coordinates to geocentric coordinates for a reference ellipsoid.
I have to just replace function definition in `czml/utils.py` by
`return erfa.gd2ce(a,(a-b)/a,lon,lat,0)` right? Should we keep the comments inside function same?

[2020-01-03 19:13] Juanlu001 commented on #698
Hi @abhijeetmanhas, thanks for your interest in poliastro! Yes, only changing that should be enough.

[2020-01-07 13:18] asalia-1 commented on #818
Hi, I would like to take up this issue

[2020-01-07 14:34] Juanlu001 commented on #818
Hi @asalia-1, all yours!

[2020-01-10 05:12] OrbitalMechanic commented on #784
Almost there. I just got around to updating to version 0.13.1. The errors I'm now seeing are as follows.

users-MacBook-Pro:~ user$ python -c "import poliastro.testing; poliastro.testing.test()"
============================================================= test session starts =============================================================
platform darwin -- Python 3.7.3, pytest-5.1.2, py-1.8.0, plug

[2020-01-10 10:09] Juanlu001 commented on #784
Thanks for reporting back @OrbitalMechanic! I think we are back to [the same issue you had with statsmodels `setup.cfg`](https://github.com/poliastro/poliastro/issues/750). I did a bit of research and luckily statsmodels 0.11 stopped shipping its own `setup.cfg`:

https://github.com/statsmodels/statsmodels/pull/6117

While 0.11 makes its way to the default Anaconda packages, please remove `/Users/

[2020-01-10 10:14] Juanlu001 commented on #784
In fact, we can fix this problem by shipping our own `setup.cfg` to the right location! I will open a new issue for it.

Let's close this one if the time conversion errors in CZML were fixed.

[2020-01-10 10:20] Juanlu001 opened #832 "Ship our setup.cfg"
🐞 **Problem**

Our pytest configuration is not being picked up by users that want to run the test suite because we are not shipping our `setup.cfg`.

Also, other packages mistakenly shipping `setup.cfg` to the wrong location can interfere in poliastro tests, see #750 and #784.

💡 **Possible solutions**

Ship our own `setup.cfg`. Using setuptools, this was possible doing

[code]

(see [this statsmo

[2020-01-15 18:11] asalia-1 commented on #818
Hello @Juanlu001 ,
Sorry for getting to this issue late. From the description of this issue, I am deducing that the solution is to write a method that simply passes the **self.packets** list to **Document()** as in **docx.Document(self.packets)** and then returns the Document object.
However, on reading the documentation for docx.Document(), I am not sure if I can pass a list as a valid argument t

[2020-01-15 18:14] Juanlu001 commented on #818
Hi @asalia-1, no worries! Rather than `docx.Document`, as you already noticed we want to use `czml3.core.Document`. Let us know if you have more questions.

[2020-01-15 18:52] asalia-1 commented on #818
Thanks @Juanlu001 !

[2020-01-20 09:55] Juanlu001 commented on #807
Hi @techiesoft, sorry for the long delay! I think you don't even need poliastro for this, you can use Astropy directly:

[code]

I'm closing this issue, please keep commenting here if you still have questions about it.

[2020-01-20 09:55] #807 closed

[2020-01-26 20:59] sundeshgupta commented on #817
Can I take up this issue?

[2020-01-29 15:08] jasmeet0915 commented on #706
Hi, I would like to take up this issue

[2020-01-29 15:10] Juanlu001 commented on #706
Hi @jasmeet0915! Do you have experience with CZML?

[2020-01-29 15:10] Juanlu001 commented on #817
Hi @sundeshgupta, sure all yours!

[2020-01-29 15:44] jasmeet0915 commented on #706
Actually I am quite new to CZML. I was quite recently introduced to it while working on a personal project and have been tinkering with it and poliastro since then. But I guess I could write some information and examples with what I have learnt while tinkering for past few days.

[2020-01-30 20:52] sundeshgupta commented on #817
Hi @Juanlu001 . Since I am a beginner here, I need some help solving this issue.
What I infer from your previous comment is that we should not convert dates to strings. Also, `IntervalValue` can accept start time and end time of type `Time`, and `Clock` currentTime parameter does not accept `Time` class object but can accept objects of `datetime` class. So, what I think could be simpler solution i

[2020-01-31 14:47] priyanshurohilla commented on #832
I want to work on this.

[2020-01-31 21:29] jorgepiloto opened #837 "R_polar_jupiter constant wrong value"
🐞 **Problem**

Just found a small error in the `R_polar_jupiter` constant from the `poliastro.constants.general` module. Value should be `6.6854e7` and not  `6.6854`.

The following code should solve the problem:

[code]

[2020-01-31 21:30] jorgepiloto commented on #837
Looks a good issue for new contributors since it is easy to solve :smile:

[2020-01-31 21:38] priyanshurohilla commented on #837
i want to take up this issue

[2020-02-01 01:04] Juanlu001 commented on #837
Closed in #838.

[2020-02-01 01:04] #837 closed

[2020-02-04 08:35] Juanlu001 commented on #726
Could you please check again with both `Static` and `2D` to see if it still happens?

[2020-02-04 15:38] susanka068 commented on #832
I'd like to work on this issue

[2020-02-04 19:28] priyanshurohilla commented on #824
i want to work on this issue.

[2020-02-04 20:24] Juanlu001 commented on #832
@susanka068, @priyanshurohilla is already working on it at #836

[2020-02-07 06:24] Juanlu001 commented on #824
This can be a bit involved and it depends on a refactoring I'm doing, so I prefer to assign it to myself :)

[2020-02-07 09:05] WolfsSky opened #839 "Can't update poliastro from 0.12 to 0.13.1 with anaconda"
Hi!

I have been excited to use the new propagators within poliastro, however I can't get anaconda to update poliastro to 0.13.1.
`conda install poliastro==0.13.1`
gives
`PackagesNotFoundError: The following packages are not available from current channels:`
` - poliastro==0.13.1`

Same happens for 0.13.

Is it not yet released as a stable version? or am I doing something wrong?

[2020-02-07 09:45] Juanlu001 commented on #839
Hi @WolfsSky! Yes, the conda-forge upgrade is broken :frowning_face: https://github.com/conda-forge/poliastro-feedstock/pull/31 and there were some tests failing https://github.com/conda-forge/poliastro-feedstock/issues/30. I don't use conda anymore so I would like someone else to take a look and try to understand what's going on.

[2020-02-07 09:58] WolfsSky commented on #839
Ah ok, thanks for the info. I am not very proficient with Conda, I just use it as an easy way to have everything bundled. Is using `pip` as an alternative ok, or would that also fail?

[2020-02-07 10:01] Juanlu001 commented on #839
Using pip is perfectly OK!

On Fri, 7 Feb 2020, 10:58 Sky, <notifications@github.com> wrote:

[2020-02-07 20:23] paul-witsberger opened #840 "vallado.lambert fails for long way transfers"
When trying to set up poliastro.iod.vallado.lambert, I receive the following error when I set short=False (long path transfer):
[code]

Here is my minimal (non)working example:
[code]

It has worked for all of the tests I gave it when short=True, and failed every time short=False.

[2020-02-08 03:35] NanuSai commented on #839
I'm not much of a pro but I've installed it inside my conda environment and things seems to be running smoothly.
[code]
Maybe try conda remove and then install as per the README.md?

[2020-02-08 04:27] NanuSai commented on #839
Hey WolfsSky,
I tried creating a new environment with poliastro ver 0.12. Here's what I found

- Using `conda install poliastro==0.13.0` , successfully updates to poliastro from 0.12
- Using `pip install poliastro==0.13.1` installs your desired version exclusively to that conda environment(which is the basic purpose of conda env anyway).
- Using pip method, also enlists it in `conda list`.
- Updat

[2020-02-08 08:46] NanuSai commented on #840
I'm a newbie, but may I take this issue?.

[2020-02-08 10:25] jorgepiloto commented on #840
Hi @paul-witsberger, I have been able to reproduce your issue.  Let me try to investigate a little more :smile: By the way, @NanuSai feel free to take this issue :+1:

[2020-02-10 20:51] jorgepiloto commented on #694
Hi @WolfsSky, I am reviewing old issues and was wondering if you still have any piece of code so this issue can be reproduced and checked against the new atmospheric models.

[2020-02-12 05:57] priyanshurohilla commented on #815
i want to work on it.

[2020-02-14 15:13] noc0lour opened #841 "RAAN from LTAN calculation off-by 180 degrees"
The pull request which added RAAN from ltan function to `twobody.angles` module
shifts the angle by 180 degrees and it ends up having LTAN and LTDN switched around.

🐞 **Problem**

Verification with actual orbits obtained from TLEs shows this discrepancy

Example Sentinel-1:
[code]

Value from Celestrak TLE for this: 53.8031

💡 **Possible solutions**

Removing `-12 * u.hourangle` from `alpha`
[cod

[2020-02-15 16:21] sundeshgupta commented on #817
In case you missed my comment, could you please take a moment to look at my previous comment.

[2020-02-16 18:48] Juanlu001 commented on #839
In a few minutes, `conda install poliastro=0.13.1 -c conda-forge` will be available, as I finally fixed the package. I would still love to have someone else volunteer on this :) Thanks for your patience!

[2020-02-16 18:48] #839 closed

[2020-02-16 19:52] Juanlu001 commented on #841
Ooops, good catch @noc0lour! Labeling this as a bug

[2020-02-16 20:49] Juanlu001 commented on #817
Hi @sundeshgupta, sorry for the delay!

If I understood correctly, you propose replacing this:

https://github.com/poliastro/poliastro/blob/1ddf2d5a8082b7e7d191b0c3ae8de2839b3f51a8/src/poliastro/czml/extract_czml.py#L179

with `value=Clock(currentTime=self.start_epoch.datetime, multiplier=60)`, is that correct?

I think it would work as a workaround for the current limitations of the `Clock` and f

[2020-02-18 16:42] sundeshgupta commented on #817
Yes, this is what I propose.

Sure. I will open the pull request resolving this issue.

[2020-02-20 08:27] #841 closed

[2020-02-21 01:00] Jaisu-1 commented on #610
Hi, I'd like to take this issue up if possible?

[2020-02-23 17:21] Juanlu001 commented on #168
Note that beautifulsoup4, requests and pandas have been removed from the explicit list of dependencies, although we added astroquery instead:

https://github.com/poliastro/poliastro/blob/ea6a0eb34855af37267ca8df315652c9e03a3721/pyproject.toml#L34-L45

[2020-02-24 12:28] NanuSai commented on #840
After much digging the internet and talks with @Juanlu001 , I've drawn the following conclusions from the problem.

1. I tried to compare izzo and vallado(short = True) and apparently they both yield different answers,
[code]
Which yields
[code]

After some search, I found [this](https://in.mathworks.com/matlabcentral/fileexchange/26348-robust-solver-for-lambert-s-orbital-boundary-value-problem),

[2020-02-25 13:36] noc0lour commented on #832
This can be closed I assume.

[2020-02-25 13:59] Juanlu001 commented on #832
Thanks for the reminder @noc0lour. I wanted to test this before closing... and I saw we're not there yet.

We added `setup.cfg` under `sdist`, but it's not being included in the wheel. I'll see what can be done.

[2020-02-25 14:10] Juanlu001 commented on #832
Well, I don't think it can be easily done for a file that is out of the `src` tree. This is probably a symptom that we shouldn't be shipping our tests, even though other packages in the scientific Python ecosystem do it.

Out of curiosity, I checked SciPy wheels and, even though they have `include tox.ini pytest.ini` in their `MANIFEST.in`, their pytest configuration doesn't make it to the wheels.

[2020-02-25 14:10] #832 closed

[2020-02-26 07:52] OrbitalMechanic opened #847 "Assertion Exceptions encountered while testing poliastro 1.3.1"
Assertion Exceptions encountered while testing poliastro 1.3.1. Running poliastro ver. 1.3.1 on a Mac Pro (2019) running Mac OS X ver. 10.15.3 (Catalina)

🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
Last login: Tue Feb 25 19:35:01 on ttys001
(base) user@Samuels-Mac-Pro ~ % conda info -a

     active environment : base
    active en

[2020-02-26 11:39] jorgepiloto commented on #840
## Origin of this algorithm and possible errata :warning:

This routine is based on "Algorithm 58" from "Fundamentals of Astrodynamics" book. After comparing poliastro's implementation of the algorithm and the one stated in the book, I noticed there is a difference in the values for `psi_up` and `psi_low`:

* poliastro: `psi_up = 4.0 * pi` and `psi_low = -4.0 * pi`
* vallado58: `psi_up = 4.0 * pi

[2020-02-26 18:01] iamabhishek0 opened #849 "AttributeError: 'Orbit' object has no attribute 'frame'"
[code]

[2020-02-26 23:14] OrbitalMechanic commented on #847
Please change the status from support to bug

[2020-02-27 00:30] Juanlu001 commented on #840
Thanks @NanuSai for the investigation and congratulations @jorgepiloto for finding the root cause! Let's then have a pull request that includes:

* A test that checks that both implementations give the same results, within some accuracy?
* A test that checks that long way transfers work?
* The fixes in `psi_up` and `psi_low` that make the above pass

[2020-02-27 01:02] Juanlu001 commented on #847
Hi @OrbitalMechanic! After a bit of work I finally understood what's going on.

It seems that we forgot to specify the `czml3` dependency in the conda-forge package:

https://github.com/conda-forge/poliastro-feedstock/blob/0ce2b7e/recipe/meta.yaml

and therefore I guess you installed it yourself. However, poliastro 0.13.1 is compatible only with `czml3~=0.1.2`, which means `<0.2`.

But even so, th

[2020-02-27 09:25] jorgepiloto opened #850 "Duplicated sphinx extension"
:beetle: About the issue

In the `docs/source/conf.py` there exists a duplicated extension: `sphinx.ext.mathjax`.

:bulb: Solution

Simply remove one of the two lines; we are importing twice the extension... This can be an easy issue for new GSOC aspirants to know how to proceed and the issue/pull-request workflow :rocket:

[2020-02-27 09:59] iamabhishek0 commented on #850
I am working on this

[2020-02-27 10:37] NanuSai commented on #840
@Juanlu001  I've increased the num iter for test_curtis53 as @jorgepiloto  requested.
I've also

- Fixed psi_up and psi_low.
- Modified test_issue840 which now asserts  vallado(short=False) and izzo equality with rtol =1e-6
I've sent a pull request, check it out :smile:

[2020-02-27 21:31] NanuSai commented on #840
Before this thread is closed I wanted to clear the misconception I might've created with the above post.

1. The izzo algorithm is indeed working perfectly fine, it's value is matching with vallado(short=False).
2. This hypothesis is flawed and doesn't hold its ground when the algorithm is fixed. Although putting in unrealistically high/low values as tof would cause "Maximum iterations reached" as

[2020-02-27 22:25] Juanlu001 commented on #840
Fixed in #845! @paul-witsberger if you want to test with `master` you're welcome to do so :) And if the issue was still not fixed, please comment here.

[2020-02-27 22:25] #840 closed

[2020-02-27 23:07] Juanlu001 commented on #849
Hi @iamabhishek0, I tried this with `master` and everything worked:

[code]

could you please tell us what poliastro version are you using?

[2020-02-28 07:25] #817 closed

[2020-02-28 07:28] Juanlu001 commented on #817
Fixed! If anybody wants to send a pull request to czml3 so that `Clock` supports `Time` objects in the same way `TimeInterval` does, go ahead!

[2020-02-28 17:57] iamabhishek0 commented on #849
I am using the current version which is on the master.

[2020-03-02 13:26] Juanlu001 opened #852 "Link to benchmarks is broken"
Real link is https://poliastro.github.io/benchmarks/.

[2020-03-02 17:22] Juanlu001 commented on #537
Updated some broken links, thanks @NanuSai!

[2020-03-02 17:45] iamabhishek0 commented on #444
@Juanlu001 @jorgepiloto  Are we looking for something like https://oraas.orekit.space/ ?
where users can select options from the dropdown?
I was thinking apart from having dropdown menus like the one in https://oraas.orekit.space/ , we can have a jupyter notebook or a Python shell where users can give the input and the output without having to setup Poliastro on the local machine.

[2020-03-02 20:54] #850 closed

[2020-03-03 07:10] Phantsure commented on #444
that might be a good idea for those people who know poliastro but, not for those who just want to integrate poliastro in backend and want to design a good front end. Still your idea is nice.

[2020-03-03 09:07] iamabhishek0 commented on #444
Thanks @Phantsure, API's will also be created for the major functionalities of Poliastro.

[2020-03-03 14:06] astrojuanlu opened #854 "Evaluate performance"
Discovered on [Space.StackExchange](https://space.stackexchange.com/questions/41755/python-libraries-numerical-propagators-and-access-calculations/41772#comment136258_41755):

Trying to gather more information.

[2020-03-03 16:01] #852 closed

[2020-03-03 16:03] Juanlu001 commented on #849
I am not at all sure. Are you using Linux? Could you please paste the output of

[code]

?

[2020-03-03 16:36] iamabhishek0 commented on #849
Yes, I am using Linux.
[code]

[2020-03-03 16:41] Juanlu001 commented on #849
Well, `python -m pip list` doesn't find it, so I wonder where is it finding it.

Can you do this?

[code]

[2020-03-03 16:42] iamabhishek0 commented on #849
[code]

[2020-03-03 16:45] Juanlu001 commented on #849
Okay, so you're running the code inside `src/poliastro`. You won't need to do that if you `flit install --symlink` where `pyproject.toml` is, but let's not get there yet.

Last thing: do `git status`, since unfortunately the `__version__` does not record the commit...

[2020-03-03 16:49] iamabhishek0 commented on #849
[code]

[2020-03-03 16:54] Juanlu001 commented on #849
Sorry, I forgot the most important one :man_facepalming: `git show`

[2020-03-03 16:56] iamabhishek0 commented on #849
[code]

[2020-03-03 17:02] iamabhishek0 commented on #849
Actually when I was setting up my virtual environment I did `pip install .`
But then I had to work on python 3.7.4 which was giving segmentation fault because of numba's bug.
So I created virtual environment using `python3 -m virtualenv polienv` and installed all the dependencies manually after which everything was working fine.
Sorry for installing the dependencies this way because I wasn't aware

[2020-03-03 17:30] Juanlu001 commented on #849
All right, sorry for the loooooooooong delay. I reproduced the "issue", now let me remember if it's actually a bug or a feature.

[2020-03-03 17:32] Juanlu001 commented on #849
This change was introduced in https://github.com/poliastro/poliastro/pull/827 and now the equivalent thing is to do `ss.get_frame()`.

If you saw `ss.frame` in any place of the documentation then this is a bug, otherwise let's close it.

[2020-03-03 17:36] sakethramanujam commented on #444
@iamabhishek0 you mean an rpc kind of a service where the user would call the remote REST/whatever api and get back responses?

[2020-03-03 19:16] iamabhishek0 commented on #849
@Juanlu001 Thank for your support, We could close this one after fixing the documentation.

[2020-03-03 19:44] iamabhishek0 commented on #444
Yes, I was thinking of making REST API's using Flask/Django and hosting it all on Google App Engine/ AWS Lambda.

[2020-03-03 23:06] #849 closed

[2020-03-04 12:35] OrbitalMechanic commented on #847
I uninstalled and reinstalled czml3 per your note. It did cause a number
of upgrades changes superseded by a another channel, however in running
the test as depicted below raised other problems.

Last login: Wed Mar  4 06:42:54 on ttys001
(base) user@Samuels-Mac-Pro ~ % python -c "import poliastro.testing;
poliastro.testing.test()"
Traceback (most recent call last):
   File "<string>", line 1, in

[2020-03-04 17:51] astrojuanlu opened #856 "Review astropy.units performance tips"
See https://astropy.readthedocs.io/en/latest/units/index.html#performance-tips

* Use of composite units and `<<` to avoid copies
* Replace `q.to(unit).value` by `q.to_value(unit)`, see http://docs.astropy.org/en/stable/units/quantity.html#converting-to-different-units

[2020-03-06 10:38] NanuSai commented on #856
Hey @Juanlu001, our codebase has multiple cases of directly multiplying **units**
I propose we put it as an open PR( people can work independently on this and reference this issue in their PR) in that way the issue will be solved much quicker. 😁

But it's your call

[2020-03-06 16:50] priyanshurohilla commented on #856
I agree with @NanuSai  ... It would be better if it's an open PR..

[2020-03-07 09:49] NanuSai opened #858 "Add multiple revolution case to vallado solver for Lambert"
🐞 **Problem**

After a brief chat with @jorgepiloto. I think we need to update our core vallado solver for Lamberts problem to account for multiple revolution case.  The izzo algorithm already solves for it, fixing this issue would also solve issue #726. As he suggested the given [site](https://celestrak.com/software/vallado-sw.php) has the updated  code implemented in well known languages like MA

[2020-03-07 17:18] sakethramanujam commented on #444
@iamabhishek0 sorry for the delay in reply. so you're proposing a flask wrapper around the existing api with the api payload being the parameters that are particular to a method. ?

[2020-03-08 05:54] iamabhishek0 commented on #444
@sakethramanujam Thanks for replying, Yes I was thinking of implementing the same, apart from a shell/jupyter-notebook, will that be a good idea?

[2020-03-08 08:34] sakethramanujam commented on #444
@Juanlu001 your opinion please?

[2020-03-09 16:58] astrojuanlu opened #859 "poliastro does not work on Binder"
🐞 **Problem**

At the moment poliastro can't be deployed on Binder.

To reproduce, [try it](https://mybinder.org/v2/gh/poliastro/poliastro/master?filepath=index.ipynb).

💡 **Possible solutions**

It has been suggested that there's a problem in our Dockerfile. We should either:

* Fix it
* Find an alternative method that works

I was never fond of Docker for library code, so if we can do without it

[2020-03-10 11:57] Juanlu001 opened #860 "Evaluate changelog format"
* https://keepachangelog.com/en/1.0.0/
* https://github.com/hawkowl/towncrier

[2020-03-14 15:50] iMurfyD opened #861 "from_sbdb unit tests fails with default installation"
🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
[code]
* `conda list` (only if you have conda)
[code]
* `pip freeze`
[code]

💡 **Possible solutions**
It looks like the SBDB entry for Ceres doesn't match the hard-coded value in the unit test (from the test failing) - in this case the inclination specifically. Check the source and make s

[2020-03-14 19:24] iMurfyD commented on #861
Started to work on this. Previously ran this in v0.13 (the one currently installed in conda). Ran again with the current version on the github (0.14) and found a similar issue. For clarity, `ss_classical` is the orbit the code fetches from the DB, `SBDB_DATA` is the hard-coded value in the unit test. When stepping into pdb, I find the following:

Failing line: `assert ss_classical == SBDB_DATA[tar

[2020-03-15 10:34] astrojuanlu opened #862 "czml tests failing locally because of non-UTC timezones"
🐞 **Problem**

This is what happens in UTC+01:

[code]

🖥 **Please paste the output of following commands**

* `pip freeze`

<details>

[code]
</details>

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask

[2020-03-15 10:41] astrojuanlu opened #863 "Stop shipping tests in wheels"
Well, I don't think it can be easily done for a file that is out of the `src` tree. This is probably a symptom that we shouldn't be shipping our tests, even though other packages in the scientific Python ecosystem do it.

Out of curiosity, I checked SciPy wheels and, even though they have `include tox.ini pytest.ini` in their `MANIFEST.in`, their pytest configuration doesn't make it to the wheels.

[2020-03-15 10:41] astrojuanlu commented on #832
Well, I did: #863

[2020-03-15 10:42] astrojuanlu commented on #863
Apart from not doing it anymore, we should update the documentation and stop telling people to do `python -c "import poliastro.testing; poliastro.testing.test()"`, and give an alternative method instead.

[2020-03-15 11:21] priyanshurohilla commented on #862
We just have to paste the output of the command? What exactly we have to do @astrojuanlu

[2020-03-15 11:48] astrojuanlu commented on #862
@priyanshurohilla I bet you are outside of UTC+00 too, right? Therefore, try to run `pytest -k czml`, observe how they fail, work on a solution, and open a pull request :)

[2020-03-15 12:37] astrojuanlu commented on #790
Adding a `Body.mean_elements=ClassicalState(..., plane=Planes.EARTH_ECLIPTIC)` introduces a circular dependency that I find difficult to remove...

[2020-03-15 15:20] priyanshurohilla commented on #862
Yes I am outside UTC , Ok I would like to work on it!!

[2020-03-15 19:59] #790 closed

[2020-03-15 20:07] astrojuanlu commented on #790
In the end, using PLAN94 from `astropy._erfa`.

[2020-03-15 20:10] astrojuanlu commented on #861
You're totally right @iMurfyD: this test is fragile because it depends on the latest data from JPL. So I see a few ways of fixing it:

* Exploring the possibility to download an "old" version of the ephemerides, and freezing it
* Rewriting the test so it has a more permissive tolerance
* Rewriting the test so it doesn't compare "frozen data" with "live data" at all, and uses mocking instead
* ?

W

[2020-03-15 20:28] iMurfyD opened #866 "QLaw Trajectory Solver"
QLaw allows for planning of low-thrust trajectories from _arbitrary_ source to target orbits. This would expand poliastro's capabilities from single orbital element changes with low-thrust to more complicated maneuvers.

💡 **Feature request**
QLaw is a Lyapunov feedback control law for spacecrafts with low thrust propulsion aboard which allows solving for the optimal thrust angles and amount of th

[2020-03-16 02:59] iMurfyD commented on #861
I didn't see an obvious way to download an "old" ephemerides.

I can see the upsides and downsides to each of these. Alternatively, I tried to write a test which compares the `from_sbdb` and `from_horizons` results. They vary by about 10% in nu on Ceres, but much less in the other classical orbital elements.

I think comparing the two databases to each other would be the best idea since we maintai

[2020-03-16 03:22] iMurfyD commented on #861
Implemented a unit test that cross references databases and submitted as a pull request:

https://github.com/poliastro/poliastro/pull/867

[2020-03-16 03:23] iMurfyD commented on #861
Whoops :/

[2020-03-16 15:31] astrojuanlu opened #868 "Support heliosynchronous orbit creation for other planets"
The classmethod `Orbit.heliosynchronous` uses the `raan_from_ltan`, which at the moment only works for the Earth.

[2020-03-16 15:33] astrojuanlu commented on #868
In the meanwhile, as @noc0lour noted, I introduced a misleading result in #864 because now we allow the user to select the attractor.

While we work on this issue, which is _not_ easy, we should do something like

[code]

which _is_ an easy change :)

[2020-03-16 20:29] priyanshurohilla commented on #868
I would like to work on it

[2020-03-17 11:29] astrojuanlu commented on #664
Closed in #846!

[2020-03-17 11:29] #664 closed

[2020-03-17 11:29] astrojuanlu commented on #822
Closed in #846!

[2020-03-17 11:29] #822 closed

[2020-03-17 11:32] astrojuanlu opened #869 "Update CI badges in README and documentation"
After #846 we switched to Azure Pipelines and we are not using AppVeyor or CircleCI anymore. We will need to update the badges accordingly.

[2020-03-17 18:46] #869 closed

[2020-03-17 19:20] jains8844 commented on #863
I tried this [https://github.com/jains8844/poliastro/commit/2486dd4c5c009bd17709fe947ed927f120e7ead0](https://github.com/jains8844/poliastro/commit/2486dd4c5c009bd17709fe947ed927f120e7ead0) and built the wheel and source distribution with ``` flit build ```
The resulting package did not contain tests. Is this what is required ?

[2020-03-18 15:01] voidblack opened #871 "Test_Orbits fails on clean install - ubuntu 18.04.4 LTS"
When trying to get poliastro working in my dev environment, I ran into an issue with the test_orbit portion of the tests. To trouble shoot this I created a fresh environment in anaconda 4.8.3 with Python 3.7.6. Installed numba followed by poliastro from conda forge. I ran the test series and received a failure on test_orbits.py

🐞 **Problem**

conda update -n base -c defaults conda
conda create --

[2020-03-18 19:22] tomaszmrugalski commented on #862
Hi there! First of all, thanks a lot for the work on poliastro. It's a great project than I just started to learn.

I'd like to tackle this problem. I've set up the environment and replicated the issue. Two czml unit-tests are failing for me:
[code]

I'm in CET timezone (UTC+1), so it fails with an hour difference, exactly the same as reported:
[code]

I think the fix should update CZMLExtractor c

[2020-03-18 19:31] astrojuanlu commented on #862
Hey @tomaszmrugalski, looks like you're on the right direction! Yeah please, new comments and tests are always welcome :)

[2020-03-18 19:33] astrojuanlu commented on #862
Also, this library might be helpful https://pypi.org/project/freezegun/

[2020-03-18 19:57] tomaszmrugalski commented on #862
I no know why test_czml_add_orbit was "passing". There was an assert missing in line 306. Now it started failing, too. :)

Thanks a lot for the tip. Still learning python basics. freezegun looks much more convenient than changing time and timezones of the whole system.

[2020-03-18 22:20] astrojuanlu commented on #863
Kind of, but I think it's easier to just move all the `tests` directory to the top of the repository and remove `testing.py`. I'll take care of this one.

[2020-03-19 03:38] jains8844 commented on #863
Sure 👍

[2020-03-19 06:53] jorgepiloto commented on #871
Hi @voidblack, thanks you!

From the `Details` section I am able to see that you installed `poliastro 0.13.1` version, which is the last stable one. The `sbdb` database was recently updated and since that test was hard-coded with old values from this website, you can see it is failing in the order of 10e-2.

Previous failing test was noticed and updated to a better format by @iMurfyD, related disc

[2020-03-19 09:44] astrojuanlu commented on #856
Changing the units should be done everywhere in the code, but @NanuSai went ahead in one function (#857) and it was slower in his computer. So this should be handled with care.

Unfortunately, [our benchmarks](https://github.com/poliastro/benchmarks) are abandoned and we don't run them anymore... So we have limited tools to know the performance impact of this.

[2020-03-19 10:32] astrojuanlu commented on #871
+100 to everything @jorgepiloto said :smile: this was fixed in #867, by the way!

[2020-03-19 10:32] NanuSai commented on #856
@priyanshurohilla or anyone in that matter, Why not try in your computer the changes I made as suggested in #857 ? Maybe it's an intrinsic problem of my computer.Let's get that cleared, then we can get to the root of it.

[2020-03-19 10:32] astrojuanlu commented on #861
Fixed in #867!

[2020-03-19 10:32] #861 closed

[2020-03-19 13:29] voidblack commented on #871
Thanks gents!
@jorgepiloto @astrojuanlu

[2020-03-19 13:59] jorgepiloto commented on #871
Closing then 😊

[2020-03-19 13:59] #871 closed

[2020-03-20 06:46] jorgepiloto opened #873 "Improve magic str method for Maneuver class"
💡 **Feature request**

While working with Maneuvers instances, I noticed they do not have a proper `__str__` representation. This class has the attribute `impulses` which already shows information on the maneuver but I thought might be interesting to have something like:

[code]

🎯 **Goal and tasks**

This task can be achieved by overriding the [special methods](https://docs.python.org/3/reference

[2020-03-20 10:14] astrojuanlu commented on #862
I confirm that #872 fixed this. Closing!

[2020-03-20 10:14] #862 closed

[2020-03-20 20:29] iamabhishek0 commented on #873
I am working on it :)

[2020-03-21 00:37] mshawmjs21 opened #874 "Some Tests Failed After Installing"
🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started w

[2020-03-21 06:15] pandeyroshan commented on #873
Hey Jorge, can you please explain the requirements a little more?

[2020-03-21 08:33] jorgepiloto commented on #874
Hi @mshawmjs21,

details section was not completed with your current system output, so we can not figure out which are the tests failing.

 However I am suspecting about the one under the name `test_from_sbdb` since we received some issues about that one. Please refer to #871 and #861 just in case, otherwise comment below which are your failing tests.

[2020-03-21 20:50] astrojuanlu commented on #824
No, there's no check, and wrong results are plotted.

![Screenshot_2020-03-21 Untitled - Jupyter Notebook](https://user-images.githubusercontent.com/316517/77236339-ec8ee480-6bbd-11ea-9eed-8629e3328486.png)

[2020-03-23 10:48] #824 closed

[2020-03-23 11:28] #863 closed

[2020-03-23 12:06] astrojuanlu commented on #847
Hi @OrbitalMechanic, sorry I somehow missed your last reply.

It's a bummer conda packages are so fragile against upgrades, there's little we can do about it apart from recommending creating a clean environment.

Hopefully version 0.14.0 will have fewer CZML problems, we are already working on it.

Note that we removed the ability to run the tests using `python -c "import poliastro.testing ..."`,

[2020-03-23 12:09] astrojuanlu opened #880 "Restore coverage reporting"
After #846, we stopped reporting coverage to Codecov. Instead, we see this kind of messages:

https://dev.azure.com/poliastro/poliastro/_build/results?buildId=41&view=logs&j=0d2e6dee-4abd-58ce-47f1-cbb7d58969b6&t=64ccd6c1-282f-5a50-12e1-cb249088790a&l=11

[2020-03-23 12:13] iamabhishek0 commented on #859
@astrojuanlu I have fixed the [Dockerfile](https://github.com/iamabhishek0/poliastro/blob/dockerfile_update/Dockerfile), I suggest having a requirements.txt. If ever there's a need for a Dockerfile it can be used, I have tested it on Binder.

[2020-03-23 12:17] #859 closed

[2020-03-23 12:19] astrojuanlu commented on #859
Sorry @iamabhishek0, too late - I removed it. Too much complexity for what should be a simple problem. Now we are using a `requirements.txt`, as advised :)

[2020-03-24 11:11] astrojuanlu commented on #791
Let's tackle this after https://github.com/poliastro/poliastro/issues/445 is solved, see https://github.com/poliastro/poliastro/projects/3.

[2020-03-24 11:37] astrojuanlu commented on #403
We completely changed the CI and now we are at around ~20-25 minutes. Definitely good enough, so closing this!

[2020-03-24 11:37] #403 closed

[2020-03-24 11:44] astrojuanlu commented on #666
2020-03-13

https://devblogs.microsoft.com/commandline/wsl2-will-be-generally-available-in-windows-10-version-2004/

[2020-03-24 11:59] astrojuanlu commented on #770
Closing after lack of activity, please feel free to open a new issue or ask this one to be reopened!

[2020-03-24 11:59] #770 closed

[2020-03-24 12:03] astrojuanlu commented on #787
Closing due to lack of activity, please feel free to open a new issue or ask for this one to be reopened!

[2020-03-24 12:03] #787 closed

[2020-03-24 12:09] astrojuanlu commented on #798
This is still a problem, as far as I see it.

[code]

[2020-03-24 13:11] astrojuanlu commented on #803
Not our problem, in any case. Closing!

[2020-03-24 13:11] #803 closed

[2020-03-24 13:14] astrojuanlu commented on #858
Thanks @NanuSai!

To add some more information: when I implemented the Vallado algorithm, I had the 3rd edition of the book in my hands and couldn't find the 4th online. If the algorithm has been updated, I think it would be great to have it in poliastro :)

[2020-03-24 13:14] astrojuanlu commented on #856
Good idea!

[2020-03-24 13:18] iamabhishek0 commented on #856
@astrojuanlu I would like to help!

[2020-03-24 13:25] astrojuanlu commented on #856
@iamabhishek0 great! Then please follow @NanuSai advice and try the changes in #857 locally, to see if you also observe the slowdown (please post the details there)

[2020-03-24 13:26] astrojuanlu commented on #610
Let's do this after #792.

[2020-03-24 13:30] iamabhishek0 commented on #856
Sure :)

On Tue, Mar 24, 2020, 6:55 PM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

[2020-03-25 08:40] astrojuanlu commented on #868
@priyanshurohilla Did you start working on the temporary fix then?

[2020-03-25 08:44] priyanshurohilla commented on #868
yes ! i will make a pull request shortly

[2020-03-25 11:11] jains8844 commented on #880
For the coverage test, we need to pass the codecov token as an environment variable named ```CODECOV_TOKEN``` to the pipeline. See this https://github.com/OpenAstronomy/azure-pipelines-templates/blob/master/run-tox-env.yml#L155.

The warning ``` ##[warning]No test result files matching **/test-*.xml were found.``` is generated by this line in my opinion https://github.com/OpenAstronomy/azure-pipel

[2020-03-26 11:15] astrojuanlu commented on #445
Proposal: https://github.com/poliastro/poliastro/wiki/Ephem-objects

[2020-03-27 23:16] astrojuanlu commented on #501
Now nbsphinx will support thumbnails :) https://github.com/spatialaudio/nbsphinx/pull/392

[2020-03-27 23:17] astrojuanlu commented on #456
Not reopening this yet but... Thinking about ephemeris interpolation again, see https://github.com/poliastro/poliastro/wiki/Orbit-interpolation

[2020-03-28 16:00] Syed-Osama-Hussain commented on #792
Hello!
Is this issue fixed?

[2020-03-28 17:59] astrojuanlu commented on #792
Hi @Syed-Osama-Hussain! What issue do you refer to in particular? Are you using Spyder, Jupyter, or other?

[2020-03-28 20:27] Syed-Osama-Hussain commented on #792
Actually, I was hoping to contribute to the project by solving some minor issues as I want to have a better understanding of the project. I am looking forward to this project for GSoC'20. I was referring to the documentation issue (792) in my earlier comment.

[2020-03-28 21:38] astrojuanlu commented on #792
@Syed-Osama-Hussain This one in particular is a little bit complex, so I recommend you to give other issues a try :)

[2020-03-28 21:53] astrojuanlu commented on #880
Thanks @jains8844! I added a `CODECOV_TOKEN` secret to the repository, however "Secrets are not passed to workflows that are triggered by a pull request from a fork" https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#using-encrypted-secrets-in-a-workflow

So I will add it to the configuration and let's see how it goes.

[2020-03-28 22:20] Syed-Osama-Hussain commented on #792
Okay I'll do so. Thanks!

[2020-03-28 22:34] astrojuanlu commented on #880
Closed in #884

[2020-03-28 22:34] #880 closed

[2020-03-30 11:59] Syed-Osama-Hussain commented on #818
Hello. How can I run the tests on test_czml.py locally?

[2020-03-30 12:44] astrojuanlu commented on #818
Hello @Syed-Osama-Hussain! You need to use `pytest` for that, `pytest -k czml` should work (provided you have `czml` installed). If you have questions, please direct them to our [poliastro-newbies](https://riot.im/app/#/room/#poliastro-newbies:matrix.org) chat.

[2020-03-31 09:18] astrojuanlu opened #887 "Investigate sudden drop in coverage"
Before #846 we were at ~89 % coverage, and after #884 we are at ~71 % coverage. How did this happen? What are we measuring differently?

https://codecov.io/github/poliastro/poliastro?branch=master

Perhaps the tests were included in the source coverage? If 71 % is the real number, then we have *a lot* of work to do.

[2020-03-31 09:21] astrojuanlu commented on #887
* Before: https://codecov.io/gh/poliastro/poliastro/tree/1563d4671f529519150dcc048066511883294b3e/src/poliastro
* After: https://codecov.io/gh/poliastro/poliastro/tree/e7be2537e0a00f9cd7327bddc228e729d82005a7/src/poliastro

[2020-03-31 09:31] astrojuanlu commented on #887
I suspect we're running coverage checks without disabling Numba.

[2020-03-31 14:35] astrojuanlu commented on #887
No we aren't! Or at least, we're trying.

https://github.com/poliastro/poliastro/blob/93042f5a3c2b43ab5c55ba7ba3eacb1e6dbb0799/azure-pipelines.yml#L74

[2020-03-31 19:15] #887 closed

[2020-03-31 20:31] astrojuanlu commented on #868
Temporary security measure implemented in #889, now someone has to do the real work :)

[2020-03-31 20:42] iamabhishek0 commented on #868
@astrojuanlu I know its not easy, but I can try. Will need some guidance

[2020-04-01 08:47] priyanshurohilla commented on #873
I think this can be closed now

[2020-04-01 09:30] astrojuanlu commented on #873
Yes indeed! Closed in #875. Thanks @priyanshurohilla and @iamabhishek0!

[2020-04-01 09:30] #873 closed

[2020-04-01 09:33] astrojuanlu commented on #874
Closing due to lack of activity, feel free to open a new issue or complete this one with more information so we can consider reopening it!

[2020-04-01 09:33] #874 closed

[2020-04-03 07:28] jorgepiloto opened #892 "Error in porkchop docstrings"
🐞 **Problem**

While working with `poliastro.plotting.porkchop` I noticed that the docstring
regarding the output values for the `porkchop` function is not updated. There
are two missing values: `dv_launch` and `dv_arrival`. Both should be included.

💡 **Possible solutions**

* Add corresponding function docstrings.

📋  **Steps to solve the problem**

 * Add, commit, run tests and push your change

[2020-04-03 07:31] iamabhishek0 commented on #892
@jorgepiloto I would like to fix it. Will make a PR soon.

[2020-04-03 07:38] jorgepiloto commented on #892
Thank you @iamabhishek0! :rocket:

[2020-04-03 08:47] iamabhishek0 commented on #892
@priyanshurohilla I was working on it :)

[2020-04-03 09:03] priyanshurohilla commented on #868
@iamabhishek0 I was working on it :)

[2020-04-03 10:41] iamabhishek0 commented on #868
@priyanshurohilla From !8 days for 2 lines of code, Strange!

[2020-04-03 12:02] noc0lour commented on #868
Hi all, resolving this issue sufficiently for other planets than earth is quite tricky as you need to find:
 - formulas for attitude of planet at a specific point of time (where is the defined zero meridian)
 - equation of time (calculate local true solar time (LTST), local mean solar time (LMST))

Goal of this exercise is to find the correct RAAN for a given point in time so the ascending node is

[2020-04-03 13:34] priyanshurohilla commented on #868
I was in middle of a situation here due to covid-19 . You also now that's easy to fix :) i could have completed it but was dealing with problems here, that's why I mentioned that will be sending a PR shortly.

[2020-04-03 13:41] jorgepiloto commented on #892
@iamabhishek0 There is no problem usually if two users working on the same issue. We do normally merge the first PR to success all reviews and code tests :rocket:

[2020-04-03 13:46] iamabhishek0 commented on #892
@jorgepiloto Sure, will keep that in mind.

[2020-04-03 14:05] priyanshurohilla commented on #868
I would be needing more info on it! I would be obliged if i get some guidance of yours

[2020-04-03 19:55] iamabhishek0 commented on #798
@astrojuanlu I think this is caused because in line https://github.com/poliastro/poliastro/blob/master/src/poliastro/twobody/orbit.py#L490
because self.r is in HCRS frame while get_body_barycentric returns cartesian coordinates in ICRS frame. Can you suggest how to bring both coordinates in the same frame?

[2020-04-03 21:47] astrojuanlu commented on #798
@iamabhishek0 😱 good catch!! That's exactly the problem! Let me think this weekend

[2020-04-04 10:23] astrojuanlu commented on #856
This issue is more difficult than it seems for several reasons:

* Any change in how we use units affects performance (that's why we want to do it, right?) but *sometimes surprising results appear*, as we saw in #857. Therefore, given that our benchmarks at https://github.com/poliastro/benchmarks were last run a long time ago, we *at least* need some microbenchmarking, as @NanuSai and @iamabhishek

[2020-04-04 10:50] astrojuanlu commented on #610
@jorgepiloto has been investigating this. He found that, in the pages outside of the examples, we need to include the Plotly JS:

https://github.com/readthedocs/sphinx_rtd_theme/issues/788#issuecomment-608992554

We might need something like this:

https://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_js_file

(notice that [we used to have it](https://github.com/pol

[2020-04-04 11:25] astrojuanlu commented on #892
Closed in #893.

[2020-04-04 11:25] #892 closed

[2020-04-04 11:37] astrojuanlu commented on #712
Let me expand this issue a little bit:

* https://www.poliastro.space/ and https://poliastro.space/ lead nowhere. Therefore, there's not one "canonical", main website of poliastro
* https://blog.poliastro.space/ has a small banner on top to redirect to https://docs.poliastro.space/en/latest/, but not the other way around. Therefore, unless you know it, the blog is effectively "hidden".
* Because o

[2020-04-04 12:02] astrojuanlu commented on #798
I think the best thing would be to explicitly convert the `CartesianRepresentation` coming from `get_body_barycentric` to ICRS, `transform_to` the frame of the `Orbit`, and then use that to make the subtraction.

To whoever wants to fix this bug, my recommendation is:

1. Write a test that tries `iss.change_attractor(iss.attractor)`
2. Watch it fail
3. Fix the code
4. Commit
5. Push and open a pul

[2020-04-04 12:08] priyanshurohilla commented on #798
I am working on it.

[2020-04-04 12:13] iamabhishek0 commented on #798
@priyanshurohilla If you don't mind I have already made some progress on this one, please let me work on this. As you are already  working on #868

[2020-04-04 12:16] astrojuanlu commented on #798
@priyanshurohilla There is no need to announce you are working on a particular issue. On one hand, we see a pattern of people making the announcement and then never sending a pull request, which gives a bad impression (I have been guilty of this in other projects, and it still is not a nice thing to do). On the other hand, it gives the impression that others should refrain to work on the issue, wh

[2020-04-04 12:19] priyanshurohilla commented on #798
@astrojuanlu you said in the comments that whosoever wants to work on it. Thats why i mentioned it. If @iamabhishek0 wants to work on it i dont have any problem regarding that. All yours @iamabhishek0

[2020-04-04 13:14] astrojuanlu commented on #856
Successful application of this in #857

[2020-04-04 19:34] astrojuanlu commented on #815
First things first: sorry @noc0lour for the looooooong delay, I know we talked in the chat but it doesn't usually take me that much time to respond to an issue in poliastro. I'm in a better position now :)

Simpler case:

[code]

My first thought: isn't is simpler to use `Orbit.from_coords(..., results[-1], ...)`? But then this happened:

[code]

Which makes me realize that `Orbit.from_coords` doe

[2020-04-04 19:44] priyanshurohilla commented on #815
Well I didn't give thissss much of a thought! Now as @astrojuanlu has stormed his brain on it. I'll do it too and try to get the solution for it. But I would be needing some guidance :)

[2020-04-05 16:36] astrojuanlu commented on #818
Fixed in #886. @kerel-fs let us know if you try it out in the development version :) For the moment, I'm closing this feature request.

[2020-04-05 16:36] #818 closed

[2020-04-05 17:25] astrojuanlu commented on #798
This logic:

https://github.com/poliastro/poliastro/blob/f4547d2b1b89eba41a9ee29b3fe35d9ba393c64c/src/poliastro/twobody/orbit.py#L502-L503

covers this case:

https://github.com/poliastro/poliastro/blob/f4547d2b1b89eba41a9ee29b3fe35d9ba393c64c/tests/tests_twobody/test_orbit.py#L1061-L1067

Therefore, we can't just remove it, because it's legitimate. However, there should be a way to detect when an

[2020-04-05 19:29] astrojuanlu commented on #815
`Orbit.from_coords` is fine like that, having a `BaseCoordinateFrame` + `plane` allows poliastro to convert the input coordinates to a known frame.

The natural option now, instead of propagating twice, would be doing something like this:

[code]

which recovers exactly what you want.

I am -1 on changing `Orbit.propagate`, as it breaks a lot of interactive workflows and chaining operations, and -

[2020-04-05 19:40] astrojuanlu commented on #633
This is a non-issue, we can make small improvements as we go.

[2020-04-05 19:40] #633 closed

[2020-04-05 19:47] Syed-Osama-Hussain commented on #712
@astrojuanlu can you elaborate how the site is hosted? Seems like the sub-domains are confusing. I've had some experience with hosting and web development. Maybe I can help?

[2020-04-05 20:03] priyanshurohilla commented on #815
@astrojuanlu the steps you are suggesting would require manipulation from the user end, Like the user have to think of writing that code to access it 2x faster, but it would be better if we can fix this on our end, So that the user can be at ease. What do you think @astrojuanlu ?🤔

[2020-04-05 20:09] priyanshurohilla commented on #815
What i propose is we can change the function of `orbit.propgate()` to take one more parameter something like `cartessian` and if the user provide it as `True` then we can return the `cartesian` otherwise we can have our normal working of function. Would this method also affect other files?@astrojaunlu like what happened by changing the return value of the function?🤔

[2020-04-06 15:27] astrojuanlu commented on #815
I am generally not in favor of changing the type of the return value depending on a function parameter. Yes, we do it in some parts of the code (like `maneuvers.py`), but I'd say it's a bad practice. I've seen it in SciPy too - don't like it :sweat:

[2020-04-07 06:39] gravitas21 commented on #529
Similar issues in 2020. But pip install poliastro from the virtual environment with python=3.7 helped.
output for conda list:
# packages in environment at C:\Users\hp\Anaconda3\envs\astra:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                   pypi_0    pypi
astropy                   3.2.3                    pypi_0    pypi
astroquery

[2020-04-08 10:51] astrojuanlu commented on #529
Hi @gravitas21! Could you clarify what issue did you find exactly?

[2020-04-08 15:20] astrojuanlu commented on #712
At the moment, https://github.com/poliastro/poliastro.github.io/ is deployed in blog.poliastro.space. Therefore, I think we need to:

* Keep poliastro.github.io only for the front page, and deploy it in www.poliastro.space
* Have a separate project for the blog, and deploy it in blog.poliastro.space
* Deploy the benchmarks in benchmarks.poliastro.space

How does this sound?

[2020-04-08 16:19] Syed-Osama-Hussain commented on #712
Yes, this sounds nicer and clearer!

[2020-04-08 18:05] shreyasbapat commented on #712
This is independent of the front page. If you make proper DNS Entries for the subdomain, and add a custom domain for the deployment in github pages, shouldn't that work?

[2020-04-09 19:34] Syed-Osama-Hussain commented on #814
So basically we need to construct a packet by it's positional attributes with respect to time?

[2020-04-09 22:03] GorgiAstro commented on #702
If NRLMSISE-00 gets implemented, it would be nice to feed it with the daily space weather data combined by CSSI/AGI: ftp://ftp.agi.com/pub/DynamicEarthData/SpaceWeather-All-v1.2.txt and http://celestrak.com/SpaceData/SpaceWx-format.php

It contains three-hourly Ap geomagnetic index and daily F10.7 flux required by NRLMSISE-00.

The CSSI/AGI file is for instance also packaged into GMAT (in the fold

[2020-04-10 07:29] priyanshurohilla commented on #702
I found a amazing python Package for [NRL MSISE-00 ](https://pypi.org/project/msise00/) atmospheric model, whicg we can include in poliastro as a dependency. They have covered altitude from 0-1000 km which is awesome!! Playing with it right now.. More insights coming up😁

[2020-04-11 17:26] astrojuanlu commented on #716
I just got bitten by a slightly different version of this

[2020-04-11 21:00] astrojuanlu opened #901 "Propagation is inconsistent sometimes"
For example:

[code]

![trail](https://user-images.githubusercontent.com/316517/79054801-48421000-7c48-11ea-9422-50ae8e84d846.png)

[2020-04-11 21:49] astrojuanlu commented on #901
Interestingly, this does not happen only with trail plotting. Take this snippet:

[code]

![bad_plot](https://user-images.githubusercontent.com/316517/79055618-ce615500-7c4e-11ea-9693-6d15cee756d8.png)

Explanation:

* In red, the fully sampled orbit, and a big red dot where the actual position is at the given epoch
* I am taking that `Orbit`, called `ss`, and calling the `propagate` function on i

[2020-04-11 21:49] astrojuanlu commented on #901
This can be observed in poliastro 0.13.1.

[2020-04-11 22:44] astrojuanlu opened #902 "Error while reading Halley's comet from DASTCOM5"
While trying to follow https://docs.poliastro.space/en/stable/examples/Using%20NEOS%20package.html#DASTCOM5-module, I found this error:

[code]

I tried downloading `dastcom5.zip` twice to check that it was correct:

[code]

This is relevant to the work @shreyasbapat is doing. @anhiga might want to take a look at this :)

[2020-04-11 22:48] astrojuanlu commented on #902
Some more relevant information:

[code]

[2020-04-11 23:55] #716 closed

[2020-04-12 05:44] priyanshurohilla commented on #901
I think this is happening because you have not propagated the `epoch` . You have extracted the coordinates but did not propagated the epoch and i think maybe that's why the red marker has not changed the position.

[2020-04-12 06:41] Meuge commented on #901
Hi @priyanshurohilla ! I’ve recently talked with @astrojuanlu about the issue, and it seems the problem is with the transpose in the  plot coordinates.
Thanks for the suggestion :). I’ll also consider it while solving the issue.

[2020-04-12 13:02] Tarlan0001 opened #904 "Lambert method for in-plane transfer"
I'm trying to solve the transfer between a circular orbit with 200km radius and an orbit with 200km perigee and 8000km apogee.

The optimal transfer is hoffman, however, izzo.lambert gives different result.

My code:
[code]

[2020-04-12 13:35] astrojuanlu commented on #904
Hello @Tarlan0001! No shame in opening an issue and then discovering the answer yourself :) Would you be so kind to restore the original text and point out how did you fix the problem?

If you ever have other questions, feel welcome to [join our chat](https://riot.im/app/#/room/#poliastro:matrix.org). Cheers!

[2020-04-12 13:47] Tarlan0001 commented on #904
@astrojuanlu Hi. I didn't solve it yet. I deleted it because it's not a matter of a ticket right now, I have to find the issue.

However, if you could help me with izzo.lambert for my problem, I would appreciate.

[2020-04-12 13:56] astrojuanlu commented on #904
Sure thing! Could you please share the code you're using? If it's long, you can upload it to https://gist.github.com/

[2020-04-12 14:25] astrojuanlu commented on #904
By the way, https://doi.org/10.2514/3.20941 contains a simple proof of the optimality of the Hohmann transfer. The problem with applying the Lambert problem in this case is that it's ill conditioned if the transfer angle is 180 degrees.

[2020-04-12 14:52] Tarlan0001 commented on #904
@astrojuanlu Sure, added my code. I guess, the result should be a maneuver at 0 true anomaly (perigee) and zero maneuver at apogee.

[2020-04-12 14:56] astrojuanlu commented on #904
I recommend you to simplify by code by using `from poliastro.core.elements import coe2rv` and `from poliastro.util import norm`.

Also, I am not confident at all that this should work, because of the singularity I mentioned.

[2020-04-12 15:30] Tarlan0001 commented on #904
Thank you! Updated the code.
It gives now initial maneuver at 0 deg and final at 195 deg.
I understand the singularity you mentioned. But, would you be so kind to check my code, please? To ensure, that the problem is in the singularity, not in the code.

[2020-04-12 15:48] astrojuanlu commented on #904
xref: https://space.stackexchange.com/q/43386/10716

[2020-04-12 16:06] astrojuanlu commented on #904
I gave a detailed answer with my perspective on the theoretical aspects of this at [Space.SE](https://space.stackexchange.com/a/43396/10716). It's difficult for me to make sense of the code if I don't understand the research question.

[2020-04-12 16:11] astrojuanlu commented on #677
@Tarlan0001 in your last code sample you have the equations of motion and a BVP solver, so unless there's something wrong I think it should be enough to find a solution. I can't bring zero help with the analysis of the optimality of it, since I am only familiarized with usual Newtonian dynamics. Regarding the code, I know that [in SciPy there is only one BVP algorithm](https://docs.scipy.org/doc/s

[2020-04-12 16:11] #677 closed

[2020-04-12 17:08] Tarlan0001 commented on #904
@astrojuanlu Thank you for the detailed answer!
Indeed, I want to get the same result with Lambert solver, as it would be with the Hoffman transfer.
Now it gives an optimal transfer starting from 0 deg true anomaly and finishing at 185 deg (which is close to Hoffman). I checked an interval of transfer times with 1 minute period.

I accepted your answer, however, if it's possible, I would appreciat

[2020-04-12 18:21] astrojuanlu commented on #557
This was addressed in #891:

Now all the details about how the frame is set are hidden inside these functions, which frees us from refactoring them internally while maintaining this new API, which I think is acceptable. `OrbitPlotter2D.set_frame` and its static counterpart are deprecated now.

On the other hand, our original objective, which was producing plots in the Geocentric Solar Ecliptic fra

[2020-04-12 21:09] astrojuanlu commented on #707
After going over #708 again, I think removing the gravitational parameter from all the core functions makes the equations more obscure and difficult to recognize. Sure, it simplifies things, but also forces users to change the dimension of everything (even if the main user is the poliastro high-level API).

Perhaps we should leave core functions as they are, and make some parts of the high level A

[2020-04-12 21:14] astrojuanlu commented on #740
I think I forgot to close this. Doing it now.

[2020-04-12 21:14] #740 closed

[2020-04-12 21:20] astrojuanlu opened #905 "Test 3D maneuvers"
@jorgepiloto I notice we didn't add any new tests to this pull request. Can you please find an example of a Hohmann transfer that could not be done before it, that now works?

_Originally posted by @astrojuanlu in https://github.com/poliastro/poliastro/pull/599#issuecomment-513470149_

[2020-04-12 21:22] astrojuanlu opened #906 "Move maneuver computation to core"
Right now there is quite some logic in the `poliastro.maneuvers` module that could probably be moved to `poliastro.core.maneuvers`.

[2020-04-12 21:25] astrojuanlu commented on #702
Nice! I see that the project is quite big and includes a fair amount of FORTRAN code:

https://github.com/space-physics/msise00

[2020-04-12 21:29] astrojuanlu commented on #694
I am sure posting this analysis needed a lot of code: plotting the individual elements, comparing with TLEs... we will be glad to see that code published somewhere (in some personal repository perhaps). In the meanwhile, we added a new atmospheric model and this issue has been inactive for a while, so I will close it. Feel free to comment here or in the chat.

[2020-04-12 21:29] #694 closed

[2020-04-12 21:31] astrojuanlu commented on #702
Related: #833

[2020-04-12 21:36] Tarlan0001 commented on #904
Well, I've got the result 0 deg initial and 181 deg final with the Lambert solver. However, the DV is a little higher than with the Hoffman.
Closing this ticket, thank you!

[2020-04-12 21:36] #904 closed

[2020-04-12 21:42] astrojuanlu commented on #791
Quick proposal (before I start writing a page in the wiki, which might have to wait a few months still):

[code]

More ideas? cc @jorgepiloto

[2020-04-12 21:44] astrojuanlu commented on #856
Another cheap improvement:

[code]

Replace those by `q.to_value(unit)`, see above.

[2020-04-12 23:52] astrojuanlu opened #907 "Orbit.propagate_to_anomaly freezes"
(TBC)

[code]

[2020-04-12 23:55] astrojuanlu commented on #907
It's `o_n.M` what hangs.

[2020-04-13 00:02] astrojuanlu commented on #907
Also, problems with the propagation:

[code]

[2020-04-13 00:12] astrojuanlu commented on #907
The problems with this particular orbit were solved by decreasing the `delta` that makes the parabolic solution kick in.

[2020-04-13 00:13] astrojuanlu commented on #907
I think this might be a duplicate of #475.

[2020-04-13 00:13] astrojuanlu commented on #475
I think #907 is another case of this.

[2020-04-13 00:41] astrojuanlu commented on #712
Oh wow, maybe you're right... :flushed:  testing it right now!

[2020-04-13 00:44] astrojuanlu commented on #712
It works :sob: Thanks @shreyasbapat! One more problem solved!

[2020-04-13 01:41] astrojuanlu commented on #475
The more I think about this, the more I'm convinced that there's some error in our implementation of the near-parabolic solution of (Farnocchia, 2013). I know @jorgepiloto started an effort to add a new propagator at #631 that stalled, but we should really invest some time to understand what's going on here. Unfortunately Mr. Farnocchia did not answer to email when we asked him some questions a co

[2020-04-13 02:28] astrojuanlu commented on #907
I think I found it.

[2020-04-13 02:47] astrojuanlu commented on #475
I think I found it: #908 :scream:

[2020-04-13 16:17] Syed-Osama-Hussain commented on #906
@astrojuanlu , any pointers to understand canonical units and to apply them?

[2020-04-14 08:38] #445 closed

[2020-04-14 08:39] astrojuanlu commented on #445
A new `Ephem` object has been introduced that fixes this dichotomy. I will update the User Guide soon, stay tuned! In the meanwhile, take a look at the code and especially the notebooks, which are updated already.

[2020-04-14 11:16] astrojuanlu opened #909 "Recommended conda instructions might leave user with older version"
After following the official installation instructions for conda, @simium ended up with poliastro 0.9.1. This deserves a bit of investigation, but I suspect that having an old `base` environment and conda dependency solving played a role. We should either:

* Recommend installing exact versions: `conda install -c conda-forge poliastro=0.14"
* Recommend creating a new environment

[2020-04-15 12:15] astrojuanlu commented on #902
Fixed in #910.

[2020-04-15 12:15] #902 closed

[2020-04-15 15:40] astrojuanlu opened #911 "CZMLExtractor has no API documentation"
It's mentioned in the user guide and a notebook, but not in the API docs.

[2020-04-15 15:41] astrojuanlu commented on #814
@Syed-Osama-Hussain The `CZMLExtractor` class has an `add_orbit` method. Let's have an `add_trajectory` that takes a `CartesianRepresentation`, similar to `plot` vs `plot_trajectory` in the plotters.

[2020-04-15 16:23] Syed-Osama-Hussain commented on #814
Okay @astrojuanlu . Do we have to provide ground tracking and all the other optional parameters as in add_orbit?

[2020-04-15 16:31] astrojuanlu commented on #814
Let's start with `if groundtrack_show: raise NotImplementedError` to simplify.

[2020-04-15 16:31] Syed-Osama-Hussain commented on #814
Okay.

[2020-04-15 20:20] Tarlan0001 opened #914 "OrbitPlotter error in the new version"
I used the following code before to draw the plots and it worked very well.
[code]

After the recent package update I get the following error:
[code]

Can you please help to adjust this code to the new package version?

[2020-04-15 20:44] astrojuanlu commented on #815
I think the solution we gave in https://github.com/poliastro/poliastro/issues/815#issuecomment-609469484 is good enough - poliastro shouldn't necessarily commit to cover every possible use case with a single function. With the same number of lines of code we avoided the performance penalty, so I am closing this. Feel free to add more information of you still want this to be considered.

[2020-04-15 20:44] #815 closed

[2020-04-15 20:44] jains8844 commented on #914
@Tarlan0001 Replacing ```OrbitPlotter``` with ```StaticOrbitPlotter``` would work.

[2020-04-15 20:57] astrojuanlu commented on #914
as @jains8844 said, you have to do `from poliastro.plotting.static import StaticOrbitPlotter as OrbitPlotter` and everything will stay the same. Sorry for not putting a deprecation warning! :innocent: Please let us know if this works.

[2020-04-15 21:01] Tarlan0001 commented on #914
Works, thanks!

[2020-04-16 07:32] noc0lour commented on #815
I think the solution is appropriate, maybe it would be good to include this in the documentation for future users.

[2020-04-17 09:36] astrojuanlu commented on #909
Closed in #912.

[2020-04-17 09:36] #909 closed

[2020-04-17 09:36] astrojuanlu commented on #911
Closed in #912.

[2020-04-17 09:36] #911 closed

[2020-04-18 15:40] astrojuanlu opened #916 "Orbit.from_sbdb raises unhelpful error if no object was found"
[code]

It should give something more meaningful, like `ValueError("Object 67/P not found")`

[2020-04-18 15:45] astrojuanlu opened #917 "Orbit.from_sbdb fails for some objects"
While I was working on #908 I started looking for hyperbolic comets to prove a point, and found this interesting behavior:

[code]

It looks like the result is not being parsed correctly:

[code]

I tried another one, and the same error came out in a different line:

[code]

It looks like an upstream issue, but I would like someone else to do the legwork and find exactly what's going on. Once we c

[2020-04-18 18:40] priyanshurohilla commented on #916
I am on it

[2020-04-18 18:48] iamabhishek0 commented on #917
@astrojuanlu I tried to find the reason for the bug, after querying [here](https://ssd.jpl.nasa.gov/sbdb.cgi#top)
![Screenshot from 2020-04-18 23-55-28](https://user-images.githubusercontent.com/36269212/79660043-86ec4300-81d1-11ea-9900-bec04a627b78.png)
![Screenshot from 2020-04-18 23-56-11](https://user-images.githubusercontent.com/36269212/79660055-8784d980-81d1-11ea-9494-5989a3f0ff38.png)
![Sc

[2020-04-18 18:54] astrojuanlu commented on #917
Please feel free to open an issue in astroquery, including code _that does not use poliastro_ that the developers can use to quickly reproduce the issue.

I suspect the problem is in that `-.999` when parsing, but I might be wrong.

[2020-04-18 19:33] iamabhishek0 commented on #917
I have opened an issue in astroquery for this https://github.com/astropy/astroquery/issues/1703

[2020-04-18 21:36] priyanshurohilla commented on #916
@iamabhishek0 I was working on it.:)

[2020-04-18 21:45] priyanshurohilla commented on #702
So do u recommend this library for poliastro? Should we have it as a dependency?
If yes then i would start working on merging the codebase to poliastro. I have already tested this and i found it to be pretty accurate, the only problem which is clicking me is the requirement of fortran compiler which will add more complexity to poliastro testing!

[2020-04-18 21:59] priyanshurohilla commented on #791
Here are some ideas which i propose
[code]
We can also add functionalities for mission analysis and the thing which i am most excited about is if we can add Rendezvous capabilities too. I would love to work on it

[2020-04-18 22:07] priyanshurohilla commented on #906
@astrojuanlu We currently don't have any module called `poliastro.core.maneuvers'. Do you want me to make one or what shpuld be done. Can you please elaborate a bit

[2020-04-18 22:14] priyanshurohilla commented on #798
We can detect it by looking into the values of Periapsis and Apoapsis and make a parameter which can be used to check those values and hence determine if it is orbiting a closer body.

[2020-04-19 00:37] astrojuanlu commented on #916
@priyanshurohilla [As per my comment from 15 days ago](https://github.com/poliastro/poliastro/issues/798#issuecomment-609019954):

I will be more explicit this time: blocking issues this way is not the correct attitude. Please refrain from doing so in the future.

[2020-04-19 00:42] astrojuanlu commented on #702
Yeah, I have the same feeling :cry: I think we should not carry such a heavy dependency which most users won't use. This is part of the [roadmap for Earth capabilities](https://github.com/poliastro/poliastro/projects/5), and we'll need to discuss the approach in #791 first.

In my opinion we might want to split some of this functionality into other package, but it's too early to tell.

[2020-04-19 00:48] astrojuanlu commented on #791
Good proposals @priyanshurohilla, we have some of them as issues (#21 for example) and some others we don't. Having launch windows would be great indeed!

[2020-04-19 04:43] priyanshurohilla commented on #916
@astrojuanlu  understood.. Won't happen from now onwards 😊

[2020-04-19 04:49] priyanshurohilla commented on #702
@astrojuanlu hmm interesting.. but splitting the package may result in many new issues which we need to solve. Anyways we shall discuss it in the Roadmap😊

[2020-04-19 04:53] priyanshurohilla commented on #791
Yes @astrojuanlu. I have many things in my mind and would love to discuss each and everything in the Roadmap 😊

[2020-04-19 08:06] astrojuanlu commented on #916
Fixed in #919!

[2020-04-19 08:06] #916 closed

[2020-04-19 08:35] astrojuanlu opened #921 "Avoid unnecessary element conversions in propagation"
Summary:

https://github.com/poliastro/poliastro/blob/e57d8c4330e45aa4d2f7d2bd1131d806dc95a373/src/poliastro/twobody/orbit.py#L1332-L1339

At the moment, all propagators are forced to receive cartesian elements and return cartesian elements. This introduces inaccuracies, especially given the fact that most propagators work internally with classical orbital elements.

We should find a way to introd

[2020-04-19 08:38] astrojuanlu opened #922 "Properly vectorize propagators"
At the moment, the "vectorization" step for most propagators happens outside of numba, harming performance. For example:

https://github.com/poliastro/poliastro/blob/e57d8c4330e45aa4d2f7d2bd1131d806dc95a373/src/poliastro/twobody/propagation.py#L146-L151

This is related to #921 and perhaps should be tackled afterwards.

cc @Josvth

[2020-04-19 20:26] priyanshurohilla opened #923 "Return time information from `Orbit.sample()`"
The sample method currently only returns a set of `CartesianRepresentation`, which has no associated frame and therefore no `obstime` attribute.

💡 **Feature request**

Provide a feature which can return a `GCRS` vector array in `sample()` function

[2020-04-19 20:44] priyanshurohilla commented on #923
While working on it I realized that the codebase has significatly changed from the previous version and will require some changes in the codebase. While trying to add this feature I realized some points which I need to discuss with you@astrojuanlu-

-  In `__init__()` function there is no `def frame()` which does not help in getting `frame_attributes` . While going through the codebase I realized

[2020-04-20 00:08] Meuge commented on #901
It seems the problem comes from the propagate method as there is a discrepancy in the position values. As you may notice from the example below:

[code]
**Output**
[code]

[2020-04-20 06:57] astrojuanlu commented on #901
Thanks @Meuge! This has nothing to do with plotting then, so changing the title accordingly.

[2020-04-20 18:41] jorgepiloto opened #925 "Tisserand plots"
📕 **About Tisserand plots**

Imagine you are observing asteroids which are orbiting near Jupiter. The big
planet might create perturbations among these small bodies orbits but you want
to make sure if an actual observed body was previously observed, althought their
COE parameters might be suffered some variations.

Previous question arised to Félix Tisserand, who was a French astronomer that in
th

[2020-04-20 21:35] astrojuanlu commented on #925
Awesome @jorgepiloto, thanks for adding all the technical background :heart:

Perhaps we can do something like this?

[code]

(I renamed the object to `TisserandPlotter` and removed the need to import `np.linspace` by giving a pair (start, end)).

Let's save the FlyByPlotter for #662 :smirk:

[2020-04-21 09:14] astrojuanlu commented on #901
Another way to reproduce this issue:

[code]

Probably because:

[code]

[2020-04-22 10:48] #901 closed

[2020-04-22 10:50] astrojuanlu commented on #901
Original figure after merging #926:

![trail](https://user-images.githubusercontent.com/316517/79973422-d5326800-8497-11ea-99dd-3816b100aca5.png)

:heavy_check_mark:

[2020-04-25 07:56] astrojuanlu commented on #921
I'm wondering if `delta_t_from_nu` and `nu_from_delta_t` would be good enough for all the other propagators...!

[2020-04-25 16:16] #475 closed

[2020-04-25 16:16] #907 closed

[2020-04-25 16:16] #636 closed

[2020-04-25 16:28] astrojuanlu commented on #726
This bug is not present in current `master`:

![Figure_1](https://user-images.githubusercontent.com/316517/80285046-80eee880-8722-11ea-8405-7f8343f2e27b.png)

Closing!

[2020-04-25 16:28] #726 closed

[2020-04-25 16:31] astrojuanlu commented on #474
Hi @TimothySHamilton! It's been a long time, perhaps you moved on, but just wanted to let you know that, after getting bitten by this from time to time over the past two years, and finally after two tireless weeks of coding, we have fixed this issue :tada: Thanks again for reporting it back in the day, and I encourage you to keep an eye on the upcoming poliastro 0.14, which is going to be :rocket:

[2020-04-25 16:31] #474 closed

[2020-04-25 16:42] astrojuanlu opened #930 "Document transition from `Orbit.from_body_ephem`"
* [x] Finish `Ephem` objects `repr`
* [x] Finish `Orbit.from_horizons` deprecation
* [x] Complete user guide with `Ephem` objects
* [x] Document transition from `Orbit.from_body_ephem`, somewhere?

[2020-04-25 16:44] astrojuanlu opened #931 "Release 0.14.0 checklist"
## Preparing the release

* [x] Finish `Ephem` objects `repr` and related documentation #930
* [x] Rerun all notebooks (pay special attention to new features)
* [x] Review documentation, optionally improving the user guide or adding new notebooks showcasing new functionality
* [x] Write the changelog and list of contributors
  - Commits since last release branch https://github.com/poliastro/polias

[2020-04-26 19:58] astrojuanlu commented on #380
Nowadays `poliastro.twobody.propagation.propagate` returns a `CartesianRepresentation` with a `CartesianDifferential`, so both position and velocity are sampled:

https://github.com/poliastro/poliastro/blob/e44d572d0fb5f1187bab3c555f7b112e6c44bd18/src/poliastro/twobody/propagation.py#L487-L491

(which is exactly what `Orbit.sample` returns):

https://github.com/poliastro/poliastro/blob/e44d572d0fb

[2020-04-27 06:06] jorgepiloto commented on #726
You are right @astrojuanlu! When checked locally, everything seem to work properly. However, the latest docs will need to be run again to show this new behavior. Related with checklist from #931

[2020-04-27 20:40] priyanshurohilla commented on #923
Any updates on this @astrojuanlu ?

[2020-04-28 18:50] wumpus opened #935 "RFC: atmospheric_drag API change"
At the moment we have 2 functions for atmospheric_drag: `atmospheric_drag()`, which uses a naive exponential atmosphere, and `atmospheric_drag_model()`, which uses more sophisticated models from `poliastro.atmosphere`.

I'd like to rename `atmospheric_drag` to `atmospheric_drag_exponential` so that users are less likely to think that this routine is a good default.

While I'm in there, these routi

[2020-04-29 03:38] wumpus opened #937 "Code dropped in refactor: M_to_mu"
in commit

[code]

The code for `M_to_nu` was fully deleted. Similar routines `E_to_mu` and `F_to_mu` were kept.

I noticed because https://github.com/FedericoStra/tletools/ uses this `M_to_nu` code.

[2020-04-29 05:26] wumpus opened #938 "Interface infelicity: third_body()"
`poliastro.core.perturbations` has a method `third_body` that has a kw argument named `third_body`.

Think for a moment what that means when you try to wrap the function:
[code]

[2020-04-29 05:28] wumpus commented on #935
While I'm here I should note that it's very confusing that the user calls atmospheric_drag() with kw arguments but the function doesn't have any kw arguments. I know python 3.6+ preserves the order of kwargs but it sure seems fragile. @astrojuanlu

[2020-04-29 05:53] jorgepiloto commented on #938
Wow! Good catch @wumpus :rocket:

What about `perturbation_body` as function parameter? :thinking:

[2020-04-29 06:30] wumpus commented on #938
That's a great name.

[2020-04-29 09:18] astrojuanlu commented on #938
"infelicity" made me chuckle :) Agreed with @jorgepiloto suggestion

[2020-04-29 09:27] astrojuanlu commented on #935
The first idea is totally reasonable to me, let's follow up in #936 now that @priyanshurohilla started the PR.

Regarding your second comment, I don't quite see what are you referring to - could you write an example?

[2020-04-29 09:40] astrojuanlu commented on #937
Thanks for the shout out! Yes, they were thrown away for a good reason. There's a long stream of thought in https://github.com/poliastro/poliastro/pull/908, and [this comment](https://github.com/poliastro/poliastro/pull/908#issuecomment-615889854) is of particular importance.

In short: `M_to_nu` and `nu_to_M` give the impression that they are valid with all eccentricity regimes, but this is fraug

[2020-04-29 09:40] #937 closed

[2020-04-29 10:31] #930 closed

[2020-04-29 11:28] priyanshurohilla commented on #938
I have fixed this issue. Just waiting for my previous PR #940 to merge and then i'll open a PR for this:)

[2020-04-29 23:13] wumpus commented on #935
For the second think about

[code]

What is the function signature of `atmospheric_drag_exponential`? It's

[code]

and it's called as

[code]

... so in short, it's turning kwargs into named args. And it depends on the order of the kwargs being correct. Python programmers aren't really used to having to pay attention to the order of kwargs when calling functions like `cowell()`.

[2020-04-29 23:14] wumpus commented on #935
We either need to document this everywhere and still expect user confusion, or, change all of the ad() functions to have kwargs instead of args.

[2020-04-30 07:42] astrojuanlu commented on #935
Very true, now I see the issue. What about

[code]

and in general have every perturbation function use `*` for everything after `(t0, state, k)`. (Notice that [this won't be respected in numba though](https://github.com/numba/numba/issues/5655)).

[2020-04-30 09:42] priyanshurohilla opened #946 "tox_reformat was not done for recent merge"
🐞 **Problem**
In the recent merge #945 . The `tox -e reformat` wasn't done. Hence after updating my local repo with `poliastro/master` when i ran `tox -e check` , it produced a reformat error.

💡 **Possible solutions**
 Just run `tox -e reformat` and open a pull request

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * S