[2022-07-12 01:51] astrojuanlu commented on #1242
Hi @OrbitalMechanic, thanks for trying it out!

I did a quick search and the root cause seems to be a missing TeX package, possibly `tex-gyre` or similar. I'm not sure how did you install LaTeX/TeXLive on macOS, could you try finding this package and updating us?

I'd love to bring PDF/static documentation back but LaTeX is a mess. Thinking about exporting the HTML as a static document or similar,

[2022-07-12 21:55] OrbitalMechanic commented on #1242
See my responses below.

Sam Dupree.

On July/11/2022 21:51:22, Juan Luis Cano Rodríguez wrote:

*/Used the TeXLive utility to install the TeX packages I needed on a
package by package basis. However, I still get errors using latexpdf. / **
*

/*I was able to build the HTML-based documentation successfully. In
addition, I was able to build the epub based documentation as well.
Either of these solu

[2022-07-13 14:49] jorgepiloto opened #1536 "Implement IPyhton representation for fundamental objects"
💡 **IPython representation**
It would be nice to implement the `__repr_html__` method in some of our fundamental classes, like `Orbit`, `Maneuver` and `Ephem`.

[2022-07-14 07:50] WolfsSky commented on #1519
@astrojuanlu if @zfunke7 does not take this one, I am willing to use it as a task to get back into helping poliastro.

[2022-07-14 13:31] astrojuanlu commented on #1519
@applysomesky it's been a few days, so feel free! :)

[2022-07-14 19:49] RobPasMue commented on #1522
Did you consider using pylintrc for this task? It, at least, will notify you of the places you are not holding the convention. And it is more strict than the `black` pre-commit :). I can help you on this task if you want!

[2022-07-15 16:14] astrojuanlu commented on #1522
Good suggestion @RobPasMue! In fact @s-m-e suggested it in #1387. Maybe it's time to do it, although I anticipate lots of warnings, so maybe we could start with a relatively permissive configuration and continue from there.

[2022-07-15 16:15] astrojuanlu commented on #1387
For reference: https://pylint.pycqa.org/en/latest/user_guide/installation/pre-commit-integration.html

[2022-07-16 02:04] JohaMR opened #1538 "Remove the legend for the date on the graphs"
💡 IPython representation
it would be good to make a modification in the source code of the orbit plots to remove the legend of the date.
![image](https://user-images.githubusercontent.com/84646578/179333159-153c0fcb-6bea-47e8-add1-b8bbbbf33268.png)

[2022-07-16 13:28] jorgepiloto commented on #1525
Linking here the PR made by @tkoyama010, see https://github.com/pyvista/pyvista/pull/2994

![Solar System with PyVista](https://user-images.githubusercontent.com/7513610/179304553-f019a013-73cd-4287-8907-2809b17003d5.png)

[2022-07-16 14:35] tkoyama010 commented on #1525
@jorgepiloto Great idea! Thank you for this issue. If there are any additional features you would want to have, please comment on https://github.com/pyvista/pyvista/pull/2994.

[2022-07-16 15:36] astrojuanlu commented on #1535
- Failed: https://readthedocs.org/projects/poliastro/builds/17408507/
- Passed: https://readthedocs.org/projects/poliastro/builds/17430049/

At least the `stable` version of the docs is built now. Will add some debugging statements so that the next time it fails we hopefully have more information.

[2022-07-16 16:53] sudughonge commented on #1538
@astrojuanlu If I'm understanding this right, this just needs the labels to be removed? Or do they need to be shortened?

[2022-07-16 17:03] astrojuanlu commented on #1538
Thanks @JohaMR for opening the issue!

@sudughonge, what I was thinking is that maybe we should be able to pass something like a template string. For example

[code]

and then the user can do whatever they want basically. What do you folks think?

[2022-07-16 17:11] JohaMR commented on #1538
@sudughonge Modify the code in such a way that the person is the one who decides to place or not the legend of the date in the graph.

[2022-07-16 17:37] astrojuanlu commented on #1523
Closed in gh-1542! Thanks @sudughonge 👏🏽

[2022-07-16 17:37] #1523 closed

[2022-07-16 18:15] sudughonge commented on #1538
So much like a logging formatter, got it.

[2022-07-16 22:43] astrojuanlu opened #1544 "Refactor plotters"
After @sudughonge and @jorgepiloto tried to work on gh-1361, gh-1538, and gh-1525, it became clear that the current implementation of the OrbitPlotters is too difficult to understand. To summarize:

- The architecture is "smart" but for humans reading the code there's lots of back and forth between abstract and inherited methods, making it very difficult to understand where the actual plotting is

[2022-07-16 22:44] astrojuanlu commented on #1361
Blocking this on gh-1544.

[2022-07-16 22:44] astrojuanlu commented on #1525
Blocking this on gh-1544.

[2022-07-17 14:49] sudughonge commented on #1361
I'm thinking of implementing this and have the location figured out. What's the best way to incorporate the LineTicks repo? It isn't setup on PyPI or conda or distutils: https://github.com/xnx/lineticks
@jorgepiloto @astrojuanlu

[2022-07-17 15:07] astrojuanlu commented on #1361
As discussed in the chat, it's okay to copy-paste lineticks in poliastro (remember to include the license on top)

[2022-07-17 20:33] applysomesky commented on #1494
Got this script working.

Not sure if in the meantime the main problem was already fixed but I think so, since I get another error:
[code]

To root of the remaining problem is in setting `rtol=1e-2` for `build_ephem_interpolant`, which is in default set to `1e-5`.

https://github.com/poliastro/poliastro/blob/8df4f0698c9ccb529b457522127295462ecc957f/src/poliastro/ephem.py#L49-L55

In the script abo

[2022-07-17 20:46] applysomesky commented on #1494
I now see something similar happened in #1506.

[2022-07-17 21:40] astrojuanlu commented on #1494
Right. I think it's time to amend this API. Probably we should get rid of `periods` and `rtol` altogether and just use whatever `time_range` accepts? Or even let the user choose the epochs from the outside using `poliastro.util.time_range` and then have `build_ephem_interpolant` receive the epochs directly.

👍🏽 I'm glad the error message I wrote was useful 🙂

[2022-07-18 07:05] applysomesky commented on #1494
I was looking at what `build_ephem_interpolant` actually does.

The only reason I can think of for using the current method (using `period` and `rtol`) is in case the user does not know how fast/slow the object is orbiting. Then again, setting `rtol = 1e-2` for Jupiter and Moon will in both cases yield 100 points if the `t_span` is chosen to be their orbital period. These 100 points are spaced ver

[2022-07-18 13:03] astrojuanlu commented on #1494
I say let's go for your first option, and

1. accept an `epochs` parameter in `build_ephem_interpolant`. Taking the example of the original issue, instead of

[code]

the user would do

[code]

2. rename `periods` in `time_range` to `num_values` (to match what the sampling strategies do)

Then the user can play with either `num_values` or `spacing` to achieve the accuracy they want.

[2022-07-18 18:17] vicoMaz opened #1546 "Propagate perturbations tutorials are not working with new Orbit.to_ephem"
The tutorials provided in the Gallery and Quickstart to propagate perturbed orbits do not work,
Source : https://docs.poliastro.space/

🐞 **Problem**

When trying to use the following method :
[code]

the following error is thrown:
[code]
The `Orbit.propagate` will only provide the end state, and the mechanics of how to work with `Orbit.to_ephem` are nowhere to be found.

Thank you for your help

[2022-07-18 18:21] astrojuanlu commented on #1546
Hello @vicoMaz, thanks for opening this issue.

The up-to-date tutorials are in https://docs.poliastro.space/en/0.17.x/. For some reason, `https://docs.poliastro.space/en/stable/` is not pointing to `v0.17.0` yet 🤔 even though the last successful build happened days ago. @rey

[2022-07-18 18:23] astrojuanlu commented on #1546
I _think_ it's because the `v0.17.0` builds are up, I didn't rebuild `stable` ever since. Just triggered a build in case this works.

[2022-07-18 23:18] astrojuanlu commented on #1519
Closed in gh-1537 and gh-1547.

[2022-07-18 23:18] #1519 closed

[2022-07-19 07:47] vicoMaz commented on #1546
I was able to find the `0.17.x` tutorials.
Thank you for the quick answer.

[2022-07-19 08:42] humitos commented on #1546
This may be the reason. Which version is bigger `0.17.0` or `0.17.x`? I think the semver code Read the Docs is using to parse this gets confused between those two versions. I guess that if you de-activate 0.17.0, `stable` will point to 0.17.x

[2022-07-19 09:45] astrojuanlu commented on #1546
To answer your question, `v0.17.0` is a tag on the `0.17.x` branch.

I confirm that now the `stable` docs correctly point out to `0.17.x` after rebuilding `stable`. Closing this issue, happy hacking @vicoMaz!

[2022-07-19 09:45] #1546 closed

[2022-07-20 09:14] astrojuanlu commented on #1506
Addressed by gh-1548, we refactored `build_ephem_interpolant` so that it receives the `epochs` directly. This is hopefully easier to understand, since the `poliastro.util.time_range` function is well documented.

Closing!

[2022-07-20 09:14] #1506 closed

[2022-07-20 09:14] #1494 closed

[2022-07-20 15:16] #1242 closed

[2022-07-21 08:24] applysomesky commented on #1391
I 'd like to have a look at this at some point in the near future (out of interest).

I see there are some low thrust functions in `twobody.thrust` (which from naming is currently not clear its about low continuous thrust), are there some examples of this that I missed?

What would you envision here? Implement missing low thrust guidance laws? And if need be, update existing ones?

[2022-07-21 08:27] applysomesky commented on #1471
Shall I have a look at this (adding an error) and the `epoch` change mentioned in #1448?

[2022-07-21 09:13] astrojuanlu commented on #1471
@applysomesky Go ahead!

[2022-07-21 16:09] astrojuanlu opened #1550 "Improve 404 page"
https://docs.poliastro.space/en/stable/notfound

@humitos

I _love_ this idea 😍 Of course: https://github.com/readthedocs/sphinx-notfound-page/

[2022-07-21 21:11] astrojuanlu commented on #1402
Maybe the flakiness in this case is our fault:

[code]

We should at least try to fix this before making the decision of ditching it.

[2022-07-23 14:01] applysomesky commented on #1391
Alright, this might take me some time, but I love to read the paper and try to implement some of those formulas.

The `thrust` naming I will not touch for the moment (let's first see if I can implement some continuous thrust formulas) :)

[2022-07-23 19:07] astrojuanlu opened #1558 "Ability to retrieve mean elements of any pair of bodies"
While working on the circular restricted three-body problem, @DhruvJ22 realized that he needs the mean distance between 2 primaries, for example sun-earth, earth-moon, sun-mars, sun-jupiter, saturn-titan, etc.

Assuming a Keplerian orbit of one primary around the other, we could use [`poliastro.mean_elements.get_mean_elements()`](https://docs.poliastro.space/en/stable/autoapi/poliastro/twobody/mea

[2022-07-23 19:08] astrojuanlu commented on #1558
Also, notice that before attempting any of this, it would be nice to have some extra bodies like the Jupyter and Saturn moons in `poliastro.bodies`.

[2022-07-26 09:41] applysomesky commented on #1471
I have to say this issue is becoming a bit confusing for me, in between the interpolators and time conversions. Please comment on things below if there is a mistake in my understanding.

It seems there are multiple things at play (together with #1448):
1. raising of `
ValueError: The number of derivatives at boundaries does not match: expected 3, got 0+0`. I can only reproduce this consistently fo

[2022-07-26 10:00] astrojuanlu commented on #1471
From easier to more difficult:

3. Yep, that's it 😁
2. Indeed, although I wonder if we could catch that error and raise a clearer one. Or even apply [LBYL](https://docs.python.org/3/glossary.html#term-LBYL) here (i.e. check `min(self._epochs) <= epoch <= max(self._epochs)`.
1. I think you know more about that error than myself at this point. More reasons to catch `ValueError`s and produce a better

[2022-07-26 17:59] s-m-e opened #1562 "Jacchia77 (U.S Standard Atmosphere 1962) very likely broken (and untested)"
I now fear running `pylint` against all of `poliastro` ;) Yet another linter find.

The class `poliastro.earth.atmosphere.Jacchia77` calls `_H_correction` and `_O_and_O2_correction` from `poliastro.core.earth_atmosphere.jacchia`. In both cases, only two arguments are provided. Both functions take a lot more and do not have any default values set counteracting the problem.

[2022-07-26 18:15] s-m-e commented on #1207
Just some homework and an overview of all the places where `poliastro` currently, as of d85c9bd1e2e8c19765d34e6ee3d672cb51da22cc, talks to its core.

https://github.com/pleiszenburg/bulk_propagate/blob/3d132ace90cdb28252620fc2b5eee5cfed42cb20/core_interface_01.ipynb

[2022-07-27 11:12] astrojuanlu commented on #1562
😓 Good find. Marking it as an obvious bug.

Most likely a bad idea given the state of the codebase. As I said in https://github.com/poliastro/poliastro/issues/1522#issuecomment-1185693451,

But I don't know to what extent that's possible without introducing a huge set of changes in one go, we might have to bite the bullet after all.

[2022-07-27 11:13] astrojuanlu commented on #1207
Thanks @s-m-e. I already see lots of things there I don't like 😂 some cleanup is warranted for sure...

[2022-07-27 23:40] DhruvJ22 commented on #1558
I learned from informal sources that NASA GSFC uses the mean distance of two primaries by propagating them in an ephemeris model from 1900 AD to 2100 AD for some of their analysis using CR3BP and Bi-Circular Restricted 4BP.

It is important to remember that the results from CR3BP are dependent on the mean distance of the primaries. However, the results are not realistic as the gravitational effect

[2022-07-29 13:52] astrojuanlu commented on #1558
Thanks a lot for the explanation @DhruvJ22. I like the idea you propose, with a twist:

Our current `get_mean_elements` function is used in quite a few places, see:

https://github.com/poliastro/poliastro/blob/70f37e7f7239c4c5b0bd2fbcb61b36c1c0a27372/src/poliastro/threebody/soi.py#L51-L52

https://github.com/poliastro/poliastro/blob/70f37e7f7239c4c5b0bd2fbcb61b36c1c0a27372/src/poliastro/plotting/t

[2022-07-29 22:38] anuppari opened #1563 "`Orbit.to_ephem` producing incorrect ephemeris time"
The epoch time of the `Ephem` object produced by `Orbit.to_ephem` does not match the epoch of the orbit.

[code]
This prints out:
[code]
The time has been shifted back to the nearest periapsis time, but the initial state is the state at the original orbit epoch.

Relatedly, trying to sample the Ephem at the epoch time throws an interpolation bounds error. Instead, sampling at the orbit epoch time

[2022-07-30 06:55] astrojuanlu commented on #1563
Thanks for reporting this issue! I agree it's a bug.

[2022-07-30 12:53] s-m-e opened #1564 "`poliastro.core.elements.mee2rv` contains syntax error(s)"
The [following two lines](https://github.com/poliastro/poliastro/blob/c7d12e9b715d3fd60f2be233af707d5b97617d39/src/poliastro/core/elements.py#L530) ...

[code]
... are *probably* missing a multiplication operator. Not sure about the math, though. Found in latest release, so also probably untested code. Ping @Yash-10 - git is putting the blame entirely on you ;)

The above implies that `poliastro.t

[2022-07-30 13:09] s-m-e commented on #1564
Ah there was a [discussion about adding a test case via GMAT](https://github.com/poliastro/poliastro/pull/1279#issuecomment-881312776).

[2022-07-30 13:41] Yash-10 commented on #1564
Thanks @s-m-e for pointing it out! Those lines were a replication of equation 3a from https://spsweb.fltops.jpl.nasa.gov/portaldataops/mpg/MPG_Docs/Source%20Docs/EquinoctalElements-modified.pdf. Adding the multiplication would resolve it.

[2022-07-30 13:42] Yash-10 commented on #1564
`mee2rv` was indeed not tested, see here: https://github.com/poliastro/poliastro/pull/1279#issuecomment-881265031

[2022-08-04 07:39] astrojuanlu commented on #860
Alternative: https://scriv.readthedocs.io/en/latest/philosophy.html?highlight=towncrier#other-tools

[2022-08-08 16:18] DhruvJ22 commented on #1558
@astrojuanlu I think I understand your idea. I am not sure about where we should get the initial positions of the several bodies. Do we use spicypy to generate the 200 years of data and then use ellipse_fit.determine_kep to get a representative orbit?

[2022-08-08 21:21] DhruvJ22 commented on #1558
I found an easy solution. Take a look at: https://ssd.jpl.nasa.gov/sats/elem/sep.html

We can just create a CSV using the 'a' of common systems and read from that. I think it is a solid source that we can rely on and does not require any further processing.

Also, see: https://ssd.jpl.nasa.gov/tools/periodic_orbits.html#/intro
It is a great tool built by one of the alumna of my research group that

[2022-08-10 17:21] astrojuanlu commented on #1558
After discussing this in more depth, we realized that

1. All the use cases can be served just with the semimajor axis, and
2. Computing these mean elements ourselves is probably overkill

So we decided to create `poliastro.constants.mean_elements` and add the mean semimajor axis of all the major bodies and some satellites. Then I'll take care of replacing the uses of `get_mean_elements()` by that

[2022-08-11 06:00] astrojuanlu opened #1568 "Add docstrings for constants"
Constants appear undocumented:

https://docs.poliastro.space/en/stable/autoapi/poliastro/constants/general/index.html

would be nice to have a docstring for each of them.

[2022-08-12 00:54] DhruvJ22 commented on #1568
The latest commit should take care of the docstrings for the new constants.

[2022-08-12 09:49] astrojuanlu commented on #1568
See gh-1569

[2022-08-12 16:55] astrojuanlu commented on #1207
We're _not_ doing this before 1.0.

[2022-08-12 16:59] astrojuanlu commented on #707
We will _not_ do this before 1.0.

[2022-08-12 17:03] astrojuanlu commented on #380
See for example:

https://github.com/poliastro/poliastro/blob/d4ab8fad623f0717241799def2e02852fa32c1db/src/poliastro/twobody/propagation/cowell.py#L68-L73

https://github.com/poliastro/poliastro/blob/d5626b34f64cb6b9b7f43a6b59bec7281e0b783a/src/poliastro/twobody/propagation/farnocchia.py#L57-L65

[2022-08-12 17:04] astrojuanlu commented on #1564
By the way this is not a syntax error, it's a `TypeError`:

[code]

[2022-08-12 17:06] astrojuanlu commented on #1558
gh-1567 is merged, so we can proceed by replacing `get_mean_elements()` 👍🏽

[2022-08-12 17:13] astrojuanlu commented on #1562
We'll need to add at least some smoke tests. Or perhaps pylint will catch these errors (#1387).

[2022-08-12 17:14] astrojuanlu commented on #1535
This hasn't happened in a while. Closing until it does again.

[2022-08-12 17:14] #1535 closed

[2022-08-23 21:10] earthshrink opened #1572 "poliastro.plotting seems broken by numpy and numba version incompatibilities"
Executing
[code]
produces
[code]
I have the following installed:
[code]
So I upgrade `numpy`
[code]
So now of course `numba` is not happy:
[code]
I already tried regressing `poliastro` to 0.16 but could not get past this issue.
I must be doing something stupid, since 0.17 has been presented successfully, presumably with the plots. Would greatly appreciate any pointers to get the plotting going.

[2022-08-24 05:58] astrojuanlu commented on #1572
Hi @earthshrink, thanks for your interest in poliastro!

I tried a clean installation in a Docker image and it worked.

<details>
[code]
</details>

I think you have several problems:

- There's a mess with your Python installation: your first traceback shows a mix of `~/.local` packages and `/usr/lib/python3.10/` packages. I see from your pip commands that you're using `--user`. Consider creating

[2022-08-24 13:19] earthshrink commented on #1572
I had got rid of conda and was avoiding venv because python's replication on disk across application domains was making me version-dizzy. (But guess it's now the cloud & space age and terra firma is a lost cause in every sense!)
Venv (with its duplication on disk) indeed solves the problem- I see 23 packages including `matplotlib` have a different version in the working venv. Thanks so much for lo

[2022-08-24 13:19] #1572 closed

[2022-08-24 13:51] astrojuanlu commented on #1572
Glad you solved it. While I'm not a fan of having the same version of my dependencies replicated a dozen times, I acknowledge that the current solution probably hits a good compromise between implementation complexity and cross-platform availability.

Maybe someone should make a venv that aggressively symlinks everything to reduce the replication factor to 1.0? 🙃

And apart from this off-topic que

[2022-08-25 11:47] earthshrink commented on #1572
Agreed. Re your further question, please see [github:earthshrink/flyby-analysis](https://github.com/earthshrink/flyby-analysis) and particularly the references given in About.md therein.

The anomalous residuals in the NEAR and Rosetta 2005 flyby residuals exhibit a pattern of excess light time delays in both Doppler, given by carrier frequency shift, and range, measured from round trip times of m

[2022-08-29 17:41] valdaarhun commented on #1563
Hi. While I am fairly comfortable with Python, I am pretty new to astrodynamics and orbital mechanics. I am currently studying orbital mechanics on my own and I would like to give this issue a shot.

[2022-08-29 18:53] astrojuanlu commented on #1563
Hi @valdaarhun, thanks for your interest! I don't think this issue is a particularly easy one (even though the fix will probably be changing one line of code), but in any case all yours :)

[2022-09-07 14:46] valdaarhun opened #1575 "Unit of Orbit.h_vec and Orbit.h_mag is set to km^3/s^2 instead of km^2/s"
🐞 **Problem**

`Orbit.h_vec` and `Orbit.h_mag` are reported in units of $km^3 / s^2$ instead of $km^2 / s$.

[code]

Output:

[code]

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

💡 **Possible solutions**

The reason is that in [this](https://github.com/poliastro/

[2022-09-07 15:17] #1575 closed

[2022-09-07 15:40] othmar-humboldt opened #1577 "No inclination reduction possible with change_ecc_inc.py"
🐞 **Problem**
Hello dear Poliastros,
I think there is a bug in change_ecc_inc.py.
I cannot reduce the inclination for a low thrust trajectory.

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

<details>

[code]
</details>

💡 **Possible solutions**

📋  **Steps to solv

[2022-09-08 06:44] astrojuanlu commented on #1577
Hi @othmar-humboldt, thanks for opening this issue - I guess you mean this line:

https://github.com/poliastro/poliastro/blob/88c16fe70825e74517885e303aeb02ff6fe41daa/src/poliastro/core/thrust/change_ecc_inc.py#L88v

Could it be that this is the root cause of the problems observed in https://github.com/poliastro/poliastro/issues/1383 ?

[2022-09-08 09:43] X52p opened #1578 "AttributeError: gooding has no attribute 'kind'"
AttributeError when running '''.propagate''' with method "gooding"

running this code:
[code]

results in this error message:
[code]

This code works when not using ```method=gooding```.

(selection of Kepler Elements is arbitrary and not relevant to the problem)

* `pip freeze`

<details>

[code]
</details>

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what

[2022-09-08 12:56] astrojuanlu commented on #1578
Hello @X52p, thanks for using poliastro!

Version 0.17.0 introduced some breaking changes in the propagator code. The reason why not specifying `method=gooding` works is because by default `method=FarnocchiaPropagator`.

To keep the code untouched, you will need to install 0.16.3.

[2022-09-09 08:32] othmar-humboldt commented on #1577
Yes, this is the line.
I think it is the same problem indeed. I observed that inclination reduction doesn't work. For inclination changes, you need to do out-of-plane thrusting which is governed by the w_ vector. So it seems that you need to just add the sign-decision similar to for in-plane thrusting from line 75, so that you can toggle the vector depending on increase or reduction.

I didn't rea

[2022-09-09 09:47] astrojuanlu commented on #1577
Would you like to make the change yourself? You can do it from the GitHub web interface - navigate to the file, click the ✏️  button, make the change, and open a pull request.

[2022-09-09 15:29] othmar-humboldt commented on #1577
Done :-)

[2022-09-09 16:45] astrojuanlu commented on #1577
see #1579

[2022-09-10 10:12] X52p commented on #1578
OK, thank you.
Will the other Propagation methods be updated, or will they be removed later?

[2022-09-10 16:54] astrojuanlu commented on #1578
All the propagation methods have been updated but you have to change the code:

[code]

see https://docs.poliastro.space/en/stable/quickstart.html#studying-non-keplerian-orbits-perturbations for a similar example

[2022-09-10 21:47] earthshrink opened #1581 "Orbit.to_ephem yielding inaccurate trajectory"
I'm attempting to reconstruct NEAR's 1998 Earth flyby trajectory, and to reproduce its 13+ mm/s velocity anomaly.
The orbital elements are given in Antreasian & Guinn's 1998 AIAA paper ([analysis](https://github.com/earthshrink/flyby-analysis/blob/master/About.md) Ref 1).

Following code
[code]
produces the following output:
[code]
The eccentricity fits JPL's value of 1.81, and deflection is consi

[2022-09-11 07:05] astrojuanlu commented on #1581
Most likely yes. This is by design: poliastro by default propagates with two-body motion methods, and therefore does not take into account various perturbations by default. The "true" observed position of a body and the position predicted by poliastro will always differ.

You could potentially make them closer by introducing more force models, like Sun pressure (implemented, but you'd need the sur

[2022-09-11 07:30] ashalogu23 opened #1582 "J2 perturbation"
🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

<details>

[code]
</details>

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull reques

[2022-09-11 14:13] astrojuanlu commented on #1582
Issue is empty, closing.

[2022-09-11 14:13] #1582 closed

[2022-09-11 17:07] ashalogu23 commented on #1582
exercising QUICKSTART programs. Interested in the moon and MARS mission design.

[2022-09-12 11:33] earthshrink commented on #1581
It seems more sensitive to initial conditions than I'd naively assumed. Changing `from_body` to `from_horizons` for the earth ephemeris forced also moving `start_epoch` to say 06:30 to limit the Horizons query size, and brings the perigee a lot closer, to 532 km. But starting at 06:40 rolls it back to 530 km!

Since you mentioned perturbations. Antreasian & Guinn Table 4 lists them as at least 2 o

[2022-09-12 11:33] #1581 closed

[2022-09-12 14:17] astrojuanlu commented on #1581
Thanks for the thorough explanations @earthshrink! Just a few more comments:

Interesting!

This depends on a global setting that is a bit invisible: `Ephem.from_body` uses the Astropy ephemerides, which can either be (a) the builtin ones or (b) the JPL ones. For the latter, one has to do

[code]

(see https://docs.poliastro.space/en/stable/quickstart.html#where-are-the-planets-computing-celestial

[2022-09-13 08:33] valdaarhun commented on #1563
Hi. I have understood the prerequisite concepts that are required to tackle this issue and have gone through the relevant code. I agree with @anuppari about the possible fix. Here's my understanding:

[code]
The above snippet first creates an `orbit` object given $\vec{r}$ and $\vec{v}$ at time $t$.

[code]
Under the hood, the above snippet samples positions along the orbit and creates a list of a

[2022-09-13 08:41] valdaarhun commented on #1563
After making the changes, the snippets work as expected.

[code]

Output:

[code]

[2022-09-13 08:44] astrojuanlu commented on #1563
Thanks a lot for the thorough investigation @valdaarhun! 👏🏽 Do you want to make the pull request yourself? You can edit the file by navigating to it on GitHub, clicking on the ✏️ icon, committing, and submitting the PR from there.

[2022-09-13 08:51] valdaarhun commented on #1563
Hi. Thanks for the quick response. Sure, I'll open a PR.

[2022-09-13 10:43] earthshrink commented on #1581
The JPL ephemerides do reduce the start epoch sensitivity, which helps. DE441 and start epoch advanced to before 03:00 gets us to 535.72 km for perigee, within spheroidal error of A&G value though I used only Earth.R. Believe Horizons reverts to older ephemerides for backward consistency of mission plans and data, so it is interesting that DE441 gets closer!  Thanks again, @astrojuanlu

[2022-09-14 10:33] #1563 closed

[2022-09-26 12:28] VincentPujau opened #1584 "3D plotting not working"
Dear all,

I have been trying to plot some orbit in 3D using the examples in [this page](https://docs.poliastro.space/en/stable/examples/Plotting%20in%203D.html). The code is very simple

[code]

But nothing happens once I run the code, even `churi.plot(interactive=True, use_3d=True)` does not work.
If I try `churi.plot()` I do get a plot but in 2D.

Is there a way to solve this?
I am using Spyder

[2022-09-26 13:52] astrojuanlu commented on #1584
Hi @VincentPujau, I think the default Plotly rendering needs Jupyter Notebook to work. However, if you install the static renderer https://github.com/plotly/Kaleido, you should be able to make it work.

I made a quick search and found some old posts, like https://community.plotly.com/t/plotly-for-spyder/10527 however, many things have changed in Plotly and Spyder in the past 4 years, so my recomme

[2022-09-26 15:57] VincentPujau commented on #1584
The issue was indeed with Plotly. After a lot of research I realized I need to run the code in Jupyter in order to see the plots.

Thanks for your advice!

[2022-09-26 16:46] astrojuanlu commented on #1584
You're welcome! Feel free to reach out if we can help in any other way.

[2022-09-26 16:46] #1584 closed

[2022-09-28 23:30] earthshrink opened #1585 "Trying to reconcile direct and poliastro Horizons queries"
As mentioned in #1581, I'm attempting to reproduce the "flyby anomaly", and `poliastro` seems to generate a close enough trajectory, with classical elements and ground track closely matching the original JPL report (Antreasian & Guinn, 1998).

However, I am stuck at a rather large discrepancy between what I get directly from Horizons and using `from_horizons` in `poliastro`. Here's my `poliastro`

[2022-09-29 06:58] OrbitalMechanic opened #1586 "Extracting velocity vectors from Orbit object"
I'm running Poliastro ver. 0.17.0 on a Mac Pro (desktop, 2019) as a Jupyter notebook in the Anaconda Distribution for Python ver. 3.9.12.

In the Cowell example below, I would like to be able to extract the velocity components in addition to the position. Looking through the documentation, I thought that ephem.sample(ephem.epochs) would have returned both position and velocity components, but it d

[2022-09-29 14:16] earthshrink commented on #1585
For completeness, I run the direct query [near_los.q](https://github.com/earthshrink/flyby-analysis/blob/master/near/near_los.q) with the python query script [query.py](https://github.com/earthshrink/flyby-analysis/blob/master/bin/query.py) thusly:
[code]
The second script [extract.py](https://github.com/earthshrink/flyby-analysis/blob/master/bin/extract.py) converts the light time and the range,

[2022-09-29 15:36] earthshrink commented on #1585
There is also a problem of consistency: the `near_start_rv` given by Horizons has a smaller range value (44510 km), meaning the `to_ephem` call is returning a different initial state from the one with which the orbit object had been constructed. This shows up more clearly with cleaner code
[code]
eliminating `earth_ephem` in my example code above. (This also reduces the range at 06:00 to 46971.75

[2022-09-30 13:41] earthshrink commented on #1585
Verified that `astroquery.jplhorizons` is returning correct values:
[code]
yields
[code]
consistent with my direct query results. The problem is
[code]
prints
[code]
which is way off. The orbital elements (inclination, eccentricity, perigee altitude) are very close despite being derived from this start state in the `from_vectors` step, however. The longitude and latitude for DSS25 are taken from H

[2022-09-30 20:37] earthshrink commented on #1585
The `from_horizons` values correspond to Horizons data 17 min 53.268 sec earlier for both range and range rate. That explains why the orbital elements fit. This time difference is still a mystery.

[2022-10-02 15:02] earthshrink commented on #1585
The from_horizons values correspond to Horizons data 17 min 53.268 sec earlier for both range and range rate. That explains why the orbital elements fit. This time difference is still an issue.

[2022-10-02 20:26] valdaarhun commented on #1586
Hi. To get both $r$ and $v$, you can do either of the following:

[code]

Or, you can do:

[code]

[2022-10-02 20:47] earthshrink commented on #1585
Verified that `astroquery.jplhorizons` yields the correct values:
[code]
with
[code]
but
[code]
produces
[code]
which is way off- and corresponds to 17 min 53.268 sec earlier in the flyby. The `257@` site prefix makes the `Horizons` query topocentric, otherwise the reference frame used is inertial, and `poliastro` appears to keep it that way. All of my modeling of the anomaly to reproduce its resi

[2022-10-05 22:01] earthshrink commented on #1585
The `start_epoch` in preceding comment was 06:14:00, the approximate start of the radar tracking in that flyby. Turns out I do not need ECEF. The `get_gcrs_posvel` method of astropy `EarthLocation` allows computing topocentric range and range rate in GCRS. The values turn out consistent with Horizons, remarkably, to 1 m  and 0.1 mm/s.

[2022-10-05 22:01] #1585 closed

[2022-10-07 06:28] OrbitalMechanic commented on #1586
Thank you for your timely response. It is sincerely appreciated. The question I have now is where in the poliastro documentation is the code snippet documentation:

ep = ephem.sample(ephem.epochs)
coords_x, coords_y, coords_z = ep.get_xyz()
vel_x, vel_y, vel_z = ep.differentials['s'].get_d_xyz()

[2022-10-07 09:58] valdaarhun commented on #1586
Hi. `ephem.sample` returns a `CartesianRepresentation` object.

`CartesianRepresentation` is a class present in astropy.coordinates and not in poliastro. So you'll need to check astropy's docs.

You'll find the relevant docs [here](https://docs.astropy.org/en/stable/api/astropy.coordinates.CartesianRepresentation.html#astropy.coordinates.CartesianRepresentation) and [here](https://docs.astropy.org

[2022-10-18 11:30] H2Forge opened #1589 "Add argument to PorkchopPlotter.porkchop() to not draw plot."
💻 Feature request: option to only return porkchop data without plotting.

Simply to change porkchop.py so that def porkchop(self) gets an optional argument drawPlot==True. Setting it false only returns dv_launch, dv_arrival, c3_launch, c3_arrival, tof without creating a matplotlib figure.

[2022-10-22 15:36] jorgepiloto commented on #1589
Thanks for opening this issue, @H2Forge.

The current `PorkchopPlotter` is based on Matplotlib for generating the contour graphics. If you are working with a Python script, you need to pass call `plt.show()` at the end to show the the figure. On the other hand, if you are working with Jupyter Notebook or Jupyter Lab, the figure will be captured and rendered automatically without the need of callin

[2022-10-22 15:38] jorgepiloto commented on #1589
However, now that I am working with plotters, I would like to unify their user experience as much as possible.

I see that the `PorkchopPlotter` has a single method named `porkchop`. I do not think this is the best name, as it leads to the following experience:

[code]

Instead, we should consider the following renaming `porkchop -> plot`, leading to:

[code]

[2022-11-05 10:47] jorgepiloto opened #1591 "Background examples in latest documentation is empty"
🐞 **Problem**
The [Background section](https://docs.poliastro.space/en/latest/background.html) in poliastro's latest documentation does not show any of the examples.

[2022-11-05 17:45] astrojuanlu commented on #1591
Good catch! I see `stable` looks fine. Wondering what happened there.

[2022-11-06 09:19] jorgepiloto opened #1592 "Avoid spaces in notebooks file names"
🐞 **Problem**
Some of the files under the `examples/` directory contain spaces in their filenames. This is considered a bad practice when it comes to naming files. In addition, it is a bit annoying to work with files whose name contains spaces in the shell.

💡 **Solution**
Let us get rid of those spaces. Furthermore, it would be awesome too if we could remove the capital case at the very beginning

[2022-11-06 09:21] jorgepiloto opened #1593 "Implement literature examples as pytest fixtures"

[2022-11-06 10:00] jerobado commented on #1592
Hi @jorgepiloto

Just a few questions:

1. What will be the separator for each word? I can see some files are either using an underscore like `gravity_assist.png` or dash like `hohmann-bielliptic-transfers.png`.

2. Does that mean a filename will now be in lowercase? For example: from `Loading OMM and TLE satellite data.myst.md` to `loading_omm_and_tle_satellite_data.myst.md`.

[2022-11-06 11:21] jorgepiloto commented on #1592
Hi @jerobado,

thanks for your quick reply to this issue. Let me answer your questions:

1. I think we should use `-` as separator. The reason is that the file name of the notebook is the final part of the URL. Using `-` in a URL allows browsers to filter content by words, making our docs more discoverable.

2. That is correct. All letters in the file name must be in lowercase except those that re

[2022-11-06 13:24] astrojuanlu commented on #1593
Yes!! This would be very much needed.

[2022-11-06 14:09] jorgepiloto commented on #1591
I can reproduce this locally. Let me try to fix it in #1544.

[2022-11-06 14:10] jorgepiloto commented on #1591
It looks like the issue is related with the file name. At some point we introduce and additional file extension, being this one `myst.nb` instead of the `mystnb` one.

[2022-11-06 14:13] jorgepiloto commented on #1591
We were not able to identify this issue because the `-W` flag is no longer present in `tox.ini`.

I think we removed this flag when using `sphinx-autoapi` started to raise some absurd warnings.

[2022-11-06 16:07] #1592 closed

[2022-11-06 17:16] jorgepiloto commented on #1550
Pinging here my colleague @Revathyvenugopal162. She may be interested to address this issue.

[2022-11-06 17:31] jorgepiloto commented on #1535
This just hitted me suddenly. Docs were rendering without problem until now.

[2022-11-19 21:59] muneeb227 opened #1596 "Unable to plot orbits using Poliastro"
I was viewing documentation of Poliastro and was playing with the example code to reproduce the results but the plotting code doesn't seems to give the results plotted on their documentation.

**Error I'm getting:** _"_unwrap_dispatcher() got an unexpected keyword argument 'period'"_

To reproduce, run this code:
[code]

[2022-11-21 09:47] astrojuanlu commented on #1596
Hello @muneeb227, sorry you're experiencing problems! Could you please paste the complete traceback, so we can have more information to diagnose the issue?

[2022-11-21 09:48] astrojuanlu commented on #1596
For the record, by removing the `plt.switch_backend('QT5Agg')` line, these lines work fine for me.

[2022-11-21 10:12] muneeb227 commented on #1596
_---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_24768/1683997782.py in <module>
     83 # -----------------------------------------------------------------------------
     84
---> 85 op.plot(ss)

C:\ProgramData\Anaconda3\lib\site-packages\poliastro\plotting\inter

[2022-11-23 18:18] astrojuanlu commented on #1596
I see that `unwrap` gained the `period` parameter in NumPy 1.21.0: https://github.com/numpy/numpy/pull/16987/files

So I guess this means that we have to update our minimum required version of NumPy:

https://github.com/poliastro/poliastro/blob/f06d50d8e7632430ddb4309f6b5e3643ff93949c/pyproject.toml#L50

@muneeb227 could you please try installing NumPy >= 1.21.0 and try again?

[2022-11-23 20:34] muneeb227 commented on #1596
Hey, I tried the numpy version but now, I think maximum numpy version requirement error is raised. Here is trackback:

[code]

[2022-11-24 07:51] astrojuanlu commented on #1596
Makes sense. Could you paste the result of `conda info -a` so we see all the package versions you have? Seems like numba is old too.

[2022-11-24 10:28] muneeb227 commented on #1596
Here it is:

[code]

[2022-11-24 13:16] astrojuanlu commented on #1596
Thanks @muneeb227, I gave you the wrong command though. Please do `conda list` instead, thanks for your patience 🙏🏽

[2022-11-25 17:26] muneeb227 commented on #1596
[code]