[2018-05-03 05:05] Juanlu001 commented on #365
(Sorry, wrong button)

you need to install the development dependencies:

[code]

or

[code]

(Depending on how you installed poliastro originally)

Can you try this to see it that fixed the issue? I see a strange result in the tests so let's see if everything works.

[2018-05-04 01:53] OrbitalMechanic commented on #361
I too encountered two (2) failures testing poliastro as follows (on a Mac Pro running Mac OS X 10.12.6, with the Anaconda distribution Python 3.6):

(prova) Samuels-Mac-Pro:~ user$ conda info -a

     active environment : prova
    active env location : /Users/user/anaconda3/envs/prova
            shell level : 1
       user config file : /Users/user/.condarc
 populated config files : /Users/user/

[2018-05-04 03:05] Juanlu001 commented on #361
The `2 xfailed` mark means that the tests were expected to fail, so you can forget about those. The `1 xpassed` is a test which was expected to fail, but passed - which for us is still a mistery, but should pose no problems. Your installation is correct and ready :)

[2018-05-04 03:06] Juanlu001 commented on #365
@OrbitalMechanic did you succeed in building the docs?

[2018-05-04 03:17] OrbitalMechanic commented on #365
I was able to get a document to build using the command /make latex/ as
opposed to /make latexpdf/. I'm going through the user's guide at
present. I've attached the resulted PDF to this note.

Hope this helps.

Sam Dupree.

On May/03/2018 23:06:30, Juan Luis Cano Rodríguez wrote:

[2018-05-04 03:36] Juanlu001 commented on #365
I guess `make latexpdf` needs pandoc, which is a bit trickier to install (I normally use conda, which allows `conda install pandoc`). Glad you have the docs working anyway! I enabled PDF builds on Read the Docs which can already be downloaded from here:

http://readthedocs.org/projects/poliastro/downloads/pdf/latest/

Feel ask any questions you might have, I'm leaving this issue open as a reminder

[2018-05-04 12:38] astrojuanlu opened #366 "Investigate overlap with galactic dynamics"
Just discovered @adrn package, "gala", which features this awesome description:

http://gala.adrian.pw/en/latest/

It's entirely possible that there's some overlap between the two packages. Investigate!

[2018-05-06 02:00] Juanlu001 commented on #359
The first results are not very impressive: https://github.com/numba/numba/issues/2952

[2018-05-06 02:08] Juanlu001 opened #367 "Cowell method fails to converge with small perturbation accelerations"
🐞 **Problem**

This code converges normally:

[code]

But changing to `1e-6 * v_vec / norm_v` fails to converge:

[code]

🖥 **Please paste the output of following commands**

`pip freeze | grep astropy`

astropy==3.0.2

`pip freeze | grep poliastro`

-e git+git@github.com:Juanlu001/poliastro.git@34a9e2c83cd77e918feb0182d2fa162ba06cbd07#egg=poliastro

🎯 **Goal**

I would expect a zero perturbation

[2018-05-07 07:26] Juanlu001 commented on #367
The current API fails with this case:

[code]

Can you add a corresponding test to #368 to see if the new solvers pass?

[2018-05-10 11:35] Juanlu001 opened #369 "Weird RecursionError when using poliastro inside a multiprocessing.Pool"
🐞 **Problem**

(_Reported by Joan Fort Alsina https://groups.io/g/poliastro-dev/message/47_)

When attempting to do a propagation inside a `multiprocessing.Pool`, a weird `RecursionError` is returned. For example, with this script:

[code]

This is the failure:

<details>

[code]
</details>

Debugging this is hard. By adding some dirty lines to `Orbit`:

[code]

I figured out that these are the pr

[2018-05-10 12:56] Juanlu001 commented on #369
Confirmed it's a pickle issue:

[code]

[2018-05-10 16:15] Juanlu001 opened #370 "Review poliastro Orbit design"
After discussing #369, @pablogsal has suggested reviewing the design of `Orbit` objects, in particular the delegation of properties to `BaseState` subclasses.

The previous design consisted in one `State` object and nothing else (which is the equivalent to today's `Orbit`). `State.__init__` only accepted cartesian vectors, a non-singular, intuitive way of initializing the orbits. Therefore `State.

[2018-05-11 19:48] rgreenblatt opened #374 "Tests Fail on ubuntu 16.04 pip3 install"
**Raw Output:**

          python3 -c "import poliastro.testing; poliastro.testing.test()"
=============================================== test session starts ===============================================
platform linux -- Python 3.5.2, pytest-3.5.1, py-1.5.3, pluggy-0.6.0
rootdir: /usr/local/lib/python3.5/dist-packages/poliastro, inifile:
collected 359 items / 2 errors

========================

[2018-05-12 04:28] Juanlu001 commented on #315
I think the way matplotlib works in the notebook is essentially incompatible with how plotly does. @shreyasbapat tried to tackle this issue in #336 but there were still some usability problems, and also now we have a `OrbitPlotter2D` class. I'm closing this issue.

[2018-05-12 04:28] #315 closed

[2018-05-12 04:56] Juanlu001 commented on #374
Hi @rgreenblatt, thanks for the bug report! It seems that we don't set a minimum version for beautifulsoup4 and that old versions do not work with recent html5lib:

https://bugs.launchpad.net/beautifulsoup/+bug/1603299

Can you help us fixing this issue? Please try upgrading beautifulsoup4 to 4.5.3, see if it works, then if not try upgrading to 4.6.0.

Also, I suspect that you used `sudo pip insta

[2018-05-12 05:02] Juanlu001 commented on #374
Relevant: https://bazaar.launchpad.net/~leonardr/beautifulsoup/bs4/view/head:/NEWS.txt

[2018-05-13 05:34] Juanlu001 commented on #281
Reopening, as it's the case again.

[2018-05-15 13:52] shreyasbapat commented on #338
Do you mean to say that we have ``OrbitPlotter2D`` , ``OrbitPlotter3D`` and ``BaseOrbitPlotter`` all three at a same time?

[2018-05-15 13:54] Juanlu001 commented on #338
for the moment yes, although `BaseOrbitPlotter` should perhaps be private (so `_BaseOrbitPlotter`) and we might think of just having one class and switching the behavior using a flag, or something like that

[2018-05-16 10:51] Juanlu001 commented on #328
Is this still the case with the new integrator @nikita-astronaut?

[2018-05-16 10:52] Juanlu001 commented on #285
Notice that, although we added _numerical_ J2 perturbations, this issue is concerned with adding an _analytical_ propagator that takes J2 into account.

[2018-05-16 10:57] Juanlu001 commented on #246
Closed in #368!

[2018-05-16 10:57] #246 closed

[2018-05-16 11:00] Juanlu001 opened #376 "Setup benchmarks"
We should setup proper benchmarks now that we're making changes to the algorithmic parts of poliastro again.

* Starting point: https://github.com/poliastro/poliastro-benchmarks
* Information on astropy-benchmarks: https://groups.google.com/d/msg/astropy-dev/wcWWac4PF0U/eToGXLnrAgAJ
* How to run asv: https://docs.google.com/document/d/1AoPBAbD8DiDVEM6HuOtPKekN3phtcCF4Qk6pxZ0ID-w/edit?usp=sharing

[2018-05-16 11:01] Juanlu001 commented on #253
Blocked until we have proper benchmarks: #376

[2018-05-16 11:02] nikita-astronaut commented on #328
This still fails, but the error is different: the new integrator does not do anything and returns nothing :) I will fix this in the next PR

[2018-05-18 12:10] #374 closed

[2018-05-18 12:11] Juanlu001 commented on #374
I just updated the version myself - please try upgrading poliastro (or uninstalling & installing again) and don't hesitate to comment if the problem persists.

[2018-05-21 02:44] enritoomey opened #377 "exception in "Propagation using Cowell's formulation.ipynb" example"
In cell 10 of  docs/source/examples/Propagation using Cowell's formulation.ipynb example, when integrate method of scipy ode module is called,  the follwing exeption ocurs:

---------------------------------------------------------------------------
error                                     Traceback (most recent call last)
<ipython-input-10-b6cb24b30f44> in <module>()
     10
     11 while rr.suc

[2018-05-21 09:16] Juanlu001 commented on #377
Thanks @enritoomey! Working on it in #378

[2018-05-21 09:28] Juanlu001 commented on #377
The Continuous Integration didn't show any errors:

https://circleci.com/gh/poliastro/poliastro/3

Will try to reproduce locally.

[2018-05-21 09:37] Juanlu001 commented on #377
@enritoomey I just checked that the `plot_iss` function is no longer in that notebook, and the same goes to the explicit `while rr.successful() and rr.t + dt < t[-1]:` code. I suspect you're using an old version of the notebook, perhaps the one that was shipped with 0.8.0:

http://docs.poliastro.space/en/v0.8.0/examples/Propagation%20using%20Cowell's%20formulation.html

Can you please try with the

[2018-05-23 17:18] shreyasbapat commented on #338
Oh! Yes that's quite possible! Atleast it would reduce the clutter

[2018-05-24 10:29] nikita-astronaut commented on #328
Hey, @Juanlu001

After the last PR, 'iss.propagate(0 * u.s, method=cowell)' forks nice. But

`>>> iss.sample(np.array([0]) * u.s, method=cowell)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/astronaut/anaconda3/lib/python3.6/site-packages/poliastro/twobody/orbit.py", line 334, in sample
    return values, self._sample(values, method)
  File "/home/astronaut

[2018-05-24 10:31] nikita-astronaut commented on #328
Seems like providing of time list from outside of `orbit.sample` works incorrect, but we don't use it so tests do not fall.

The reason is that now one needs to explicitly cast u.s to `Time` instance. Am I right?

[2018-05-29 09:28] Juanlu001 commented on #328
Then we need more tests!

poliastro, not the user :)

[2018-05-29 17:04] Juanlu001 opened #380 "Return velocity in Orbit.sample"
🐞 **Problem**

At the moment, `Orbit.sample` does return only an array of times and positions. This was done on purpose to deliver the feature more quickly and because it was enough for plotting:

https://github.com/poliastro/poliastro/issues/237#issuecomment-335436315

However, the velocity is not returned. Sometimes the user just wants that.

On the other hand, although there are [orbit determin

[2018-05-31 08:27] Juanlu001 commented on #380
I don't like returning different things depending on a parameter - at the moment we're doing:

https://github.com/poliastro/poliastro/blob/b659a947d9960e13ca844e7d049206e680fb0b8a/src/poliastro/plotting.py#L181

So perhaps we should do

[code]

instead, for the moment.

[2018-05-31 08:30] nikita-astronaut commented on #380
OK. Do people really need the feature with velocity? If yes, why not doing

[2018-06-01 18:15] Juanlu001 commented on #253
needs #376

[2018-06-05 14:14] Juanlu001 opened #382 "Orbit.from_body_ephem returns wrong orbit for the Moon"
🐞 **Problem**

The method `Orbit.from_body_ephem` returns the wrong orbit for bodies not orbiting the Sun, in particular for the Moon:

[code]

This is because `from_body_ephem` uses `get_body_barycentric`, which returns ICRS coordinates, but then sets the `.parent` to the Earth:

https://github.com/poliastro/poliastro/blob/b659a947d9960e13ca844e7d049206e680fb0b8a/src/poliastro/twobody/orbit.py#L1

[2018-06-05 22:43] Juanlu001 commented on #109
Started working on this: https://github.com/conda-forge/cspice-feedstock/pull/1

[2018-06-06 06:08] Juanlu001 opened #383 "Document classical elements singularities"
🐞 **Problem**

Some unexpected results might arise when creating equatorial and/or circular orbits:

[code]

🎯 **Goal**

To make it easier and less surprising for experts to create any kind of orbit, without worrying about singularities. When doing experiments, this is very common.

💡 **Possible solutions**

1. The singularities should be properly documented, and what poliastro does about them
2.

[2018-06-06 14:58] lghizoni opened #384 "AstroPy installed successfully using pip, but tests fail."
Hello,

I tried installing Poliastro in Ubuntu 16.04. I followed the steps in the website and finally tried the tests, from the following command:

Then I get, after a lot of errors, the following:

======= 3 failed, 30 passed, 1 pytest-warnings, 9 error in 2.99 seconds ========

Can someone please help on this?

Thank you very much in advance.

[2018-06-06 15:46] Juanlu001 commented on #384
Hi @lghizoni! Thank you very much for your interest in poliastro. I would need you to send some extra information to help you with the problem: in particular the full output of the test failures and the output of `pip freeze | grep astropy` and `pip freeze | grep poliastro`.

Regards,

[2018-06-11 09:41] lghizoni commented on #384
Hello,

Thanks a lot for the reply!

Here are the requested info:

$ pip freeze | grep astropy

$ pip freeze | grep poliastro

And attached is the output of:

$ python -c "import poliastro.testing; poliastro.testing.test()"

[Poliastro_Test.txt](https://github.com/poliastro/poliastro/files/2089420/Poliastro_Test.txt)

Thanks again :-)

/Leonardo.

[2018-06-11 11:38] Juanlu001 commented on #298
Another failed Python 2 installation: #384.

[2018-06-11 11:40] Juanlu001 commented on #384
Hi @lghizoni! You're more than welcome :)

I now see that you are using Python 2. [poliastro 0.5.0 dropped support for Python 2](http://docs.poliastro.space/en/latest/changelog.html#id18), so I guess that old versions of pip do not recognize this issue. It's a known problem, and I'm tracking it in https://github.com/poliastro/poliastro/issues/298.

At the moment, you have three options:

1) If you

[2018-06-11 11:44] Juanlu001 commented on #298
I would like to do some testing on Windows and old Ubuntu versions with Python 2 before the next release so we can reduce the number of issues we get because of this thing.

[2018-06-11 11:45] Juanlu001 commented on #266
Even though pip 10.0 was released, PEP 518 is still partially implemented and PEP 517 will have to wait, so I'm closing this issue until things improve.

[2018-06-11 11:56] shreyasbapat opened #385 "Sun Incorrectly plotted in plot_solar_system"
The radius of the plotted sun exceeds the radii of some orbits of inner planets.
🐞 **Problem**

See this figure:
![screenshot from 2018-06-11 17-23-59](https://user-images.githubusercontent.com/24257914/41230207-8c8137ee-6d9c-11e8-8513-bdba9ed660ab.png)

🖥 **Please paste the output of following commands**

`conda info -a`

`python -c "import poliastro.testing; poliastro.testing.test()"`

`pip free

[2018-06-11 12:27] #266 closed

[2018-06-11 12:29] Juanlu001 commented on #385
Thanks @shreyasbapat! This must be a problem in the method that redraws the attractor, or the minimum radius. Do you want to try fixing it?

[2018-06-11 12:56] Juanlu001 opened #386 "SSL for docs"
🐞 **Problem**

https://poliastro.readthedocs.io works, but https://docs.poliastro.space doesn't.

🎯 **Goal**

HTTPS all the things!

💡 **Possible solutions**

Find out how to get a SSL certificate, perhaps with Let's Encrypt https://letsencrypt.org/.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request

[2018-06-11 18:06] shreyasbapat commented on #385
Yeah Sure! I will try to fix this.

[2018-06-12 09:23] Juanlu001 commented on #385
Closed in #387.

[2018-06-12 09:23] #385 closed

[2018-06-16 10:32] Juanlu001 commented on #253
I reread Farnocchia's paper by @nikita-astronaut suggestion and it's extremely well written and useful. The numerical tests section is specially interesting:

![screenshot from 2018-06-16 12-21-21](https://user-images.githubusercontent.com/316517/41497906-cd404db2-715f-11e8-901e-2f61788fffb3.png)
[...]

![screenshot from 2018-06-16 12-28-48](https://user-images.githubusercontent.com/316517/4149794

[2018-06-17 17:36] Juanlu001 commented on #253
Yes, I agree we will be forced to use our own Newton method. However, I don't feel comfortable with making it public (people might start using it!) so let's put it under `poliastro._methods` and in `angles.py` do:

[code]

(since `from poliastro._methods import newton` will warn about "access to protected member").

[2018-06-17 17:37] Juanlu001 commented on #253
Or, you know, to monitor sign changes and number of iterations, maybe we could use `logging` in the objective function, or something similar?

https://docs.python.org/3/howto/logging.html#logging-basic-tutorial

[2018-06-18 23:10] enritoomey commented on #377
Sorry for the delay, I just check the notebook with lastest version (what is currently in master, last commit being 7f675d76da413618f3bcc25317de750d74ea667e) and it works perfectly. I would say the issue can be close.

[2018-06-18 23:10] #377 closed

[2018-06-19 05:19] Juanlu001 commented on #377
Thanks a lot @enritoomey! Feel free to ping me if you have more questions :)

[2018-06-21 15:33] zbaum1 opened #391 "2 Failures during testing after successful install on Windows"
🐞 **Problem**

🖥 **Please paste the output of following commands**

`conda info -a`

`python -c "import poliastro.testing; poliastro.testing.test()"`

[code]
        from plotly.offline import plot
        import plotly.graph_objs as go

        plot([go.Scatter(x=[1, 2, 3], y=[3, 2, 6])], filename='my-graph.html')
        # We can also download an image of the plot by setting the image parameter

[2018-06-21 15:43] Juanlu001 commented on #391
Hi @zbaum1, thanks for your interest in poliastro and for reporting the issue! I took the liberty to edit it for clarity, hope you don't mind.

There seems to be some sort of permission issue, but I think these tests could be rewritten so they can use a temporary folder. I will note this as a bug.

[2018-06-22 18:13] Juanlu001 commented on #386
This is the key part of the docs:

http://docs.readthedocs.io/en/latest/alternate_domains.html#cname-ssl

[2018-06-22 18:16] Juanlu001 commented on #386
Also, related issues: https://github.com/rtfd/readthedocs.org/issues/2652 https://github.com/rtfd/readthedocs.org/issues/3282

[2018-06-24 19:57] Juanlu001 commented on #109
Made some progress with cspice and spiceypy, but no Windows packages yet.

[2018-06-27 16:39] Juanlu001 opened #395 "Optimize CI running times"
🐞 **Problem**

Tests take too long to run, they are now at 40 minutes. Reasons:

1. The code is objectively slow in some parts, and there's one critical numba issue that prevents us from doing better https://github.com/numba/numba/issues/2952
2. We are doing all tests sequentially, and probably we could have more jobs to run only the slow tests there
3. I've been told that Circle CI is faster than

[2018-06-28 10:37] shreyasbapat commented on #338
@Juanlu001  Did we complete the objective here?

[2018-06-28 11:07] Juanlu001 commented on #338
We did part of step 2. :) `OrbitPlotter` still does not share a parent class with the plotly methods (maybe it doesn't have to?), but the plotting experience is still inconsistent between matplotlib and plotly. I still think we should stick to plotly in the notebook, and allow the user to choose matplotlib for static, 2D plots.

[2018-06-28 11:11] shreyasbapat commented on #257
What I understand is:
We have to use ``CartesianRepresentation`` class to return the positions, but we are already doing that as ``_sample()``  already returns a ``CartesianRepresentation`` object. So, what are we talking about here? :confused:

[2018-06-28 11:13] shreyasbapat commented on #257
Or, probably, we are planning to create a new class which could represent  positions and name it ``ClassicalElementRepresentation`` ?

[2018-06-28 12:58] Juanlu001 commented on #257
The thing is that now you can only sample position and velocity, it would be nice to sample any other thing (the true anomaly for example) and be able to convert that to a trajectory. So the idea would be to create a class that holds classical elements in an array, in the same way that `CartesianRepresentation` holds position and velocity in arrays.

[2018-06-28 13:20] shreyasbapat commented on #338
Okay! So do you have any idea?Like we can set some variable to do this?

[2018-06-28 14:51] Juanlu001 commented on #359
Let's wait for numba 0.39 or 0.40.

[2018-06-28 14:51] #359 closed

[2018-06-28 14:56] Juanlu001 commented on #281
Being tracked at https://github.com/rtfd/sphinx_rtd_theme/pull/545, but it will probably take a while to ship.

[2018-06-29 08:57] Juanlu001 commented on #391
@zbaum1 we have pushed a fix to master, so now a temporary directory with permissions should be used. I'm closing this issue, feel free to comment here if you still experience it with current master!

[2018-06-29 08:57] #391 closed

[2018-06-29 10:10] Juanlu001 opened #397 "Adapt to Plotly 3.0"
Plotly 3.0 is about to be released and it has a ton of interesting things! :tada: https://medium.com/@plotlygraphs/introducing-plotly-py-3-0-0-7bb1333f69c6

(for the moment, as explained in the installation instructions, only a release candidate is available)

In particular:

* > Just like every other object in Jupyter. plotly.offline.init_notebook_mode and plotly.offline.iplot are no longer neces

[2018-06-29 10:11] Juanlu001 commented on #397
As a side comment, I think this will enable a lot of interesting things:

* Animations! @aeronau perhaps you will want to take a look :wink:
* Better workflow! We will no longer need the `from plotly.offline import init_notebook_mode; init_notebook_mode(connected=True)` part, therefore not making Plotly explicit

(We would have to check whether #281 would be fixed)

Now that the world is moving to

[2018-07-02 08:43] shreyasbapat commented on #397
So, my vague question, what do we start with? Should we start moving to Plotly 3.0 Pre releases?

[2018-07-02 09:11] Juanlu001 commented on #397
I suggest that we start by re-running all the 3D notebooks using Plotly 3.0 RC removing `from plotly.offline import init_notebook_mode; init_notebook_mode(connected=True)` and adding a warning at the top stating that for older versions it was needed, and that 3.0 is not stable yet. We should pay special attention to this: https://github.com/plotly/plotly.py/blob/ipyplotly_integration/migration-gui

[2018-07-02 09:16] Juanlu001 commented on #109
cspice conda packages for Windows are there! :tada: I'm now unblocking this issue

[2018-07-02 12:33] shreyasbapat commented on #397
Okay!

[2018-07-04 18:28] Juanlu001 commented on #397
Incrementing the plotly version in setup.py is not necessary at this moment (and I would prefer to wait until a stable version has been released). It's enough that you rerun the notebooks with the latest RC and also that you make sure that the 3D plots show in the documentation:

* http://docs.poliastro.space/en/latest/examples/Going%20to%20Mars%20with%20Python%20using%20poliastro.html
* http://do

[2018-07-05 12:41] Juanlu001 commented on #384
Closing this issue, as the Python 2 problem is being tracked somewhere else already. Feel free to reach out for any questions!

[2018-07-05 12:41] #384 closed

[2018-07-05 12:44] Juanlu001 commented on #114
It seems that @nikita-astronaut and I are doing some work on Maneuvers in the coming months, so I'm moving this to the next milestone.

[2018-07-05 12:45] Juanlu001 commented on #150
Removing the milestone here, and waiting for someone to volunteer.

[2018-07-05 12:46] Juanlu001 commented on #257
Let's move this to the next milestone. @eteq said on chat that it would be very nice to see this integrated on Astropy, although the question on how to treat velocities is still open.

[2018-07-05 12:47] Juanlu001 commented on #386
This is in the works https://github.com/rtfd/readthedocs.org/issues/2652#issuecomment-400741375 so I won't take any action from the poliastro side. Closing!

[2018-07-05 17:52] Juanlu001 commented on #397
Plotly 3.0 has been just merged to master:

https://github.com/plotly/plotly.py/blob/dbe8ad/plotly/version.py#L1

A public PyPI release is a matter of days.

[2018-07-05 19:10] Juanlu001 commented on #397
Plotly 3.0 is out:

https://pypi.org/project/plotly/3.0.0/

Time to upgrade!!!!1!

[2018-07-05 19:15] shreyasbapat commented on #397
Yeah! But it will break OrbitPlotter2D. We will have to fix that first? Right?

[2018-07-05 19:21] Juanlu001 commented on #397
If Plotly 3.0 breaks poliastro, we have to fix poliastro first, yes ):

[2018-07-05 19:22] shreyasbapat commented on #397
Pull Request Incoming ! (In some time obviously) xD

[2018-07-05 19:42] Juanlu001 commented on #397
In Jupyter Lab it doesn't:

![screenshot-2018-7-5 jupyterlab](https://user-images.githubusercontent.com/316517/42343909-e4702b66-809a-11e8-892c-21d7da25b68c.png)

On the other hand, I've been playing with `Figure` and `FigureWidget` like this:

[code]

And I suspect that `Figure` is now broken in the classic notebook, and that it only works in Jupyter Lab. Investigating.

[2018-07-05 19:53] shreyasbapat commented on #397
Oh! That's fine. So, we may have to instruct the user to use Jupyter Lab for using poliastro. And put up a warning to include that patch of lines for Jupyter Notebook

[2018-07-05 22:16] Juanlu001 commented on #397
Not the case, but something is not working with poliastro figures.

[2018-07-05 23:30] Juanlu001 commented on #397
Never mind, I think I was having some temporary connectivity issues. Everything is working well :+1:

[2018-07-06 07:53] shreyasbapat commented on #281
The PR is still open. Do you think it is a local issue and we can solve it in poliastro?

[2018-07-06 08:45] Juanlu001 commented on #281
It's indeed an upstream issue that will take a while, but in the meanwhile we have a workaround, which is adding some extra cells at the top (and running them!)

[code]

[2018-07-06 09:41] shreyasbapat commented on #281
Oh! Okay. I will add these lines and run the notebooks again

[2018-07-06 21:03] shreyasbapat commented on #338
I investigated IPython Magic. Could not figure out any way to do it. What kind of backend selection are we talking about here?

[2018-07-06 21:14] shreyasbapat opened #401 "Improve error message for Orbit.from_body_ephem(Pluto)"
Adds to #382

🐞 **Problem**

We can't plot pluto using the ephimerids data.

[code]

🖥 **Please paste the output of following commands**

`conda info -a`

`python -c "import poliastro.testing; poliastro.testing.test()"`

`pip freeze | grep astropy`

`pip freeze | grep poliastro`

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started wor

[2018-07-10 11:00] #395 closed

[2018-07-10 13:11] astrojuanlu opened #403 "Squeeze CI running times"
We _optimized_ CI running times (#395), and we went from > 45 minutes (with timeouts) to < 30 minutes:

![screenshot_2018-07-10 circleci](https://user-images.githubusercontent.com/316517/42509948-c5fc9afa-844d-11e8-9065-48afdc405e91.png)

Now, we have to _squeeze_ them :wink: Ideas:

* Circle CI allows for more jobs at the same time than what we're using now, so we could split the slow tests apart

[2018-07-10 14:01] Juanlu001 commented on #403
#404 brought this to 18 minutes. Next step: 10!

[2018-07-11 01:42] davidmikolas opened #405 "getting started, help wanted"
🐞 **Problem**
I see several problems with tests after conda install, plus error on first import when typing python lines from http://docs.poliastro.space/en/latest/examples/Going%20to%20Mars%20with%20Python%20using%20poliastro.html into a terminal.

I installed using the recommended

    $ conda install poliastro --channel conda-forge

I then typed "python" and tried the first few lines of the "Go

[2018-07-11 06:18] Juanlu001 commented on #405
Hi @davidmikolas, thanks for your interest in poliastro! I confirm I can reproduce this error. The problem is that poliastro requires Python >= 3.5, but the conda package was incorrectly generated and is available in Python 2 as well. You will be able to use poliastro in a Python 3 environment, and in the meanwhile I'm adding this to our list of "Python 2 users experience in installing poliastro i

[2018-07-11 06:19] Juanlu001 commented on #298
Another one #405, this time because the conda package was improperly generated. I will fix this once and for all.

[2018-07-11 06:33] Juanlu001 opened #406 "Upgrade to numba 0.39"
numba 0.39 was released yesterday and it gained support for `ndarray.dot`:

https://groups.google.com/a/continuum.io/d/msg/numba-users/fsAiSQ39ztg/YSfidKXJAAAJ

which will for jitting code that uses `v.dot(v)` to retain units as well.

[2018-07-11 06:43] Juanlu001 commented on #298
Fixing the conda package in https://github.com/conda-forge/poliastro-feedstock/pull/18, and asked in the Gitter chat how to fix older versions as well.

[2018-07-11 06:49] Juanlu001 commented on #298
Regarding the PyPI package, the problem seems to be poliastro 0.6.0. This happens in pip 9 and 10:

[code]

[2018-07-11 06:50] Juanlu001 commented on #298
If one restricts the versions, the installation of 0.5.0 succeeds but there are some errors with numba:

[code]

Which means that, probably, the numba version is too new and something broke in the middle.

[2018-07-11 07:05] Juanlu001 commented on #298
*But*, poliastro 0.5.0 was already Python 3 only, and poliastro 0.4.0 didn't even correctly specify the pip dependencies because we were using conda back then. Manually installing astropy<1 and an old numba version did the trick.

[2018-07-11 07:12] Juanlu001 commented on #298
On the other hand, if one downgrades pip to <9, a different error occurs:

[code]

[2018-07-11 07:16] Juanlu001 commented on #298
So, for PyPI packages, we're kind of covered because pip 9 produces a proper error, and pip 8 at least does not install poliastro which will give a hint that there's something wrong. The situation is less than ideal, but I don't want to go and fix versions back to 2015.

On the other hand, conda packages are utterly broken and should be fixed. Probably the problems started with the `noarch` change

[2018-07-11 07:33] davidmikolas commented on #405
Thank you for the speedy reply! I seem to have an existing py3 environment as well. Would

    source activate myforgottenpy3env

followed by the same

    $ conda install poliastro --channel conda-forge

be the reasonable way for me to proceed?

[2018-07-11 07:35] Juanlu001 commented on #405
Yes, that would perfectly work! On the other hand, if you want to create a clean environment, remember that you can do

[code]

[2018-07-11 07:39] davidmikolas commented on #405
hmm... this did not work...

$ conda create -n poliastro36 python=3.6
Solving environment: failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/Users/david/anaconda/lib/python2.7/site-packages/conda/exceptions.py", line 819, in __call__
        return func(*args, **kwargs)
      File "/Users/david/anaconda/lib/python2.7/site-pack

[2018-07-11 07:41] Juanlu001 commented on #298
Flash news: I've been publishing poliastro conda packages that would cleanly install on Python 2 but miserably fail for **years**. We dropped support for Python 2 more than two years ago, and all versions of poliastro in conda-forge are broken.

This will require some time.

[2018-07-11 07:51] Juanlu001 commented on #109
Postponing for the next release, this should be our focus.

[2018-07-11 07:52] Juanlu001 commented on #382
I will provide a short term fix for this next week, after the beta release.

[2018-07-11 07:53] Juanlu001 commented on #405
Wow, what an espectacular conda error. This is outside of the scope of poliastro, but let me see if I can help.

[2018-07-11 07:57] Juanlu001 commented on #405
Your issue seems similar to this one: https://github.com/conda/conda/issues/7503 but it's not 100 % equal. Could you please report it on conda?

In the meanwhile, could you at least confirm that poliastro works in your old Python 3 environment?

[2018-07-11 07:59] Juanlu001 commented on #405
(I couldn't resist and left a comment myself, by the way)

[2018-07-11 08:06] davidmikolas commented on #405
Tried

    $ conda install poliastro --channel conda-forge

again to generate the same failure to send a report this time, here's the end of that...

    [...]An unexpected error has occurred. Conda has prepared the above report.
    If submitted, this report will be used by core maintainers to improve
    future releases of conda.
    Would you like conda to send this report to the core maintaine

[2018-07-11 08:19] Juanlu001 commented on #405
I suspect there's some sort of issue with your conda installation: some version mismatch, some incompatible requirement, etc. As a last resort, and while we figure out the rest, poliastro can also be installed with pip, so you should be able to try this:

[code]

inside the activated environment.

[2018-07-11 20:21] Juanlu001 commented on #406
However, bear in mind that a jitted function won't preserve units:

[code]

[2018-07-12 06:18] Juanlu001 commented on #405
Last thing: could you please try if your errors disappear after `conda update -y conda`?

[2018-07-12 09:54] Juanlu001 commented on #313
astroquery has a nasty bug at the moment: https://github.com/astropy/astroquery/issues/1192

[2018-07-12 10:00] Juanlu001 commented on #313
callhorizons stopped working as well: https://github.com/mommermi/callhorizons/issues/17

[2018-07-12 23:59] davidmikolas commented on #405
It looks like I have some anaconda problem on my computer as well. I will try to follow this up in a few days when I can get some assistance with anaconda.

    $ conda update -y conda
    Solving environment: failed

    # >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

        Traceback (most recent call last):
          File "/Users/david/anaconda/lib/python2.7/site-packages/conda/e

[2018-07-13 14:46] Juanlu001 commented on #54
One milestone earlier than expected, continuous thrust guidance laws have finally made it to poliastro :rocket: For the moment in the form of a low level API, in 0.11 we will refactor the maneuvers to accommodate these new ones.

[2018-07-13 14:46] Juanlu001 commented on #54
(For reference, #400)

[2018-07-13 14:58] Juanlu001 commented on #406
This has been fixed in #400.

[2018-07-13 14:58] #406 closed

[2018-07-13 15:01] Juanlu001 commented on #401
The same would happen with the Moon, by the way. The information is in the error message: `pluto's position and velocity cannot be calculated with the 'builtin' ephemeris.`. We won't fix this in poliastro, because it's the user responsability to set a proper ephemeris, but perhaps we can improve the error message.

[2018-07-13 15:03] Juanlu001 commented on #361
While trying to fix #397, let's see if we can make sure these errors won't happen again.

[2018-07-13 15:03] Juanlu001 commented on #364
Let's start this effort as part of the next milestone.

[2018-07-13 15:04] Juanlu001 commented on #358
The CI infrastructure has changed a bit, but Travis CI is still used for OS X. @newlawrence do you still want to test whether you can fix the dependencies there?

[2018-07-13 15:06] Juanlu001 commented on #328
Let's try to fix this one before the next release.

[2018-07-13 15:07] Juanlu001 commented on #313
I figured out how to properly use astroquery, so we already moved the notebook away from callhorizons.

[2018-07-13 15:13] Juanlu001 commented on #298
...and I'm not even sure we will be able to remove all these bad releases. I'm removing the milestone, in case we have to focus on other things.

[2018-07-14 00:16] #397 closed

[2018-07-14 05:46] shreyasbapat commented on #281
I thought it was not really an issue. Even I experienced this multiple times. That the plots were showing fine locally, while building in RTD stopped them. However, even Firefox does not load the plots all the time 😅

[2018-07-15 21:54] shreyasbapat commented on #382
http://docs.astropy.org/en/stable/api/astropy.coordinates.get_body_barycentric_posvel.html

Here, it is writter that we can not calculate the velocity of Moon using ``get_body_barycentric_posvel``
Now, in that case, we can convert the ICRS to GCRS, but the problem remains the same i.e. What about the velocity.
I am researching this further.

[2018-07-16 07:41] Juanlu001 opened #408 "Make propagate fast again"
(Pun intended)

According to our new shiny benchmarks, we introduced three performance regressions in the default `Orbit.propagate` method, one of them considerably large:

![screenshot from 2018-07-16 09-24-17](https://user-images.githubusercontent.com/316517/42747074-0e18a766-88db-11e8-970b-4c71fd3ccfa0.png)

https://poliastro.github.io/poliastro-benchmarks/#regressions

The list of offending co

[2018-07-16 08:04] nikita-astronaut commented on #408
I agree) considering the fact that Newton method is really simple) Will do it during this week

[2018-07-16 14:52] Juanlu001 commented on #382
The documentation of Astropy is incorrect at that point: it cannot be computed _with the `builtin` ephemeris_:

[code]

[2018-07-17 10:41] shreyasbapat commented on #382
So, okay, only changing the ICRS to GCRS will work? As the velocity we get it also in the frame of Sun. Converting it to the frame of Earth is probably not a trivial task? Or it is? Just subtracting two vectors?

[2018-07-17 10:50] Juanlu001 commented on #382
Yes, changing to ICRS to GCRS is all that's needed. You have examples of how to do that in two notebooks:

* http://docs.poliastro.space/en/latest/examples/Catch%20that%20asteroid!.html
* http://docs.poliastro.space/en/latest/examples/Visualizing%20the%20SpaceX%20Tesla%20Roadster%20trip%20to%20Mars.html

[2018-07-17 13:46] shreyasbapat commented on #382
Oh. This is amazing. I will do this!

[2018-07-18 05:32] tomdean1 opened #411 "Test Fails 6 Tests"
[poliastro.txt](https://github.com/poliastro/poliastro/files/2204536/poliastro.txt)

🐞 **Problem**

🖥 **Please paste the output of following commands**

`conda info -a`

`python -c "import poliastro.testing; poliastro.testing.test()"`

`pip freeze | grep astropy`

`pip freeze | grep poliastro`

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you

[2018-07-18 06:52] Juanlu001 commented on #411
Hi @tomdean1, thanks for the bug report! Latest version of poliastro is not compatible with Plotly 3.0. We have to release 0.9.2 to reflect this fact.

For the moment, you can wait for poliastro 0.10 (out tomorrow!) or `pip install "plotly<3"`.

[2018-07-18 17:52] Juanlu001 opened #412 "Consider putting accelerated functions into separate package"
🐞 **Problem**

From a coding perspective and using the tools we've used so far, it's impossible to provide functions that at the same time are fast and safe in the sense of physical units. Also, if one starts from the safe functions and decorates it to create the fast function, these can't be currently reused in other accelerated functions. See discussion in https://github.com/poliastro/poliastro/

[2018-07-18 17:53] Juanlu001 commented on #408
Some work was done in #409, but this gave me some fresh ideas, see #412. I think we can do better in the next release.

[2018-07-19 10:18] nikita-astronaut commented on #412
Working on it!

[2018-07-20 06:01] Juanlu001 commented on #382
Fixed in #410.

[2018-07-20 06:01] #382 closed

[2018-07-21 01:09] Juanlu001 commented on #412
Partially addressed in #413 and finished in #414.

[2018-07-21 01:43] Juanlu001 commented on #403
Caching would help in situations where the docs (the last step) fail.

[2018-07-21 01:55] #412 closed

[2018-07-21 02:02] Juanlu001 commented on #328
Well... Or maybe the next after that!

[2018-07-21 02:39] Juanlu001 commented on #265
Notice that the original convergence issues of `kepler` were addressed in #362.

[2018-07-21 02:47] Juanlu001 opened #415 "Some tests have side effects"
Some tests call `solar_system_ephemeris.set`, therefore changing the global ephemeris source. At the moment this is not a problem because perturbation tests run at the end, but we should either use some sort of context manager or at least set the ephemeris back to "builtin" at the end of the test.

[2018-07-21 02:48] Juanlu001 commented on #54
This was closed in #400, nothing less than three years later :rocket:

[2018-07-21 02:48] #54 closed

[2018-07-21 03:43] Juanlu001 opened #416 "Update CI badges for Circle CI"
Some places still show that Travis CI runs the Linux tests. We have to update it.

[2018-07-22 04:11] camisatx opened #417 "pip install fails with 0.10.0"
Hey Juan, thank you immensely for creating and actively maintaining this fantastic library!

I noticed that pip is not able to install the latest 0.10.0 release on the Anaconda 5.2.0 base, however, `pip install poliastro==0.9.2` works without any issue.

Running `pip install poliastro` fails to uninstall llvmlite, as specified in the following message:
[code]
It appears that installing poliastro v

[2018-07-22 09:49] Juanlu001 commented on #417
Hi @camisatx, thanks for your interest and kind words! I'm from my smartphone at the moment but I suspect that you had numba installed with conda, and perhaps that's the reason why pip install can't upgrade the numba version. On the other hand, I think I did not upgrade the minimum required numba version in the conda-forge package and that might be the reason for the second failure. Could you plea

[2018-07-22 14:40] camisatx commented on #417
You are right @Juanlu001 , pip could not upgrade numba. However, I had to run `conda install numba=0.39.0` to force it to upgrade to the latest numba release since `conda update numba` did not pull numba to 0.39.0.

Once numba was updated to 0.39.0, `pip install poliastro` worked without a hitch, installing version 0.10.0. This closes the first issue I experienced.

Again, this is coming from a ne

[2018-07-22 14:41] Juanlu001 opened #418 "Add more visible link to source code in documentation"
The docs are increasingly becoming "poliastro website", and we should have a more visible link to the source code from it. It's already there, just a bit hidden.

(Feedback from PiterPy rehearsal)

[2018-07-22 14:48] Juanlu001 opened #419 "Add runtime requirements in pyproject.toml"
pip 18.0 is out with complete PEP 518 support :tada: so we should add a `pyproject.toml` to list all the dependencies instead of using setup.py. I don't think we have to wait for pip 18 to arrive to conda-forge (https://github.com/conda-forge/pip-feedstock/pull/13), since the escenarios are:

* System Python: they would have to create a virtual environment anyway, since it's likely too old (Python

[2018-07-22 15:10] Juanlu001 opened #420 "Add link to benchmarks in documentation"
[As title says]

[2018-07-22 15:12] Juanlu001 commented on #408
This was actually fixed for 0.10.0 in #414. Closing!

[2018-07-22 15:12] #408 closed

[2018-07-22 15:15] Juanlu001 commented on #364
Or rather, the next one. There's already too much pending work for 0.11.

[2018-07-22 15:48] Juanlu001 commented on #417
Glad to know it finally worked! The fix is underway at https://github.com/conda-forge/poliastro-feedstock/pull/21 and I will merge as soon as the tests pass, so I'm closing this for the moment. The new package should be uploaded in about an hour. Feel free to comment here if the problem persists!

[2018-07-22 15:48] #417 closed

[2018-07-22 15:51] Juanlu001 commented on #109
I learned that GMAT has Python scripting capabilities, so I'm updating the wiki to add that information. There are some caveats though: http://forums.gmatcentral.org/viewtopic.php?f=48&t=49258

[2018-07-22 16:18] Juanlu001 commented on #419
I didn't think about this carefully enough, and in fact we already have a `pyproject.toml` that specifies the minimum build requirements. The runtime requirements are left for PEP 517:

https://www.python.org/dev/peps/pep-0517/

Which will likely see the light in a future release of pip.

[2018-07-22 17:52] Juanlu001 opened #421 "Generate fast Newton solvers"
🐞 **Problem**

numba 0.38 shipped the capability to pass a jitted function to another jitted function as an argument. Unfortunately, it turns out it's slow (https://github.com/numba/numba/issues/2952), which means that we can't reuse code.

However, I discovered that there's a workaround: using closures to generate fast functions. For example, we could have something like this:

[code]

and this i

[2018-07-22 17:53] Juanlu001 commented on #421
Notice that this can be extended to the `poliastro.core.iod` module, where we use higher level versions of the Newton method in some places. However, we first need a benchmark for that.

[2018-07-22 17:57] Juanlu001 commented on #314
It would also be nice to try to come up with some high level goals of poliastro, as per our [Core principles](https://github.com/poliastro/poliastro/wiki/Core-principles), such as `UX`, `Performance`, `Code Quality`, `Community`. (What about `New Feature`? And `Bug`?)

[2018-07-22 18:19] tomdean1 commented on #411
I upgraded to 0.11.dev0, but, still have two errors

0.11.dev0

 2 failed, 409 passed, 3 skipped, 5 xfailed, 1 xpassed, 1 warnings in 258.81 seconds
The failures are import errors

/usr/local/lib/python3.5/dist-packages/plotly/offline/offline.py:318: ImportError
/usr/local/lib/python3.5/dist-packages/plotly/offline/offline.py:318: ImportError

[2018-07-22 18:29] Juanlu001 commented on #411
Thanks! Those errors are already known https://github.com/poliastro/poliastro/issues/361 and we're not sure when do they happen, as I can't reproduce them locally. Anyway, these are failures of the tests themselves and not poliastro, so your installation is now correct.

[2018-07-22 18:31] Juanlu001 commented on #361
This is a potential source of noise for people installing the library, so let's try to fix the tests for the next release, or even 0.10.1.

[2018-07-23 19:49] tomdean1 commented on #411
The sequence of events
1.  python -c "import poliastro.testing; poliastro.testing.test()"
2.  Errors happened
3.  Install Jupyter and IPython
4. python -c "import poliastro.testing; poliastro.testing.test()"
5.  No Errors
The errors were caused by NOT having Jupyter and IPython.

[2018-07-23 19:49] #411 closed

[2018-07-24 07:54] Juanlu001 commented on #411
Oh, that's extremely useful! We'll add this information to the original issue. Thanks for your help!

[2018-07-24 07:56] Juanlu001 commented on #361
As @tomdean1 showed in https://github.com/poliastro/poliastro/issues/411#issuecomment-407179073

We are installing all the dev dependencies in the CI, and that's why we were not noticing them. A quick fix is to just skip those tests if Jupyter is not present.

[2018-07-24 08:09] Juanlu001 commented on #361
Confirmed that `pip install ipython` fixes these issues.

[2018-07-24 23:40] tomdean1 opened #422 "Perturbations incorrectly placed in documentation"
[poliastro_error.txt](https://github.com/poliastro/poliastro/files/2225818/poliastro_error.txt)

🐞 **Problem**

🖥 **Please paste the output of following commands**

`conda info -a`
I do not use conda
`python -c "import poliastro.testing; poliastro.testing.test()"`
Does not show messages
`pip freeze | grep astropy`
astropy==3.0.3

`pip freeze | grep poliastro`
poliastro==0.11.dev0

🎯 **Goal**

💡 **

[2018-07-25 05:42] shreyasbapat commented on #422
This will be the correct way to import perturbations:
`from poliastro.core.perturbations import J2_perturbation`

[2018-07-25 06:03] Juanlu001 commented on #422
This is a documentation bug, because I think the User Guide has the old perturbation imports.

Regarding the style thing, it's a warning (not an error) so I would not worry.

[2018-07-25 06:04] Juanlu001 commented on #422
Thanks @tomdean1 for reporting!

[2018-07-25 13:12] Juanlu001 commented on #422
I'm labeling this as "help wanted", so pull requests welcome. It's kind of important though, so if nobody does, I'll fix it next week.

[2018-07-25 13:17] Juanlu001 opened #424 "Automate versioning"
🐞 **Problem**

Making a release involves lots of steps, some of which [are manual](https://github.com/poliastro/poliastro/wiki/HOWTO-Release). One of these steps is the correct version bumping in all the required places. Some of them could be automatic.

Also, when someone installs poliastro from git, it's not clear which version it's using.

🎯 **Goal**

Make the version bumping, and hence the rel

[2018-07-26 05:45] Juanlu001 opened #425 "New thrust package is not documented"
The relevant entries are missing in the API reference, not to mention the user guide or some Jupyter notebook on the matter.

[2018-07-27 03:55] Juanlu001 commented on #337
What about "Getting started"?

[2018-07-27 18:13] PhelixPhoenix opened #426 "poliastro fails 3 self tests after install to a virtualenv"
poliastro fails 3 self tests after install to a virtualenv with all the prerequisites loaded

🐞 **Problem**

🖥 **Please paste the output of following commands**

`conda info -a`
bash: conda: command not found

`python -c "import poliastro.testing; poliastro.testing.test()"`

====================================== test session starts =======================================
platform linux -- Python

[2018-07-27 18:30] #426 closed

[2018-07-27 18:38] Juanlu001 commented on #426
Hey! I guess you fixed the issue by installing tkinter in your operative system :) Thanks for your interest anyway and don't hesitate to open new issues if you find more problems.

[2018-07-27 18:40] PhelixPhoenix commented on #426
Yes!

Other errors showed up on the next test for iplot so I’m working through those now.

[cid:image001.png@01D4259E.8E7D8C00]
Stefan McIntyre  Consulting Engineer
www.gci.com/business/nw<http://www.gci.com/business/nw>  |  405.833.1900

From: Juan Luis Cano Rodríguez <notifications@github.com>
Reply-To: poliastro/poliastro <reply@reply.github.com>
Date: Friday, 201807 27 at 11:38
To: poliastro/p

[2018-07-27 18:44] Juanlu001 commented on #426
Perhaps these? https://github.com/poliastro/poliastro/issues/361

[2018-08-02 04:35] Juanlu001 commented on #380
I changed the title of the issue because I think we should focus on sampling arbitrary properties, to avoid code like this:

https://github.com/poliastro/poliastro/blob/335a37cf619b8822e837a2353edeb5b3002bad5a/src/poliastro/tests/tests_twobody/test_perturbations.py#L260-L269

If people are interested in getting the velocity, I'm sure they will want to know the time history of the right ascension o

[2018-08-02 07:02] jtegedor opened #429 "Add Earth Center Earth Fixed (ECEF) reference frames"
It would be useful to be able to define an orbit using a state vector in Earth Center Earth Fixed (ECEF) reference frames, such as ITRF2014.

🐞
This is a new feature to facilitate the usage of the package.

🎯
Precise GPS orbits are normally given in ITRF reference frame. Therefore it would be of great help to be able to use ECEF state vectors to define an orbit, to be able to perform mission analy

[2018-08-02 07:36] Juanlu001 commented on #429
Hi @jtegedor, thanks for your interest in poliastro! (I edited the issue for formatting)

Adding easy frame conversion to poliastro is the focus of our next release, which will be out in mid-September, before OSCW:

https://2018.oscw.space/event/1/contributions/13/

The way to do it right now in poliastro is exactly as you did. We had to use a similar strategy to convert to Heliocentric coordinate

[2018-08-02 07:40] jtegedor commented on #429
Thanks for feedback, I have limited experience with GitHub & poliastro but hope to be able to contribute when possible. This is a very nice package, thanks for the initiative!

[2018-08-02 18:19] Juanlu001 opened #430 "Try out high-level numba extension API"
This can be useful to avoid things like having to choose between `poliastro.util.norm` and `poliastro.core.norm`.

https://numba.pydata.org/numba-doc/0.39.0/extending/high-level.html

[2018-08-03 21:53] Juanlu001 commented on #386
Now it works! We have to change the links everywhere.

https://docs.poliastro.space/

[2018-08-04 03:23] OrbitalMechanic opened #431 "Internal Errors in Testing poliastro 0.10.0"
When executing the command

python -c "import poliastro.testing; poliastro.testing.test()"

internal errors were encountered. My question is why am I getting these internal error reports and what can be done to correct these.

🐞 **Problem**

N/A

🖥 **Please paste the output of following commands**

`conda info -a`
Samuels-Mac-Pro:~ user$ conda info -a

     active environment : None
       user co

[2018-08-04 12:57] Juanlu001 commented on #431
Hi Sam! Googling around I see that there's some sort of installation problem unrelated to poliastro. Could you please try creating a new Python 3 environment and installing it there?

[2018-08-04 16:15] Juanlu001 commented on #386
https://www.eff.org/deeplinks/2018/07/google-chrome-now-marks-http-sites-not-secure

[2018-08-04 17:35] Juanlu001 commented on #431
In particular, this is the sensitive part:

[code]

so if you do

[code]

you should observe the same error.

[2018-08-05 03:46] OrbitalMechanic commented on #431
On August/04/2018 08:57:54, Juan Luis Cano Rodríguez wrote:

Juan,

I used a different Python3 environment that was much paired down from
the one I originally used in installing poliastro. The conda list, the
installation and test run and results are given below.

The question I now have is what is causing the message

anaconda3/envs/prova/lib/python3.6/site-packages/poliastro/tests/tests_twobody/

[2018-08-06 09:12] Juanlu001 commented on #431
The test results are good to go now - the warning tells that we're doing some time conversion in a date very ahead in the future and there's no leap seconds information for that. We should probably suppress it as it probably adds noise, but it seems that the new environment works as expected.

[2018-08-07 15:25] Juanlu001 commented on #337
By the way: next version of nbconvert will finally have support for ipywidgets >= 7, which means: dynamic widgets in static HTML!

https://github.com/jupyter/nbconvert/issues/636#issuecomment-411002734

So, after it's released, we can start testing using widgets more.

On the other hand, there's an ongoing discussion on whether Jupyter should save the widget status by default or not:

https://gith

[2018-08-07 15:27] Juanlu001 commented on #425
A new notebook was added:

http://docs.poliastro.space/en/latest/examples/Natural%20and%20artificial%20perturbations.html

But the entry in the API Reference is still empty:

http://docs.poliastro.space/en/latest/core.html#module-poliastro.core.thrust

[2018-08-10 16:50] PabloRdrRbl opened #433 "ImportError: cannot import name 'solve_ivp'"
On Mac OS X 10.11.6, after creating a new condo environment with Python 3.6 and running

`conda install poliastro --channel conda-forge`

I get the following error: ImportError: cannot import name 'solve_ivp'.

Here the output for the different commands:

`conda info -a`

[code]

`python -c "import poliastro.testing; poliastro.testing.test()"`

[code]

`pip freeze | grep astropy`

[code]

`pip fre

[2018-08-10 17:00] PabloRdrRbl commented on #433
Somehow conda was not able of updating Scipy from 0.19.1 to 1.1. Solved after `conda install -c anaconda scipy`.

[2018-08-11 19:15] Juanlu001 commented on #150
Today we were analyzing some flybys @PabloRdrRbl, Veronica and myself and we thought that it would be great to automate part of the process. I was thinking of having some plotting utility that can produce sketches like this:

![screenshot from 2018-08-11 18-58-14](https://user-images.githubusercontent.com/316517/43995288-7a42d2c4-9dab-11e8-9eef-9bf1428fcd6d.png)

Given, for example, velocity of th

[2018-08-12 16:17] Juanlu001 opened #434 "Allow the user to define an Orbit in any reference frame"
🐞 **Problem**

As has been pointed out many times, it's unclear which reference frame is poliastro using for `Orbit` objects, and the answer is that it's implicitly assuming an inertial reference frame centered in the `attractor` (otherwise `propagate` wouldn't work).

🎯 **Goal**

The use of reference frames in poliastro should be more explicit and configurable. Reference frame transformations are

[2018-08-12 17:43] Juanlu001 opened #435 "Orbit properties are not discoverable"
🐞 **Problem**

None of the delegated properties of `Orbit` appear in the documentation or the autocomplete, including all the classical elements.

🎯 **Goal**

Clearly inform the user what are the possible operations with `Orbit` objects without having them figure out thanks to the notebooks, or investigating what a `_BaseState` object is.

💡 **Possible solutions**

* Perhaps we should stop using m

[2018-08-12 17:57] Juanlu001 commented on #370
Another problem derived from this design: `Orbit` properties are not discoverable, they don't autocomplete nor appear in the docs #435

[2018-08-15 19:58] Juanlu001 commented on #156
Just discovered this beauty:

http://sdg.aero.upm.es/index.php/online-apps/porkchop-plot

![screenshot_2018-08-15 easy porkchop](https://user-images.githubusercontent.com/316517/44169723-a1ede200-a0d5-11e8-8ad0-60e68b792a47.png)

(via https://space.stackexchange.com/a/30120/10716)

However, it's distributed under GPLv3 or later, so **don't use this code as inspiration** to implement this algorithm

[2018-08-15 20:08] ZachDischner commented on #156
Damn, nice! This is quick!

On March 24, 2017 at 12:06:18 PM, Juan Luis Cano Rodríguez (
notifications@github.com) wrote:

Hi @ZachDischner <https://github.com/ZachDischner>, that's amazing! I
didn't know people were already creating things *on top of* poliastro, so I
went ahead and created a section in the wiki for that:

https://github.com/poliastro/poliastro/wiki/Projects-using-poliastro

As th

[2018-08-15 20:09] ZachDischner commented on #156
i've been wanting to experiment with putting Poliastro up on AWS and
exposing orbit calculations through AWS Lambda and API gateway, would be a
fun tech project. Didn't get very far once I figured out I couldn't just
bundle up the python env for lambda, would have to have a long running
service spun up.

Anyways, thanks for sharing!

On March 24, 2017 at 12:06:18 PM, Juan Luis Cano Rodríguez (
not

[2018-08-15 20:54] ZachDischner commented on #156
Lambda wants you to upload a zip of the whole environment to use during
runtime. Poliastro dependencies make the zip too big for their size limits
(and it is a pain in the butt to build libs for Amazon Linux). I figured
the best path would be to get poliastro and a wrapping flask REST server to
run in a docker container, then run the container as a service using
ElasticContainerService. Then expos

[2018-08-16 07:28] Juanlu001 commented on #168
@ZachDischner said in https://github.com/poliastro/poliastro/issues/156#issuecomment-413333078 that he was having problems to zip all poliastro dependencies to AWS Lambda:

I think that's a pity because probably the biggest contributor to dependencies weight is SciPy, and we only use a couple of packages in it. Also, for a setting like this you probably could get away without Jupyter and choosing

[2018-08-16 07:30] Juanlu001 commented on #156
Let's continue that discussion in the other issue to keep this one focused on porkchop plots :)

[2018-08-16 14:03] Juanlu001 opened #436 "Perturbations incorrectly placed in documentation"
As reported by @dwasserman:

[2018-08-17 18:05] Juanlu001 commented on #433
I suspect the original issue was caused by an old broken conda package https://github.com/conda-forge/poliastro-feedstock/issues/22 so I'm closing to track the conversation there. Thanks a lot @PabloRdrRbl!

[2018-08-17 18:05] #433 closed

[2018-08-17 20:41] Juanlu001 commented on #403
We should also mark some tests as slow, integration, or something. The conda-forge package currently runs everything, which is way too much.

[2018-08-17 20:46] Juanlu001 commented on #403
Also, it seems that there's a way to produce proper coverage reports using path aliasing in one run:

https://github.com/pytest-dev/pytest-cov/issues/176

However, we have to think about this carefully, since slow tests would be even slower.

[2018-08-20 12:48] davidmikolas commented on #405
Thank you for the update. I think you can close this now, I will give this another go but it won't be this week.

[2018-08-20 13:12] Juanlu001 commented on #405
Thanks! Closing then

[2018-08-20 13:12] #405 closed

[2018-08-21 08:07] Juanlu001 commented on #434
Perhaps I don't really need to define all the frames before I implement this. It's a boring task that's mentally blocking me from making progress. So I will probably proceed like this:

1. Add the ability to use reference frames labeled as "experimental" in 0.11,
2. Add the rest of the frames and consolidate the API in 0.12

Also notice that I already requested in Astropy to have these kind of fra

[2018-08-21 08:09] Juanlu001 commented on #434
On second thought, not adding the frames might be more difficult than adding them.

[2018-08-22 11:38] Juanlu001 commented on #424
Notice that development releases work a bit differently. For instance, we wouldn't have a permanent `0.12.dev0` release right after `0.11` anymore, but `0.11+...` (referring to the previous version). This kind of makes sense because automatic systems don't really now what goes next.

[2018-08-22 11:40] Juanlu001 commented on #424
For using the version in Sphinx, see https://github.com/warner/python-versioneer/issues/185.

[2018-08-22 12:59] Juanlu001 commented on #168
I read that the limit for code uploaded to AWS Lambda is 250 MB https://hackernoon.com/exploring-the-aws-lambda-deployment-limits-9a8384b0bec3 @ZachDischner did all the poliastro dependencies weigh more than this, uncompressed?

[2018-08-22 13:19] Juanlu001 commented on #168
Another kind of platforms that would benefit from having a lighter poliastro are Raspberry Pi, Micropython... But for that we would have to bring back Python 3.4 support, which means working with Astropy < 3.

[2018-08-23 17:18] ZachDischner commented on #168
My unzipped env size ended up being around 375 MB. I agree that a lightweight variant with few dependencies would be excellent. A lambda-ready minimal env like those provided here https://github.com/ryfeus/lambda-packs <https://github.com/ryfeus/lambda-packs> would make building serverless apps around poliastro a breeze (especially if Matplotlib was removed entirely in lieu of a more cloud-style p

[2018-08-24 07:56] #416 closed

[2018-08-24 09:01] Juanlu001 commented on #98
Notice that we stopped testing on PyPy3 after we moved to CircleCI:

https://github.com/poliastro/poliastro/pull/402#issuecomment-403781273

So I'm reopening this issue. However, before we restore it I would prefer not to have to wait a lot of time for packages to compile and use official, upstream binary packages. The status of PyPy on conda is a bit unclear:

https://github.com/conda-forge/pypy2

[2018-08-30 12:18] Juanlu001 commented on #257
Postponing this to the next milestone. There's some discussion that should happen though, so it's not clear we'll go this way.

[2018-08-30 12:19] Juanlu001 commented on #114
Out of time to make this work for this release, but we will be in a good position for the next one, also because we will be able to combine it with the flybys that we just introduced.

[2018-08-30 12:19] Juanlu001 commented on #434
Although we started working on this in #439, the real API for defining an `Orbit` in _any_ frame will have to wait for the next release. At least, the question "which frame does this use" should be settled.

[2018-09-02 16:40] Juanlu001 commented on #109
OK, I tried to get GMAT to work but I failed to understand some internal discrepancies with ephemeris data:

http://forums.gmatcentral.org/viewtopic.php?f=2&t=49271&p=52056

On the other hand, I didn't find a way to include the position of bodies different from Earth and Moon in STK:

http://help.agi.com/stk/index.htm#../Subsystems/dataProviders/Content/Scenario~Points(ICRF).htm

So I decided that

[2018-09-03 10:41] Juanlu001 commented on #109
It turns out that SPICE frames only account for rotation and not translation. From the responses of [this Twitter thread](https://twitter.com/poliastro_py/status/1036316671072522244):

So, for the case of ICRS frames, the validation is trivial. However, it's worth it to use it for IAU body-fixed frames, but that will go in the following release.

[2018-09-03 20:57] #361 closed

[2018-09-03 20:57] #415 closed

[2018-09-03 22:14] Juanlu001 commented on #358
Tests are not xpassing anymore on OS X and I think this is a bit outdated, so I will close.

[2018-09-03 22:14] #358 closed

[2018-09-03 22:15] Juanlu001 commented on #403
Another thing I should do is to cache the docs dependencies or use another image. Installing texlive takes a ridiculous amount of time.

[2018-09-04 14:06] cSchubes opened #442 "Orbital state, longitude and latitude"
🐞 The state is completely hidden from the user, so I have no idea what it entails. What I need is to be able to propagate the orbit, and obtain the longitude and latitude of the satellite over the surface of the Earth at any given time in the orbit.

🖥
`python -c "import poliastro.testing; poliastro.testing.test()"`

`pip freeze | grep astropy`

`pip freeze | grep poliastro`

🎯 This is important t

[2018-09-04 14:09] cSchubes commented on #442
sorry, forgot the outputs.

`pip freeze | grep astropy` :
astropy==3.0.4
`pip freeze | grep poliastro`:
poliastro==0.10.0

Tests are currently running.

[2018-09-04 14:45] Juanlu001 commented on #355
Also, we would have to clarify that, for feature requests, we don't need the tests.

[2018-09-04 15:58] Juanlu001 opened #443 "Add DASTCOM5 README.txt to poliastro code"
Documentation about DASTCOM5 is scarce. At least it would be nice to have the README accessible, without having do download a huge zip.

[2018-09-04 15:59] Juanlu001 commented on #443
[README.txt](https://github.com/poliastro/poliastro/files/2349343/README.txt)

[2018-09-04 16:47] ZachDischner commented on #156
Ooh that is awesome! Killer interactivity and visualizations.

It'd be a nice separation to have a lightweight static web interface with
poliastro and a js plotter so that all Poliastro runs is the backend
calculations. Communicates with a service call so you could use a local
service, or one in a cloud or on a server somewhere. Even serve the site
statically on AWS...

On September 4, 2018 at 10:

[2018-09-04 17:45] Juanlu001 opened #444 "Explore poliastro-as-a-service options"
From [this comment by @ZachDischner](https://github.com/poliastro/poliastro/issues/156#issuecomment-418438770):

And also related to the latest comments in https://github.com/poliastro/poliastro/issues/168.

According to [this list](https://www.g2crowd.com/categories/cloud-platform-as-a-service-paas?utf8=%E2%9C%93&order=popular), the most popular platform among the simplest ones I would try to sup

[2018-09-04 17:46] Juanlu001 commented on #156
Created another issue for that: https://github.com/poliastro/poliastro/issues/444

[2018-09-04 18:32] cSchubes commented on #442
On this link: [http://docs.poliastro.space/en/latest/user_guide.html#defining-the-orbit-orbit-objects] in the 'From classical orbital elements' section it says 'To see a complete list of properties, check out the poliastro.twobody.orbit.Orbit class on the API reference.'

But when I follow that link to [http://docs.poliastro.space/en/latest/safe.html#poliastro.twobody.orbit.Orbit](http://docs.poli

[2018-09-04 18:44] Juanlu001 commented on #442
This is a duplicate of https://github.com/poliastro/poliastro/issues/435 then - and I must admit I didn't remember that sentence in the user guide, it's misleading. I'm closing this one, feel free to comment further if you have more questions.

[2018-09-04 18:44] #442 closed

[2018-09-04 18:45] Juanlu001 commented on #435
From #442:

Oops!

[2018-09-05 10:00] astrojuanlu opened #445 "Offer an alternative to Orbit.propagate for the Moon and planets"
🐞 **Problem**

Currently `Orbit.from_body_ephem` is a convenient way to get the osculating orbit of a planet or the Moon for plotting, to retrieve some classical element, or other things. However, there are some inconsistencies:

* It gives the false impression that these objects can be accurately propagated or sampled, while the correct way to retrieve planetary trajectories would be directly que

[2018-09-05 10:26] Juanlu001 commented on #435
We *have* to fix this but it might be too late for this release. Retargetting this for the next milestone.

[2018-09-07 07:25] Juanlu001 opened #447 "Consider using fixtures in tests"
There are a lot of repeated code in the tests, mainly sample data for orbits. I have been experimenting with pytest fixtures lately and I think they are a great idea. They can even be parametrized, which might help repeating the same test with different kinds of orbits.

https://docs.pytest.org/en/3.8.0/fixture.html

[2018-09-07 08:21] Juanlu001 opened #448 "Unify plotting tests"
We now have a testing module for each `OrbitPlotter` class and lots of repeated tests and it's annoying. We should parametrize them somehow (see also #447). This can be done independently of #338.

[2018-09-07 16:42] Juanlu001 commented on #424
versioneer does not work with trunk-based development:

https://github.com/warner/python-versioneer/issues/159

so we can explore other options, like [setuptools_scm](https://github.com/pypa/setuptools_scm), but not for this release.

[2018-09-08 06:05] Juanlu001 opened #450 "Angles function of safe API have wrong docstrings"
[TBD]

[2018-09-08 06:21] astrojuanlu opened #451 "Planetary frames velocity transformations are untested"
I fixed a bug along the way, but there might be more.

[2018-09-12 05:35] Juanlu001 commented on #281
This is still an issue :( Conversations restarted on the sphinx_rtd_theme, which is where jQuery should go. An alternative would be to change Plotly to load jQuery asynchronously. In any case, I want to fix this upstream.

[2018-09-12 13:54] olebole opened #453 "Debian packaging of poliastro 0.10.0/0.11b1"
Hi,

as one of the affiliated packages, I am currently [trying to package poliastro](https://bugs.debian.org/908659) for Debian (from there it will migrate to Ubuntu, Mint etc.). For this, I have some questions, which don't fit into your template (so I took the freedom to not use it ;-) )

The Debian package will have its own [git repository](https://salsa.debian.org/debian-astro-team/poliastro.gi

[2018-09-13 11:37] robert-cronin commented on #444
I'm new to Poliastro so I might be off the mark here,

Are you thinking something like a website that you can use to interact with Poliastro and display a plot of the entered orbits?
I also noticed your reference to the JPL Mission Design Tool, I guess this is similar to what you're after?
https://github.com/poliastro/poliastro/issues/156#issuecomment-418431452

I think the 2D plots would be fun a

[2018-09-13 12:13] Juanlu001 commented on #453
Hi @olebole, sorry for the late reply and thanks a lot for this! It's amazing that poliastro is about to be available in Debian with some effort. I will be away from the computer all these days, but let me respond your concerns:

* numba is optional, so the test failure is a bug.
* jplephem is optional and probably should be marked as such, I have to go and see whether Astropy already depends on i

[2018-09-13 12:32] Juanlu001 commented on #444
Thanks for chiming in @robert-cronin! I think there are three hallenges here:

1. Installing poliastro in some inexpensive platform. Of course we could rent a VPS and conda install everything there, but there are many advantages in using Function-as-a-Service or Platform-as-a-Service environments. It's not crucial, but it's important for scaling without paying a lot of money.
2. Developing some mi

[2018-09-13 14:31] olebole commented on #453
@Juanlu001 That sounds like a good plan :-)

Astropy does not depend on jplephem, but lists it as optional package. I could think of packaging it for Debian, but I first would have to check how the JPL data download fits into the Debian ecosystem -- mainly license issues with the JPL data worry me here. This I would like to avoid for the moment.

[2018-09-13 14:35] Juanlu001 commented on #444
I didn't think of it in depth, so up to you :) I would recommend working on
a Minimum Viable Product (MVP) first, something that requires minimal
effort but that already does "something".

On Thu, Sep 13, 2018, 16:21 Robbie Cronin <notifications@github.com> wrote:

[2018-09-14 14:12] robert-cronin commented on #444
FYI I have started a dedicated repo, you can follow my progress here: [Poliastro App](https://github.com/robert-cronin/Poliastro-App)
I figured it might be cleaner if we keep it separate for now but we can merge it at later when it makes sense :)

[2018-09-14 17:00] Juanlu001 commented on #444
Perfect! Ping me if you need help :)

On Fri, Sep 14, 2018, 17:12 Robbie Cronin <notifications@github.com> wrote:

[2018-09-17 09:32] Juanlu001 commented on #328
I will fix this myself.

[2018-09-17 10:04] Juanlu001 opened #455 "Contribute ODE853 back to SciPy"
https://mail.python.org/pipermail/scipy-dev/2018-September/023066.html

[2018-09-17 10:05] Juanlu001 opened #456 "Test numpy.interp instead of scipy.interpolate.interp1d"
It's only used here

https://github.com/poliastro/poliastro/blob/d0314cb36f9b5f5ec0a786e4ed3d4f0d9465cd4e/src/poliastro/ephem.py#L2

One reason would be performance https://stackoverflow.com/a/32291305/554319, another would be to minimize the dependence with SciPy.

[2018-09-17 10:42] Juanlu001 commented on #168
Candidates for optional dependencies, also in light of #453:

* SciPy is used sparingly in poliastro, and there are ways to minimize our dependency on it:
  - #456
  - It's not used in the basic (`mean_motion`) integrator anymore, since we wrote our own, fast Newton method
  - It's not used in `kepler` either, since the Kepler iteration is hardcoded
  - It's only required for the Cowell method
* j

[2018-09-17 10:49] Juanlu001 commented on #453
@olebole I have given this some thought and I think I will focus on fixing the doctest issues for this release (some more bugs surfaced since I started running them, see #454) but for making some dependencies optional I will need some more time (https://github.com/poliastro/poliastro/issues/168#issuecomment-421963430). The following release should arrive not later than March next year https://gith

[2018-09-17 11:59] olebole commented on #453
OK; thanks. just to be sure: *are* jplephem and numba currently optional (and I could just make the tests xfail), or will one run into trouble when they are not installed?

For the timeline: we will have our freeze for the next Debian release (Buster) in February and March 2019 (full freeze on March 12); so I would basically try to get poliastro in ASAP (it takes some time to get the package revie

[2018-09-17 12:10] shreyasbapat commented on #328
You said this was a beginner issue :/

[2018-09-17 13:19] olebole commented on #453
That sounds like a very good plan to me! Thank you very much for helping me!

[2018-09-17 14:03] shreyasbapat commented on #435
Same issue with the plotting module

[2018-09-17 14:10] Juanlu001 commented on #435
It's true that I'm missing some methods there, but we are not using introspection there so it has to be another issue.

[2018-09-19 10:39] shreyasbapat commented on #364
I  would like to work on it! Can you like give an overview of what exactly needs to be done?

[2018-09-19 12:38] Juanlu001 commented on #453
@olebole, https://github.com/poliastro/poliastro/pull/454 should fix all the issues you reported, in case you already want to try. Windows builds are broken because matplotlib 3.0 wheels are not yet available.

[2018-09-19 12:57] #328 closed

[2018-09-19 13:34] olebole commented on #453
I can confirm that the patches work very well. When I also remove the Pluto tests (see #458), all tests pass and the package builds nicely. So, I will just wait for the official release of 0.11 ;-)

[2018-09-19 18:26] shreyasbapat commented on #364
They aren't aware of what we have here right?

[2018-09-19 18:27] Juanlu001 commented on #364
I don't think so :)

On Wed, Sep 19, 2018 at 8:26 PM Shreyas Bapat <notifications@github.com>
wrote:

--
Juan Luis Cano

[2018-09-20 23:10] psychemedia opened #460 "Allow passing of plotly / iplot parameters into OrbitPlotter3D()"
It would be useful to be able to pass `plotly iplot` function parameters when calling `OrbitPlotter3D()`:

[code]

This would allow control over things like the display of the link to *plotly* (`show_link`), the image type used when grabbing and downloading a snapshot of the current orientation of a 3D plot (`image`) and the filename it is saved with (`filename`).

At the moment, no parameters are

[2018-09-21 10:02] #386 closed

[2018-09-21 10:05] Juanlu001 opened #463 "Organize API docs"
The API docs are a total mess. We grew more and more functions but even though we separated in two layers, the site is difficult to navigate. We should probably look into what Astropy does, which is having a page for each function instead of per module.

[2018-09-21 10:49] #425 closed

[2018-09-21 11:00] Juanlu001 commented on #450
Fixed in #454.

[2018-09-21 11:00] #450 closed

[2018-09-21 11:00] Juanlu001 commented on #450
Specifically, https://github.com/poliastro/poliastro/commit/face44f72ecfe200bf4f0048cdf98e1af3063805.

[2018-09-21 13:34] psychemedia commented on #460
I could have a go... Not sure what the best route is there (I'm an amateur tinkerer rather than a professional developer!)

A clunky way within the `show()` function (so no side effects) would presumably be to pass in `**kwargs` that are valid arguments for `iplot()`? I think `iplot` throws an error if we pass unrecognised arguments to it so we'd need to trap for any that aren't in that set?

Lear

[2018-09-21 14:21] Juanlu001 commented on #380
Now `Orbit.sample` returns a `BaseCoordinateFrame` object, so it should be trivial to attach velocities to it. Working on #257 is no longer needed.

[2018-09-21 16:11] Juanlu001 commented on #460
We are all tinkerers here :)

Your second option is feasible. Other ideas that come to mind:

* Make the `_prepare_plot` method public, and use the `**kwargs` of `show` for the `iplot` call
* Make the `layout` property public so the user can do `plotter.layout.update(...)` and use the `**kwargs` of `show` for the `iplot` call
* Configure the `iplot` options when creating the `OrbitPlotter*D` (simi

[2018-09-21 17:37] psychemedia commented on #460
@Juanlu001 Re: options.

I'd considered allowing options in to `OrbitPlotter*D` but it feels to me that that's too early to commit to the `iplot`. It would mean the output parameters are required *before* you build up the plot, rather than just as you are about to plot it, and they are hanging around all the way through the plotting process?

If `_prepare_plot()` was public then how would it work?

[2018-09-23 13:53] Juanlu001 commented on #460
Sorry, in my previous message I completely forgot about the very purpose of this issue (I added a clarification there). I agree with your suggestion :+1:

[2018-09-23 14:05] Juanlu001 commented on #281
I spent some time setting up a test case to display the behavior, see my comment at

https://github.com/rtfd/readthedocs.org/issues/4367#issuecomment-423814712

I don't want workarounds 2 and 3, and widgets have still some rough edges (see https://github.com/jupyter-widgets/ipywidgets/issues/1632, https://github.com/jupyterlab/jupyterlab/issues/5200 and https://github.com/jupyter/nbconvert/issues/

[2018-09-24 10:54] shreyasbapat commented on #443
Where would you like it to be?

[2018-09-24 11:04] Juanlu001 commented on #443
In 'src/poliastro/neos/`, I would say!

[2018-09-24 12:10] shreyasbapat commented on #443
I will change the format to ReStructured Text and create a PR

[2018-09-24 13:57] Juanlu001 commented on #443
No need to translate I think, I prefer to keep the original version in this
case. Anyway, let's wait for a decision on the astroquery side :)

On 24 Sep 2018 14:10, "Shreyas Bapat" <notifications@github.com> wrote:

I will change the format to ReStructured Text and create a PR

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github

[2018-09-25 11:37] olebole commented on #453
After testing 0.11.0, everything works fine for me. I can build it (and test with Python 3.6/3.7) without the need of any patch. So, thank you very much!!! I will now upload; it may however take a while until it is reviewed by our ftp-masters.

[2018-09-25 21:06] Juanlu001 commented on #453
Just saw that the upstream issue has been closed:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908659

There's also this tweet:

https://twitter.com/DebianAstro/status/1044605531804061697?s=19

As far as I understand it's not 100 % ready yet:

https://blends.debian.org/astro/tasks/python3

So I prefer to wait until we can effectively apt-install it :)

[2018-09-26 07:01] olebole commented on #453
The upstream issue is automatically closed when it was uploaded to "unstable". It will stay there for ~7 days, and if there are no release critical bugs (and the CI test passes), it will migrate to "testing". "Testing" will become the new Debian 10 "Buster" release next year.
So, a simple `apt install python3-poliastro` will work only then, you still need some patience.
What we could do (once it m

[2018-09-26 17:07] Juanlu001 opened #465 "Simplify Orbit.sample and Orbit.propagate?"
The `Orbit.sample` method is quite complex and accepts a handful of different types of parameters:

https://github.com/poliastro/poliastro/blob/d7fb686b56c95812350772d18a6e80793dc7fc0d/src/poliastro/twobody/orbit.py#L449-L480

However, in my mind `Orbit.sample` was meant to offer a way to sample an `Orbit` **over its period**, but now it's like a `propagate` method on steroids.

On the other hand,

[2018-09-26 17:44] Juanlu001 commented on #453
We will patiently wait :)

If I understand correctly, the Astropy version in Stretch is 1.3:

https://packages.debian.org/stretch/python3-astropy

And poliastro requires >= 3.0:

https://github.com/poliastro/poliastro/blob/d7fb686b56c95812350772d18a6e80793dc7fc0d/setup.py#L29

Does it still make sense?

[2018-09-27 07:10] Juanlu001 commented on #114
Tons of work on reference frames and documentation for the next sprint. Postponing.

[2018-09-27 11:09] Juanlu001 commented on #453
Thanks for answering these dumb questions, I am learning a lot about how Debian works :)

I didn't know that there was this sort of deadline to do the non-security backports, so I assumed we could do it during the "support" period (but I also think I misunderstood the support calendar for Stretch).

[2018-09-30 10:06] Juanlu001 commented on #422
a) I didn't fix it "the following week" and b) I duplicated this at #436, so I will rename this and close that.

[2018-09-30 10:06] Juanlu001 commented on #436
Closing, as this is essentially a duplicate of #422.

[2018-09-30 10:06] #436 closed

[2018-09-30 10:13] Juanlu001 commented on #455
Ongoing PR, some tests failing, and possibly convergence errors:

https://github.com/scipy/scipy/pull/9290

[2018-09-30 10:30] Juanlu001 commented on #109
I discussed with @marcsit about this issue and he says that it's indeed possible to define a reference frame in SPICE with translations, not only orientation. I still haven't tested whether the PCK frames do, in fact, store the offset from the Solar System Barycenter. We need something like body-fixed frames, but parallel to the ICRS. What do you think?

[2018-09-30 20:53] shreyasbapat commented on #316
I am unable to reproduce the error:
![image](https://user-images.githubusercontent.com/24257914/46262584-d0f2d280-c520-11e8-847d-05848ef239b6.png)
I am getting long tracebacks like this:
https://gist.github.com/shreyasbapat/2a8679755bba6916c39f0522c0b958ac

[2018-10-01 13:44] Juanlu001 commented on #443
Fixed in #466, thanks @shreyasbapat!

[2018-10-01 13:44] #443 closed

[2018-10-01 13:45] Juanlu001 commented on #316
Please open a separate issue with code to reproduce :) It might be a problem in matplotlib 3.0 or some other thing.

[2018-10-01 13:52] Juanlu001 opened #468 "Artifacts not available in Circle CI"
Example: https://circleci.com/gh/poliastro/poliastro/833

[2018-10-01 13:54] #422 closed

[2018-10-01 13:55] Juanlu001 commented on #422
Thanks @shreyasbapat!

[2018-10-01 18:05] shreyasbapat commented on #316
Okay! On it!

[2018-10-01 21:08] shreyasbapat opened #469 "OrbitPlotter.set_frame() plots nothing!"
While trying to solve this #316 , I wanted to reproduce the error which raised this.
🐞 **Problem**
[code]
This gives a lots of errors like mentioned in this gist: https://gist.github.com/shreyasbapat/2a8679755bba6916c39f0522c0b958ac

🖥 **Please paste the output of following commands**

`conda info -a`

`conda list`

[code]

`pip freeze | grep astropy`

`pip freeze | grep poliastro`

`python -c "im

[2018-10-01 21:11] shreyasbapat commented on #469
And finally plots something like this:
![image](https://user-images.githubusercontent.com/24257914/46316029-9b1b2000-c5ec-11e8-960e-e49e6f5f2460.png)

[2018-10-02 07:03] Juanlu001 commented on #469
You didn't fill the template, so I don't know which package versions do you have 😉

Also, can you please try downgrading matplotlib to < 3.0 and see if the error still happens?

[2018-10-02 08:41] shreyasbapat commented on #469
I am really sorry! I've updated the Issue!

[2018-10-02 08:59] shreyasbapat commented on #469
No success in Matplotlib 2.2.3

[2018-10-02 09:17] Juanlu001 commented on #469
I confirm I can reproduce.

I launched with IPython, and run `%debug` just after the failure. The problem is in the line

[code]

because `self._attractor_radius` is `None`, for some reason. Should be easy to fix?

[2018-10-02 09:18] Juanlu001 commented on #469
We will need tests for this, because I don't know when was this issue introduced. Also, bear in mind that the `set_frame` method might be revised by the next release, because it should receive a `Plane` as defined in `poliastro.frames` or even a proper reference frame.

[2018-10-02 09:19] shreyasbapat commented on #469
Yeah! Surely!

I will write one. Just to check if the radius is not None right?

Any specific thing to keep in mind?

[2018-10-02 09:21] Juanlu001 commented on #469
Rather, to check that `set_frame` does not miserably fail :) Does it happen only with `plot_solar_system`? Or perhaps we can have an even simpler test case? Please investigate a bit more.

Regarding the future of `set_frame`, I don't have specific ideas now (can't devote any time until PyConES is over). Let's fix it for the time being, and then we will see what to do.

[2018-10-02 11:18] shreyasbapat commented on #469
Here is the devil: https://github.com/poliastro/poliastro/blob/master/src/poliastro/plotting.py#L121-L123

[2018-10-09 08:13] Juanlu001 commented on #453
Just checked that the package is available! :tada:

https://packages.debian.org/sid/python3-poliastro

There will be more bugs we might need to backport (I'm thinking of #471) but the initial process is done, so I think we can close this. If there's anything else I can do to help please ping me. Thanks a lot!

[2018-10-09 08:13] #453 closed

[2018-10-09 08:15] Juanlu001 opened #472 "Backports to 0.11.x"
I compromised to make bugfix releases so we can produce better packages in Debian (see https://github.com/poliastro/poliastro/issues/453#issuecomment-421992342) so I will leave this issue open for anybody to suggest pull requests to be backported to the `0.11.x` branch, so they are included in 0.11.1, 0.11.2 and so forth, without rushing 0.12.

[2018-10-09 08:15] Juanlu001 commented on #472
First one, https://github.com/poliastro/poliastro/pull/471 by @olebole.

[2018-10-22 01:53] TimothySHamilton opened #473 "Orbit propagate hangs for certain r & v vectors relative to the Earth; rotates the vectors when relative to Moon"
In poliastro 0.11.0 under Mac OS, I'm seeing Orbit.from_vectors() sometimes hang in a way that I have to kill the terminal window.  If I put in the following r and v relative to the Earth, create an orbit (which itself works), and propagate it, the calculation hangs and can only be stopped by closing the terminal window:

[code]
I've tried this for velocity vectors pointing in some different direc

[2018-10-22 02:20] TimothySHamilton opened #474 "Orbit propagate hangs for some r, v vectors around Earth; flips vectors around Moon"
🐞 **Problem**
Orbit propagate hangs for some r, v vectors around Earth; flips vectors around Moon

When I propagate a orbit with certain initial r & v vectors around the Earth, the calculation hangs and will not let me stop it except by closing the terminal window.  It seems to happen for velocity vectors that are at low speed (maybe <1 km/s or so) and pointing generally inward towards the Earth.

[2018-10-22 09:59] Juanlu001 commented on #473
Closing this in favor of #474. I guess you had problems to post it due to the [last GitHub outage](https://blog.github.com/2018-10-21-october21-incident-report/).

[2018-10-22 09:59] #473 closed

[2018-10-22 12:44] TimothySHamilton commented on #473
Yep!  It told me the initial post failed.  (Grumble!)  Thanks for closing this.

[2018-10-22 12:45] Juanlu001 commented on #473
There are still some consistency issues (I do not even see your response here, I got it by email!) but I prepared my response already, there are two quick workarounds and some analysis on how to fix the problem :)

[2018-10-22 13:32] astrojuanlu opened #475 "Propagator mean_motion hangs for some r, v vectors around Earth"
_Comes from #474, by @TimothySHamilton_

The problem can be better seen by disabling Numba JIT, which shows some NumPy floating point warnings, and then turning them into errors:

<details>

[code]
</details>

And then, `mean_motion` fails for true anomalies very close to pi in the near parabolic case:

[code]

This deserves closer inspection. @nikita-astronaut was the original author that read th

[2018-10-22 13:34] Juanlu001 opened #476 "Orbits around bodies without predefined reference frame do not have str representation"
_Comes from #474, by @TimothySHamilton_

For example, for any orbit around `Moon`:

[code]

This should be easy to fix, having two templates for the string representation and falling back to a simpler one when there is no frame. And then, actually implementing frames for all sorts of bodies: https://github.com/poliastro/poliastro/issues/109.

[2018-10-22 13:37] Juanlu001 opened #477 "Propagator kepler crashes when propagating a hyperbolic orbit 0 seconds"
_Comes from #474, by @TimothySHamilton_

There is an untested code path that would make the `kepler` propagator crash if the eccentricity is greater than 1 and the propagation time is 0:

https://github.com/poliastro/poliastro/blob/1f12764588adee6fb1bf45c625930be3312fa154/src/poliastro/core/propagation.py#L68-L71

This is similar to https://github.com/poliastro/poliastro/issues/328, but on a diffe

[2018-10-22 13:38] Juanlu001 commented on #474
Hi @TimothySHamilton, thanks for using poliastro and sorry for keeping you up late at night! I confirm I could reproduce both issues (which are in fact four, keep on reading) in my computer.

### 1. Propagator mean_motion hangs for some r, v vectors around Earth

Quick workaround: do

[code]

This will change the default propagation method from `mean_motion` to `kepler`, which is also analytic and

[2018-10-22 13:38] Juanlu001 commented on #474
@TimothySHamilton please keep us posted in case these workarounds do not work for you, or if you encounter further problems!

[2018-10-24 13:58] aarribas commented on #477
Since it's an easy fix, may I take care of it as an entry point to contribute to the project?

[2018-10-24 16:18] Juanlu001 commented on #477
Sure, go ahead! If you find any problems, just ask, here or in the chat. I
would expect a test if you are familiar with pytest, but if not we can
decide when you open a pull request.

On 24 Oct 2018 3:58 pm, "Andrés Arribas Flores" <notifications@github.com>
wrote:

Since it's an easy fix, may I take care of it as an entry point to
contribute to the project?

—
You are receiving this because you a

[2018-10-24 17:30] Juanlu001 commented on #477
@aarribas and I forgot to say: thanks so much! :)

[2018-10-25 05:04] OrbitalMechanic opened #478 "Displaying plots using OrbitPlotter3D on Mac OS X"
Attempting to generate a 3D plot for an orbit using OrbitPlotter3D. I'm running Python ver. 3.6.5 from the Anaconda Distribution on a Mac Pro (desktop, Late 2012) under Mac OS X ver. 10.12.6 (Sierra).

🐞 **Problem**
No plot generated.

The Python script used is contained in the following file.
[Keplerian-Trajectory-Plots-1.py.txt](https://github.com/poliastro/poliastro/files/2513363/Keplerian-Traj

[2018-10-25 08:41] Juanlu001 commented on #478
Hi @OrbitalMechanic, thanks for the bug report! The key part of the code is this one:

[code]

The `OrbitPlotter3D` machinery is independent from the `OrbitPlotter` one and in fact it doesn't even use matplotlib. You would have to call `op3d.savefig("tb_3d.png")` instead, as described here:

https://docs.poliastro.space/en/latest/examples/Plotting%20in%203D.html

(please use Firefox or try refresh

[2018-10-25 14:01] aarribas commented on #477
I had in mind to include the test(s) too, of course.

[2018-10-25 14:15] aarribas commented on #477
I noticed the function documentation comments are not consistent (Kepler function has none) whereas mean_motion has some. The parameters are also inconsistently commented. May I also improve on that.  Incidentally, I had a look at  other .py in /core and noticed that a lot of doc comments where removed when the functions where "jitted". Was this intented? I found them useful.

[2018-10-25 15:56] Juanlu001 commented on #477
@aarribas definitely - documentation is important to us, and if you noticed these inconsistencies we would be very happy if you fixed them as well (perhaps in separate commits though, so the review is easier). Also, we moved lots of functions to core in a rush, the day of the release, and at 3 AM local time, so I admit we probably missed lots of docstrings in the process.

[2018-10-26 03:52] OrbitalMechanic commented on #478
Juan and Shreyas,

Thank you for responding to my report. I did modify my notebook file as
the two of you suggested, but I'm still having issues with matplotlib.
It seems that poliastro.plotting is causing matplotlib to be imported.
See the attached pdf file. This leads me to ask the question how can I
get Jupyter to use pythonw as opposed to python?

Sam Dupree.

On October/25/2018 04:41:57, Juan

[2018-10-26 11:39] #469 closed

[2018-10-28 05:34] Juanlu001 commented on #478
It's true, with the current structure poliastro imports matplotlib even if it's not using it.

We could try to workaround this in poliastro, but in fact we can help you fix your matplotlib. I found one potential solution:

https://stackoverflow.com/a/48758605/554319

Can you please try

[code]

? I suspect setting the `[DY]LD_LIBRARY_PATH` variable is confusing conda about the paths. There are [so

[2018-10-28 05:39] Juanlu001 commented on #478
I'm not an OS X expert, but I would try to launch the notebook like this:

[code]

Could you confirm that it works?

[2018-10-28 05:41] Juanlu001 commented on #338
Another problem: even if the user does not want to use matplotlib, it gets imported when doing `import poliastro.plotting`, as noted in #478.

[2018-10-28 06:21] Juanlu001 opened #480 "OrbitPlotter2D has not method set_frame"
`OrbitPlotter2D` should be as consistent as possible with `OrbitPlotter`, but it's lacking a `set_frame` method. I noticed this while trying to write a `plot_solar_system` function that uses the Plotly backend instead.

[2018-10-29 00:51] OrbitalMechanic commented on #478
Juan,

I used the command, |pythonw -m jupyter notebook|, you sent me in your
response. That definitely worked as demonstrated in the notebook
attached to this note. I'm going to exercise this command a bit futrher
to make sure that this works.

Thanks for your help, and I'll keep you informed.

Sam Dupree.

On October/28/2018 01:39:45, Juan Luis Cano Rodríguez wrote:

{
 "cells": [
  {
   "cell_t

[2018-10-29 08:47] Juanlu001 commented on #478
Hi @OrbitalMechanic, glad it's working for you! The notebook you attached got cut though, here's the partial contents:

<details>

[code]
</details>

If you want, you can share them using https://gist.github.com/. When you share the complete notebook and confirm that everything is working you can close this issue yourself.

[2018-10-30 09:28] shreyasbapat commented on #480
I will do it :)

[2018-10-30 18:20] #316 closed

[2018-11-02 05:07] Juanlu001 opened #482 "Strange legend layout"
🐞 **Problem**

In certain peculiar cases, the legend of `OrbitPlotter` gets out of the axes rectangle, either with matplotlib 2.2.3 or 3.0:

https://gist.github.com/Juanlu001/7ea242431b43fafffd73416fa93024c9

![screenshot_2018-11-02 talk-copy1 1](https://user-images.githubusercontent.com/316517/47894845-00756180-de76-11e8-906a-b5f0c0cf59d3.png)

🖥 **Please paste the output of following commands**

[2018-11-02 05:19] Juanlu001 opened #483 "OrbitPlotter2D results are different than OrbitPlotter"
🐞 **Problem**

As per the title:

![screenshot_2018-11-02 talk](https://user-images.githubusercontent.com/316517/47895144-cdcc6880-de77-11e8-8775-e6d296c2b3a9.png)

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.tes

[2018-11-02 05:39] Juanlu001 opened #484 "Plotly plots do not show in slides"
🐞 **Problem**

[TBD]

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions**

Look into:

* https://github.com/plotly/plotly.py/issues/750

[2018-11-02 05:41] Juanlu001 commented on #484
Putting `plotly.js` fixes part of the issue, although it seems some people don't need it (that depends on the `--post serve`, I'd say). However, a fixed width is still needed.

[2018-11-02 06:08] Juanlu001 commented on #474
Hi @TimothySHamilton, would you confirm whether these workaround worked for you?

[2018-11-02 11:14] ImportanceOfBeingErnest commented on #482
The reason for the issue is that no `loc` is specified in the legend call. It will hence choose `"best"`, which isn't always best, especially when the legend is outside the axes.

Solution: specify the location e.g.

    self.ax.legend(bbox_to_anchor=(1.05, 1), loc="upper left", title="Names and epochs")

[2018-11-03 02:37] TimothySHamilton commented on #474
Hi, @Juanlu001—sorry it's taken me a week and a half; I was catching up with other work.  I have just tried out your solution for both the Earth-centered and the Moon-centered cases, and it works.  It's not even noticeably slower.  Thanks!

The patched conics work now in going from the Earth (green, left) to the Moon (gray, right, with larger circle for its sphere of influence):
![figure_1](https:

[2018-11-03 06:08] Juanlu001 commented on #474
Awesome, glad to know it's working!

For the time being you could use the `.sample` method, which accepts a list of times among other things:

https://docs.poliastro.space/en/latest/safe.html#poliastro.twobody.orbit.Orbit.sample

However, except for the `cowell` method, this is essentially propagating in a loop. Also, this API is subject to change in the following release, so I would say it's fine

[2018-11-03 06:56] Juanlu001 commented on #482
Hi @ImportanceOfBeingErnest, thanks a lot for the suggestion! The problem with this is that the legend was falling _inside_ the axes, which is another thing I wanted to avoid. The best thing I could do is to set `loc=(1.05, 0.5)`, because the origin of coordinates is in the bottom-left corner and therefore I cannot adjust it to the upper-right corner without knowing the height of the legend in adv

[2018-11-03 07:29] Juanlu001 commented on #482
Oh, it seems I was using the wrong `loc` parameter because I misunderstood its intent! PR incoming. Thanks again!

[2018-11-03 07:47] astrojuanlu opened #486 "Leverage new numba objmode context manager"
As said in https://github.com/numba/numba/issues/2788#issuecomment-435343673:

https://numba.pydata.org/numba-doc/latest/user/withobjmode.html#the-objmode-context-manager

This would be really interesting to use, since there are places where we read external data and we cannot `njit` those functions. I'm thinking specifically about the 3rd body perturbations.

[2018-11-03 20:47] shreyasbapat commented on #483
I can confirm that it will be fixed on fixing #480 .
Pull Request incoming.

[2018-11-05 01:49] Juanlu001 commented on #484
I am not sure if this is supposed to be a bug or a feature, see my latest comment at https://github.com/plotly/plotly.py/issues/355.

[2018-11-05 01:50] Juanlu001 commented on #484
In the meanwhile, perhaps we could solve this by allowing layout changes from the API, see also https://github.com/poliastro/poliastro/issues/460.

[2018-11-05 02:36] Juanlu001 commented on #474
@TimothySHamilton thanks a lot, it sounds great! To publish the code you can use any service you want, although I would recommend https://github.com or https://gist.github.com/. We will then link it from here:

https://github.com/poliastro/poliastro/wiki/Projects-using-or-citing-poliastro

For the moment, I published your plot on Twitter :rocket:

https://twitter.com/poliastro_py/status/1059273149

[2018-11-08 22:13] Juanlu001 opened #490 "Plotly dark theme"
See:

https://medium.com/@plotlygraphs/introducing-plotly-py-theming-b644109ac9c7

![Dark theme](https://user-images.githubusercontent.com/316517/48229949-c510f080-e3a9-11e8-9ad3-7bdf33b6160c.png)

Also #389.

[2018-11-08 22:23] shreyasbapat commented on #490
I will take this up after #481 is merged :)

[2018-11-11 18:01] shreyasbapat commented on #448
@Juanlu001  Is this anywhere related to #481 ? Can I take this up?

[2018-11-11 18:03] Juanlu001 commented on #448
Sure, if #481 becomes a blocker, I'll close it and reopen when I'm ready.

[2018-11-14 16:21] Tarlan0001 opened #492 "AssertionError in izzo library"
I got the following:
[code]
I printed the variables: `r0=<Quantity [-4396.85721438,  2117.6460576 ,  4400.14349892] km>`, `r=<Quantity [ 4732.15467662, -2279.13443768, -4735.69156808] km>`, `tof= 30.0 min`

Where is the issue?

[2018-11-14 19:41] Juanlu001 commented on #492
Hi @Tarlan0001, thanks for your interest in poliastro! I will take a look and see what's going on, but in any case a better error should be returned.

[2018-11-14 19:50] Juanlu001 commented on #492
Unfortunately I could not reproduce the issue:

[code]

Result:

[code]

Can you please give some more details about your environment? conda or pip, versions of numpy, numba and scipy, operative system, python version.

[2018-11-14 19:57] Tarlan0001 commented on #492
Try this (the values for `r0` and `r` would be the same, strangely):

[code]

[2018-11-14 20:06] Juanlu001 commented on #492
I assume `Req = Earth.R.to(u.km).value`. I run this code and still no problems.

[2018-11-14 20:09] Juanlu001 commented on #492
Also, notice that you don't have to write `keplerian2cartesian` yourself, as there is `poliastro.core.elements.coe2rv` https://docs.poliastro.space/en/latest/core.html#poliastro.core.elements.coe2rv.

[2018-11-14 20:10] Tarlan0001 commented on #492
`Req=6371`

[2018-11-14 20:11] Juanlu001 commented on #492
Okay, with this value I could reproduce. Working on it.

[2018-11-14 20:17] Tarlan0001 commented on #492
This code worked with `Req = Earth.R.to(u.km).value` worked.

However, If I replace
[code]
by
[code]

It would gave the error. Why?

[2018-11-14 20:19] Juanlu001 commented on #492
Disabling the JIT and exposing the floating point errors I got this:

[code]

So it seems that there's some weird condition in which an internal rounding error makes the square root fail.

[2018-11-14 20:20] Tarlan0001 commented on #492
How could I solve this?

[2018-11-14 20:30] Juanlu001 commented on #492
I discard the geometry issue, because running with `Req = 6370` succeeds, `6371` fails, and `6378` succeeds again. The resulting orbits have nothing special (an eccentricity of 0.425, so not even hyperbolic).

[2018-11-14 20:33] Juanlu001 commented on #492
@Tarlan0001 this change fixes the issue and makes sense from a mathematical point of view:

[code]

Do you want to make a pull request?

[2018-11-14 20:35] Tarlan0001 commented on #492
I'm using pip. May I download this?

[2018-11-14 20:37] Juanlu001 commented on #492
If you want a fix right now, you can edit the `poliastro/core/iod.py` in your computer. If you can wait some days, when someone (perhaps me) makes a pull request with a proper test, it will be merged to the `master` branch and you will be able to install it directly from there. And if you can wait some weeks, I assume 0.11.1 will have this issue fixed.

[2018-11-14 20:39] Tarlan0001 commented on #492
Thanks!

[2018-11-14 20:50] Juanlu001 opened #493 "Solve ODEs in GPUs"
I just saw this paper:

https://arxiv.org/abs/1806.07366

(more links at http://www.cs.toronto.edu/~rubanova/publication/latent_ode/, including slides and code)

Not sure what it means, but worth looking.

[2018-11-14 21:05] Juanlu001 commented on #492
Reopening, because this still needs fixing.

[2018-11-14 21:33] Tarlan0001 commented on #492
A little off-topic, but related to the Lambert problem:
I'm trying to calculate the optimal trajectory from one orbit to another. For that, I'm calculating lambert function for initial and final orbit true anomaly in an interval [0,360] and transfer time [30,10*24*60]. Is this fine?

I'm using a single revolution because don't understand the multiple revolution approach. The question is asked on s

[2018-11-15 08:17] Juanlu001 opened #494 "Add multirevolution Lambert example"
(Follow up from https://github.com/poliastro/poliastro/issues/492#issuecomment-438826436)

I think the multirevolution capabilities of poliastro Lambert solution are not mentioned everywhere. We should add an example of that to the documentation (possibly after checking #348).

[2018-11-15 08:17] Juanlu001 commented on #492
Sure! Although you would also benefit from using the multirevolution case.

A common tool used in these kind of problems is Porkchop plots. We were considering adding one to poliastro (https://github.com/poliastro/poliastro/issues/156), and I think @IngenieroDeAviones was interested in pushing that forward.

I will answer there (so I might gain some points :wink:) but I commit to adding that to th

[2018-11-15 11:01] Juanlu001 commented on #475
While trying to answer #494, I discovered that most orbits coming from the Lambert problem in my particular case were difficult to propagate, because they were almost parabolic. Adding a `or nu < 3` condition was too naïve and led to clearly wrong results, also because there's a leap:

[code]

So there's some sort of discontinuity or instability that should be investigated.

Moreover, the `nu_to_M

[2018-11-15 11:17] Juanlu001 commented on #492
Interested readers: I posted an answer, please upvote! https://space.stackexchange.com/a/32020/10716

[2018-11-15 13:30] IngenieroDeAviones commented on #494
I will try to add an example for this in the current pull request for the API Docs Update #491

[2018-11-15 15:05] Tarlan0001 commented on #492
I got a "Division by zero" error in the same place...

[code]

[2018-11-15 15:11] Juanlu001 commented on #492
Of course, because the vectors are parallel and therefore the Lambert solution cannot be computed:

[code]

[2018-11-15 15:17] Juanlu001 commented on #478
Closing this because of lack of activity, feel free to open a new issue!

[2018-11-15 15:17] #478 closed

[2018-11-15 15:22] Juanlu001 opened #495 "Fix minor issues in Lambert"
_Follow-up from #492_

Several things to do:

* [x] Fix chord calculation, see https://github.com/poliastro/poliastro/issues/492#issuecomment-438808398
* [x] Improve error message when the vectors are parallel, see https://github.com/poliastro/poliastro/issues/492#issuecomment-439071294
* [ ] Remove misleading example from Lambert notebook `(_, v_l), (_, v_r) = izzo.lambert(k, r0, r, tof, M=1)` (d

[2018-11-15 17:39] Tarlan0001 commented on #492
But that shouldn't give an error. I'm transferring between 2 coplanar orbits, one on 800km perigee and apogee, and other on 800km perigee and 2000 apogee.
In this case, probably, the first deltaV is 0 (as perigees are same), and the second impulse raises the apogee...

[2018-11-15 18:55] Juanlu001 commented on #492
If you already know that the orbits are coplanar and tangential, you should use the Hohmann maneuver instead:

https://docs.poliastro.space/en/latest/user_guide.html#changing-the-orbit-maneuver-objects

The Lambert problem is only useful when you know the initial position vector, the final position vector, the time of flight, and they are not collinear. If the vectors are collinear, infinite solut

[2018-11-15 20:34] Tarlan0001 commented on #492
I can't use Hohmann transfer, because the second orbit is not circular.
If the perigees are the same, is it OK just to find the difference in velocities on perigee as a DV?

[2018-11-16 17:10] Juanlu001 commented on #492
That would be one possibility. In Hohmann, the intermediate transfer orbit is not circular either.

Yes!

[2018-11-20 07:24] Tarlan0001 opened #496 "Multiple revolutions lambert solution"
I'm using the `izzo.lambert` function to solve the lambert problem. Trying to implement the multirevolution solution, taking the transfer time from [1,100] days interval. I got
[code]

These are the vectors:
`r0=[-5396.060601014418, -2995.128313159499, -6223.416953125992] *u.km`
`r =[8916.202484966101, 18190.886121079544, 37797.86948723022] *u.km`

First orbit:
- apogee 8000
- perogee 600
- inc 64

[2018-11-20 12:29] shreyasbapat commented on #490
Yes. We may want to pass the `dark=True` parameter to OrbitPlotter*D.

[2018-11-20 13:31] Juanlu001 commented on #490
Thats right @AntoniiaK! Would you like to share that code or even contribute it to poliastro?

[2018-11-20 15:17] AntoniiaK commented on #490
I will be glad contribute to your project.

[2018-11-20 15:48] Juanlu001 commented on #490
@AntoniiaK awesome! Could you please send me an email (my address is in my GitHub profile) or ping me in the poliastro chat (https://riot.im/app/#/room/#poliastro:matrix.org) introducing yourself so I can lend you a hand with the first steps? :rocket:

[2018-11-20 22:06] jorgepiloto opened #497 "Ground Track Plotter"
🎯 **Objective**
Hi everyone,

I thought it would be interesting to include a "Ground Track Plotter" in the module of `poliastro.plotting`. It works in the same way as the other functions of this module: you just have to call a function called `groundTrack`that takes as arguments an `orbit`, `label`with the possibility of using the `dark` mode.

🖥 Previous figure tries to plot the following orbit:

[2018-11-21 14:31] Juanlu001 commented on #497
Hi @IngenieroDeAviones, thanks a lot for the suggestion! I recommend you to check out this notebook of mine:

http://nbviewer.jupyter.org/github/Juanlu001/catching-asteroids-tracking-satellites/blob/master/Talk.ipynb#Plot-groundtrack

In particular, Cartopy will help you a lot projecting lat/lon data in the right way, avoiding all sorts of singularities.

Also, avoid basemap because it's abandoned

[2018-11-21 14:33] Juanlu001 commented on #496
Hi @Tarlan0001, sorry for the delay! In this case it's perfectly possible that there are no multi-revolution solutions for this particular case. You should check the maximum `M` that does _not_ give an error.

If you want to know more about the mathematical preconditions for a multi-revolution solution to exist, I recommend you this paper:

https://arxiv.org/pdf/1403.2705v2.pdf

This is not really

[2018-11-21 14:33] #496 closed

[2018-11-21 14:58] Tarlan0001 commented on #496
Is it possible, using poliastro, to get a more optimal trajectory, than via `izzo.lambert(Earth_k, r0, r, tof, M=0)`?

[2018-11-21 17:30] Juanlu001 commented on #496
@Tarlan0001 Just looking at a quick plot, it seems that the two orbits intersect:
![newplot 1](https://user-images.githubusercontent.com/316517/48858054-b61f3a80-edba-11e8-8e74-9978dd0b4877.png)
Therefore, you shouldn't need to perform a Lambert maneuver, and it fact using `lambert` here is dragging you because you are forced to select a specific point in the orbit.

In this case, I would try to (

[2018-11-21 19:34] Tarlan0001 commented on #496
Are you sure?

Single burn requires more than 2km/s impulse (the intersection is at 330 and 10 true anomaly).
However, lambert needs 1.5km/s (from 282 to 168 true anomaly in 270 minutes).

[2018-11-21 19:37] Juanlu001 commented on #496
Interesting. Can you share the code you are using to compute both costs? I guess you are sampling both orbits and computing the best pair for the Lambert transfer?

[2018-11-22 10:18] Juanlu001 commented on #496
I plotted your results and I just can conclude that you're right!

![index](https://user-images.githubusercontent.com/316517/48894915-2de57780-ee44-11e8-8bfe-e0b92dc9771e.png)

Several recommendations:

* You can use `from poliastro.util import norm` to compute the norm of vectors with units.
* Instead of your own `keplerian2cartesian`, you can do this:

[code]

And finally, if you want to try mor

[2018-11-22 11:40] Tarlan0001 commented on #496
Thanks for recommendations!

How did you plot this?
I tried, nothing happens..

[code]

[2018-11-22 12:19] IngenieroDeAviones commented on #497
Wow! That was exactly the idea I had on my mind! Hope to finish this night the #491 API Docs :notebook:  and start reading in detail all the information in previous links to complete this plotting enhancement :smile:

[2018-11-22 13:08] Juanlu001 commented on #496
If you try that from a script, you are missing this:

[code]

[2018-11-22 14:04] Tarlan0001 commented on #496
Just add this at the end? Now it doesn't show the graphs, only the coordinate system with labels.

[2018-11-22 14:11] Tarlan0001 commented on #496
Thanks!

[2018-11-23 00:38] IngenieroDeAviones commented on #497
Finally I was able to get a beautiful plot based on `cartopy` as @Juanlu001 suggested :+1: Next plot is a 24 hours track for the orbit satellite that I have simulated: :artificial_satellite:

![plot](https://user-images.githubusercontent.com/28702884/48924897-c835d180-eebd-11e8-85ad-880323855365.png)

However, it should be shifting towards West due to Earth's rotation. May this be a good starting

[2018-11-23 05:53] Juanlu001 commented on #497
That's right @IngenieroDeAviones, we will need proper frame support for this. To clarify, there is already an Earth-rotating frame: [ITRF](). However, what we need in poliastro is two things (which can be done separately):

1. Allow the user to define an orbit in *any* reference frame #434. There are some notes in the wiki about that, but the most important thing is that we must ensure `Orbit.prop

[2018-11-23 05:54] Juanlu001 commented on #497
See also #429.

[2018-11-23 19:53] IngenieroDeAviones commented on #497
`Are you up to the challenge?` I am up for it, Sir! :smile: I will try to work on #434 from now on, but before, I did the following:

To transform a `GCRS frame orbit` (after being propagated) into `ITRF frame orbit`:

[code]

However, I got this plot:

![plot_1](https://user-images.githubusercontent.com/28702884/48958694-2667c080-ef61-11e8-932b-194c4ff1796a.png)

A closer look:

![plot_2](https:/

[2018-11-24 10:39] Juanlu001 commented on #497
That orbit is a bit low, isn't it? The position vector suggests that you
didn't take the Earth radius into account 😉

On Fri, 23 Nov 2018, 20:53 Jorge Martinez <notifications@github.com wrote:

[2018-11-26 06:48] Juanlu001 opened #499 "Investigate warnings in tests"
There are some warnings in the tests that either should not be there because we are doing something wrong or can be totally ignored. They add noise and can confuse users:

https://github.com/poliastro/poliastro/issues/431

We should investigate what's going on there, and eventually suppress them.

[2018-11-26 06:49] #431 closed

[2018-11-26 07:12] Juanlu001 opened #500 "Patched conics should be in poliastro.threebody"
This module has been growing in an organic way and now requires some organization.

[2018-11-26 18:23] piscisvolans commented on #156
Hi all, since the discussion about porkchop plots seems to be ongoing, I wanted to mention that I have also written a porkchop-plotter based on poliastro. It can generate porkchops between two solar system bodies (e.g., Earth and Mars) or between two arbitrary poliastro Orbit objects (implemented specifically to look at targets for deep-space rideshare missions with smallsats). I've used it with t

[2018-11-26 18:31] Juanlu001 commented on #156
Hi @piscisvolans, thanks a lot for chiming in! Of course there is interest :grin: It doesn't even have to start as a pull request to poliastro, but it would be great to see it. Not sure about what timing you are talking about, but as the Zen of Python says, `late is better than never`!

[2018-11-26 18:31] Juanlu001 commented on #156
Hah, `*now is better than never`, I was too enthusiastic :)

[2018-11-28 17:33] AntoniiaK commented on #482
Hello. I repeated your example and I see that legends looks like in first post in second picture. May be little tuning will be better?
![legend](https://user-images.githubusercontent.com/45198538/49170296-d74cd180-f34c-11e8-9b26-5abc6a5c9962.jpg)

[2018-11-28 20:58] Juanlu001 commented on #482
Hi! Instead of `Time.now()`, can you try to reproduce with `Time("2018-11-02 04:57:00", scale="tdb")`, which is the original date when I found this?

[2018-11-28 21:11] AntoniiaK commented on #482
Yes I can.
![legend2018](https://user-images.githubusercontent.com/45198538/49182447-5e10a700-f36b-11e8-9e3c-a981b998bdda.jpg)

[2018-11-29 12:40] Juanlu001 commented on #490
Good catch! Closing

[2018-11-29 12:40] #490 closed

[2018-11-29 13:40] Juanlu001 commented on #482
Interesting... Well, that makes everything more problematic because it's not even deterministic, or there is some other factor that we are not taking into account. Perhaps a new matplotlib release.

In any case, the root cause seems to be that, by default, the legend is placed in a more or less automatic fashion (`loc="best"`), and I found that changing that fixed the issue for me:

[code]

@Anton

[2018-11-29 13:42] astrojuanlu opened #501 "Use sphinx-gallery for the examples"
sphinx-gallery has some interesting features:

* It turns scripts into notebooks, reducing the burden in version control and helping maintainability
* It arranges thumbnails nicely
* It has some Binder support

We should look into migrating the current examples to using that.

[2018-12-01 20:12] #482 closed

[2018-12-05 19:50] shreyasbapat commented on #448
So, we will have just one test script for all the OrbitPlotters or Plotly OrbitPlotters?

[2018-12-06 20:42] Juanlu001 commented on #448
On second thought, let's leave this one because I will try to do the plotting refactor over the winter holidays, and we might repeat work unnecessarily.

[2018-12-09 06:50] #492 closed

[2018-12-09 06:51] Juanlu001 commented on #492
These issues will be fixed in the next poliastro release. Thanks for reporting!

[2018-12-09 06:52] Juanlu001 commented on #495
The first two have been addressed in #505.

[2018-12-09 06:52] Juanlu001 commented on #472
Also #505.

[2018-12-09 06:52] Juanlu001 commented on #472
Thinking of a bugfix release before the end of the year.

[2018-12-14 16:33] AntoniiaK commented on #476
Hello!
Do you want remove these exceptions
[code]

And get:
![plar](https://user-images.githubusercontent.com/45198538/50015027-956f8c80-ffd6-11e8-891c-554222790c9a.jpg)

[2018-12-14 21:17] Juanlu001 commented on #476
@AntoniiaK rather than removing them, I was thinking of chaning this code:

https://github.com/poliastro/poliastro/blob/d5d0ad1218c075b0d007e9d386f52dc628419f51/src/poliastro/twobody/orbit.py#L351-L362

Into something like:

[code]

so we can still raise an appropriate error when the user tries to get a frame that is not implemented yet.

[2018-12-16 13:05] Juanlu001 commented on #476
Closed in #506.

[2018-12-16 13:05] #476 closed

[2018-12-16 13:05] Juanlu001 commented on #472
Also #506.

[2018-12-22 05:47] hrishikeshgoyal commented on #434
Hi.. I am interested in looking into this.

[2018-12-22 08:44] shreyasbapat commented on #435
What does this exactly mean?

Is it like we document the Orbit API somehow? Adding a file in the documentation regarding the `Orbit` module or some changes with the code are needed?

[2018-12-22 08:49] shreyasbapat commented on #501
Does sphinx gallery does not support plotly?
It's not clear in their documentation.

Sphinx
Matplotlib
Pillow

Seaborn
Mayavi

[2018-12-22 12:59] Juanlu001 commented on #435
Try to do

[code]

There are some properties, but only a few of them.

Also, that's why Sphinx does not know about `Orbit.a`, `Orbit.ecc`...

[2018-12-22 13:04] Juanlu001 commented on #501
I don't know :)

https://github.com/sphinx-gallery/sphinx-gallery/issues?utf8=%E2%9C%93&q=plotly

If you are interested, maybe you can try.

I prefer not to, to be honest. Either we move all of them, we add plotly support to sphinx-gallery, or we stay like this.

[2018-12-23 11:12] Juanlu001 commented on #434
Hi @hrishikeshgoyal, thanks for your interest! All the information is in the wiki and the issue itself. Where do you plan to start?

[2018-12-25 02:19] hrishikeshgoyal commented on #434
Hi @Juanlu001, I am new to astrodynamics.. so first exploring some related concepts.. Is there a prescribed book, blog and/or website which can help me in wrap up this?

[2018-12-25 06:37] shreyasbapat commented on #434
You can follow a book titled "Orbital Mechanics for Engineering Students"

[2018-12-25 12:08] IngenieroDeAviones commented on #156
Happy Christmas, everyone!!! :santa: :christmas_tree: :gift:

I am trying to write a pork-chop that plots the necessary deltaV. For the moment I am just computing de solution to Lambert's problem for each possible time combination, however got some python exceptions.

If anyone has an idea on how to deal with these exceptions or build the algorithm I would appreciate.

Best regards :smile:

[code]

[2018-12-25 22:14] shreyasbapat opened #507 "Is this a broken test?"
🐞 **Problem**
This test(which is parametrized) doesn't really seem to be parametrized.
[code]

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

Maybe change

[2018-12-26 09:35] Juanlu001 commented on #507
You refer to this test (use the "Copy permalink" option):

https://github.com/poliastro/poliastro/blob/72eff1bc42d4c5f1b3b58caab40367b0c45639e9/src/poliastro/tests/tests_twobody/test_orbit.py#L333-L345

Using the "Blame" view on GitHub I found that it was introduced in this commit:

https://github.com/poliastro/poliastro/commit/a09024470e218ae3c32c8615b92728117bffa8fd#diff-7c169630b1f7e9c70aaba5df

[2018-12-26 09:49] Juanlu001 opened #509 "Consider switching to tox for running the tests"
I added tox to poliastro a long time ago (https://github.com/poliastro/poliastro/commit/e33186caa19c814d9ce7a68fd0271eb74e083878) despite all the problems when we had Fortran extensions (https://github.com/poliastro/poliastro/issues/12), and then I removed it because we started using conda in our Continuous Integration (https://github.com/poliastro/poliastro/commit/26d6ed01e97e7e88c207cf460539894e

[2018-12-26 10:14] Juanlu001 commented on #156
Merry Christmas @IngenieroDeAviones! Those Python exceptions are from cases where the algorithm didn't converge, but there might be some genuine failures in our implementation. The best thing is just pass them, for now. There _might_ be smarter sampling strategies but I would start from the simple one as you are doing.

[2018-12-26 10:37] Juanlu001 commented on #419
This only makes sense if we use flit, so this is blocked on #252, which is closed until further notice.

[2018-12-26 10:37] #419 closed

[2018-12-26 10:44] Juanlu001 commented on #98
Let's wait until manylinux2010 support is complete (https://github.com/pypa/manylinux/issues/179), and PyPy starts producing their own wheels (this is explicitly mentioned in the sprint they will have in February, see https://morepypy.blogspot.com/2018/12/pypy-winter-sprint-feb-4-9-in-dusseldorf.html).

[2018-12-26 10:54] Juanlu001 commented on #501
On behalf of @shreyasbapat: https://github.com/sphinx-gallery/sphinx-gallery/issues/441

[2018-12-26 11:31] Juanlu001 commented on #299
Also, regarding an older comment:

This is generally true for Jupyter widgets, which are meant to be run in the notebook. So perhaps it's not that important, and we can _just_ capture the resulting output using software like [Kazam](https://launchpad.net/kazam) or similar, as I've been doing for some time.

[2018-12-26 11:43] Juanlu001 commented on #313
Just to clarify: astroquery is now the blessed way of accessing online astronomical data, including Horizons.

[2018-12-26 11:53] Juanlu001 commented on #338
After careful consideration, I think we should throw away the idea of unifying an unified interface for both backends, and focus instead of **using Plotly to offer a 2D & 3D, interactive, notebook-first plotting experience**, while leaving matplotlib for static, 2D plots. Some reasons:

* matplotlib is special-cased everywhere in Jupyter/IPython, and the logic that shows the figure is very difficu

[2018-12-26 12:04] Juanlu001 commented on #338
By the way, this is no longer blocked.

[2018-12-26 16:01] Juanlu001 commented on #472
And also https://github.com/poliastro/poliastro/pull/470/.

[2018-12-26 16:38] shreyasbapat commented on #507
Will keep in mind :)

[2018-12-27 00:48] Juanlu001 commented on #472
Closed in #512!

[2018-12-27 00:48] #472 closed

[2018-12-27 08:01] astrojuanlu opened #514 "New orbit creation methods"
Ideas:

* [x] Heliosynchronous orbits
* [x] Frozen orbits
* [x] Geosynchronous orbits
* [x] Geostationary orbits

Some of these need extra planetary parameters, such as J2.

[2018-12-27 08:07] Juanlu001 opened #516 "Improve GitHub templates"
Just discovered this:

* https://help.github.com/articles/about-issue-and-pull-request-templates/
* https://help.github.com/articles/creating-issue-templates-for-your-repository/

This would be extremely useful to separate bugs, support requests, ideas...

They would be placed in `.github/ISSUE_TEMPLATE/blabla.md`, as seen in [this test pull request](https://github.com/poliastro/poliastro/pull/515

[2018-12-27 17:53] hrishikeshgoyal commented on #456
@Juanlu001  I would like to get started with this as seems like it should not need much poliastro insights.

[2018-12-27 20:02] Juanlu001 commented on #500
Closed in #517

[2018-12-27 20:02] #500 closed

[2018-12-27 21:01] Juanlu001 commented on #456
All yours @hrishikeshgoyal! You have to bear in mind that this part of poliastro is probably not very well tested, so apart from the change itself (changing two lines of code) I would expect some sort of test as well :)

[2018-12-28 03:01] hrishikeshgoyal commented on #456
Yes, absolutely.

[2018-12-28 03:41] hrishikeshgoyal commented on #456
@Juanlu001  As per the `numpy.interp` [doc](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.interp.html), it returns **an array of interpolated values**.

But we need a **callable function**(needed [here](https://github.com/poliastro/poliastro/blob/ee41c682fdb5ab20aa01c3c42ab946550071b886/src/poliastro/tests/tests_twobody/test_perturbations.py#L352) and next passing that to `cowe

[2018-12-28 03:49] hrishikeshgoyal commented on #456
Additionally, we need cubic interpolation(kind='cubic'), but numpy.interp doesn't seem to support that.
https://github.com/poliastro/poliastro/blob/ee41c682fdb5ab20aa01c3c42ab946550071b886/src/poliastro/ephem.py#L32

[2018-12-28 11:32] Juanlu001 opened #518 "Trajectories are not redrawn when the frame is changed"
🐞 **Problem**

When `OrbitPlotter.plot_trajectory` is used and then the frame is changed, the orbits are redrawn but the trajectories aren't.

Compare:

[code]

with

[code]

| Without `set_frame`                                                                                                      | With `set_frame`

[2018-12-28 12:04] Juanlu001 commented on #338
Current ideas: https://github.com/poliastro/poliastro/wiki/Plotting I'm happy enough to start implementing in the coming days.

[2018-12-28 21:09] Juanlu001 commented on #463
Fixed in #491 for the moment. We can think about further reorganization later. Thanks @IngenieroDeAviones!

[2018-12-28 21:09] #463 closed

[2018-12-29 18:56] Juanlu001 commented on #465
Hi! One by one:

Yes!

Correct!

In principle I don't think we need new methods in `poliastro.core`. A new `Orbit.propagate_to_anomaly` will be needed though.

[2018-12-30 05:35] hrishikeshgoyal commented on #514
@Juanlu001  I'd like to start with Geosynchronous and Geostationary orbits.

[2018-12-30 15:34] Juanlu001 commented on #313
I'm inclined towards adding a new `from_horizons` method to `poliastro.twobody.Orbit`.

[2018-12-31 15:31] Juanlu001 commented on #313
Closed in #519.

[2018-12-31 15:31] #313 closed

[2019-01-01 11:49] shreyasbapat commented on #518
Adding  a trajectory list is enough?

[2019-01-01 11:55] Juanlu001 commented on #518
Should be!

[2019-01-01 18:12] shreyasbapat commented on #518
There might be two solutions to this:
1) Renaming `orbits` list and moving it to plot_trajectory completely
2) Adding an extra Parameter in plot_trajectory which checks if it is being called independently or inside `OrbitPlotter,plot`

What do you suggest?

[2019-01-02 20:03] Juanlu001 commented on #518
Don't like it :)

[2019-01-02 22:49] ndl303 opened #525 "polioastro.testing fails."
conda install worked. But the test procedures failed (see below for .

* `conda info -a` (only if you have conda)

(C:\Users\ndl303\AppData\Local\Continuum\Anaconda3) C:\Users\ndl303>conda info -a

     active environment : base
    active env location : C:\Users\ndl303\AppData\Local\Continuum\Anaconda3
       user config file : C:\Users\ndl303\.condarc
 populated config files : C:\Users\ndl303\.c

[2019-01-02 22:52] ndl303 commented on #525
Sorry I somehow lost the output of python -c "import poliastro.testing; poliastro.testing.test()". Here it is

============================= test session starts =============================
platform win32 -- Python 3.6.7, pytest-3.1.1, py-1.4.32, pluggy-0.4.0
rootdir: C:\Users\ndl303, inifile:
plugins: arraydiff-0.3, doctestplus-0.1.3, openfiles-0.3.1, remotedata-0.3.1
collected 477 items

AppDat

[2019-01-03 09:56] Juanlu001 commented on #525
Hi @ndl303, thanks for trying poliastro out! Let me explain the final line:

[code]

The "xfail" and "xpass" tests are not actually failures: the former are tests that were expected to fail, and the latter is a test that passed (but was expected to fail, so we should investigate). Therefore, all went fine :rocket:

I am closing this issue, feel free to open a new one if you find more problems!

[2019-01-03 09:56] #525 closed

[2019-01-03 11:35] Juanlu001 opened #526 "Compute Hill radius"
We have a function to compute the Laplace sphere of influence:

https://github.com/poliastro/poliastro/blob/master/src/poliastro/threebody/patched_conics.py

After #524 was opened, I think it would be nice to add a function to compute the Hill sphere of influence as well.

Other ideas:

* Document the differences between the two
* Rename `patched_conics.py` to `soi.py`
* Rename `compute_soi` to `l

[2019-01-03 19:20] Juanlu001 commented on #514
Related: #526

[2019-01-03 19:20] Juanlu001 commented on #514
Geostationary orbits were added in #524. It would be nice to extend that method to allow for geosynchronous orbits as well.

[2019-01-03 23:17] Juanlu001 commented on #477
Fixed in #527

[2019-01-03 23:17] #477 closed

[2019-01-04 11:47] Juanlu001 commented on #518
I'm in the process of refactoring the whole plotting module, so I will take care of this myself.

[2019-01-04 16:41] piscisvolans commented on #156
@IngenieroDeAviones Happy New Year! I've had success getting fewer exceptions using the Izzo Lambert solver rather than the Vallado solver. I'm not sure if that's because the Izzo solver converges better or because it just reports bogus solutions rather than raising an exception... but you may want to give it a try:

`from poliastro.iod.izzo import lambert`

[2019-01-04 17:02] Juanlu001 commented on #156
@piscisvolans That's interesting! If you have the time, we would appreciate if you can open an issue with a case where Vallado fails and Izzo doesn't :grin:

[2019-01-04 23:06] ndl303 opened #529 "Difficult to install poliastro on Windows 7, 64 bit, Anaconda python 3.6"
<!--

WELCOME ABOARD!

Hi and welcome to the poliastro project. We appreciate bug reports, questions
about documentation, and suggestions for new features.

IMPORTANT: If you are reporting a problem with poliastro, please follow the
template below. If it's a suggestion, a possible new addition to the library,
or just want to say "Thank you!", you can remove all this text and start
from scratch.

H

[2019-01-04 23:16] ndl303 commented on #529
Sorry, looks like the text of my issue did not make it for some reason,

I am struggling to install poliastro on WIndows 7 64 bit Anaconda python 3.6. Following instructions in manual

(C:\Users\ndl303\AppData\Local\Continuum\Anaconda3) C:\Users\ndl303>conda install poliastro --channel conda-forge
Fetching package metadata ...............
Solving package specifications:

PackageNotFoundError: Depe

[2019-01-04 23:38] Juanlu001 commented on #529
Hi @ndl303, sorry for the trouble! I tried to do a `conda search` and I don't see how it's not available on Python 3.6 for win-64:

[code]

I can try to recreate an Anaconda environment on Windows when I have better connectivity next Monday.

In the meanwhile, could you please

* Paste the output of `conda info --all` and
* Try `pip install poliastro` instead?

[2019-01-04 23:43] Juanlu001 commented on #529
I think I understand what might be going on here. conda-forge does not publish Windows packages, only Linux and OS X. However, I would still expect conda to use the defaults channel for them. Please provide the output of `conda info --all` so I can better understand what's the problem.

[2019-01-06 07:34] shreyasbapat commented on #364
Step 1: https://github.com/astropy/astroquery/pull/1325

[2019-01-06 11:56] Juanlu001 commented on #460
I took an alternative route, which is passing a `Figure` or `FigureWidget` to the plotter and let the user customize what they want. Progress in #528.

[2019-01-06 21:09] danlub commented on #529
I've tried to reproduce this in Windows 10 64 bits, but I had no problems

No problems creating a new environment with `conda create --name poliastro python=3.6`
Then, `activate poliastro`
Finally, I ran `conda install -c conda-forge poliastro` and got no problems during the install.

This is the output of `conda list`:
[code]

As you can see, most of the packages come from `conda-forge`

Hope thi

[2019-01-06 21:20] ndl303 commented on #529
Hi Daniel,
  Thanks for the quick response. I agree that this does not look like a poliastro issue. It seems like the installation of poliastro has uncovered some weakness in my conda/python installation. I’ll look into it further, try a new environment and possibly read more details about conda. The conda list you used will definitely be helpful.

Thanks for the help
Nick Lloyd

From: Daniel Lubi

[2019-01-07 15:43] redsharpbyte commented on #529
Ok just for supplementary information.

 * Setup
Win7 + Python 3.6 + environment initialized with virtualenv + no compiling toolchain

 * This worked
pip install poliastro

Good luck with your conda env @ndl303

[2019-01-07 17:14] #338 closed

[2019-01-07 17:14] #448 closed

[2019-01-07 17:14] #460 closed

[2019-01-07 17:14] #480 closed

[2019-01-07 17:14] #483 closed

[2019-01-07 17:14] #518 closed

[2019-01-07 17:22] Juanlu001 opened #530 "Plotly FigureWidget plots do not show in docs"
...There we go again :sob:

https://docs.poliastro.space/en/latest/jupyter.html

[2019-01-08 15:55] shreyasbapat opened #531 "Plotting module lacks documentation"
https://docs.poliastro.space/en/latest/api/safe/plotting.html
This is completely empty!
🐞 **Problem**

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **P

[2019-01-08 19:21] Juanlu001 commented on #530
Only one JS library missing :wink:

[2019-01-09 02:10] Juanlu001 commented on #455
Some progress: https://github.com/scipy/scipy/pull/9290#issuecomment-452545486

It will still take some time, but now I feel we are closer.

[2019-01-09 05:14] himanshuc3 commented on #117
Hi Juanlu. I want like to make a proposal for this issue. I am an aspirant in GSOC and would also further like to remain a long term contributor after GSOC finishes and help with improving the project.

[2019-01-09 10:44] Juanlu001 commented on #117
Hi @himanshuc3, thanks for your interest in poliastro! Apart from a proposal, OpenAstronomy requires that students make one meaningful pull request to the project. Please take a look at the list of "good first issues" :)

What I would expect from a proposal for this particular issue is:

* Clear understanding of the cesium-dev thread and its implications
* An incremental plan that can quickly prod

[2019-01-09 17:58] Juanlu001 opened #534 "Consider replacing NEOWS with astroquery"
Ref: https://github.com/astropy/astroquery/pull/1325#issuecomment-452765939

Documentation: https://astroquery.readthedocs.io/en/latest/jplsbdb/jplsbdb.html

If all the examples in the [User Guide]() and the NEOS notebook work, with the SBDB interface, that would be great! Otherwise, there's a case for a certain degree of overlap and duplication in astroquery.

[2019-01-09 18:54] Juanlu001 commented on #534
At first I felt bad about @anhiga work, but then I realized that it predated astroquery implementation by one year. We are pioneers :wink:

[2019-01-09 20:22] Juanlu001 commented on #434
That's exactly the case of the geostationary orbits you introduced in #524 :wink:

There is no "orbit" in the sense that, in a non-inertial frame, it would not be a Keplerian orbit (a conic section), but stuff would revolve around the Earth no matter what reference frame we use to look at it.

What we want to achieve is to simplify the use case presented in https://github.com/poliastro/poliastro/i

[2019-01-10 17:20] hrishikeshgoyal commented on #434
The way I can think of right now to solve this is that first transform the given parameters into an inertial reference frame centred at attractor and then create the orbit as usual and also always use that frame to plot the orbit(irrespective of what frame user has used).

[2019-01-15 00:28] astrojuanlu opened #537 "Explore other higher order ODE methods"
According to DifferentialEquations.jl benchmarks, Verner "most efficient" methods (http://doai.io/10.1007/s11075-009-9290-3) are more efficient than Dormand-Prince 8(5,3) (`dop853`) while also being pure tableau methods, which means that they are easier to implement:

https://github.com/JuliaDiffEq/DiffEqBenchmarks.jl/tree/master/benchmarks/NonStiffODE

* See conversation: https://gitter.im/JuliaD

[2019-01-15 10:06] Juanlu001 commented on #526
Fixed in #533.

[2019-01-15 10:06] #526 closed

[2019-01-15 10:33] Juanlu001 commented on #424
@shreyasbapat Maybe! Does it work with trunk-based development?

![Trunk-based development](https://uploads.toptal.io/blog/image/124319/toptal-blog-image-1507018418276-5236f6ebfd31c78b442562d4d202763c.png)

[2019-01-15 10:41] shreyasbapat commented on #424
Not sure about that. Will check and let you know.
If [this](https://github.com/pypa/setuptools_scm) suppports trunk-based development, I can go with that!

[2019-01-15 10:49] Juanlu001 commented on #424
The problem I have with setuptools_scm is... setuptools. In an ideal world, we would migrate to something like [flit](https://github.com/takluyver/flit) sooner or later (perhaps when pip shows proper PEP 517 support and flit supports `src/` directories, or someone forks it), so I'd prefer not to rely on that. On the other hand, if all the versioning hacks out there depend on setuptools, then there

[2019-01-15 18:11] IngenieroDeAviones commented on #537
I will start working on this tomorrow afternoon. I found a book called `Numerical Analysis` by `Richard L.Burden`. It has the Verner-8 algorithm written down and includes a small pseudo-code for a similar algorithm. In fact, coding the Verner-8 is the proposed exercise 4 of chapter 5.5.

[2019-01-17 16:56] shreyasbapat opened #542 "Download progress is not shown in DASTCOM5"
🐞 **Problem**
The download progress is not shown in DASTCOM5 while running `dastcom5.download_dastcom5()` .

Instead, a long whitespace is shown.
![screenshot from 2019-01-17 22-19-15](https://user-images.githubusercontent.com/24257914/51334538-04447780-1aa6-11e9-91ad-03ea696385f2.png)

This makes the function:
https://github.com/poliastro/poliastro/blob/master/src/poliastro/neos/dastcom5.py#L545-

[2019-01-17 17:31] shreyasbapat commented on #364
Step 2: astropy/astroquery#1339

[2019-01-17 21:07] Juanlu001 commented on #537
Tracking in #541.

[2019-01-18 10:41] Juanlu001 commented on #529
Hi @ndl303, did you manage to install poliastro? Unless you confirm this is a bug on our side, I will close this issue in a few days.

[2019-01-18 18:46] framaggi55 opened #544 "Install test failed on windows 10 workstation after Appveyor successful installation"
Hi!
Could you help me?
I'm an astrophile especially interested in the mechanics of the solar system.
I have studied Jean Meeus' texts, and now I'm trying  to update the software I had previously written in Basic according to his texts...
You can answer, too, @my address: francesco.maggiore6@tin.it
Thank you!

🐞 **Problem**
================================== FAILURES ===============================

[2019-01-18 20:01] Juanlu001 commented on #544
Salve @framaggi55, grazie per usare poliastro!

(Back to :gb:) I did not quite understand the problem since you didn't include the full output of the tests, but I think you have actually installed poliastro properly. The only issue I see is that there's a floating point difference of about 1e-16 from the expected value. The root cause is probably that you are using MKL and I always use OpenBLAS, b

[2019-01-18 20:13] Juanlu001 commented on #434
Aswering to @hrishikeshgoyal comment [here](https://github.com/poliastro/poliastro/pull/439#issuecomment-455647009):

This would work, but I don't see the need of storing a second frame. I didn't think about this in depth yet, but wouldn't it be easier to retrieve the inertial frame on the fly when it's needed?

[2019-01-19 17:06] Juanlu001 commented on #544
Hi @framaggi55, glad to see everything is working! OpenBLAS and MKL are different implementations of low level linear algebra functions that NumPy uses. The former is open source, the latter is faster :) So you are free to choose either, but it impacts the installation of NumPy and everything that depends on it. I would not worry too much.

Feel free to open a new issue if you need more support us

[2019-01-19 18:00] hrishikeshgoyal commented on #434
hmm.. if I have understood this correctly.. Is that like self._frame is supposed to store the frame specified by the user and we don't need to store inertial frame centred at attractor?

[2019-01-19 20:40] Juanlu001 commented on #434
I don't see the need of storing two frames, but if you think it's better, then go ahead and let's discuss over the code.

[2019-01-21 20:11] davepitch opened #545 "IMPORT ERROR"
🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</details>

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started work

[2019-01-21 20:32] davepitch commented on #545
Hi, bear with me...I'm a newbie.....
I typed:
import matplotlib.pyplot as plt

plt.ion()

from astropy import units as u

from poliastro.bodies import Earth, Mars,Sun
without problems. Then I typed:
from poliastro.twobody import Orbit and got the following:

Traceback (most recent call last):

  File "<ipython-input-7-a9ba3797d19a>", line 1, in <module>
    from poliastro.twobody import Orbit

  F

[2019-01-21 20:35] Juanlu001 commented on #545
Of course! :slightly_smiling_face: sorry if I sounded too harsh. I took the libery of editing your comment for formatting.

It seems that you have some sort of installation problem with SciPy: if you try `from scipy.integrate import solve_ivp`, you would see the same error.

Can you paste the output of `conda list` and `conda info --all` so we can know a bit more about your environment?

[2019-01-21 21:04] davepitch commented on #545
(base) C:\Users\dapit>conda list
# packages in environment at C:\Users\dapit\Anaconda3:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                   py37_0
anaconda                  4.3.1               np111py36_0
anaconda-client           1.7.2                    py37_0
anaconda-navigator        1.9.6                    py37_0
anaconda-pr

[2019-01-21 21:36] Juanlu001 commented on #545
@davepitch this is my attempt!

1. Uninstall it using Windows "Add or Remove Programs" or "Uninstall a program"
2. Restart the computer
3. Make sure there is nothing in `C:\Users\dapit\Anaconda3\`, `C:\Users\dapit\.conda\` and `C:\Users\dapit\AppData\Local\conda\`, and otherwise remove those directories
4. Install Anaconda again
5. From now on: don't install packages in the `base` (also known as `

[2019-01-22 23:45] IngenieroDeAviones commented on #429
After a deep reading on how Orbit class inherits from BaseState and the different methods and attributes it contains, I decided to start working on this. I thought it would be useful to have a method called 'to_icrs()' that converts orbit in GCRS and returns it into ITRS.

Following the procedure above I ended up with the following code:

[code]

This function seems to work, but the problem comes

[2019-01-23 10:16] Juanlu001 commented on #429
Hi @IngenieroDeAviones, thanks for looking into this! The problem is here:

[code]

You are transforming to `ITRS(obstime=orbit.epoch)`, but then doing `frame=ITRS()` at the end. You should be consistent and use the same frame.

On the other hand, what would be the expected result of this?

[code]

?

[2019-01-23 11:58] IngenieroDeAviones commented on #429
Oh, it is true! Sorry for the error, this should be the code for the return:

[code]

I added the conversion from ICRS to ITRS in the same function for the proposed case, which can be used as a test, since position for Earth in ITRS should led {0, 0, 0}. However got this error:

[code]
The code for this conversion is:

[code]

[2019-01-23 15:34] Juanlu001 commented on #429
That's because ICRS has a fixed definition that does not depend on the time of observation :) Further reading in https://github.com/poliastro/poliastro/wiki/Reference-frames#links

[2019-01-24 18:58] framaggi55 opened #546 "Poliastro installation in Anaconda3 environment under Windows 10"
Hi everybody!
in a precedent issue (#544) I wrote about some problems in Poliastro's testing. I have a Windows 10 workstation, where I installed as first the Anaconda3 ecosystem. Testing the program after the installation I have hade some discrepances, and Juan Luis replied to me writing "there's a floating point difference of about 1e-16 from the expected value. The root cause is probably that yo

[2019-01-24 20:51] shreyasbapat commented on #451
Can you specify which module is?

[2019-01-25 09:47] Juanlu001 commented on #546
Salve @framaggi55!

Perhaps the key is that I am mostly using packages from [https://conda-forge.org/](conda-forge). conda-forge is a "community channel" for conda packages: they focus on reproducible builds, and have a highly sophisticated automated process for anybody to contribute conda packages. NumPy from conda-forge is compiled against OpenBLAS by default, which as you can see is available i

[2019-01-25 11:43] framaggi55 commented on #546
Hi, Jan Luis!
so as I had imagined, you're using an operating system other than Windows 10...
Do you think I haven't tested all the passages you mentioned, before to open a new issue? ;-)
The fact is that for Windows environment, at this moment, there is NO scipy version available in conda-forge! Don't you believe me? Try to read here: https://github.com/conda-forge/scipy-feedstock.
In addition, a

[2019-01-25 14:21] Juanlu001 commented on #546
Oh, you're right! I forgot about that...

Well, then we have no option than waiting for the brave conda-forge developers to fix the scipy feedstock. And yes, accept MKL at least for now.

Yes, I'm a Linux advocate :)

Should we close this issue then?

[2019-01-25 15:46] Juanlu001 commented on #451
@shreyasbapat it's this one https://github.com/poliastro/poliastro/blob/master/src/poliastro/coordinates.py

[2019-01-25 21:41] framaggi55 commented on #546
Yes, Juan Luis, we can close the issue... could I hope, however, to find some other madman who, like me, is trying to use Poliastro under Windows 10, to have someone to compare?!? ;-)

[2019-01-25 21:48] Juanlu001 commented on #546
Those are rare :stuck_out_tongue_closed_eyes: but my recommendation is to [ask in our chat](https://riot.im/app/#/room/#poliastro:matrix.org)!

[2019-01-25 21:48] #546 closed

[2019-01-26 21:12] Juanlu001 commented on #156
@IngenieroDeAviones implemented this in #547 - here there are some screenshots :wink: Hope they end up in the documentation soon.

https://twitter.com/poliastro_py/status/1088546275711246337

You are more than welcome to give it a try!

[2019-01-26 21:12] #156 closed

[2019-01-27 04:18] jimmyz70 opened #548 "plotly requires ipywidgets. But this isn't captured in dependencies. Perhaps add to requirements?"
poliastro install on Mac OS X fails tests.  Traced to plotly depending upon FigureWidget.  This is found in ipywidgets.  Which doesn't get installed during poliastro install.  Can this be fixed simply by adding ipywidgets to requirements.txt?

Solution:
My solution was to use pip to manually install ipywidgets.
After that I still had to update matplotlibrc to use TKAgg since python isn't installed

[2019-01-27 11:19] Juanlu001 commented on #548
Hi @jimmyz70, thanks a lot for reporting this issue!

You are totally right: [plotly depends only on nbformat](https://github.com/plotly/plotly.py/blob/v3.5.0/setup.py#L288), which in turn [only depends on jupyter-core](https://github.com/jupyter/nbformat/blob/4.4.0/setup.py#L94).

From my understanding, in the same way that we don't want poliastro to depend on the Jupyter notebook explicitly (sin

[2019-01-27 11:20] Juanlu001 commented on #548
By the way, we don't use `requirements.txt` files so with your permission I will edit the issue title.

[2019-01-27 11:29] Juanlu001 opened #549 "Automate closing of support issues"
There are some users that ask for support in the issue tracker about installation problems or general usage of the library. That is perfectly fine, but if those issues don't come from a poliastro bug or propose an enhancement, they are handled in a different way: we iterate with the user, and if they don't respond we close it.

This process should be automatic. It would be great to have a bot some

[2019-01-27 11:33] Juanlu001 commented on #445
Idea:

We have `Orbit` objects, which represent an osculating orbit. Of course, they can be propagated with any propagator, including one that includes perturbations.

Perhaps we should have another type of object that follows a similar API than `Orbit`, but whose `propagate` method does a totally different thing and, for example, looks for external ephemerides.

[2019-01-27 11:36] Juanlu001 opened #550 "Fix ecliptic frames upstream"
We made some fixes to Astropy ecliptic frames in https://github.com/astropy/astropy/pull/6508, but there was an incomplete change of terminology that renders `HeliocentricTrueEcliptic` not really `True`, but `Mean`.

I committed to fix this some time ago, and it's time to do it now. I strive to make the fix effective before Astropy 3.2 feature freeze.

[2019-01-27 11:38] Juanlu001 commented on #550
Target date: April 19, 2019.

[2019-01-27 13:13] davepitch commented on #545
Juan,
Unfortunately I haven’t had any time to de-install and then re-install Anaconda, due to a business trip. I won’t be able to get back to this until Thursday, could you leave it open until then. Really need to fix it on Thursday though because I really need to use Poliastro for some launch mission analysis that I need to do...

Much thanks for your ongoing help...

Dave P

Get Outlook for iOS<

[2019-01-27 17:53] Juanlu001 commented on #435
It's not that simple:

https://github.com/poliastro/poliastro/blob/5dfc7a1715243a4a9130f63493d781b80e2a2cd9/src/poliastro/twobody/orbit.py#L689-L712

Properties are automatically generated to avoid making the users type `orbit.state.a`, `orbit.state.ecc`... But it's clearly a bad design that causes a lot of problems.

[2019-01-27 19:14] shreyasbapat commented on #435
Do you propose to change the design?

[2019-01-27 19:15] shreyasbapat commented on #451
Okay! On it!

[2019-01-28 00:49] Juanlu001 commented on #435
Details are in https://github.com/poliastro/poliastro/issues/370

[2019-01-28 00:50] Juanlu001 commented on #435
There _might_ be a way to fix this issue without changing the design though, but I am not aware of it.

[2019-01-28 00:52] Juanlu001 commented on #447
While reviewing this, I realized that perhaps we could take https://github.com/poliastro/poliastro/blob/master/src/poliastro/tests/tests_twobody/test_angles.py and replace `for` loops with `pytest.mark.parametrize`. And also remove this leftover `print`:

https://github.com/poliastro/poliastro/blob/5dfc7a1715243a4a9130f63493d781b80e2a2cd9/src/poliastro/tests/tests_twobody/test_angles.py#L121

[2019-01-28 00:55] Juanlu001 commented on #447
I don't see many places to _replace current tests_ with fixtures. I imagine we could think about cases to _improve_ or _expand_ the tests by testing more kinds of orbits, but I am not sure whether `pytest.mark.parametrize` would be more suitable to the task.

In fact, I am going to close this issue, because it's "a solution in search of a problem" and might push us in the wrong direction.

[2019-01-28 00:55] #447 closed

[2019-01-29 10:37] Juanlu001 commented on #370
@pablogsal it was not that difficult :) Feel free to comment on the result! #552

[2019-01-29 13:00] #499 closed

[2019-01-29 18:49] shreyasbapat commented on #549
Precisely this? https://github.com/probot/no-response

[2019-01-29 19:03] shreyasbapat commented on #549
I am testing the bot, and would create a PR and ask you to install a GitHub app tomorrow if everything works fine. :)

[2019-01-30 15:42] Juanlu001 commented on #549
Thanks @shreyasbapat! Yes, something like that. Didn't have time to review the links in depth, but if you find something interesting let me know. I think @IngenieroDeAviones was also giving this a look, coordinate so we don't duplicate efforts :)

[2019-01-30 15:59] Juanlu001 commented on #548
My idea is to provide a `pip install poliastro[jupyter]` that brings all the necessary stuff to work with poliastro in Jupyter notebook (and to a certain extent, JupyterLab).

[2019-01-30 19:46] shreyasbapat commented on #335
Do you think we would have to change things in our plotting module too?

[2019-01-30 23:41] Juanlu001 commented on #335
If http://docs.astropy.org/en/stable/api/astropy.coordinates.GeocentricTrueEcliptic.html is really the frame that we need, this is a non issue. But it would be nice to have a `OrbitPlotter2D.set_frame` that accepts a frame and knows what to do with it, instead of the horrible `Orbit.pqw()` that we use now. Don't remember if there's an issue for that.

[2019-01-31 05:13] shreyasbapat commented on #335
This system has its X axis towards the Sun and its Z axis perpendicular to the plane of the Earth's orbit around the Sun (positive North). This system is fixed with respect to the Earth-Sun line. It is convenient for specifying magnetospheric boundaries. It has also been widely adopted as the system for representing vector quantities in space physics databases.

While, `GeocentricTrueEcliptic` say

[2019-01-31 05:20] shreyasbapat commented on #335
Also, if I look at it more closely, I don't see a difference between the code of `class BarycentricTrueEcliptic(BaseEclipticFrame)` and `class GeocentricTrueEcliptic(BaseEclipticFrame)`

https://github.com/astropy/astropy/blob/master/astropy/coordinates/builtin_frames/ecliptic.py

[2019-01-31 05:56] shreyasbapat opened #557 "Allow passing frames in OrbitPlotter2D.set_frame()"
🐞 **Problem**

Currently, we can set frame by passing *Orbit.pqw() in set_frame which is not user friendly and not intuitive.

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</det

[2019-01-31 08:13] Juanlu001 commented on #380
After the refactors in #555 the velocity is returned as part of `poliastro.twobody.propagation.propagate` and `Orbit.sample`. The issue of easily sampling the elements necessarily needs #257, and with it everything would be solved. Therefore, I am renaming back to the original and closing.

[2019-01-31 08:16] Juanlu001 commented on #257
We don't really need validation of reference frames to do this: the _representation_ is contained in a _frame_, but can live independently.

[2019-01-31 08:21] shreyasbapat commented on #335
Also,  I think as of now, system of frames is very non intuitive in poliastro.  Also, there has to be some cooperation from the point of view of plotting module. We always plot the attractor at the center https://github.com/poliastro/poliastro/blob/master/src/poliastro/plotting/_base.py#L147-L149. But keeping in mind some frames have to have earth in center.

[2019-01-31 08:42] Juanlu001 commented on #434
Moving this to 0.12, as @hrishikeshgoyal is already tackling it.

[2019-01-31 08:44] Juanlu001 commented on #168
Taking care of `pip install poliastro[jupyter]` in #548 and removing my assignation from this more general issue.

[2019-01-31 08:44] Juanlu001 commented on #109
Removing my assignation from this issue, as someone might want to tackle it in GSOC.

[2019-01-31 11:41] Juanlu001 commented on #335
That's because the difference is in the transformation graph:

https://github.com/astropy/astropy/blob/master/astropy/coordinates/builtin_frames/ecliptic_transforms.py

[2019-01-31 11:44] Juanlu001 commented on #335
It's starting to form :) In fact, for the moment there are only two "planes", not even arbitrary frames.

Following up in #557, but I just remembered where the ideas were: https://github.com/poliastro/poliastro/wiki/Orbits-and-reference-frames#proposed-steps

True, and it's a mistake. The most paradigmatic example is orbits in ICRS, because the center is _not_ the Sun.

[2019-01-31 11:45] Juanlu001 commented on #557
Reminder: https://github.com/poliastro/poliastro/wiki/Orbits-and-reference-frames#proposed-steps

[2019-01-31 14:22] dragonlost opened #558 "Conda install problem"
Hello !

I tried to install poliastro on fresh anaconda / anaconda3.
When I run the command:
`conda install poliastro`
After adding conda-forge.

I get the following error message:
[code]

So I go through PIP which has been successful in installing poliastro.

[2019-01-31 14:38] Juanlu001 commented on #558
Hi @dragonlost, thanks for reporting this issue! I guess you are using the new conda 4.6? I'm not aware of any issues but perhaps our package spec is now wrong, I will check.

[2019-01-31 15:21] dragonlost commented on #558
yes i use conda 4.6.2.

Thanks for fix. I will watch tomorrow.

[2019-02-01 08:12] shreyasbapat commented on #335
So, where do I contribute the frame?

[2019-02-01 08:14] shreyasbapat commented on #335
I have to contribute methods to convert one frame to this one, as done here:
https://github.com/astropy/astropy/blob/master/astropy/coordinates/builtin_frames/ecliptic_transforms.py

[2019-02-01 09:48] dragonlost commented on #558
:(
I will go through PIP while waiting.

[2019-02-01 13:15] Juanlu001 commented on #335
Check out https://github.com/poliastro/poliastro/blob/master/src/poliastro/frames.py

[2019-02-01 20:01] Juanlu001 commented on #434
Closed in #554!

[2019-02-01 20:01] #434 closed

[2019-02-01 20:31] Juanlu001 commented on #429
Hi @jtegedor! With the change we just landed in `master`, thanks to @hrishikeshgoyal in #554, now you can do this (copying and pasting from your original example):

[code]

Hopefully, a bit easier. For your information, the orbit will be internally converted to ECI (GCRS). We will release poliastro 0.12 with this functionality in two weeks, but you can test it using `pip install git+https://github

[2019-02-01 20:31] #429 closed

[2019-02-02 10:54] Juanlu001 opened #559 "Release 0.12 checklist"
(From: https://github.com/poliastro/poliastro/wiki/HOWTO-Release - Next time let's have a template, see #516)

## Preparing the release

* [x] Rerun all notebooks (pay special attention to new features)
* [x] Review documentation, optionally improving the user guide or adding new notebooks showcasing new functionality
* [x] Write the changelog and list of contributors
  - Commits since last releas

[2019-02-02 12:13] #549 closed

[2019-02-03 09:57] shreyasbapat opened #560 "Plotly Figurewidget Not showing in JupyterLab"
🐞 **Problem**
Nor 2D nor 3D
![screenshot from 2019-02-03 15-19-41](https://user-images.githubusercontent.com/24257914/52175329-1291d380-27c8-11e9-848b-1b2bc096cfd1.png)

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastr

[2019-02-03 11:13] amsuhane commented on #542
I solved the issue into two ways:
* In the first way I have not used any additional library:
![final_self_bar](https://user-images.githubusercontent.com/35529737/52175947-c350a080-27d1-11e9-9a70-6cdde174a27e.png)
* In the second method I have used the tqdm library. The additional benefit in this method is that estimation time and download speed are also shown.
![final_4tqdm](https://user-images.gi

[2019-02-03 11:20] Juanlu001 commented on #560
Thanks for testing this @shreyasbapat! Can you please try with a simpler `FigureWidget` that does not use poliastro at all, so we figure out whether it's a problem of poliastro or your installation?

In particular, did you follow these instructions? https://github.com/plotly/plotly.py/blob/master/README.md#jupyterlab-support-python-35

[2019-02-03 12:38] amsuhane commented on #542
I have removed the ``_show_download_progress`` attribute from the dastcom5.py. Instead to show the progress I have used ``DownloadProgressBar`` class.
Due to this, the test test_dastcom5.py is failing. Should I also remove the ``dastcom5._show_download_progress`` test?

[2019-02-03 12:54] Juanlu001 commented on #550
In progress at https://github.com/astropy/astropy/pull/8394

[2019-02-03 17:55] shreyasbapat commented on #560
[code]

[2019-02-03 18:08] shreyasbapat commented on #542
Hi @amsuhane , I will be glad if you can directly contribute it here: https://github.com/shreyasbapat/astroquery/tree/dastcom
Thanks for your help! :)

[2019-02-03 18:18] shreyasbapat commented on #560
Also, @Juanlu001 when we close the notebook and open it again, a message like this shows up in place of the plots.

This is not a JupyterLab issue, but is annoying.

[2019-02-03 18:35] Juanlu001 commented on #560
Did you read the `plotlywidget` part?

Yes, I know... https://github.com/jupyter-widgets/ipywidgets/issues/1632#issuecomment-407321866

[2019-02-03 20:03] shreyasbapat commented on #560
That has to be documented somewhere!

Also, upgraded plotly. Combined both of the solutions and everything worked.

[2019-02-03 20:03] #560 closed

[2019-02-03 20:07] shreyasbapat commented on #337
https://github.com/plotly/plotly.py/blob/master/README.md#jupyterlab-support-python-35
This should also go somewhere!

[2019-02-03 20:33] Juanlu001 commented on #337
Isn't it already there?

https://docs.poliastro.space/en/stable/getting_started.html#using-poliastro-on-jupyterlab

[2019-02-03 20:34] Juanlu001 commented on #337
I mean... You added those! https://github.com/poliastro/poliastro/pull/459

[2019-02-03 20:36] shreyasbapat commented on #337
Not all of them :/
One that's not added: (Most Crucial)

# FigureWidget support
jupyter labextension install plotlywidget@0.7.0

[2019-02-03 20:38] shreyasbapat commented on #337
Moreover, there is nothing like plotly extension mentioned over there :/

[2019-02-03 20:39] Juanlu001 commented on #337
Oh, you're right! Perhaps the extension is outdated? In any case, reopening. All yours :)

[2019-02-04 06:19] shreyasbapat commented on #337
On it!

[2019-02-04 18:09] shreyasbapat commented on #542
Being tracked here : https://github.com/shreyasbapat/astroquery/pull/1

[2019-02-05 09:43] helgee opened #564 "Implicit assumption about range in `nu_to_E`/`E_to_nu`"
🐞 **Problem**

The code for transformations between eccentric and true anomaly implicitly assumes that
the input anomaly is in the interval `[-pi, pi]`.

🎯 **Goal**

Provide a more robust formulation that also work for `[0.0, 2 * pi]`.

💡 **Possible solutions**

Use the formulation used by [Orekit](https://github.com/CS-SI/Orekit/blob/develop/src/main/java/org/orekit/orbits/KeplerianOrbit.java#L57

[2019-02-05 09:58] helgee commented on #564
PR incoming...

[2019-02-05 10:02] Juanlu001 commented on #564
Awesome, thanks a lot Helge! Glad to have you contributing :)

On Tue, 5 Feb 2019, 10:58 Helge Eichhorn <notifications@github.com wrote:

[2019-02-05 17:12] Juanlu001 commented on #542
Not at all, I think it's good enough that we replace it in astroquery.

On Tue, 5 Feb 2019, 18:01 Shreyas Bapat <notifications@github.com wrote:

[2019-02-06 12:58] helgee opened #566 "Improve stability of `coe2rv`<->`rv2coe`"
🐞 **Problem**

Because I have been bitten by lacking stability of orbital elements to cartesian vectors conversion
functions in the past, I have started a (mad) little experiment over in Julia land, see [here](https://github.com/JuliaAstro/AstroBase.jl/blob/master/test/orbit_ranges.jl).

I basically construct the valid ranges for the orbital elements for all orbit types (elliptic, hyperbolic, circ

[2019-02-06 13:02] Juanlu001 commented on #566
This is awesome! Great material for https://openastrodynamics.github.io/ :smile:

I still didn't read your code, but can you comment on the overall strategy you used for improving the scores?

Also, are you by any chance using something like https://pypi.org/project/hypothesis/ for the tests?

[2019-02-06 15:14] helgee commented on #566
![grafik](https://user-images.githubusercontent.com/1408922/52351065-40765280-2a2a-11e9-8c78-d1ff0831edc5.png)

[2019-02-06 16:28] helgee commented on #566
The new algorithm seems rock-solid 🎉
[code]

[2019-02-06 16:53] Juanlu001 commented on #337
Thanks @shreyasbapat! Re-closing :)

[2019-02-06 16:53] #337 closed

[2019-02-06 17:08] Juanlu001 commented on #566
You mean the new algorithm implemented in #565, or some code you are working on locally?

[2019-02-06 17:13] helgee commented on #566
This one: https://github.com/JuliaAstro/AstroBase.jl/blob/master/src/TwoBody.jl#L56

Now I need to port it to Python...

[2019-02-06 21:31] jorgepiloto commented on #566
Wow! This is amazing, I never thought about this **massive test**.  If you need any kind of help, I would like to contribute as much as I can. Very interesting issue :+1:

[2019-02-06 21:44] #564 closed

[2019-02-06 21:49] Juanlu001 commented on #509
Apart from running the tests, it can also help to run the quality step, see https://blog.ionelmc.ro/2014/05/25/python-packaging/ for inspiration.

[2019-02-08 08:12] Juanlu001 commented on #558
Updating to the just-released conda 4.6.3 fixes the problem https://github.com/conda/conda/releases/tag/4.6.3 @dragonlost I just tried on my side, but would you please confirm as well and close the issue if appropriate?

[2019-02-08 09:36] jorgepiloto commented on #534
Started working on this, hope to be completed at the end of the day :smile:

[2019-02-08 10:07] dragonlost commented on #558
Ah Super ! I just tested and it works!

Just a warning message:

Collecting package metadata: | WARNING conda.models.version:get_matcher(528): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 4.*, but conda is ignoring the .* and treating it as 4

[2019-02-08 10:09] Juanlu001 commented on #558
I see! Well, we already fixed the conda package, so I hope this is not a problem in the future (by handling the failure in a less catastrophic way).

Closing!

[2019-02-08 10:09] #558 closed

[2019-02-08 10:23] jorgepiloto commented on #534
This is the algorithm I came with:

[code]

Those weird transformations are due to transformation from the default class for each classical value (astropy CompositeUnits) to astropy Quantity.

Should this replace the whole `neos.neows` module?

[2019-02-08 10:35] Juanlu001 commented on #534
Notice that you can use `u.one` instead of `u.dimensionless_unscaled`... It's my child :) https://github.com/astropy/astropy/pull/1980

Those transformations are indeed weird, but nothing too serious. I wonder if `SBDB.query` receives some extra parameters we should allow in `from_astroquery`, but apart from that this looks good.

Also, are you _sure_ that the plane of these orbits is the Earth Eq

[2019-02-08 10:50] shreyasbapat commented on #534
I think it will be better if we name it `from_sbdb` ? (We already have `from_horizons` which is also from astroquery)

[2019-02-08 10:52] Juanlu001 commented on #534
Good catch @shreyasbapat. Yes, `from_sbdb` is better, to avoid confusion.

[2019-02-08 11:04] Juanlu001 opened #570 "Easier way to sample orbit by true anomaly values"
After we removed the possibility to sample using true anomaly values in #555, it is now more difficult to do the equivalent thing.

### Before

[code]

### Now

[code]

Ideas for improvement:

* Vectorize angles functions
* Provide a `poliastro.util` function that does this same thing
* ?

[2019-02-08 11:21] jorgepiloto commented on #534
I agree with you @shreyasbapat, thank you for the suggestion.

Since Astroquery makes the request to JPL database, in principle all orbits are given in the plane `heliocentric ecliptic J2000`.

I also compared `neows` and `astroquery` orbit results and they are the same. However, it is advisable to use the `full_precision=True karg` to achieve these results. Should be enough to add just **kargs in

[2019-02-08 14:39] Juanlu001 commented on #534
Correct!

[2019-02-08 16:24] #570 closed

[2019-02-09 08:06] Juanlu001 opened #572 "Documentation CSS messed up by Jupyter stuff"
Compare:

https://docs.poliastro.space/en/latest/

with:

https://docs.poliastro.space/en/stable/

And the culprit seems to be some inline CSS. It can confirmed by adding this line to `/etc/hosts/`:

[code]

[2019-02-09 08:08] Juanlu001 commented on #572
It happens in upstream projects that put JavaScript at the bottom as well:

https://ipyleaflet.readthedocs.io/en/latest/index.html

[2019-02-09 08:21] Juanlu001 commented on #572
Reported upstream at https://github.com/jupyter-widgets/ipywidgets/issues/2311, fingers crossed :crossed_fingers:

[2019-02-09 16:43] Juanlu001 commented on #559
poliastro 0.12b1 is out! https://pypi.org/project/poliastro/0.12b1/

[2019-02-09 17:31] Juanlu001 opened #573 "Remove matplotlib<3.0.1 limit"
We pinned matplotlib<3.0.1 in https://github.com/poliastro/poliastro/pull/470, but now matplotlib 3.0.2 is out without the bug that affected us.

[2019-02-09 17:35] Juanlu001 commented on #548
I have been bitten by this today while testing the new beta version. Working on a fix.

[2019-02-09 18:40] #548 closed

[2019-02-09 18:40] #573 closed

[2019-02-09 19:24] ChanchalKumarMaji commented on #514
@Juanlu001 will I start working on this Issue ?????

[2019-02-09 22:54] Juanlu001 commented on #514
@ChanchalKumarMaji sure, do you plan to work on which method in particular?

[2019-02-10 02:13] ChanchalKumarMaji commented on #514
I plan to start with heliosynchronous orbits. Any suggesions ?

[2019-02-10 11:56] Juanlu001 commented on #514
@ChanchalKumarMaji That you take a look at https://github.com/poliastro/poliastro/pull/524 for inspiration, and find out what parameters will you need to compute that.

[2019-02-10 19:01] Juanlu001 commented on #559
Candidates to backport, at least partially: #578, #574, #573.

[2019-02-12 22:01] Juanlu001 opened #579 "Stop using rtd_sphinx_theme fork"
Basically undo these commits https://github.com/poliastro/poliastro/compare/6019013ee5d48e416dc72944c7d61309ceba0bae...1d0fa6b80f5716897f2fa248fdc07aec2f9fbd39 because https://github.com/rtfd/sphinx_rtd_theme/pull/710 was merged.

(We would keep the `require.js` though)

[2019-02-13 09:02] jorgepiloto commented on #475
I am going to start working on this. Those extreme cases where numerical methods struggle to obtain the most accurate result are really interesting. Hope #577 be ready for today.

[2019-02-15 08:33] Juanlu001 opened #581 "Replace gitter with Matrix badge"
https://shields.io/category/chat

Link: https://chat.openastronomy.org/#/room/#poliastro:matrix.org

[2019-02-18 16:40] Juanlu001 commented on #534
This has been addressed in #577. To close this issue definitely, I would like to know if there are cases where a SBDB query returns more than one possible orbit (for example Halley's comet) and what does the new `Orbit.from_sbdb` with it.

[2019-02-18 16:56] ElmerDivi commented on #581
Hey, shall I work on this?

[2019-02-18 16:57] Juanlu001 commented on #581
First to submit a pull request wins ;)

[2019-02-18 17:31] Juanlu001 commented on #581
Closed in #582

[2019-02-18 17:31] #581 closed

[2019-02-20 06:44] Juanlu001 commented on #572
First measure: I pinned html-manager to an older version and see if it fixes the issue

https://github.com/poliastro/poliastro/commit/33c46e5fd3eb5e4816e924e9f2796c02f49665b2

[2019-02-20 06:50] Juanlu001 commented on #572
Fixed.

[2019-02-20 06:50] #572 closed

[2019-02-21 04:52] Juanlu001 opened #585 "OrbitPlotter classes relayout the figure even in batch mode"
Plotly has a "batch mode" capability that holds plot updates to improve the responsiveness of animations:

https://plot.ly/python/figurewidget/

However, regardless of this setting, several methods of `OrbitPlotter*` objects call `show()` at the end to relayout the figure, which harms performance.

[2019-02-21 05:11] #585 closed

[2019-02-21 06:06] Juanlu001 commented on #559
poliastro 0.12.0 is available https://github.com/poliastro/poliastro/releases/tag/v0.12.0

[2019-02-21 12:35] Juanlu001 commented on #559
Announcement sent https://groups.io/g/poliastro-dev/message/85 closing!

[2019-02-21 12:35] #559 closed

[2019-02-23 07:05] Juanlu001 commented on #542
Closing this because we won't fix it in poliastro.

[2019-02-23 07:05] #542 closed

[2019-02-23 07:06] Juanlu001 commented on #364
Summary:

* NEOWS appears to be a subset of what Astroquery already offers, and it was discarded.
* DASTCOM5 has the same situation but it can be valuable in situations of limited Internet access, and the sbpy developers were interested in it.

[2019-02-23 22:08] Juanlu001 commented on #484
This is not a bug in poliastro, but rather an upstream issue. At least, with the above workaround we don't need RISE to present. Closing.

[2019-02-23 22:08] #484 closed

[2019-02-23 22:12] Juanlu001 commented on #484
With the new `FigureWidget` objects the workarounds above don't work anymore. However, there is another one: https://github.com/jupyter/nbconvert/issues/944#issuecomment-466102204

[2019-02-26 12:54] jorgepiloto opened #590 "Small error in Orbit docstrings"
🐞 **Problem**

While working with other issues, I just discovered a small error in docstrings:

https://github.com/poliastro/poliastro/blob/b3d69eca866ce443378bea36ad9c37efcb864256/src/poliastro/twobody/orbit.py#L108-L116

These docstrings are exchanged :sweat_smile:

💡 **Possible solutions**

Just place them into their corresponding functions. Very simple issue :smile:

[2019-02-26 14:39] Juanlu001 commented on #590
Ooops, good catch :)

[2019-02-27 15:44] shreyasbapat commented on #534
@Juanlu001 I think it does return more than one orbit.

[2019-02-27 15:45] shreyasbapat commented on #364
Possibly a final step: https://github.com/NASA-Planetary-Science/sbpy/pull/115

[2019-02-27 15:45] Juanlu001 commented on #534
@shreyasbapat proof? :)

[2019-02-28 12:15] Juanlu001 commented on #590
Closed in #592.

[2019-02-28 12:15] #590 closed

[2019-03-01 08:52] Juanlu001 commented on #257
The problem is that `coe2r` works, but `r2coe` doesn't: we need the complete information of the orbit to retrieve the orbital parameters.

<details>
A one-way representation would be:

[code]

Given the `coe2r` function, of course.
</details>

[2019-03-01 09:16] Juanlu001 commented on #257
Reviewing old messages, it seems that with the current state of things we are out of luck:

([Source](https://chat.openastronomy.org/#/room/#astropy_coordinates:openastronomy.org/$15278712594485VQdBN:openastronomy.org))

Which is also the problem @anhiga anticipated:

[code]

I'm closing this issue and abandoning this effort in the short term.

[2019-03-01 09:16] #257 closed

[2019-03-01 12:44] Juanlu001 commented on #579
Closing this one, although I think the widgets do not show in the latest documentation... Again.

[2019-03-01 12:44] #579 closed

[2019-03-04 02:43] sashank27 commented on #514
@Juanlu001 I would like to work on the Heliosynchronous orbits if no one is working on that. Also, what changes are required to add the module of geosynchronous orbits as well?

[2019-03-04 07:35] Juanlu001 commented on #514
@sashank27 sure, all yours! The only changes we might need are adding new planetary parameters to `poliastro.constants`, the rest should all go to a new `Orbit` classmethod.

[2019-03-04 07:39] Juanlu001 commented on #514
Sorry, I amend myself: for geosynchronous orbits we don't need a new method, just adding the inclination as parameter to geostationary.

[2019-03-04 21:37] Sedictious commented on #445
@Juanlu001 I'd be interested in tackling the problem, but I fear I'm a bit lost. If I understand correctly, the main problem is that while the attractor is defined as the sun (and the moon respectively). This isn't completely the case as the motion is affected by other bodies, so we want to define the orbit in terms of the barycenter of the system. So I guess the solution would be to translate the

[2019-03-05 00:19] Juanlu001 commented on #98
After upgrading PyPy3.5 feedstock to 7.0 https://github.com/conda-forge/pypy3.5-feedstock/pull/13 and following these instructions to install packages in it https://github.com/conda-forge/pypy3.5-feedstock/issues/9 I checked locally that **poliastro passes all the tests in PyPy3.5**. The bad news is that it took a long time to install everything, but in the end it worked.

[2019-03-05 09:02] Juanlu001 commented on #98
However, it's almost 6 times slower than CPython + numba :frowning_face:

### PyPy

[code]

### CPython

[code]

[2019-03-07 15:55] Juanlu001 commented on #445
Hi @Sedictious, sorry for the delay!

You more or less got it. The problem in general is that `Orbit.propagate` works great for spacecraft, satellites and anything small that fulfills the assumptions of the two body problem plus having a negligible mass with respect to the attractor. However, for planetary bodies, things are more complicated and we don't want to `Orbit.propagate` the Earth or Moon

[2019-03-08 10:59] Sedictious commented on #445
@Juanlu001 Thanks for the reply! The only part that still eludes me, is when you refer to the ephemerides. Like you mentioned in your OP, the correct way to retrieve the ephemerides would be to retrieve the data from an external source:

1) Is there an existing function (or an interest in one) for retrieving and parsing data from an external, reputable source?

2) Wouldn't it help to recalculate t

[2019-03-08 11:46] Juanlu001 commented on #456
`np.intep` won't work, but perhaps `numpy.polynomial.polynomial` will. Perhaps @gorostuck wants to give it a try? :)

[2019-03-08 11:58] Juanlu001 commented on #456
Damn it, I did not realize `scipy.interpolate.interp1d` gives a cubic **spline**, and NumPy only has polynomials. There's no way to get rid of SciPy here unless we change the package in a more fundamental way, so I'm closing this issue.

[2019-03-08 11:58] #456 closed

[2019-03-08 12:34] Juanlu001 commented on #445
Yes: `Orbit.from_body_ephem` uses Astropy and jplephem internally, which retrieves the data directly from JPL, and recently we implemented `Orbit.from_horizons` and `Orbit.from_sbdb` as well, which also use reputable sources.

Regarding your second question, I didn't get it entirely so I will try to rephrase: there is a mismatch when saying that `Orbit.from_body_ephem(Earth)` orbits the `Sun` and

[2019-03-08 13:16] Sedictious commented on #445
@Juanlu001 Ah thank you, I think I now get the issue. So propagating non-Keplerian orbits gives us an error margin so large, its rendered more or less useless or even directly misleading.

While offering the naive version of ``propagate()`` might prove to be a source of confusion, looking back at the docs, I think the "preferred" way is [thoroughly explained](https://docs.poliastro.space/en/stable

[2019-03-08 17:04] Juanlu001 commented on #445
True, but that would be the "easy" option for the developer, and perhaps more confusing to the user :) If we provide an API, but there are "red flags" they have to be aware of, then it's not so convenient. Perhaps it's not that problematic, but at the moment I don't have the time to pause and reflect about this in detail.

[2019-03-10 18:30] Juanlu001 opened #597 "Migrate to setup.cfg"
TIL: https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files

(Thanks https://gitlab.com/librespacefoundation/satnogs/satnogs-client/!)

[2019-03-12 07:47] Juanlu001 commented on #497
I updated the status of this issue because a past comment of mine contained a mistake.

In particular, the two blockers are #109 and #451, which are kind of the same problem. At the moment, we could of course perform groundtrack plotting using [ITRF as defined in Astropy](http://docs.astropy.org/en/stable/api/astropy.coordinates.ITRS.html), but in poliastro we try not to include features that appl

[2019-03-12 08:27] sakethramanujam commented on #497
@Juanlu001 As discussed in the email, I'm willing to work on this issue.  Will update the comment upon reception of a positive result.
Currently understanding the math and what @jorgepiloto has done.

[2019-03-12 08:53] Juanlu001 commented on #497
I adjusted @jorgepiloto code and I seem to get a proper groundtrack:

![Figure_1](https://user-images.githubusercontent.com/316517/54186729-54d7c000-44ac-11e9-8517-e77a36df5484.png)

Perhaps the key is using the right projection:

https://scitools.org.uk/cartopy/docs/latest/matplotlib/intro.html#adding-data-to-the-map

While working with Cartopy, please note that it can be challenging to install.

[2019-03-13 11:54] shreyasbapat commented on #509
We test poliastro on py35, py36 and py37! And tox will be for non CI purposes right?
So the user would have to have all the three interpreters in their system.

[2019-03-13 12:03] shreyasbapat commented on #111
What has to be done for this?

[2019-03-13 15:08] Juanlu001 commented on #509
We use `tox` from Circle CI for the quality step now, and we could do the same for the Python 3.5, 3.6 and 3.7 tests.

[2019-03-15 21:53] Juanlu001 commented on #111
Perhaps it's not really something we can solve. Our current APIs allow you to clip the axis and change its limits, so perhaps that's enough. I'm closing this.

[2019-03-15 21:53] #111 closed

[2019-03-17 08:57] Juanlu001 commented on #545
Hi @davepitch, I assume you didn't have time to work on this issue anymore so I'm closing. Please feel free to comment further if you still need assistance, or open a new one.

[2019-03-17 08:57] #545 closed

[2019-03-17 10:46] shreyasbapat commented on #204
Is there any reason this should be blocked now?

[2019-03-17 10:51] Juanlu001 commented on #204
Thanks @shreyasbapat, this is not blocked anymore.

[2019-03-17 11:16] shreyasbapat commented on #534
[code]

[2019-03-17 11:24] Juanlu001 commented on #534
What about the new `Orbit.from_sbdb` method in this particular case then?

[2019-03-17 11:34] shreyasbapat commented on #534
It returns a Keyerror.
[code]

[2019-03-17 11:36] shreyasbapat commented on #534
This is because when there are multiple orbits in one search, we will have to do something of this kind. See Cell 5 in http://docs.poliastro.space/en/stable/examples/Using%20NEOS%20package.html

[2019-03-17 13:51] Himanshu-Garg commented on #401
What error message you want to display here.

(Wrong ephemeris selected, cannot load pluto data)

Is this error alright? Where name will change according to moon,pluto,etc.

[2019-03-17 13:53] shreyasbapat commented on #401
Maybe we can include how to change the 'bulitin' ephemeris.

[2019-03-17 13:54] Himanshu-Garg commented on #401
So what should be the message?

[2019-03-17 14:16] shreyasbapat commented on #401
Just make sure to include this! If you don't know how to do this, check out this example notebook's 5th Cell. http://docs.poliastro.space/en/stable/examples/Catch%20that%20asteroid!.html
I think rest can be discussed in the Pull Request :)

[2019-03-17 16:20] Juanlu001 commented on #534
That's what I suspected. As you say, we'll have to raise an error.

[2019-03-17 19:01] Himanshu-Garg commented on #401
from_body_ephem(Moon) is also not working.
right?

[2019-03-17 19:54] Himanshu-Garg opened #606 "from_body_ephem should also contain an attribute to enter ephemeris"
**suggestion for a new addition**

I think from_body_ephem should have an option to insert ephemeris
as for some planets like Pluto; default ephemeris don't work and there is no feature to add ephemeris in our present from_body_ephem; which makes it impossible to find its oscillating orbit at the time

[2019-03-18 07:48] Juanlu001 opened #608 "Add tox environment to reformat code"
Although `tox -e check` tells you what's wrong with the code, it's not obvious for newcomers how to fix those issues. We should have a `tox -e format` or similar that actually reformats the code.

[2019-03-18 08:19] shreyasbapat commented on #534
Should I make a PR?

[2019-03-18 08:59] Juanlu001 commented on #534
Rather: let's open a new issue, explain what exactly has to be done, and if it's easy enough I'll tag it as "good first issue".

[2019-03-18 14:05] shreyasbapat opened #609 "Raise error in Orbit.from_sbdb when more than one orbit is returned"
🐞 **Problem**

When `Orbit.from_sbdb` is called with names which are too common, like "Halley" or "*alley", it returns a keyerror. Raise a suitable warning in those cases.

Code to reproduce error:
[code]

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c

[2019-03-18 14:11] shreyasbapat commented on #534
Being further tracked in #609 . This is good to close.

[2019-03-18 14:28] shreyasbapat opened #610 "Time to update this plot in README?"
🐞 **Problem**

This plot is quite old and the given code does not produce that. We probably need to update it with the latest one!

![Screenshot from 2019-03-18 19-56-22](https://user-images.githubusercontent.com/24257914/54537135-ff257b00-49b7-11e9-9d48-3f5f1c8a7e0b.png)

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you ha

[2019-03-18 15:23] Juanlu001 commented on #609
Rather than a warning, I think we should raise an error, in the same way that we did with the old API:

![Screenshot_2019-03-18 Using NEOS package — poliastro 0 12 0 documentation](https://user-images.githubusercontent.com/316517/54541408-2b320380-499a-11e9-8898-b3adbfb79278.png)

[2019-03-18 15:25] Juanlu001 commented on #534
Commented there. I will close this one when we get rid of NEOWS.

[2019-03-18 15:30] Juanlu001 commented on #610
You are totally right. I was hesitant to do the update because the widgets are still a bit tricky to put in the documentation (see https://github.com/jupyter-widgets/ipywidgets/issues/2311...). In fact, I wonder if we could have a `static=True` parameter in `Orbit.plot`...!

[2019-03-18 19:35] shreyasbapat commented on #610
We should definitely have. Another easy issue!

[2019-03-19 10:44] Juanlu001 commented on #468
I'm seeing the artifacts correctly now. Closing.

[2019-03-19 10:44] #468 closed

[2019-03-20 11:49] Juanlu001 commented on #597
Closed in #613

[2019-03-20 11:49] #597 closed

[2019-03-20 14:07] Juanlu001 commented on #266
Interestingly, we switched to `setup.cfg` in #613 and now pyup started working. I don't like its pinning behavior though, so I will see if we can configure it.

[2019-03-21 19:06] jorgepiloto commented on #606
Thanks for opening this issue but as said here: https://github.com/poliastro/poliastro/issues/401#issuecomment-404859593

It may look nice to make `from_body_ephem` function change automatically into available ephemerides, however this way the user is not aware that the software introduced a change in the position and velocity of the body. By forcing the user to input ephemerides manually, he has

[2019-03-21 22:37] jorgepiloto commented on #475
Some days ago I found in Battin 1999 an algorithm developed by Gauss that is said to work really well for this extreme eccentricity conditions. After found a paper where the algorithm is explained, coefficients are detailed and it even includes some test at the end.

I will study more in depth this: https://iopscience.iop.org/article/10.1086/128750/pdf

[2019-03-22 16:23] Juanlu001 opened #627 "Check minimum astroquery version"
I am not sure SBDB reader was in astroquery 0.3.8, and perhaps it was in 0.3.9.

[2019-03-22 23:45] shreyasbapat commented on #627
After looking at https://github.com/astropy/astroquery/blob/master/CHANGES and https://github.com/astropy/astroquery/tree/v0.3.8/astroquery , I can say that minimum version must be 0.3.9.

[2019-03-22 23:47] shreyasbapat opened #628 "Allow static plotting in Orbit.plot"
🐞 **Problem**

Orbit.plot can only produce interactive plotly plots. It would be great to have it produce static plots as well.

🖥 **Please paste the output of following commands**

* `conda info -a` (only if you have conda)
* `conda list` (only if you have conda)
* `pip freeze`

<details>

[code]
</details>

* `python -c "import poliastro.testing; poliastro.testing.test()"`

<details>

[code]
</d

[2019-03-24 10:51] jorgepiloto commented on #475
After successfully implementing on my local machine Gauss algorithm for near parabolic orbits, problem with extreme eccentricities was solved. Algorithm converged really fast, even for orbits with `ecc=0.9999` and no hangout of Jupyter kernel was received.

A test using `Battin 1999` example was done in order to check that the algorithm was working properly. However, when applying it to #474, I ob

[2019-03-24 10:52] Juanlu001 commented on #475
Our hero! 😍 Looking forward to that PR!

On Sun, 24 Mar 2019, 11:51 Jorge Martinez, <notifications@github.com> wrote:

[2019-03-25 16:01] Himanshu-Garg commented on #606
Or what we can do is
If planet(body) is not found in the given ephemeris, it changes the ephemeris and gives a warning that it has been changed, and then itself sets the ephemeris to the original one.
In this way, user will have its data from other ephemeris without changing the ephemeris permanently.

[2019-03-25 16:23] Juanlu001 commented on #606
That complicates the poliastro implementation a lot. If we don't want to change the ephemeris globally, we have to wrap it inside a `with` block. And that also affects other things like coordinate transformations.

I still think failing with a better error message is the best solution to enforce good practices while being helpful to the user.

[2019-03-26 01:59] NoraCodes opened #629 "Installation in venv fails tests: ImportError: cannot import name 'FigureWidget'"
🐞 **Problem**

Installing via pip in a venv fails because not all requirements are specified in the package.

When installing in a Python 3.6.7 venv using Pip 9.0.1, running `./venv/bin/python -c "import poliastro.testing; poliastro.testing.test()"` fails with a bunch of tracebacks amounting to `ImportError: cannot import name 'FigureWidget'`.

This is the same as santosjorge/cufflinks#130.

🎯 **G

[2019-03-26 08:55] jorgepiloto opened #630 "Investigate accuracy in propagation methods"
🐞** Problem**

While working on #475, I found the following paper:

* http://derastrodynamics.com/docs/kepler_algorithms_v2.pdf

A total of four examples can be found in this paper. In each of them, different algorithms are tested under Earth orbits, such us LEO or HEO. What surprised me was:

1. These orbits are not so strange in terms of `ecc`. These examples are not dealing with values for the

[2019-03-26 09:06] jorgepiloto commented on #630
The test I code is available here, if you want to check:

[code]

[2019-03-26 09:14] Juanlu001 commented on #630
Great finding @jorgepiloto! I think it would be great to have a structured way of visualizing these differences, like for example the Astropy coordinates benchmark:

http://www.astropy.org/coordinates-benchmark/summary.html

Not sure if this fits in the poliastro test suite itself, but we can build another repository, like the (outdated) performance benchmarks we have here:

https://github.com/pol

[2019-03-26 09:34] Juanlu001 commented on #629
Hi @noracodes, thanks for reporting this issue!

Unless we missed something, the official way of installing poliastro with pip is

[code]

as specified in the https://docs.poliastro.space/en/stable/getting_started.html#alternative-installation-methods

(which is the only place that mentions pip)

However, I understand that people browsing PyPI will be tempted to copy paste `pip install poliastro`,

[2019-03-26 09:45] jorgepiloto commented on #630
I saw that the first two tests (the ones `poliastro`is passing) are not taking into account any perturbations. The other are take into account J2, J3, atmospheric drag... That was why not passing the tests, my fault :sweat_smile:

But it may be really interesting to compare all possible combinations: propagators, with different numerical methods, different perturbations...

I will take a look to p

[2019-03-26 18:18] NoraCodes commented on #629
Understood. I didn't realize that, sorry!

Is it possible that I've misunderstood the use case for the library? I'm planning to write a command line application that generates plots to image files, without ever touching an interactive interface. So far, poliastro seems to work great for this.

[2019-03-26 19:28] Juanlu001 commented on #629
Not at all! We are still focused on interactive visualization and easy API. But we want to make it easier for people doing "just" number crunching :)

That sounds awesome! In case it's useful, the `StaticOrbitPlotter` produces matplotlib images (only 2D though) so it might be a good fit. On the other hand, if you want to use `OrbitPlotter2/3D`, the blessed solution is probably orca:

https://githu

[2019-03-26 19:57] NoraCodes commented on #629
Awesome, good to hear. For now `StaticOrbitPlotter` is working great but I'll keep Orca in mind if I need 3D plots!

[2019-03-26 20:03] Juanlu001 commented on #629
Excellent! Please keep us posted if you publish that tool somewhere :)

[2019-03-27 06:50] #627 closed

[2019-03-27 09:10] astrojuanlu opened #633 "Review CodeClimate configuration"
CodeClimate is useful but most of the times it adds a lot of noise and we normally ignore it. We should review its configuration to leave only the most important issues, or remove it straight away.

[2019-03-27 13:19] Juanlu001 commented on #117
This has been accomplished in #601 by @Sedictious. We will expand the functionality in the future!

[2019-03-27 13:19] #117 closed

[2019-03-29 08:38] Juanlu001 commented on #606
I am closing this as "won't fix".

[2019-03-29 08:38] #606 closed

[2019-03-30 05:48] #566 closed

[2019-03-30 05:51] astrojuanlu opened #636 "Consider normalizing user input"
From #567:

[2019-03-31 15:08] AunSiro opened #638 "Add contributing section in docs"
The current [documentation in Read the Docs](https://docs.poliastro.space/en/stable/index.html) doesn't contain the information about contributing present in [CONTRIBUTING.rst](https://github.com/poliastro/poliastro/blob/master/CONTRIBUTING.rst)

In order to solve this, knowledge about how to write documentation in Read the Docs is required.

[2019-03-31 17:59] Juanlu001 commented on #507
Fixed in #637

[2019-03-31 17:59] #507 closed

[2019-04-01 17:20] vedang08 commented on #628
@shreyasbapat  and @Juanlu001, can I work on this?

[2019-04-01 17:23] Juanlu001 commented on #628
@vedang08 Sure, go ahead!

[2019-04-06 11:36] hrishikeshgoyal commented on #493
Hi @Juanlu001, I will spend some time on it.

[2019-04-06 12:02] Juanlu001 opened #642 "Remove propagation method from plot"
Reasons:

1. It introduces a potential circular dependency when trying to import the plotters from any `twobody` module, see for example https://github.com/poliastro/poliastro/pull/639#issuecomment-479574268
2. It allows the user to use propagation methods that can potentially include non-Keplerian accelerations. This clearly does not belong to plotting.
3. There should be a method that can propag

[2019-04-07 02:19] #628 closed

[2019-04-07 21:16] Juanlu001 commented on #514
Notice that frozen orbits were added by @Meuge at https://github.com/poliastro/poliastro/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22